<app-headerlogin></app-headerlogin>
<section class="mainbanner" style="padding: 100px 4% 3% 4%;">


	<div class="clearfix"></div>
</section>

<section>
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="redirectTo('/');">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
  </ol>
</nav> 
</section>
<div class="clearfix"></div>
<section class="innercontent">
<div class="contentarea">
	
<div class="" style="padding: 0px; margin: 0px;">
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
    
   <!-- new page start-->
		
		<div class="stepmain">
		
		<!--<h4 class="stephead">Step 1</h4>-->
		   <div class="bu_jobber">
                                      <a href="#" (click)="redirectTo('/jobberprofile');">Jobber</a>
                                      <a href="#" class="active" (click)="redirectTo('/profile');">Jobberator</a>
                      				</div>
                      				
	<div class="clearfix"></div>	
		<!-- Bootstrap Tabs -->
	<ul id="tabs" class="nav nav-tabs jobberator">
		<li class="active"><a data-toggle="tab" href="#t1">LISTED</a></li>
		<li><a data-toggle="tab" href="#t2">MATCHED</a></li>
		<li><a data-toggle="tab" href="#t3">COMPLETED</a></li>
		<li><a data-toggle="tab" href="#t4">FAVOURITES</a></li>
		<li><a data-toggle="tab" href="#t5">EARNINGS</a></li>
	</ul>
	<div class="tab-content jobberatortab">
		<div id="t1" class="tab-pane fade in active">
		<a href="#" class="btn bu_postjob btn-default" (click)="redirectTo('/jobpost')"><i class="fa fa-plus-circle"></i> Post a Job </a>
			<div class="clearfix"></div>
			
			
			
					
<div class="row row-flex pad_t_30 tabcontent" >

<div class="col-md-6 col-sm-12 col-xs-12" *ngFor="let job of jobList | keyvalue">
  <div class="content listing tablisting" [ngClass]="{'colour-2': job.value.stage == 'Active', 'colour-1': job.value.stage == 'Not Completed' || job.value.stage == 'Canceled'}">
    <ul>
      <li class="col-lg-8 col-xs-12 ">  <h3>{{ job.value.job_title  | titlecase }}</h3></li>
      <li class="col-lg-4 col-xs-7 txtr_d"><a href="#"  (click)="redirectTo('/jobpost/'+job.value.id)" class="btn bu_postjob btn-default" [ngClass]="{'btnactive': job.value.stage == 'Active', 'btnclosed': job.value.stage == 'Not Completed' || job.value.stage == 'Canceled'}">{{ job.value.stage | titlecase}}</a></li>

    </ul>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1 mob_pad_t">
      <i class="fa fa-map-marker "></i> {{ job.value.work_type }} 15 Km Away
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1">
      Active until {{ job.value.plan_valid_till | toIso  |  date: "MMMM d, y" }}
    </div>
    <div class="clearfix"></div>      
    <div class="actions tabaction">
      <!-- <div class="col-lg-6 col-xs-12 nopad">
        <a href="#" ><i class="fa fa-eye "></i> 600 Views</a>
        <a href="#" ><i class="fa fa-user"></i>50 Applicant </a>
      </div> -->
      <div class="col-lg-6 col-xs-12 txtr_d nopad">
        <a href="#" (click)="redirectTo('/jobpost/'+job.value.id)"><i class="fa fa-edit"></i>Edit</a> 
        <a style="cursor: pointer;" (click)="statusChange('deactive',job.key, job.value.id);"><i class="fa fa-ban"></i>Cancel</a>
      </div>
    </div>
  </div>
</div>
     
<!-- <div class="col-md-6 col-sm-12 col-xs-12">
<div class="content listing colour-2 tablisting">
<ul>
<li class="col-lg-8 col-xs-12 ">  <h3>Painting kitchen walls</h3></li>
<li class="col-lg-4 col-xs-7 txtr_d"><a href="#"  class="btn bu_postjob btnshedule btn-default">Scheduled</a></li>

 </ul>
<div class="clearfix"></div>
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1 mob_pad_t"><i class="fa fa-globe"></i> Online  R 450</div>
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1">
Active until Apr 20 , 2021
</div>
<div class="clearfix"></div>      
<div class="actions tabaction">
<div class="col-lg-6 col-xs-12 nopad">

</div>
<div class="col-lg-6 col-xs-12 txtr_d nopad">
<a href="#" ><i class="fa fa-edit"></i>Review/ Edit</a>
<a href="#" ><i class="fa fa-close"></i>Close</a>
</div>
</div>
</div>
</div> -->
      
<!-- <div class="col-md-6 col-sm-12 col-xs-12">
<div class="content listing colour-2 tablisting">
<ul>
<li class="col-lg-8 col-xs-12 ">  <h3>Painting kitchen walls</h3></li>
<li class="col-lg-4 col-xs-7 txtr_d"><a href="#"  class="btn bu_postjob btnclosed btn-default">Closed</a></li>

 </ul>
<div class="clearfix"></div>
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1 mob_pad_t"><i class="fa fa-globe"></i> Online  R 450</div>
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1">
Active until Apr 20 , 2021
</div>
<div class="clearfix"></div>      
<div class="actions tabaction">
<div class="col-lg-6 col-xs-12 nopad">
<a href="#" ><i class="fa fa-eye "></i> 600 Views</a>
<a href="#" ><i class="fa fa-user"></i>50 Applicant </a>
</div>
<div class="col-lg-6 col-xs-12 txtr_d nopad">
<a href="#" ><i class="fa  fa-repeat"></i>Renew</a>
<a href="#" ><i class="fa fa-minus-circle"></i>Remove</a>
</div>
</div>
</div>
</div> -->

      
 </div>
    
		
			
			
			
			
		</div>
		<div id="t2" class="tab-pane fade">
			Donec pretium nibh velit, eget lobortis dui maximus nec. Nulla egestas sem et ante tempus, eget porta eros pulvinar. Morbi nec interdum elit, nec dictum ante. Suspendisse eget ipsum quis orci faucibus consequat id non turpis.
		</div>
		<div id="t3" class="tab-pane fade">
			Cras ornare quam id suscipit pharetra. Duis quis auctor dui. Nunc dictum lacinia dapibus. Quisque sed rutrum sapien, sagittis egestas urna. Suspendisse pulvinar efficitur est, sit amet gravida ante hendrerit eget.
		</div>
			<div id="t4" class="tab-pane fade">
			Cras ornare quam id suscipit pharetra. Duis quis auctor dui. Nunc dictum lacinia dapibus. Quisque sed rutrum sapien, sagittis egestas urna. Suspendisse pulvinar efficitur est, sit amet gravida ante hendrerit eget.
		</div>
			<div id="t5" class="tab-pane fade">
			Cras ornare quam id suscipit pharetra. Duis quis auctor dui. Nunc dictum lacinia dapibus. Quisque sed rutrum sapien, sagittis egestas urna. Suspendisse pulvinar efficitur est, sit amet gravida ante hendrerit eget.
		</div>
	</div>
<!-- /Bootstrap Tabs -->
<!-- Bootstrap Accordion -->
<div class="panel-group newin"  id="accordion" role="tablist" aria-multiselectable="true"></div>
<!-- /Bootstrap Accordion -->
</div>
		
		


		</div>
   
    <!-- new page end-->
    </div>
</div>

	
</section>
	

  <script>
var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' + 
    'onclick="alert(\'Call your custom code here.\')">' +
    '<i class="glyphicon glyphicon-tag"></i>' +
    '</button>'; 
$("#avatar-2").fileinput({
    overwriteInitial: true,
    maxFileSize: 1500,
    showClose: false,
    showCaption: false,
    showBrowse: false,
    browseOnZoneClick: true,
    removeLabel: '',
    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-2',
    msgErrorClass: 'alert alert-block alert-danger',
    defaultPreviewContent: '<img src="images/image_upload.png" alt="Your Avatar"><h6 class="text-muted">Click to select</h6>',
    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
    allowedFileExtensions: ["jpg", "png", "gif"]
});
</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">

var timeOut;
function scrollToTop() {
  if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
    window.scrollBy(0,-50);
    timeOut=setTimeout('scrollToTop()',10);
  }
  else clearTimeout(timeOut);
}
</script>
<script src="js/accordion.js"></script>
<script >
$(document).ready(function(){
getAccordion("#tabs",768);
});
</script>


