<app-headerlogin></app-headerlogin>

<!-- <section>
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notifications</li>
  </ol>
</nav> 
</section> -->

<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
	<div class="brdcrmb">
	  <ul>
		<li>
		  <a href="#">Home</a>
		</li>
		<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>Notifications</li>
	  </ul>
	 </div>
	</div>
	</div>
  </div>
  </section>
<div class="clearfix"></div>
<section>
<div class="contentarea container br-btm">
  <div class="noti-div">
   <div class="topdiv-stky">
    <h3>Notifications</h3>
    <!-- <a href="#" class="seeall">See All</a> -->
    </div>
    <ul>
      <!-- <li *ngFor="let item of notificationsList; let i = index">
        <a href="#">
        <div class="noti-pic">
          <img src="{{ item.profile_img }}"  class="thumb-sm rounded-circle" alt="">
        </div>
        <div class="notific-topic" (click)="doGotoJobDetailsPage(item.customer_jobpost_id)">
          <span class="comment-blk"><span class="blkname">{{ item.username }}</span> {{ item.comment }}  </span>
          <span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
        </div>
        </a>
      </li> -->
      <li *ngFor="let item of jobTypeFilternotificationsList; let i = index">
        <a style="cursor:pointer;">
        <div class="noti-pic">
          <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';"  class="thumb-sm rounded-circle" alt="">
        </div>
        <div class="notific-topic" (click)="doGotoJobDetailsPage(item.customer_jobpost_id)">
          <span class="comment-blk"><span class="blkname">{{ item.username }}</span> {{ item.comment }}  </span>
          <span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
        </div>
        </a>
      </li>  
      
      <li *ngFor="let item of jobTypenotificationsList; let i = index">
        <a style="cursor:pointer;">
        <div class="noti-pic">
          <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';"  class="thumb-sm rounded-circle" alt="">
        </div>
        <div class="notific-topic" (click)="doGotoJobDetailsPage(item.customer_jobpost_id)">
          <span class="comment-blk"><span class="blkname">{{ item.username }}</span> {{ item.comment }}  </span>
          <span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
        </div>
        </a>
      </li> 
      
      <li *ngFor="let item of notificationsList; let i = index">
        <a style="cursor:pointer;">
        <div class="noti-pic">
          <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';"  class="thumb-sm rounded-circle" alt="">
        </div>
        <div *ngIf="item.task_log_id == ''" class="notific-topic" (click)="notificationView(item.customer_jobpost_id,item.id,item.link)">
          <span class="comment-blk"><span class="blkname"><b>{{ item.job_id }}:</b>{{ item.username }}</span> {{ item.comment }}  </span>
          <span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
        </div>
        <div *ngIf="item.task_log_id != ''" class="notific-topic" (click)="notificationViewTask(item.customer_jobpost_id,item.task_log_id,item.link)">
          <span class="comment-blk"><span class="blkname"><b>{{ item.job_id }}:</b>{{ item.username }}</span> {{ item.comment }}  </span>
          <span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
        </div>
        </a>
      </li>       
    </ul>
  </div>
 </div>  
</section>  
<div class="clearfix"></div>