<footer>
    <div class="col-md-4 col-xs-12 footer_sec1">
        <h4>Explore</h4>
        <a href="#">Become a Joblite Jobber</a>
        <a href="#">Become a Joblite Joberator</a>
        <a href="#">How it works</a>
        
        <h4 style="padding-top: 20px;">Browse</h4>	
        <a style="cursor:pointer;" class="terms" (click)="redirectTo('/terms-and-conditions')">Terms</a>
        <a style="cursor:pointer;" class="terms" (click)="redirectTo('/privacy-policy')">Privacy policy</a>
    
    </div>
    
        <div class="col-md-3 col-xs-12 footer_sec2">
        <h4>Popular Categories</h4>
        <a href="#">Software Engineer</a>
        
<a href="#">Carpenter</a>
<a href="#">Painter</a>
<a href="#">Graphics & Design</a>
<a href="#">Digital Marketing</a>
<a href="#">Writing & Translation</a>
<a href="#">Programming & Tech</a>
<a href="#">Business</a>
<a href="#">More</a>
        

    </div>
    
            <div class="col-md-3 col-xs-12 footer_sec2">
        <h4>Browse</h4>
        <a href="#">About</a>
        <a href="#">Contact</a>
         <h4 style="padding-top: 20px;">Follow</h4>	
         <div class="social">
                 <a href="#"><i class="fa fa-twitter"></i></a>
             <a href="#"><i class="fa fa-facebook"></i></a>
             <a href="#"><i class="fa fa-linkedin"></i></a>
             <a href="#"><i class="fa fa-instagram"></i></a>
         </div>
        

    </div>
    <div class="col-md-2 col-xs-12 footer_sec2">
    <img src="assets/images/joblite_logo.png" width="141" height="52" alt=""/> </div>
    <div class="clearfix"></div>
    <div class="copy col-md-8 col-xs-10">© Joblite 2023 all rights reserved.</div>
    <div class="col-md-4 col-xs-2 top_arrow">
        <a href="#"  onClick="scrollToTop();return false"><img src="assets/images/top_arrow.png" width="42" height="42"></a>
    </div>
</footer>
