<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>
<!-- <section class="mainbanner" style="padding: 100px 4% 3% 4%;">


	<div class="clearfix"></div>
</section> -->
<!-- <section>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Profile</li>
		</ol>
	</nav>
</section> -->


<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
	<div class="brdcrmb">
	  <ul>
		<li>
		  <a href="#">Home</a>
		</li>
		<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>MY JOBS</li>
	  </ul>
	 </div>
	</div>
	</div>
  </div>
  </section>


<div class="clearfix"></div>
<!-- <section class="innercontent"> -->
<section class="">
	<div class="contentarea container br-btm">

		<div class="" style="padding: 0px; margin: 0px;">
			<div class="row" style="margin-left: 0px; margin-right: 0px;">

				<!-- new page start-->

				<div class="stepmain">

					<div class="container">
						<div class="row">
						   <div class="col-md-6">       
						   &nbsp; 
						   </div>
							<div class="col-md-6">
							 <div class="tabarea-right">
							  <ul>
								<li><a href="#" *ngIf="userType == 'both'" (click)="redirectTo('/myjobberjobs');">Jobber</a></li>
								<li><a href="#" (click)="redirectTo('/myjobs');" class="active">Jobberator</a></li>
							  </ul>
							</div>
						   </div>
					
						</div>
					</div>					

					<div class="clearfix"></div>
					<!-- Bootstrap Tabs -->
					<ul id="tabs" class="nav nav-tabs jobberator">
						<li class="active"><a data-toggle="tab" href="#t1" #t1>JOB ADVERTS({{ jobList?.length }})</a></li>
						<li><a data-toggle="tab" href="#t8" #t8>DRAFT({{ draftsList?.length }})</a></li>
						<li><a data-toggle="tab" href="#t6" #t6>PENDING({{ jobsPendingLists?.length }})</a></li>
						<li><a data-toggle="tab" href="#t2" #t2>ACTIVE({{ jobsActiveLists?.length }})</a></li>
						<li><a data-toggle="tab" href="#t3" #t3>COMPLETED({{ jobCompletedList?.length }})</a></li>
						<!-- <li><a data-toggle="tab" href="#t4">FAVOURITES</a></li> -->
						<li><a data-toggle="tab" href="#t5" #t5>MY MONEY</a></li>
						<li><a data-toggle="tab" href="#t7" #t7>MY JOBS({{ allJobList?.length }})</a></li>
					</ul>
					<div class="tab-content jobberatortab">
						<div id="t8" class="tab-pane fade">
							<section>
								<div class="container">
								  <div class="row">
									 <div class="col-md-12">
									  <div class="btn-left" (click)="redirectTo('/jobpost')">
										  <a style="cursor:pointer;" class="nextbtn"><i class="fa fa-plus-circle"></i>POST A JOB</a>
									  </div>
									 </div>
								  </div>
								</div>
							  </section>
							  <div class="row row-flex pad_t_30 tabcontent">
								<div  class="col-md-4" *ngIf="draftsList?.length == 0">
									No Jobs Available
								</div>
								<div class="col-md-4" *ngFor="let job of draftsList | keyvalue">

									<div class="card card-active">
										<div class="card-header card-heade-height">
											<div class="myjobsimgpadding">
												<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
												<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
											</div>
										</div>
										<div class="card-body">

											<div class="details-div">
												<ul>
													<li><h2>{{ job.value.job_id }}</h2></li>
													<li>{{ job.value.job_title | titlecase }}</li>
												</ul>
											</div>
										</div>
										<div class="card-footer">
											<ul>
												<li	class="tooltip_icons">
													<a style="cursor:pointer;"
													(click)="confirmationPopup('edit',job.value.id)"><i
														class="fa  fa-edit"></i>
														<span class="tooltiptext">Update</span>
	
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							  </div>
						</div>
						<div id="t1" class="tab-pane fade in active">

							<section>
								<div class="container">
								  <div class="row">
									 <div class="col-md-12">
									  <div class="btn-left" (click)="redirectTo('/jobpost')">
										  <a style="cursor:pointer;" class="nextbtn"><i class="fa fa-plus-circle"></i>POST A JOB</a>
									  </div>
									 </div>
								  </div>
								</div>
							  </section>							



							<div class="row row-flex pad_t_30 tabcontent">
								<div  class="col-md-4" *ngIf="jobList?.length == 0">
									No Jobs Available
								</div>

								<div class="col-md-4" *ngFor="let job of jobList | keyvalue">
									<div class="card card-active">
										<div class="card-header card-heade-height">
											<div class="activity-div">
												<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
													<i class="fas fa-list"></i>
													<span>ACTIVITY LOG</span>  
												</a>
											</div>
											<div class="invited-link" *ngIf="job.value.expired_status == 'expired'">
												<a class="colorred">CLOSED</a> 
											</div>
											<div class="invited-link" *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime">
												<a class="colororange">SCHEDULED</a> 
											</div>
											<div class="invited-link" *ngIf="job.value.expired_status == 'not_expired' && currentDate >= job.value.advertise_show_datetime">
												<a>ACTIVE</a> 
											</div>
											<div class="myjobsimgpadding">
												<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
												<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
											</div>
											
										</div>
										<div class="card-body">

											<div class="details-div">
												<ul>
													<li><h2>{{ job.value.job_id }}<span *ngIf="job.value.enhance_type =='readvert'">(Readvert)</span></h2><span *ngIf="job.value.enhance_type !=='normal'">Parent id : {{ job.value.parent_job_id }}</span></li>
													<li><h3>{{ job.value.job_title | titlecase }}</h3></li>
													<li>Active until {{ job.value.plan_valid_till | toIso | date: "MMMM d, y" }}</li>
													<li> {{ job.value.work_type }} <span
														class="rate">R {{ job.value.project_budget }}</span> </li>
												</ul>
											</div>
										</div> 
										<div class="card-footer">
											<ul>
									
												
												<!-- <li class="tooltip_icons"><a><i
													class="fa fa-eye "></i> 
													<span class="tooltiptext">600 Views</span>

											</a></li> -->

										<li class="tooltip_icons">
											<a style="cursor:pointer;"
											(click)="redirectTo('/jobapplicants/'+job.value.id)"><i
													class="fa  fa-user "></i> 
													<span class="tooltiptext">{{
														job.value.no_of_applicants }} Applicant</span>

											</a>
										</li>

										<li *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime"
											class="tooltip_icons"><a style="cursor:pointer;"
												(click)="confirmationPopup('review',job.value.id)"><i
													class="fa  fa-edit "></i>
													<span class="tooltiptext">Review/ Edit</span>

											</a></li>
										<li *ngIf="job.value.expired_status == 'expired'"
											class="tooltip_icons"><a style="cursor:pointer;"
												(click)="confirmationPopup('renew',job.value.id)"><i
													class="fa  fa-repeat "></i>
													<span class="tooltiptext">Renew</span>

										</a></li>

										<li *ngIf="job.value.advt_payment_status == 'no'"
											class="tooltip_icons"><a style="cursor:pointer;"
												(click)="confirmationPopup('publish',job.value.id)"><i
													class="fa  fa-repeat "></i>
													<span class="tooltiptext">Publish</span>

										</a></li>										


										<li *ngIf="job.value.expired_status == 'not_expired' && job.value.advt_continue_status == 'no'"
										class="tooltip_icons"><a style="cursor:pointer;"
										(click)="confirmationPopup('continueadvt',job.value.id)"><i
												class="fa fa-rotate-right"></i>
												<span class="tooltiptext">Continue Adverticement - ({{ job.value.advert_valid_upto_days }} days remains)</span>
											</a>												
										</li>
											</ul>
										</div>
							 		 </div>
								</div>								

							</div>






						</div>
						<div id="t2" class="tab-pane fade">
							<div class="row row-flex pad_t_30 tabcontent" *ngIf="!showPayment">
								<div  class="col-md-4" *ngIf="jobsActiveLists?.length == 0">
									No Jobs Available
								</div>
								<div class="col-md-4" *ngFor="let job of jobsActiveLists | keyvalue">
									<div class="card card-active">
										<div class="card-header card-heade-height">
											<div class="activity-div">
												<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
													<i class="fas fa-list"></i>
													<span>ACTIVITY LOG</span>  
												</a>
											</div>
											<div class="invited-link" *ngIf="job.value.customers.status == 'jobber_accepted'">
												<a class="colororange">NOT STARTED</a> 
											</div>
											<div class="invited-link" *ngIf="job.value.customers.status == 'started'">
												<a>STARTED</a> 
											</div>
											<div class="myjobsimgpadding">
												<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
												<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
											</div>	
										</div>
										<div class="card-body">
											<div class="profile-blk-pho">
												<img src={{profileImgUrl+job?.value?.customers?.customer?.profile_img}} onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="Job Lite">
											</div>
											<div class="details-div">
												<ul>
													<li><h2>{{ job.value.job_id }}</h2></li>
													<li><h4>{{ job.value.job_title | titlecase }}</h4></li>
													<li *ngIf="job?.value?.customers?.customer?.gender == 'male'">Mr. {{ job?.value?.customers?.customer?.name | titlecase }}</li>
													<li *ngIf="job?.value?.customers?.customer?.gender == 'female'">Mrs. {{ job?.value?.customers?.customer?.name | titlecase }}</li>													
													<li>{{ job?.value?.job_title | titlecase }}</li>
													<li class="texttoplong  text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
													<li class="textbottomlong  text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li>
													<li>{{
														job?.value?.customers?.customer?.street_address | titlecase }}, {{
														job?.value?.customers?.customer?.city_info?.name | titlecase }}</li>
												</ul>
											</div>
										</div> 
										<div class="card-footer">
											<ul>
												<!-- <li class="tooltip_icons"><a href="#"><i class="fas fa-envelope"></i></a></li> -->
												<li class="tooltip_icons" *ngIf="job.value.customers.status == 'jobber_accepted'">
													<a style="cursor: pointer;"
													(click)="confirmationPopup('jobberator_rejected',job.value.id,job.key,job.value.customers_id)">
														<i class="fal fa-times-circle"></i>
														<span class="tooltiptext">Close</span>
													</a>
												</li>

												<li class="tooltip_icons">
													<a style="cursor:pointer;"
														(click)="redirectTo('/jobberatortasklist/'+job.value.id)">
														<i class="fa  fa-file-text"></i>
														<span class="tooltiptext ">Task List-</span>
													</a>
												</li>	
												
												<li class="tooltip_icons" *ngIf="job.value.customers.status == 'jobber_accepted'">
													<a style="cursor: pointer;"
														(click)="confirmationPopup('started',job.value.id,job.key,job.value.customers_id)">
														<i class="fa fa-play"></i>
														<span class="tooltiptext">Start a job</span>
													</a>
												</li>												

											</ul>
										</div>
							 		 </div>
								</div>




							</div>
							<div class="row row-flex pad_t_30 tabcontent" *ngIf="showPayment">
								<!-- <div style="width:100%;padding-left:20px;">
									<h3>Please deposite R {{ budget }} before going to start the job</h3>
								</div> -->
								<div style="padding-left:20px;">
									<div>
										Budget Amount: R{{budget}}
									</div>
									<div>
										Bank Fee: R{{bankFee}}
									</div>
									<div>
										Payment Gateway Fee: R{{peachFee}}
									</div>
									<div>
										Service Fee: R{{serviceCharge}}
									</div>
									<div>
										<span>NET AMOUNT TO PAY: </span>
										<div class="countdivpay">
											<span>R{{totalamount}}</span>
										</div>
									</div>
									<form action="{{shopperResultUrl}}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
								</div>
							</div>							
						</div>
						<div id="t3" class="tab-pane fade">
							<div class="row row-flex pad_t_30 tabcontent">
								<div  class="col-md-4" *ngIf="jobCompletedList?.length == 0">
									No Jobs Available
								</div>

								<div class="col-md-4" *ngFor="let job of jobCompletedList | keyvalue">
									<div class="card card-active">
										<div class="card-header card-heade-height">
											<div class="activity-div">
												<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
													<i class="fas fa-list"></i>
													<span>ACTIVITY LOG</span>  
												</a>
											</div>
											
											<div class="invited-link">
												<a class="colorgreen">{{job.value.job_status}}</a> 
											</div>	
											<div class="myjobsimgpadding">
												<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
												<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
											</div>																				
											
										</div>
										<div class="card-body">

											<div class="details-div">
												<ul>
													<li><h2>{{ job.value.job_id }}</h2></li>
													<li>{{ job.value.job_title | titlecase }}</li>
													<!-- <li>Active until {{ job.value.end_date | date: "MMMM d, y" }}</li> -->
													<!-- <li class="texttoplong text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
													<li class="textbottomlong text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li> -->
													<li> {{ job.value.work_type }} <span
														class="rate">R {{ job.value.project_budget }}</span> </li>
												</ul>
											</div>
										</div> 
										<div class="card-footer">
											<ul>


								<li *ngIf="job.value.scopeincreasecount == 0" class="tooltip_icons"><a style="cursor:pointer;"
									(click)="confirmationPopup('scopeincrease',job.value.id)" class="liimage">
									<!-- <i
										class="fa  fa-plus"></i> -->
										<img src="assets/images/scope_increase.svg" alt="" />
										<span class="tooltiptext">Scope Increase</span>
								</a></li>
								<li *ngIf="job.value.job_status == 'Disputed' && job.value.readvertcount == 0" class="tooltip_icons"><a style="cursor:pointer;"
									(click)="confirmationPopup('continueadvt',job.value.id)" class="liimage">
									<!-- <i
										class="fa  fa-plus"></i> -->
										<img src="assets/images/continue_advertisement.png" alt="" />
										<span class="tooltiptext">Continue Adverticement </span>
								</a></li>
									

								<li class="tooltip_icons" *ngIf="job.value.rating?.length == 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalRating" (click)="rating(job.value.id,job.value.ratingjobber,job.value.job_title,job.value)"
									class="liimage">
									<!-- <i
										class="fa  fa-check"></i> -->
										<img src="assets/images/give_rating.png" alt="" />
										 <span class="tooltiptext">Rate your jobber</span>
								</a></li>	
								
								<li class="tooltip_icons" *ngIf="job.value.rating?.length != 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalRatingEmpty" (click)="rating(job.value.id,job.value.ratingjobber,job.value.job_title,job.value)"
									class="liimage">
									<!-- <i
										class="fa  fa-check"></i> -->
										<img src="assets/images/view_rating.png" alt="" />
										 <span class="tooltiptext">View rating</span>
								</a></li>
								
								<li class="tooltip_icons"  *ngIf="job.value.tip?.length == 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalTip" (click)="paytip(job.value.id,job.value.ratingjobber,job.value.job_title)"
									class="liimage">
									<!-- <i
										class="fa  fa-check"></i> -->
										<img src="assets/images/get_tip.svg" alt="" />
										 <span class="tooltiptext">Give tip</span>
								</a></li>	
								
							
								<li class="tooltip_icons" *ngIf="job.value.requestjobberator?.length == 0 && job.value.ratingjobber?.length == 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalRequest" (click)="viewtip(job.value.id, job.value.job_title, job.value)"
									class="liimage">
									<!-- <i
										class="fa  fa-check"></i> -->
										<img src="assets/images/request_for_rating.png" alt="" />
										 <span class="tooltiptext">Request rating</span>
								</a></li>
								
								<li class="tooltip_icons" *ngIf="job.value.requestjobber?.length != 0 && job.value.rating?.length == 0"><a style="cursor:pointer;" data-toggle="modal" 
									class="liimage">
									<!-- <i
										class="fa  fa-check"></i> -->
										<img src="assets/images/review_requested.svg" alt="" />
										 <span class="tooltiptext">Rating requested</span>
								</a></li>
								<li class="tooltip_icons">
									<a style="cursor:pointer;" data-toggle="modal" 
									class="liimage" 
										(click)="redirectTo('/jobberatortasklist/'+job.value.id)">
										<!-- <i class="fa  fa-file-text"></i> -->
										<img src="assets/images/review_requested.svg" alt="" />
										<span class="tooltiptext ">Task List</span>
									</a>
								</li>								
														

											</ul>
										</div>
							 		 </div>
								</div>
								
								



							</div>
						</div>
						<div id="t4" class="tab-pane fade">
							<div class="row row-flex pad_t_30 tabcontent">


								<div class="col-lg-6 col-xs-12" *ngFor="let job of jobCatagoryList | keyvalue">
									<div class="card-container card-adv">
										<a href="#" data-toggle="modal" data-target="#exampleModal">
											<div class="activity" (click)="jobHistory(job.value.id)">
												<img src="assets/images/activity.png" alt="" /> Activity Log
											</div>
										</a>
										<!-- {{ job.value | json }} -->
										<!-- <span class="high_light_bu" [ngClass]="{'active': job.value.stage == 'Active', 'schedule': job.value.stage == 'Not Completed' || job.value.stage == 'Canceled'}">{{ job.value.stage | titlecase}}</span> -->
										<span class="high_light_bu schedule"
											*ngIf="job.value.expired_status == 'expired'">Closed</span>
										<span class="high_light_bu active"
											*ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime">Scheduled</span>
										<span class="high_light_bu active"
											*ngIf="job.value.expired_status == 'not_expired' && currentDate >= job.value.advertise_show_datetime">Active</span>

										<div class="job_adv">
											<h3>{{ job.value.job_title | titlecase }}</h3>
											<h4>
												Active until {{ job.value.end_date | date: "MMMM d, y" }}
											</h4>
											<p><i class="fa fa-map-marker"></i> {{ job.value.work_type }} <span
													class="rate">R {{ job.value.project_budget }}</span> </p>
										</div>
										<div class="card_skills card_skills_adv">
											<div class="">
												<div class=" listingicons">
													<ul>
														<!-- <li class="adv_icons blue2"><a><i
																	class="fa fa-eye "></i> 600 Views

															</a></li> -->
														<li class="adv_icons blue2"><a style="cursor:pointer;"
																(click)="redirectTo('/jobapplicants/'+job.value.id)"><i
																	class="fa  fa-user "></i> {{
																job.value.no_of_applicants }} Applicant

															</a></li>
														<!-- <li class="adv_icons  closeicon_red"><a style="cursor: pointer;"
																(click)="statusChange('deactive',job.key, job.value.id);"><i
																	class="fa fa-ban "></i> Cancel

															</a></li> -->
														<li *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime"
															class="adv_icons blue2"><a style="cursor:pointer;"
																(click)="redirectTo('/jobpost/'+job.value.id)"><i
																	class="fa  fa-edit "></i> Review/ Edit

															</a></li>
														<li *ngIf="job.value.expired_status == 'expired'"
															class="adv_icons blue2"><a style="cursor:pointer;"
																(click)="redirectTo('/jobpost/'+job.value.id+'/renew')"><i
																	class="fa  fa-repeat "></i> Renew

															</a></li>


													</ul>
												</div>

											</div>
										</div>
									</div>


								</div>

							</div>

						</div>




						<div id="t5" class="tab-pane fade">
							<!-- <div style="color: #DE4566;display: inline-block; text-transform: uppercase; padding-top: 38px;">
								<p>Total money in: <span style="color: #290a70;">R 0</span></p>
								<p>Total money out: <span style="color: #290a70;">R {{ totalout }}</span></p>
							</div> -->
							<section class="infobr">
								<div class="container">
									  <section class="stepmain">
										<!-- <div class="summary">
											<h2>Summary</h2>
											<h3>Money In: R {{ totalin }}</h3>
											<h3>Money Out: R {{ totalout }}</h3>
										</div> -->
										<div class="new-search">
											<input type="text" placeholder="Search.." [value]="searchpay" [(ngModel)]="searchpay" (keyup)="onKeyUp($event)">
											<a href="#"><i class="fa fa-search"></i></a>
										</div>
										<div  class="summary summary-one">
											<h3 >Money In: <span>R {{ totalin }}</span></h3>
											<i class="fa fa-arrow-left"></i>
										   </div>
										   
										<div  class="summary summary-two">
											<h3 >Money Out: <span>R {{ totalout }}</span></h3>
											<i class="fa fa-arrow-right"></i>
										</div>
 
									</section>
								</div>
							</section>							
							<div class="limiter">
								<div class="container-table100">
								  <div class="wrap-table100">
									<div class="table100">
									  <table class="maintable100">
										<thead>
										  <tr class="table100-head">
											<th class="column1">Job Id</th>
											<th class="column1">Reference</th>											  
											<th class="column2">Description</th>
											<th class="column3">Payment Id</th>
											<th class="column4">Money In</th>
											<th class="column5">Money Out</th>
											<th class="column6">Date</th>
											<th class="column7">Status</th>
										  </tr>
										</thead>
										<tbody>
											<tr *ngFor="let job of jobberMoneyList | keyvalue">
												<td class="column1">{{job.value.job_id}}</td>
												<td class="column1" *ngIf="job.value.type == 'deposite'">LITEJOB</td>
												<td class="column1" *ngIf="job.value.type !== 'deposite'">{{ job.value.type | uppercase }}</td>													
												<td class="column2" *ngIf="job.value.type == 'advert'">{{job.value.job.job_title}}</td>
												<td class="column2" *ngIf="job.value.type !== 'advert'">{{job.value.job.job_title}}</td>
												<td class="column3">{{job.value.payment_id}}</td>
												<td class="column4" *ngIf="job.value.type !== 'job amount returned'"><strong></strong></td>
												<td class="column4" *ngIf="job.value.type == 'job amount returned'"><strong>R {{job.value.amount}}</strong></td>
												<td class="column5" *ngIf="job.value.type !== 'job amount returned'"><strong>-R {{job.value.amount}}</strong></td>
												<td class="column5" *ngIf="job.value.type == 'job amount returned'"><strong></strong></td>
												<td class="column6">{{job.value.created_at | date: "MMMM d, y"}}</td>
												<td class="column7" *ngIf="job.value.code == '000.100.110'"><a href="#"  class="succ">Success</a></td>
												<td class="column7" *ngIf="job.value.code !== '000.100.110'"><a href="#" class="pendig">Failed</a></td>													
											</tr>										   
										</tbody>
									  </table>
									</div>
								  </div>
								</div>
							  </div>



						</div>








						<div id="t6" class="tab-pane fade">
							<div class="row row-flex pad_t_30 tabcontent">

								<div  class="col-md-4" *ngIf="jobsPendingLists?.length == 0">
									No Jobs Available
								</div>


								<div class="col-md-4" *ngFor="let job of jobsPendingLists | keyvalue">
									<div class="card card-active">
										<div class="card-header card-heade-height titlefontsize">
											<div class="activity-div">
												<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
													<i class="fas fa-list"></i>
													<span>ACTIVITY LOG</span>  
												</a>
											</div>
											
											<div class="invited-link" *ngIf="job.value.customers.status == 'jobberator_accepted' && job.value.customers.scopeincrease != '1'">
												<a class="colororange">JOBBERATOR ACCEPTED</a> 
											</div>
											<div class="invited-link" *ngIf="job.value.customers.status == 'jobberator_accepted' && job.value.customers.scopeincrease == '1'">
												<a class="colororange">SCOPE INCREASE</a> 
											</div>		
											<div class="invited-link" *ngIf="job.value.customers.status == 'jobber_accepted'">
												<a>JOBBER ACCEPTED</a> 
											</div>
											<div class="myjobsimgpadding">
												<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
												<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
											</div>																					
											
										</div>
										<div class="card-body">

											<div class="details-div">
												<ul>
													<li><h2>{{ job.value.job_id }}<span *ngIf="job.value.customers.scopeincrease == '1'">(Scope Increase)</span></h2><span *ngIf="job.value.customers.scopeincrease == '1'">Parent id : {{ job.value.parent_job_id }}</span></li>
													<li><h3>{{ job.value.job_title | titlecase }}</h3></li>
													<li *ngIf="job.value.customers.scopeincrease != '1'">Job application of {{ job?.value?.customers?.customer?.name | titlecase }}
														accepted</li>
													<li *ngIf="job.value.customers.scopeincrease == '1'">Scope increase request for {{ job?.value?.customers?.customer?.name | titlecase }}</li>
													<!-- <li>Active until {{ job.value.plan_valid_till | toIso | date: "MMMM d, y" }}</li> -->
													<li class="texttoplong  text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
													<li class="textbottomlong  text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li>														
													<li> {{ job.value.work_type }} <span
														class="rate">R {{ job.value.project_budget }}</span> </li>
												</ul>
											</div>
										</div> 
										<div class="card-footer">
											<ul>

									<!-- <li class="tooltip_icons">
										<a>
											<i class="fa fa-eye "></i> 
											<span class="tooltiptext">600 Views</span>

										</a>
									</li> -->


								<li class="tooltip_icons">
									<a style="cursor:pointer;"
									(click)="redirectTo('/jobapplicants/'+job.value.id)"><i
											class="fa  fa-user "></i> 
											<span class="tooltiptext">{{
												job.value.no_of_applicants }} Applicant</span>

									</a>
								</li>

								<li *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime"
									class="tooltip_icons">
									<a style="cursor:pointer;"
										(click)="confirmationPopup('review',job.value.id)"><i
											class="fa  fa-edit "></i> 
											<span class="tooltiptext">Review/ Edit</span>
									</a>
								</li>
								<li *ngIf="job.value.expired_status == 'expired'"
									class="tooltip_icons">
									<a style="cursor:pointer;"
										(click)="confirmationPopup('renew',job.value.id)"><i
											class="fa  fa-repeat "></i>
											<span class="tooltiptext">Renew</span>
									</a>
								</li>


											</ul>
										</div>
							 		 </div>
								</div>







							</div>
						</div>


						<div id="t7" class="tab-pane fade">

							<section>
								<div class="container">
								  <div class="row">
									 <div class="col-md-12">
									  <div class="btn-left" (click)="redirectTo('/jobpost')">
										  <a style="cursor:pointer;" class="nextbtn"><i class="fa fa-plus-circle"></i>POST A JOB</a>
									  </div>
									 </div>
								  </div>
								</div>
							  </section>							




							<div class="row row-flex pad_t_30 tabcontent">
								<div  class="col-md-4" *ngIf="allJobList?.length == 0">
									No Jobs Available
								</div>

								<div class="col-md-4" *ngFor="let job of allJobList | keyvalue">
									<div class="card card-active">
										<div class="card-header card-heade-height">
											<div class="activity-div">
												<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
													<i class="fas fa-list"></i>
													<span>ACTIVITY LOG</span>  
												</a>
											</div>
											<div class="invited-link" *ngIf="job.value.expired_status == 'expired'">
												<a class="colorred">CLOSED</a> 
											</div>
											<div class="invited-link" *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime">
												<a class="colororange">SCHEDULED</a> 
											</div>
											<div class="invited-link" *ngIf="job.value.expired_status == 'not_expired' && currentDate >= job.value.advertise_show_datetime">
												<a>ACTIVE</a> 
											</div>

											<div class="invited-link" *ngIf="job.value.advt_payment_status == 'no'">
												<a class="colororange">PAYMENT PENDING</a> 
											</div>	
											<div class="myjobsimgpadding">
												<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
												<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
											</div>											
											
										</div>
										<div class="card-body">

											<div class="details-div">
												<ul>
													<li><h2>{{ job.value.job_id }}</h2></li>
													<li>{{ job.value.job_title | titlecase }}</li>
													<li>Active until {{ job.value.plan_valid_till | toIso | date: "MMMM d, y" }}</li>
													<li class="texttoplong text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
													<li class="textbottomlong text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li>
													<li> {{ job.value.work_type }} <span
														class="rate">R {{ job.value.project_budget }}</span> </li>
												</ul>
											</div>
										</div> 
										<div class="card-footer">
											<ul>
									
												
												<!-- <li class="tooltip_icons"><a><i
													class="fa fa-eye "></i> 
													<span class="tooltiptext">600 Views</span>

											</a></li> -->
										<li class="tooltip_icons"><a style="cursor:pointer;"
											(click)="redirectTo('/jobapplicants/'+job.value.id)"><i
													class="fa  fa-user "></i> 
													<span class="tooltiptext">{{
														job.value.no_of_applicants }} Applicant</span>

											</a></li>
										<li *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime"
											class="tooltip_icons"><a style="cursor:pointer;"
												(click)="confirmationPopup('review',job.value.id)"><i
													class="fa  fa-edit "></i>
													<span class="tooltiptext">Review/ Edit</span>

											</a></li>

											<li *ngIf="job.value.advt_payment_status == 'no'"
											class="tooltip_icons"><a style="cursor:pointer;"
												(click)="confirmationPopup('review',job.value.id)"><i
													class="fa  fa-edit "></i> 
													<span class="tooltiptext">Review/ Edit</span>

											</a></li>

										<li *ngIf="job.value.expired_status == 'expired'"
											class="tooltip_icons"><a style="cursor:pointer;"
												(click)="confirmationPopup('renew',job.value.id)"><i
													class="fa  fa-repeat "></i>
													<span class="tooltiptext">Renew</span>

										</a></li>


										<li *ngIf="job.value.expired_status == 'not_expired' && job.value.advt_continue_status == 'no'"
										class="tooltip_icons"><a style="cursor:pointer;"
										(click)="confirmationPopup('continueadvt',job.value.id)"><i
												class="fa fa-rotate-right"></i>
												<span class="tooltiptext">Continue Adverticement - ({{ job.value.advert_valid_upto_days }} days remains)</span>
											</a>												
										</li>
											</ul>
										</div>
							 		 </div>
								</div>









							</div>






						</div>

					</div>
					<!-- /Bootstrap Tabs -->
					<!-- Bootstrap Accordion -->
					<div class="panel-group newin" id="accordion" role="tablist" aria-multiselectable="true"></div>
					<!-- /Bootstrap Accordion -->
				</div>




			</div>

			<!-- new page end-->
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="topdiv-stky modal-top">
						<h3>Activity Log</h3>
						<a *ngIf="notificationsList.length > 0" href="#" class="seeall">See All</a>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="noti-div" *ngIf="notificationsList.length == 0" style="padding: 20px 20px;">
						No activity
					</div>
					<div class="noti-div" *ngIf="notificationsList.length > 0">

						<ul>
							<li *ngFor="let item of notificationsList; let i = index">
								<a href="#">
									<div class="noti-pic">
										<img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="">
									</div>
									<div class="notific-topic" (click)="doGotoJobDetailsPage(item.customer_jobpost_id)">
										<span class="comment-blk"><span class="blkname">{{ item.username }}</span> {{
											item.comment }} </span>
										<span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
									</div>
								</a>
							</li>
						</ul>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModalRating" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		   <div class="modal-content">
			  <div class="modal-header jbr">
				 <h3>Rate your Jobber</h3>
				 <button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
				 <img src="assets/images/close.svg" alt="Chicago">
				 </button>
			  </div>
			  <div class="modal-body ">
				 <div class="login-leftarea-div rating-area">
					<div class="heading">
					   <h2>Job Title : {{ popupJobName }} </h2>
					</div>
					<div class="star-rating">
					   <input type="radio" id="5-stars" name="rating" value="5" [checked]="ratingDoneCount == 5" (click)="ratingChange(5)"/>
					   <label for="5-stars" class="star">&#9733;</label>
					   <input type="radio" id="4-stars" name="rating" value="4" [checked]="ratingDoneCount == 4" (click)="ratingChange(4)"/>
					   <label for="4-stars" class="star">&#9733;</label>
					   <input type="radio" id="3-stars" name="rating" value="3" [checked]="ratingDoneCount == 3" (click)="ratingChange(3)"/>
					   <label for="3-stars" class="star">&#9733;</label>
					   <input type="radio" id="2-stars" name="rating" value="2" [checked]="ratingDoneCount == 2" (click)="ratingChange(2)"/>
					   <label for="2-stars" class="star">&#9733;</label>
					   <input type="radio" id="1-star" name="rating" value="1" [checked]="ratingDoneCount == 1" (click)="ratingChange(1)"/>
					   <label for="1-star" class="star">&#9733;</label>
					</div>
					<p style="color: red; float: left;" *ngIf="ratingEmpty">Please rate</p>
					<div class="rate-txt comm-top">
					   Comment
					</div>
					<div class="comment-area">
					   <textarea name="" id="" cols="75" rows="10" [value]="ratingcomment" [(ngModel)]="ratingcomment"></textarea>
					   <p style="color: red; float: left;" *ngIf="commentEmpty">Please comment</p>					   
					</div>

					<div class="review-sec" *ngIf="ratingcommentjobber != ''" style="display:none;">
					   <div class="sub-title">
						  <h2>Jobber Review</h2>
					   </div>
					   <div class="review-inner">
						  <div class="review-thumb icon_user">
							 <img src="{{ jobberImg }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" >
						  </div>
						  <div class="review-meta">
							 <div class="review-head">
								<h2>{{ currentJob?.customers?.customer?.name }}  <span>{{ ratingcommentjobber.updated_at | date: "MMMM d, y h:mm a" }}</span></h2>
								{{ ratingcommentjobber.rating }}
								<div class="star-rating">
								   <input type="radio" id="rev-5-stars3" name="rating3" value="5" [checked]="ratingcommentjobber.rating == 5"/>
								   <label for="rev-5-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-4-stars3" name="rating3" value="4" [checked]="ratingcommentjobber.rating == 4"/>
								   <label for="rev-4-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-3-stars3" name="rating3" value="3" [checked]="ratingcommentjobber.rating == 3"/>
								   <label for="rev-3-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-2-stars3" name="rating3" value="2" [checked]="ratingcommentjobber.rating == 2"/>
								   <label for="rev-2-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-1-stars3" name="rating3" value="1" [checked]="ratingcommentjobber.rating == 1"/>
								   <label for="rev-1-stars3" class="star">&#9733;</label>
								</div>
							 </div>
							 <div class="review-content">
								<p>{{ ratingcommentjobber.comment }}</p>
							 </div>
						  </div>
					   </div>
					</div>

					<div class="cancel-div">
					   <a style="cursor:pointer;" (click)="cancelrating()">Cancel</a>
					</div>
					<div class="submit-div">
					   <a style="cursor:pointer;" (click)="submitrating()">Submit</a>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>


	<!-- <div class="modal fade" id="exampleModalRating" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		  <div class="modal-content">
			<div class="modal-header jbr">
				<h3>Rate your Jobber</h3>
				<button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
			   <img src="assets/images/close.svg" alt="Chicago">
			  </button>
			</div>
			<div class="modal-body ">
			 
			  <div class="login-leftarea-div rating-area">
				<div class="popupjobtitle comm-top">				
					Job Title : {{ popupJobName }}
				</div>
				<p></p>					  

		   <div class="rt-div">
			   <div class="ratestar">
				   <ul>
						<li *ngFor="let item of createRange(ratingDoneCount); let index = index">
							<i class="fa fa-star fa-star-popup star-active" aria-hidden="true" (click)="ratingChange(index + 1)" ></i>
						</li>	
						<li *ngFor="let item of createRange(ratingBlankCount); let index = index">
							<i class="fa fa-star fa-star-popup" aria-hidden="true" (click)="ratingChange(ratingDoneCount + index + 1)"></i>
						</li>												  
					</ul>
					<p style="color: red; float: left;" *ngIf="ratingEmpty">Please rate</p>
			   </div>
		   </div>
   
			   <div class="rate-txt comm-top">
				   Comment
			   </div>
			   <div class="comment-area">
				   <textarea name="" id="" cols="75" rows="10" [value]="ratingcomment" [(ngModel)]="ratingcomment"></textarea>
				   <p style="color: red; float: left;" *ngIf="commentEmpty">Please comment</p>				   
			   </div>

			<div *ngIf="ratingcommentjobber != ''" class="rate-txt comm-top">
				<span style="padding-right: 5px;">Jobber</span>
				<span style="padding-right: 5px;">:</span> 
				<span style="padding-right: 5px;">{{ currentJob?.customers?.customer?.name }}</span>
			</div>
			<div class="rt-div" *ngIf="ratingcommentjobber != ''">

				<div class="userrate">
					<ul>
					  <li>
						<div class="profileviv icon_user">
						 <img src="{{ jobberImg }}" alt="description"/>
						</div>
						<div class="jobcatlist">
							{{ ratingcommentjobber.comment }} 
							<p></p>
							<span class="datetxt"> {{ ratingcommentjobber.updated_at | date: "MMMM d, y h:mm a" }} </span>
						  <div class="ratejobs">
							<ul>
								<li *ngFor="let item of createRange(ratingcommentjobber.rating); let index = index">
									<i class="fa fa-star fa-star star-active" aria-hidden="true"></i>
								</li>	
								<li *ngFor="let item of createRange(ratingBlankCountJobber); let index = index">
									<i class="fa fa-star fa-star" aria-hidden="true"></i>
								</li>												  
							</ul>
						 </div>
						</div>
						 
					  </li>
					</ul>
				</div>					
			</div>

				<div class="cancel-div">
				 <a style="cursor:pointer;" (click)="cancelrating()">Cancel</a>
				</div>
				 <div class="submit-div">
				 <a style="cursor:pointer;" (click)="submitrating()">Submit</a>
				</div>
			  </div>
			  
			</div>
			
		  </div>
		</div>
	  </div> -->





      <div class="modal fade" id="exampleModalRatingEmpty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		   <div class="modal-content">
			  <div class="modal-header jbr">
				 <h3>Ratings</h3>
				 <button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
				 <img src="assets/images/close.svg" alt="Chicago">
				 </button>
			  </div>
			  <div class="modal-body ">
				 <div class="login-leftarea-div rating-area">
					<div class="heading">
					   <h2>Job Title : {{ popupJobName }} </h2>
					</div>

					<div class="review-sec" *ngIf="ratingcomment != ''">
					   <div class="sub-title">
						  <h2>My Review</h2>
					   </div>
					   <div class="review-inner">
						  <div class="review-thumb icon_user">
							 <img src="{{ jobberImg }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" >
						  </div>
						  <div class="review-meta">
							 <div class="review-head">
								<h2>{{ currentJob?.customers?.customer?.name }} <span>{{ ratingcommentjobber.updated_at | date: "MMMM d, y h:mm a" }}</span></h2>
								<div class="star-rating">
								   <input type="radio" id="rev-5-stars1" name="rating1" value="5" [checked]="ratingDoneCount == 5"/>
								   <label for="rev-5-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-4-stars1" name="rating1" value="4" [checked]="ratingDoneCount == 4"/>
								   <label for="rev-4-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-3-stars1" name="rating1" value="3" [checked]="ratingDoneCount == 3"/>
								   <label for="rev-3-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-2-stars1" name="rating1" value="2" [checked]="ratingDoneCount == 2"/>
								   <label for="rev-2-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-1-star1" name="rating1" value="1" [checked]="ratingDoneCount == 1"/>
								   <label for="rev-1-star1" class="star">&#9733;</label>
								</div>
							 </div>
							 <div class="review-content">
								<p>{{ ratingcomment }}</p>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="review-sec" *ngIf="ratingcommentjobber != ''">
					   <div class="sub-title">
						  <h2>Jobber Review</h2>
					   </div>
					   <div class="review-inner">
						  <div class="review-thumb icon_user">
							<img src="{{ jobberatorImg }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" >
						  </div>
						  <div class="review-meta">
							 <div class="review-head">
								<h2>{{ currentJob?.jobberator?.name }} <span>{{ currentJob?.rating?.updated_at | date: "MMMM d, y h:mm a" }}</span></h2>
								<div class="star-rating">
								   <input type="radio" id="rev-5-stars2" name="rating2" value="5" [checked]="ratingcommentjobber.rating == 5"/>
								   <label for="rev-5-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-4-stars2" name="rating2" value="4" [checked]="ratingcommentjobber.rating == 4"/>
								   <label for="rev-4-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-3-stars2" name="rating2" value="3" [checked]="ratingcommentjobber.rating == 3"/>
								   <label for="rev-3-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-2-stars2" name="rating2" value="2" [checked]="ratingcommentjobber.rating == 2"/>
								   <label for="rev-2-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-1-star2" name="rating2" value="1" [checked]="ratingcommentjobber.rating == 1"/>
								   <label for="rev-1-star2" class="star">&#9733;</label>
								</div>
							 </div>
							 <div class="review-content">
								<p>{{ ratingcommentjobber.comment }}</p>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="cancel-div">
					   <a style="cursor:pointer;" data-dismiss="modal">Close</a>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>








	  

      <div class="modal fade" id="exampleModalTip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		   <div class="modal-content">
			  <div class="modal-header jbr">
				 <h3>Pay Tips </h3>
				 <button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
				 <img src="assets/images/close.svg" alt="Chicago">
				 </button>
			  </div>
			  <div class="modal-body ">
				 <div class="tips-popup login-leftarea-div rating-area">
					<div class="heading">
					   <h2>Job Title : {{ popupJobName }} </h2>
					</div> 
					<div class="sub-title"  *ngIf="!showPaymentTip">
					   <h3>How much do you want to pay your jobber as tip?</h3>
					</div>

					<div class="tips-inner" *ngIf="!showPaymentTip">
					  <span>R</span>
					   <input type="number" name="" id="" class="form-control wizardfeilds" placeholder="" [value]="tipamount" [(ngModel)]="tipamount"/>
					</div>

					<div *ngIf="amountEmpty">
						 <p style="color: red; float: left;">Please enter an amount</p>					   
					  </div>					

					<div style="padding-left:20px;" *ngIf="showPaymentTip">
						<form action="{{shopperResultUrl}}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>   
					</div>						

					<div class="cancel-div">
					   <a style="cursor:pointer;" data-dismiss="modal">Cancel</a>
					</div>
					<div class="submit-div" *ngIf="!showPaymentTip">
					   <a style="cursor:pointer;" (click)="paytipformcreate()">Pay</a>
					</div>
					 
				 </div>
			  </div>
		   </div>
		</div>
	 </div>




	 <div class="modal fade" id="exampleModalRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		  <div class="modal-content">
			<div class="modal-header jbr">
				<h3>Request rating</h3>
				<button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
			   <img src="assets/images/close.svg" alt="Chicago">
			  </button>
			</div>
			<div class="modal-body ">
			 
			  <div class="tips-popup login-leftarea-div rating-area">

				<div class="heading">				
					<h2>Job Title : {{ popupJobName }}</h2>
				</div>
				<div class="sub-title">				
					<h3>Do you want to request rating from jobber?</h3>
				</div>				
				<div class="cancel-div">
					<a style="cursor:pointer;" (click)="cancelrequest()">Cancel</a>
				</div>
				<div class="submit-div">
				<a style="cursor:pointer;" (click)="requestrating()">Submit</a>
				</div>				
				

			  </div>
			  
			</div>
			
		  </div>
		</div>
	  </div>	 


</section>