<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>

<section class="breadcrumb">
  <div class="container">
  <div class="row">
    <div class="col-md-12">

  <div class="brdcrmb">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
      <li>
        <a style="cursor:pointer;" (click)="redirectTo('/myjobs')">My Jobs</a>
      </li>
      <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
      <li>APPLICANT</li>
    </ul>
   </div>
  </div>
  </div>
</div>
</section>

<div class="clearfix"></div>
<section class="">
  <div class="contentarea container br-btm">
    <div class="" style="padding: 0px; margin: 0px;">
      <div class="row" style="margin-left: 0px; margin-right: 0px;">

        <!-- new page start-->

        <div class="stepmain">
          <div class="col-lg-6 col-xs-12 m_b_0">
            <!-- <h4>Job ID: {{ jobPostId }}</h4> -->
            <!-- <h4>Job: {{ jobDataList.job_title }}</h4> -->
          </div>
          <div class="col-lg-6 col-xs-12  m_b_0">
            <!-- <div class="form-group has-feedback has-search" style="margin-top: 15px">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
            </div> -->
            <div class="search-blk">
              <input type="text" [(ngModel)]="applicantSearch" name="name" class="form-control login-style" id="name" placeholder="Search by applicant name" data-rule="minlen:4" data-msg="">
              <button type="button" class="search">
                  Search
              </button>
            </div> 
          </div>
          <div class="clearfix"></div>
          <ul id="tabs" class="nav nav-tabs jobberator">
            <li class="active"><a data-toggle="tab" href="#applicantsTab">Applicants List</a></li>
            <li><a data-toggle="tab" href="#shortlistedTab">Shortlisted</a></li>
          </ul>

          <div class="tab-content jobberatortab">
            <div id="applicantsTab" class="tab-pane fade in active">



              <div *ngFor="let data of jobList; index as i;">
                <div class="col-lg-4 col-xs-12"  *ngIf="data.customer.name.toLowerCase().indexOf(applicantSearch.toLowerCase()) !== -1 || applicantSearch == ''">
                <div class="card-container card-adv">
    
                  <div class="round2" (click)="applicantDetails('/applicantdetails/'+data.customer.id)" style="cursor: pointer;">
                    <img class="" src={{data.customer.profile_img}} onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="user" />
                  </div>
                  <div class="text_c text_c_color detailedprofile">
                    <a style="cursor:pointer;text-decoration-line: underline;" (click)="applicantDetails('/applicantdetails/'+data.customer.id)">
                      <!-- <i class="fa fa-camera padsdetailedprofile"></i> -->
                      View profile details
                      <i class="fa fa-angle-double-right padsdetailedprofile"></i>
                    </a>
                  </div>
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'female' && advtPlanDetails.bio_desc == 'no'" style="cursor: pointer;font-style: italic;" (click)="redirectTo('/applicantdetails/'+data.id)">Mrs.xxxx
                  <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h3>
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'male' && advtPlanDetails.bio_desc == 'no'" style="cursor: pointer;font-style: italic;" (click)="redirectTo('/applicantdetails/'+data.id)">Mr.xxxx
                  <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h3>                  
                  <h3 *ngIf="advtPlanDetails.gender == 'no'  && advtPlanDetails.bio_desc == 'no'" style="cursor: pointer;font-style: italic;" (click)="redirectTo('/applicantdetails/'+data.id)">xxxx
                  <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>                    
                  </h3>  
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'female' && advtPlanDetails.bio_desc == 'yes'" style="cursor: pointer;" (click)="redirectTo('/applicantdetails/'+data.id)">Mrs.{{ data.customer.name | titlecase }}</h3>
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'male' && advtPlanDetails.bio_desc == 'yes'" style="cursor: pointer;" (click)="redirectTo('/applicantdetails/'+data.id)">Mr.{{ data.customer.name | titlecase }}</h3>                  
                  <h3 *ngIf="advtPlanDetails.gender == 'no'  && advtPlanDetails.bio_desc == 'yes'" style="cursor: pointer;" (click)="redirectTo('/applicantdetails/'+data.id)">{{ data.customer.name | titlecase }}</h3>                                     
                  <h4 *ngIf="advtPlanDetails.gender == 'yes'">{{ data.customer.gender | titlecase }}</h4>
                  <h4 style="cursor: pointer;font-style: italic;" *ngIf="advtPlanDetails.gender == 'no'">
                    XXXX
                    <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h4>
                  <h4 *ngIf="advtPlanDetails.age == 'yes'">{{ data.customer.age }} years old</h4>
                  <h4 *ngIf="advtPlanDetails.age == 'no'">
                    XXXX years old
                    <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h4>                  
                  <h4 *ngIf="advtPlanDetails.bio_desc == 'yes'">{{ data.customer.personal_info }} </h4>
                  <!-- class="text-hide" -->
                  <p>
                    <span class="fa fa-star checked" *ngFor="let item of createRange(data.customer.roundrating); let index = index">
                    </span>	
                    <span class="fa fa-star uncheck" *ngFor="let item of createRange(5 - data.customer.roundrating); let index = index">
                    </span>                    
                    <!-- <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star uncheck"></span>
                    <span class="fa fa-star uncheck"></span> -->
                    <span class="rate">{{ data.customer.rating }}</span>
                  </p>
    
                  <!-- <p>1 day ago <span class="card_line">|</span> {{ data.created_at | date: "MMMM d, y" }}</p> -->
                  <p>Applied on<span class="card_line">|</span> {{ data.created_at | date: "MMMM d, y" }}</p>
    
    
                  <div class="col-lg-6 col-xs-10 col-lg-offset-3 col-xs-offset-2 m_b_0">
                    <p>Matching</p>
                    <div class="progress">
    
                      <div class="progress-bar  progress-bar-warning" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="{{ data?.matchingpercwidth }}">
                        {{ data?.matchingperc }}%
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div *ngIf="advtPlanDetails.bio_desc == 'yes'"><i class="fa fa-map-marker"></i> {{ data.customer.location | titlecase }}</div>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof'" class="applicnt_qali">
                    {{ data?.customer?.languagespref }}<br>
                  </p>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof'" class="applicnt_qali">
                    {{ data?.customer?.insti }}
                  </p>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_only'" class="applicnt_qali">
                    {{ data?.customer?.languages }}<br>
                  </p>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_only'" class="applicnt_qali">
                    {{ data?.customer?.quali }}
                  </p>    
                  <div *ngIf="advtPlanDetails.skills == 'all_skills'" style="display:flex; padding-left: 23px;">
                    <div class=" jobcat applicant" *ngFor="let dataskill of data.skills">
    
                      <a style="text-decoration: none;">{{ catList[dataskill.job_cate_id].details[0].name }}</a>
   
                    </div>
                  </div>
                  <div *ngIf="advtPlanDetails.skills == 'top_3_skills'" style="display:flex; padding-left: 23px;">
                    <div class=" jobcat applicant" *ngFor="let dataskill of data.skills | slice:0:3">
    
                      <a style="text-decoration: none;">{{ catList[dataskill.job_cate_id].details[0].name }}</a>
    
                    </div>
                  </div>                  
    
                  <div class="card_skills card_skills_adv">
                    <div class="">
                      <div class=" listingicons">
                        <ul>
                          <li (click)="acceptJobConfirmation(data.id,data.customers_id,data.is_jobberator_favourite ,i,'wishtype')" class="tooltip_icons "><a style="cursor:pointer;"><i class="fa fa-heart heart_purple" [ngClass]="{'heart_purple_liked': data.is_jobberator_favourite == 'favourite'}"></i>
                              <span *ngIf="data.is_jobberator_favourite == 'favourite'" class="tooltiptext ">Unfavourite</span>
                              <span *ngIf="data.is_jobberator_favourite != 'favourite'" class="tooltiptext ">Favourite</span>                              
                            </a></li>
    
                          <li *ngIf="appliedStatus"
                            (click)="acceptJobConfirmation(data.id,data.customers_id,'jobberator_accepted',i,'accept',data.status)"
                            class="tooltip_icons "><a style="cursor:pointer; color: gray"><i class="fa fa-check-circle"
                                [ngClass]="{'tick_green': data.status == 'jobberator_accepted'}"></i>
                              <span class="tooltiptext ">Accept</span>
                            </a>
                          </li>

                          <li *ngIf="!appliedStatus && data.status == 'jobberator_accepted'"
                              class="tooltip_icons "><a style="cursor:pointer; color: gray"><i class="fa fa-check ticker_green ticker_green_liked heartsize"
                              [ngClass]="{'tick_green': data.status == 'jobberator_accepted'}"></i>
                            <span class="tooltiptext ">Accepted</span>
                          </a>
                          </li>
    
                          <li *ngIf="data.status == 'initiated'" (click)="acceptJobConfirmation(data.id,data.customers_id,'jobberator_rejected',i,'close')"
                            class="tooltip_icons "><a style="cursor:pointer;"><i
                                class="fa fa-times-circle closeicon_red"></i>
                              <span class="tooltiptext">Close</span>
                            </a></li>
    
    
                        </ul>
                      </div>
    
                    </div>
                  </div>
                </div>
                </div>
              </div>




            </div>
            <div id="shortlistedTab" class="tab-pane fade">
              <span *ngFor="let data of jobList; index as i;">
             <div *ngIf="data.is_jobberator_favourite == 'favourite' && (data.customer.name.toLowerCase().indexOf(applicantSearch.toLowerCase()) !== -1 || applicantSearch == '')"  class="col-lg-4 col-xs-12">
                <div  class="card-container card-adv">
    
    
                  <div class="round2" (click)="applicantDetails('/applicantdetails/'+data.customer.id)" style="cursor: pointer;">
                    <img class="" src={{data.customer.profile_img}} onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="user" />
                  </div>
                  <div class="text_c text_c_color detailedprofile">
  
                    <a style="cursor:pointer;text-decoration-line: underline;" (click)="applicantDetails('/applicantdetails/'+data.customer.id)">
                      <!-- <i class="fa fa-camera padsdetailedprofile"></i> -->
                      View profile details
                      <i class="fa fa-angle-double-right padsdetailedprofile"></i>
                    </a>
                  </div>

                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'female' && advtPlanDetails.bio_desc == 'no'" style="cursor: pointer;font-style: italic;" (click)="redirectTo('/applicantdetails/'+data.id)">Mrs.xxxx
                  <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h3>
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'male' && advtPlanDetails.bio_desc == 'no'" style="cursor: pointer;font-style: italic;" (click)="redirectTo('/applicantdetails/'+data.id)">Mr.xxxx
                  <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h3>                  
                  <h3 *ngIf="advtPlanDetails.gender == 'no'  && advtPlanDetails.bio_desc == 'no'" style="cursor: pointer;font-style: italic;" (click)="redirectTo('/applicantdetails/'+data.id)">xxxx
                  <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>                    
                  </h3>  
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'female' && advtPlanDetails.bio_desc == 'yes'" style="cursor: pointer;" (click)="redirectTo('/applicantdetails/'+data.id)">Mrs.{{ data.customer.name | titlecase }}</h3>
                  <h3 *ngIf="advtPlanDetails.gender == 'yes' && data.customer.gender == 'male' && advtPlanDetails.bio_desc == 'yes'" style="cursor: pointer;" (click)="redirectTo('/applicantdetails/'+data.id)">Mr.{{ data.customer.name | titlecase }}</h3>                  
                  <h3 *ngIf="advtPlanDetails.gender == 'no'  && advtPlanDetails.bio_desc == 'yes'" style="cursor: pointer;" (click)="redirectTo('/applicantdetails/'+data.id)">{{ data.customer.name | titlecase }}</h3>                                     
                  <h4 *ngIf="advtPlanDetails.gender == 'yes'">{{ data.customer.gender | titlecase }}</h4>
                  <h4 style="cursor: pointer;font-style: italic;" *ngIf="advtPlanDetails.gender == 'no'">
                    XXXX
                    <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h4>
                  <h4 *ngIf="advtPlanDetails.age == 'yes'">{{ data.customer.age }} years old</h4>
                  <h4 *ngIf="advtPlanDetails.age == 'no'">
                    XXXX years old
                    <p class="upgradelink" (click)="redirectTo('/jobpost/'+jobPostId+'/renew');">upgrade to see</p>
                  </h4>                  
                  <h4 *ngIf="advtPlanDetails.bio_desc == 'yes'">{{ data.customer.personal_info }} </h4>
                  <p>
                    <span class="fa fa-star checked" *ngFor="let item of createRange(data.customer.roundrating); let index = index">
                    </span>	
                    <span class="fa fa-star uncheck" *ngFor="let item of createRange(5 - data.customer.roundrating); let index = index">
                    </span>                    
                    <span class="rate">{{ data.customer.rating }}</span>
                  </p>

                  <p>Applied on<span class="card_line">|</span> {{ data.created_at | date: "MMMM d, y" }}</p>
    
    
                  <div class="col-lg-6 col-xs-10 col-lg-offset-3 col-xs-offset-2 m_b_0">
                    <p>Matching</p>
                    <div class="progress">
    
                      <div class="progress-bar  progress-bar-warning" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100" style="{{ data?.matchingpercwidth }}">
                        {{ data?.matchingperc }}%
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div *ngIf="advtPlanDetails.bio_desc == 'yes'"><i class="fa fa-map-marker"></i> {{ data.customer.location | titlecase }}</div>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof'" class="applicnt_qali">
                    {{ data?.customer?.languagespref }}<br>
                  </p>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof'" class="applicnt_qali">
                    {{ data?.customer?.insti }}
                  </p>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_only'" class="applicnt_qali">
                    {{ data?.customer?.languages }}<br>
                  </p>
                  <p *ngIf="advtPlanDetails.lang_prof == 'lang_only'" class="applicnt_qali">
                    {{ data?.customer?.quali }}
                  </p> 
    
                  <div *ngIf="advtPlanDetails.skills == 'all_skills'" style="display:flex; padding-left: 23px;">
                    <div class=" jobcat applicant" *ngFor="let dataskill of data.skills">
    
                      <a style="text-decoration: none;">{{ catList[dataskill.job_cate_id].details[0].name }}</a>
   
                    </div>
                  </div>
                  <div *ngIf="advtPlanDetails.skills == 'top_3_skills'" style="display:flex; padding-left: 23px;">
                    <div class=" jobcat applicant" *ngFor="let dataskill of data.skills | slice:0:3">
    
                      <a style="text-decoration: none;">{{ catList[dataskill.job_cate_id].details[0].name }}</a>
    
                    </div>
                  </div>
    
                  <div class="card_skills card_skills_adv">
                    <div class="">
                      <div class=" listingicons">
                        <ul>
                          <li (click)="acceptJobConfirmation(data.id,data.customers_id,data.is_jobberator_favourite,i,'wishtype')" class="tooltip_icons "><a style="cursor:pointer;"><i class="fa fa-heart heart_purple" [ngClass]="{'heart_purple_liked': data.is_jobberator_favourite == 'favourite'}"></i>
                            <span *ngIf="data.is_jobberator_favourite == 'favourite'" class="tooltiptext ">Unfavourite</span>
                            <span *ngIf="data.is_jobberator_favourite != 'favourite'" class="tooltiptext ">Favourite</span> 
                            </a>
                          </li>
    
                          <li *ngIf="appliedStatus" 
                            (click)="acceptJobConfirmation(data.id,data.customers_id,'jobberator_accepted',i,'accept',data.status)"
                            class="tooltip_icons "><a style="cursor:pointer; color: gray"><i class="fa fa-check-circle"
                                [ngClass]="{'tick_green': data.status == 'jobberator_accepted'}"></i>
                              <span class="tooltiptext ">Accept</span>
                            </a>
                          </li>

                          <li *ngIf="!appliedStatus && data.status == 'jobberator_accepted'" 
                            class="tooltip_icons "><a style="cursor:pointer; color: gray"><i class="fa fa-check-circle"
                              [ngClass]="{'tick_green': data.status == 'jobberator_accepted'}"></i>
                            <span class="tooltiptext ">Accept</span>
                          </a>
                          </li>
    
                          <li *ngIf="data.status == 'initiated'" (click)="acceptJobConfirmation(data.id,data.customers_id,'jobberator_rejected',i,'close')"
                            class="tooltip_icons "><a style="cursor:pointer;"><i
                                class="fa fa-times-circle closeicon_red"></i>
                              <span class="tooltiptext">Close</span>
                            </a>
                          </li>
    
    
                        </ul>
                      </div>
    
                    </div>
                  </div>
                </div>
    
              </div>   
            </span>     
             </div>
          </div>

          <hr class="style9">


          
          <div class="clearfix"></div>
          <hr>
          <nav aria-label="Page navigation example">

            <ul class="pagination">
              <li class="page-item" *ngIf="previous != 0" style="cursor:pointer" (click)="goprev(currentPrevious)">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let number of totalResults"><a class="page-link" style="cursor:pointer"
                  (click)="pagination(number)">{{ number }}</a> </li>
              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <li class="page-item" *ngIf="next != 0" style="cursor:pointer" (click)="gonext(currentNext)">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

          <!-- <div style="cursor:pointer;" (click)="redirectTo('/applicantdetails')" class="col-lg-4 col-xs-12">
      <div class="card-container card-adv">
  
      <div class="round2">
      <img class="" src="assets/images/profile_img.jpg" alt="user" />
      </div>
      <h3>Mr. Henry Ford</h3>
      <p><span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star uncheck"></span> <span class="fa fa-star uncheck"></span> <span class="rate">3.5</span></p>
      
      <p>1 day ago   <span class="card_line">|</span>  Apr 20 , 2021</p>
                    <div class="col-lg-6 col-xs-10 col-lg-offset-3 col-xs-offset-2 m_b_0">
                <p>Matching</p>
  <div class="progress">
    <div class="progress-bar  progress-bar-warning" role="progressbar" aria-valuenow="50"
    aria-valuemin="0" aria-valuemax="100" style="width:90%">
      90% 
    </div>
  </div>
  </div>
  <div class="clearfix"></div>
  <i class="fa fa-map-marker"></i> 123 Complex, Johennazberg
   <p class="applicnt_qali">Afrikaans (Excellent), English (Good), Zulu (Basic)<br>
   Diploma in Automotive Eng, Johennasberg University
  </p>
   <div class=" jobcat applicant" style="padding: 15px;">
        
            <a href="#">Automobile Repair</a>
            <a href="#">Car Repair</a>
            <a href="#">Car Repair</a>
            <a href="#">Car Repair</a>      
      </div>
   
       <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons">
              <ul>
                  <li class="tooltip_icons " ><a href="#" ><i class="fa fa-heart heart_purple"></i>
                  <span class="tooltiptext">Like</span>
                  </a></li>
                  <li class="tooltip_icons "><a href="#"><i class="fa  fa-check tick_green"></i>
                  <span class="tooltiptext ">Accepted</span>
                  </a></li>
                  <li class="tooltip_icons " ><a href="#" ><i class="fa fa-times-circle closeicon_red"></i>
                  <span class="tooltiptext">Close</span>
                  </a></li>
              
              </ul>
          </div>	
  
  </div>
      </div>
  </div>
  
      
  </div> -->


          <!--        
  <div style="cursor:pointer;" (click)="redirectTo('/applicantdetails')" class="col-lg-4 col-xs-12">
      <div class="card-container card-adv">
  
      <div class="round2">
      <img class="" src="assets/images/profile_img.jpg" alt="user" />
      </div>
      <h3>Mr. Henry Ford</h3>
      <p><span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star uncheck"></span> <span class="fa fa-star uncheck"></span> <span class="rate">3.5</span></p>
      
      <p>1 day ago   <span class="card_line">|</span>  Apr 20 , 2021</p>
                    <div class="col-lg-6 col-xs-10 col-lg-offset-3 col-xs-offset-2 m_b_0">
               <p>Matching</p> 
  <div class="progress">
    <div class="progress-bar  progress-bar-warning" role="progressbar" aria-valuenow="50"
    aria-valuemin="0" aria-valuemax="100" style="width:90%">
      90% 
    </div>
  </div>
  </div>
  <div class="clearfix"></div>
  <i class="fa fa-map-marker"></i> 123 Complex, Johennazberg
   <p class="applicnt_qali">Afrikaans (Excellent), English (Good), Zulu (Basic)<br>
   Diploma in Automotive Eng, Johennasberg University
  </p>
   <div class=" jobcat applicant" style="padding: 15px;">
        
            <a href="#">Automobile Repair</a>
            <a href="#">Car Repair</a>
            <a href="#">Car Repair</a>
            <a href="#">Car Repair</a>
  
            
  
            
      </div>
   
       <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons">
              <ul>
                  <li class="tooltip_icons " ><a href="#" ><i class="fa fa-heart heart_purple"></i>
                  <span class="tooltiptext">Like</span>
                  </a></li>
                  <li class="tooltip_icons "><a href="#"><i class="fa  fa-check tick_green"></i>
                  <span class="tooltiptext ">Accepted</span>
                  </a></li>
                  <li class="tooltip_icons " ><a href="#" ><i class="fa fa-times-circle closeicon_red"></i>
                  <span class="tooltiptext">Close</span>
                  </a></li>
              
              
              
              </ul>
          </div>	
  
  </div>
      </div>
  </div>
  
      
  </div> -->


        </div>
      </div>

      <!-- new page end-->
    </div>
  </div>
</section>
<app-footer></app-footer>