<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>

<!-- <section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Task</li>
        </ol>
    </nav>
</section> -->

<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
	<div class="brdcrmb">
	  <ul>
		<li>
		  <a href="#">Home</a>
		</li>
        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>
            <a style="cursor:pointer;" (click)="redirectTo('/myjobberjobs')">My Jobs</a>
        </li>
		<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>My Task</li>
	  </ul>
	 </div>
	</div>
	</div>
  </div>
  </section>



<div class="clearfix"></div>
<section class="">
    <div class="contentarea container br-btm">

        <div class="" style="padding: 0px; margin: 0px;">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">

                <!-- new page start-->
                <div class="stepmain">
                    <div class="col-lg-12 col-xs-12 col_m0">

                        <div class="col-lg-12 col-xs-12 col_m0">
                            <h2>{{ jobId }}</h2>
                            <h3>Job : {{ allData?.data?.job_title  | titlecase }}</h3>

                            <!-- <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="progressPercentageStyle"
                                    aria-valuemin="0" aria-valuemax="100" [style]="progressPercentageStyle">
                                    {{progressPercentage}}% Complete
                                </div>
                            </div> -->

                        </div>


                        <div class="clearfix"></div>



                <div class="col-md-6"  *ngFor="let data of taskList; let i = index">
                            <div class="card card-active">
                      <div class="card-header">
                        <div class="txt-head"><h4>{{ data.task_name }}</h4></div>



                   <div [ngSwitch]="data.status" class="invited-link">
                    <a *ngSwitchCase="'not_started'">
                        Initiated </a>
                    <a *ngSwitchCase="'started'">
                        Started </a>
                    <a *ngSwitchCase="'completed'" class="approval">
                        Approval Pending </a>
                    <a *ngSwitchCase="'jobberator_accepted'" class="cmplt">
                        Jobberator Accepted</a>
                    <a *ngSwitchCase="'jobberator_rejected'" class="rjct">
                        Jobberator Rejected</a>
                    <a *ngSwitchCase="'jobber_accepted'" class="cmplt">
                        Jobber Accepted</a>
                    <a *ngSwitchCase="'jobber_rejected'" class="rjct">
                        Jobber Rejected</a>                                        
                    <a *ngSwitchCase="'jobber_disputed'" class="rjct">
                        Jobber Disputed</a>
                    <a *ngSwitchCase="'jobberator_disputed'" class="rjct">
                        Jobberator Disputed</a>
                    <a *ngSwitchCase="'jobberator_canceled'" class="rjct">
                        Jobberator Canceled</a>  
                    <a *ngSwitchCase="'jobber_accept_cancellation'" class="cmplt">
                        Jobber accepted cancellation</a> 
                    <a *ngSwitchCase="'jobber_cant_reach_agreement'" class="approval">
                        Jobber can't reach agreement</a> 
                    <a *ngSwitchCase="'jobberator_accepted_cant_reach'" class="approval">
                        Jobberator accepted can't reach agreement</a>  
                    <a *ngSwitchCase="'jobberator_job_canceled'" class="rjct">
                        Jobberator canceled the job</a> 
                    <a *ngSwitchCase="'jobber_accepted_job_cancellation'" class="cmplt">
                        Jobber accepted job cancellation</a>                                                                                                                                                                                                                                                
                </div>

                      </div>
                     <div class="card-body">

                        <div class="task-discription">
                            <p>{{ data.task_desc }}</p>
                        </div>                        
                       
                     
                       <div class="task-hstory">
                         <ul>
                           <li><a style="cursor: pointer;" (click)="invokeNotification(data.id)"><i class="fas fa-history"></i></a>
                          <span>Task History</span>
                           </li>
                           
                           <li><a style="cursor: pointer;" (click)="documentHistory(data.id)"><i class="fal fa-copy"></i></a>
                            <!-- <span class="badge_bub">{{ data.docslog_count }}</span> -->
                            <span>Task files</span></li>
                            
                         </ul>
                       </div>

                       <div *ngIf="data.status == 'jobberator_rejected'">
                        <p class="colororange">Rejection Reason : {{ data.messagefirst }}</p>
                        <p  class="colororange">Rejection Comment : {{ data.messagesecond }}</p>
                       </div> 
                       <div *ngIf="data.status == 'jobber_disputed'">
                        <p class="colororange">Dispute Reason : {{ data.messagefirst }}</p>
                       </div>                      
                      </div> 
                           <div class="card-footer" *ngIf="jobberTaskUserStatus != 'jobberator_accepted' && jobberTaskUserStatus != 'jobber_accepted'">
                       <ul class="footer-links">

                        
                    <container-element>
                        <li *ngIf="data.status == 'not_started' && doingcount == '0'" style="cursor:pointer;" 
                             (click)="jobActionConfirmation(data.id,'started', i)"
                             class="start">
                             <a><i class="fas fa fa-play tasklistarea"></i></a>
                             <span>START</span>
                         </li>

                         <li *ngIf="data.status == 'started'" style="cursor:pointer;" 
                            (click)="jobActionConfirmation(data.id,'completed', i)"
                         class="reject">
                         <a><i class="fas fa fa-flag-checkered tasklistarea"></i></a>
                         <span>FINISH</span>
                        </li> 
                        
                        <li *ngIf="data.status == 'completed'" class="dispute" style="cursor: pointer;">
                        <a><i class="fas fa fa-check tasklistarea"></i></a>
                        <span>FINISHED</span>
                        </li>
                        
                        <li *ngIf="data.status == 'jobberator_rejected'" (click)="jobActionConfirmation(data.id,'started', i)"
                        class="start" style="cursor: pointer;">
                        <a><i class="fas fa fa-play tasklistarea"></i></a>
                        <span>REDO YOUR REJECTED TASK</span>
                        </li> 
                        
                        <li *ngIf="data.status == 'jobberator_rejected'" (click)="jobActionConfirmation(data.id,'jobber_disputed', i)"
                        class="start" style="cursor: pointer;">
                        <a><i class="fas fa fa-thumbs-down tasklistarea"></i>
                        </a>
                        <span>REQUEST TO RECONSIDER</span>
                        </li> 
                        

                        <li  *ngIf="data.status == 'jobber_disputed'" class="dispute"><a><i
                            class="fas fa fa-thumbs-down tasklistarea"></i>
                            </a>
                            <span>JOBBER DISPUTED</span>
                        </li>  
                        
                        <li *ngIf="data.status == 'jobberator_canceled'" (click)="jobActionConfirmation(data.id,'started', i)"
                        class="start" style="cursor: pointer;">
                        <a class="tooltip_icons smallfont"><i class="fas fa fa-play tasklistarea"></i></a>
                        <span>REDO YOUR DISPUTED TASK</span>
                        </li> 
                    
                        <li *ngIf="data.status == 'jobberator_canceled'" (click)="jobActionConfirmation(data.id,'jobber_accept_cancellation', i)"
                            class="start" style="cursor: pointer;">
                            <a class="tooltip_icons smallfont"><i class="fas fa fa-play tasklistarea"></i><span class="tooltiptext">If you accept cancellation of jobberator you will get 50% of the task amount and can countinue with next task.</span></a>
                            <span>ACCEPT CANCELLATION</span>
                        </li> 
                    
                        <li *ngIf="data.status == 'jobberator_canceled'" (click)="jobActionConfirmation(data.id,'jobber_cant_reach_agreement', i)"
                            class="reject" style="cursor: pointer;">
                            <a class="tooltip_icons smallfont"><i class="fas fa fa-thumbs-down tasklistarea"></i><span class="tooltiptext">If you can't reach agreement you will get 100% amont of completed task and 50% of the last task.</span></a>
                            <span>CAN'T REACH AGREEMENT</span>
                        </li>  
                        
                        <li *ngIf="data.status == 'jobberator_job_canceled'" (click)="jobActionConfirmation(data.id,'started', i)"
                        class="start" style="cursor: pointer;">
                        <a class="tooltip_icons smallfont"><i class="fas fa fa-play tasklistarea"></i><span class="tooltiptext">You can redo the jobberator canceled task.</span></a>
                        <span>REDO</span>
                        </li> 
                        
                        <li *ngIf="data.status == 'jobberator_job_canceled'" (click)="jobActionConfirmation(data.id,'jobber_accepted_job_cancellation', i)"
                            class="accept" style="cursor: pointer;">
                            <a class="tooltip_icons smallfont"><i class="fas fa fa-play tasklistarea"></i><span class="tooltiptext">You can accept the job cancellation then you get paid 100% payment of what has been completed and approved and 50% of the last task completed.</span></a>
                            <span>ACCEPT JOB CANCELLATION</span>
                        </li>  
                        
                        <li *ngIf="data.status == 'jobberator_disputed'"
                        class="dispute">
                        <a><i
                                class="fas fa fa-thumbs-down tasklistarea"></i>
                        </a>
                        <span>JOBBERATOR DISPUTED</span>
                        </li>
                        <li *ngIf="data.status == 'jobberator_accepted'"
                            class="accept">
                            <a><i class="fas fa fa-check-circle tasklistarea"></i></a>
                            <span>DONE</span>
                        </li>                        

                        <li class="upload"><a data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;" (click)="currentTaskIdSet(data.id)"><i class="fas fa-file-upload tasklistarea"></i></a>
                        <span>UPLOAD</span>
                        </li>
                        <li class="finish"><a style="cursor:pointer;" (click)="chatOpen()" id="click-to-show"><i class="fas fa-comment tasklistarea"></i></a>
                        <span>&nbsp;CHAT&nbsp;</span>
                        </li>
                    </container-element>      
                        </ul>
                    </div>
                </div>
            </div>










                    </div>



                    <div class="clearfix"></div>

                </div>
            </div>

            <!-- new page end-->
        </div>
    </div>


    <div class="modal-box"> 
        <div class="modal fade" id="tasklistNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 500px;">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="title">Notifications</h3>

                        <div class="noti-div">
                                
                                <a href="#" class="dropdown-item py-3" *ngFor="let item of notificationsList; let i = index">
                                    <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                    <div class="media">
                                     
                                        <div class="avatar-md bg-soft-primary">
                                            <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description" class="thumb-sm rounded-circle">                                                
                                        </div>
                                        <div class="media-body align-self-center ms-2 text-truncate" (click)="jobtypeProfileNotificationView(item.id)">
                                            <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                            <small class="text-muted mb-0"> {{ item.comment }}</small>
                                        </div>
                                    </div>
                                </a>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-box"> 
        <div class="modal fade" id="taskDocuments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content docwidth" style="width: 500px;">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body alterheight">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="title">Documents</h3>

                        <div class="doc-div">

                            <!-- <ul>
                                <li *ngFor="let item of documentsList; let i = index">

                                    <div class="docfic-topic">
                                        <span class="comment-blk"><span class="blkname">{{ item.username }}</span> {{
                                            item.comment }} </span>
                                        <span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
                                    </div>
                                    <div style="cursor:pointer;" class="doc-pic doczoom" (click)="imagePopup(item.path)">
                                        View
                                    </div>                                    
                                </li>
                            </ul> -->
                            <div *ngIf="documentsList.length == 0"><h3>No documents found</h3></div>
                            <a href="#" class="dropdown-item py-3" *ngFor="let item of documentsList; let i = index">
                                <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                <div class="media">
                                 
                                    <!-- <div class="avatar-md bg-soft-primary">
                                        <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description" class="thumb-sm rounded-circle">                                                
                                    </div> -->
                                    <!-- <div style="cursor:pointer;" class="doc-pic doczoom" (click)="imagePopup(item.path)">
                                        View
                                    </div> -->
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"> {{ item.comment }}</small>
                                    </div>
                                    <div class="view-doc">
                                        <button  (click)="imagePopup(item.path)" type="button" class="btn btn-success cls">View</button>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="modal-box">
        <div class="modal fade" id="docPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content docwidth" style="width: 500px;">
                    <div class="modal-header">
                        <div class="topdiv-stky modal-top">
                            <h3>Document</h3>
                        </div>                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body alterheight">
                        <img style="height: 300px; width:450px;" src="{{ docImagePopup }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="padding-top: 64px;">
            
            <div class="modal-body">
              
              <div class="fileupload">
                 <form method="post" action="" enctype="multipart/form-data" novalidate="" class="box has-advanced-upload">
                  <div class="box__input">
                <img src="assets/images/draganddrop.png" alt="">
                  <!-- <input [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" type="file" name="input-file-preview" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple=""> -->
                  <input (click)="fileInput.value='';" [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" type="file" ng2FileSelect name="input-file-preview" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple="">                  
                  <div class="centrdiv">
                  <label for="file"><a style="cursor:pointer;"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span></a></label>
                  <button type="submit" class="box__button">Upload</button>
                  </div>
                  </div>
                  <div class="box__uploading">Uploading…</div>
                  <div class="box__success">Done! <a href="#" class="box__restart" role="button">Upload more?</a></div>
                  <div class="box__error">Error! <span></span>. <a href="#" class="box__restart" role="button">Try again!</a></div>
                  <input type="hidden" name="ajax" value="1">
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 
      
      <div class="chatbox chtbx" id="div-to-toggle" *ngIf="openChatStatus">
        <div class="top-bar">      
          <div class="name"><img src="assets/images/joblite_logo.png" alt=""></div>     
          <div class="menu">
           <a style="cursor:pointer" id="close-btn" (click)="chatClose()"><img src="assets/images/close.png" alt=""></a>
          </div>
        </div>
        <div class="middle scrollrightchat">
          <div class="voldemort">
            <div class="incoming">
              <div *ngFor="let data of chatlist; let i = index">  
                <div class="bubble" *ngIf="data.customers_id == custId">{{ data.chat }}</div>
                <div class="rightbubble" *ngIf="data.customers_id != custId">{{ data.chat }}</div>                
              </div>
              <!-- <div class="bubble">What are you getting.. Oh, oops sorry dude.</div>
              <div class="bubble">lala.</div>
              <div class="rightbubble">Hey, Father's Day is coming up..</div>
              <div class="rightbubble">What are you getting.. Oh, oops sorry dude.</div>
              <div class="rightbubble">lala.</div>                             -->
            </div>
                                     
            <!-- <div class="outgoing">
              <div class="bubble lower">Nah, it's cool.</div>
              <div class="bubble">Well you should get your Dad a cologne. Here smell it. Oh wait! ...</div>
              <div class="bubble">kaka.</div>              
            </div> -->
            <!-- <div class="typing">
              <div class="bubble">
                <div class="ellipsis one"></div>
                <div class="ellipsis two"></div>
                <div class="ellipsis three"></div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="bottom-bar">
          <div class="chat">
            <input type="text" placeholder="Type a message..." [(ngModel)]="chattext"  [ngModelOptions]="{standalone: true}" />
            <button type="submit" (click)="chating()"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>        
</section>