<app-headerlogin></app-headerlogin>
<section class="infobr">
    <div class="container">
        <p style="margin: 0 0 22px;"></p>
        TERMS AND CONDITIONS
        <p></p>        
        Description of Services:
        <p></p>
        <p></p>        
        
        The purpose of this site is to provide a simple and convenient service to consumers, for delivery and self-collection. The interactive menu allows customers to build and submit orders at the click of a button.
        In order to place an online order, the user must ‘Sign In’ with a unique “username” and “password”. The "username" shall be personal to the member and the same “username” is not given to two different members. The user can change the password at any time. It is solely the user’s responsibility to select and protect their “username and password”. JOBLITE is not liable for any problems, which may arise from the use of a password.
        Acceptance of Orders:
        <p></p>
        <p></p>
        
        Once you have selected your order from the menu, you will be given the opportunity to submit your order by clicking on the “Place Order” button. Please note it is important that you check the information you enter and correct any errors before clicking on the “Place Order” button. On receipt of your order, JOBLITE will begin processing your order and we will send an e-mail and SMS message on the final page that your order has been received.
        All orders submitted through our website are confirmed by e-mail and/or SMS message. No order should be deemed to be accepted without this confirmation. All orders are fulfilled subject to these terms and conditions.
        By agreeing to these Terms of Service, you represent that you are 18 years old in your state or province of residence, or that you 18 years old in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site
        You agree to promptly update your account and other information, including your email address 
        Payments:
        <p></p>
        <p></p>
        
        Currency: Prices quoted are in Rand and all payments are to be made in South African Rand.
                Visa or MasterCard debit and credit cards in Rand will be accepted for payment
                <p></p>
        Credit Cards
        <p></p>
        <p></p>
        
        Please read the following terms of use and disclaimers carefully before using Debit / Credit Cards.
        <p></p>
        <p></p>
        
        While every effort is made to ensure that accurate contact numbers and descriptions are maintained, we reserve the right to cancel any order that is based on inaccurate information and we will notify you immediately of any such cancellation.
        The customer is entirely liable for placing an order using the Debit / Credit Cards facility after carefully reading all the terms & conditions.
        Once the order is confirmed, the user may be able to cancel the order up to 4 hours before the departure time, by sending an email to admin@joblitedemo.co.in  with the reference number of the order or logging into their profile and visiting the dashboard.
        South Africa is our country of domicile. All disputes arising in connection therewith shall be heard only by a court of competent jurisdiction in South Africa..
        Cardholder must retain a copy of transaction records and Merchant policies and rules.
        <p></p>
        Product Delivery:
        <p></p>
        <p></p>
        Buyers are solely responsible for verifying the accuracy of their details such as flight number and departure date, and JOBLITE shall have no liability or responsibility for any erroneous information. Please be aware that JOBLITE will do everything they can to meet the delivery time specified, however delivery times may be affected by factors beyond their control and therefore cannot be guaranteed. We will inform you if we become aware of an unexpected delay.
        During any product delivery, if the client is not available or doesn’t present at the pick-up location indicated in the e-mail and SMS communication, the products ordered by the client shall not be delivered to anywhere else. Within the framework of such a case, the member must accept all legal responsibilities arising from ordering a product to an address where he/she does not exist.
        Any purchase, dispute or claim arising out of or in connection with this website shall be governed and construed in accordance with the laws of South Africa.
        Prices and Availability:
        <p></p>
        <p></p>
        JOBLITE reserves the right to update the prices at any time. While we will do our best to procure and deliver your order, certain products may be temporarily unavailable or out of stock. In such cases: if you did not receive your order or received an incorrect order, you will be issued a full refund; if part of your order is missing, we will issue a partial refund for the price of the undelivered quantity. In every event, we will do our best to ensure your satisfaction.
        Refund and Return Policy:
        <p></p>
        <p></p>
        JOBLITE takes customer satisfaction very seriously. In the case of problems with your order, please send us an email on admin@joblitedemo.co.in  and we will assist you. In appropriate cases, if you have already been billed by JOBLITE will issue full or partial refunds.
        If you are unsatisfied with any of our products, please contact JOBLITE Team and we will be happy to offer a replacement item if the time allows. In certain cases, a discount may be offered against your next purchase, which will be credited to you.
        Please contact admin@joblitedemo.co.in with any complaints or queries about the products delivered and we will arrange for one of the above or if required a refund.
        In every event, we will do our best to ensure your satisfaction. Refunds will be done only through the Original Mode of Payment.
        Confidentiality:
        <p></p>
        <p></p>
        We undertake to exercise all reasonable precautions to keep information supplied to us by customers strictly confidential. We never supply customer’s information to third parties.
        ’We will not trade with or provide any services to OFAC and sanctioned countries.
        ’User is responsible for maintaining the confidentiality of his account.        
        <p></p>
    </div>
</section>
<app-footer></app-footer>
