<app-headerlogin></app-headerlogin>
<section class="mainbanner" style="padding: 100px 4% 3% 4%;">
    <div class="clearfix"></div>
  </section>
  <section>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Task</li>
      </ol>
    </nav>
  </section>
  <div class="clearfix"></div>
  <section class="innercontent">
    <div class="contentarea">
      <div class="" style="padding: 0px; margin: 0px;">
        <div class="row" style="margin-left: 0px; margin-right: 0px;" > 
          
          <!-- new page start-->
          
          <div class="stepmain"  >
            <div class="col-lg-12 col-xs-12 col_m0">
           
              <div class="col-lg-12 col-xs-12 col_m0">
                  <h3>Job : JL0122 : One day house cleaning</h3>
                  
                  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
    aria-valuemin="0" aria-valuemax="100" style="width:50%">
      50% Complete
    </div>
  </div>
                  
              </div>
              
        
              <div class="clearfix"></div>
  
           
  <div class="col-lg-6 col-xs-12">
  <div class="card-container task card-adv" >
  <span class="number">01</span>
  <div class="taskbutton"><a href="#" class="not_start  high_light_bu bupad">Not Started</a></div>
  <div class="taskbox">
  <h3>You have clean all the rooms in first floor</h3>
  
  <p class="taskicons"></p>
   </div>
   <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons ">
  <ul>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-play tick_green"></i> Start
  </a></li>
  </ul>
  </div>	
  </div>
  </div>
  </div>
  
  </div>
  
  <div class="col-lg-6 col-xs-12">
  <div class="card-container task  card-adv" >
  <span class="number">02</span>
  <div class="taskbutton"><a href="#" class="inpro high_light_bu bupad">Not Started</a></div>
  <div class="taskbox">
  <h3>You have clean all the rooms in first floor</h3>
  
  
  <p class="taskicons">
  <a href="#" class="tsk1 notifications"><i class="fa fa-file-zip-o "  ></i>
  <span class="badge_bub">3</span>
      </a>
      <a href="#" class="tsk1 notifications"><i class="fa fa-comment "  ></i>
  <span class="badge_bub">3</span>
      </a>
  
  
  </p>
  
  
   </div>
   <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons ">
  <ul>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-stop closeicon_red"></i> Stop
  </a></li>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-check-circle tick_green"></i> Finish
  </a></li>
  </ul>
  </div>	
  </div>
  </div>
  </div>
  
  </div>
          
   <div class="col-lg-6 col-xs-12">
  <div class="card-container task card-adv" >
  <span class="number">03</span>
  <div class="taskbutton"><a href="#" class="approved high_light_bu bupad">Approved</a></div>
  <div class="taskbox">
  <h3>You have clean all the rooms in top floor</h3>
  
  
  <p class="taskicons">
  <a href="#" class="tsk1 notifications"><i class="fa fa-file-zip-o "  ></i>
  <span class="badge_bub">3</span>
      </a>
      <a href="#" class="tsk1 notifications"><i class="fa fa-comment "  ></i>
  <span class="badge_bub">3</span>
      </a>
  
  
  </p>
  
  
   </div>
   <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons ">
  
  </div>	
  </div>
  </div>
  </div>
  
  </div>
          
    <div class="col-lg-6 col-xs-12">
  <div class="card-container task card-adv" >
  <span class="number">04</span>
  <div class="taskbutton"><a href="#" class="reject_2 high_light_bu bupad">Rejected</a></div>
  <div class="taskbox">
  <h3>You have clean all the rooms in first floor</h3>
  
  
  <p class="taskicons">
  <a href="#" class="tsk1 notifications"><i class="fa fa-file-zip-o "  ></i>
  <span class="badge_bub">3</span>
      </a>
      <a href="#" class="tsk1 notifications"><i class="fa fa-comment "  ></i>
  <span class="badge_bub">3</span>
      </a>
  
  
  </p>
  
  
   </div>
   <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons ">
  <ul>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-thumbs-down closeicon_red"></i> Raise Dispute
  </a></li>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-repeat tick_green"></i> Restart
  </a></li>
  </ul>
  </div>	
  </div>
  </div>
  </div>
  
  </div>          
          
               <div class="col-lg-6 col-xs-12">
  <div class="card-container task card-adv" >
  <span class="number">05</span>
  <div class="taskbutton"><a href="#" class="inpro high_light_bu bupad">Scope Increase Requested</a></div>
  <div class="taskbox">
  <h3>You have clean all the rooms in top floor</h3>
  
  
  <p class="taskicons">
  <a href="#" class="tsk1 notifications"><i class="fa fa-file-zip-o "  ></i>
  <span class="badge_bub">3</span>
      </a>
      <a href="#" class="tsk1 notifications"><i class="fa fa-comment "  ></i>
  <span class="badge_bub">3</span>
      </a>
  
  
  </p>
  
  
   </div>
   <div class="card_skills card_skills_adv">
   <div class="">
   <div class=" listingicons ">
  <ul>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-thumbs-down closeicon_red"></i> Raise Dispute
  </a></li>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa-times-circle closeicon_red"></i> Close
  </a></li>
  <li class="tooltip_icons taskicons" ><a href="#" ><i class="fa fa fa-check-circle tick_green"></i> Approve
  </a></li>
  
  </ul>
  </div>	
  </div>
  </div>
  </div>
  
  </div>          
           
            </div>
            
   
          
          <div class="clearfix"></div>
      
           </div>
        </div>
        
        <!-- new page end--> 
      </div>
    </div>
  </section>