<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>
<!-- <section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Task</li>
        </ol>
    </nav>
</section> -->

<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
	<div class="brdcrmb">
	  <ul>
		<li>
		  <a href="#">Home</a>
		</li>
        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>
            <a style="cursor:pointer;" (click)="redirectTo('/myjobs')">My Jobs</a>
        </li>
		<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>My Task</li>
	  </ul>
	 </div>
	</div>
	</div>
  </div>
  </section>


<div class="clearfix"></div>
<section class="">
    <div class="contentarea container br-btm">

        <div class="" style="padding: 0px; margin: 0px;">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">

                <!-- new page start-->
                <div class="stepmain">
                    <div class="col-lg-12 col-xs-12 col_m0">

                        <div class="col-lg-12 col-xs-12 col_m0">
                            <h2>{{ jobId }}</h2>
                            <h3>Job : {{ allData?.data?.job_title  | titlecase }}</h3>
<!-- 
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="progressPercentageStyle"
                                    aria-valuemin="0" aria-valuemax="100" [style]="progressPercentageStyle">
                                    {{progressPercentage}}% Complete
                                </div>
                            </div> -->

                        </div>


                        <div class="clearfix"></div>










                        <!-- <div *ngFor="let data of tasklist1; let i = index" class="col-lg-6 col-xs-12">
                            <div class="card-container task card-adv">
                                <span class="number">{{i + 1}}</span>

                                <div [ngSwitch]="data.status" class="taskbutton">
                                    <a *ngSwitchCase="'not_started'" class="not_start  high_light_bu bupad">
                                        Initiated </a>
                                    <a *ngSwitchCase="'started'" class="not_start  high_light_bu bupad">
                                        Started </a>
                                    <a *ngSwitchCase="'completed'" class="not_start  high_light_bu bupad">
                                        Approval Pending </a>
                                    <a *ngSwitchCase="'jobberator_accepted'" class="not_start high_light_bu bupad">
                                        Jobberator Accepted</a>
                                    <a *ngSwitchCase="'jobberator_rejected'" class="not_start high_light_bu bupad">
                                        Jobberator Rejected</a>
                                    <a *ngSwitchCase="'jobber_accepted'" class="not_start high_light_bu bupad">
                                        Jobber Accepted</a>
                                    <a *ngSwitchCase="'jobber_rejected'" class="not_start high_light_bu bupad">
                                        Jobber Rejected</a>                                        
                                    <a *ngSwitchCase="'jobber_disputed'" class="not_start high_light_bu bupad">
                                        Jobber Disputed</a>
                                    <a *ngSwitchCase="'jobberator_disputed'" class="not_start high_light_bu bupad">
                                        Jobberator Disputed</a>
                                    <a *ngSwitchCase="'jobberator_canceled'" class="not_start high_light_bu bupad">
                                        Jobberator Canceled</a>  
                                    <a *ngSwitchCase="'jobber_accept_cancellation'" class="not_start high_light_bu bupad">
                                        Jobber accepted cancellation</a> 
                                    <a *ngSwitchCase="'jobber_cant_reach_agreement'" class="not_start high_light_bu bupad">
                                        Jobber can't reach agreement</a>  
                                    <a *ngSwitchCase="'jobberator_accepted_cant_reach'" class="not_start high_light_bu bupad">
                                        Jobberator accepted can't reach agreement</a>  
                                    <a *ngSwitchCase="'jobberator_job_canceled'" class="not_start high_light_bu bupad">
                                        Jobberator canceled the job</a> 
                                    <a *ngSwitchCase="'jobber_accepted_job_cancellation'" class="not_start high_light_bu bupad">
                                        Jobber accepted job cancellation</a>                                                                                 
                                </div>

                                <div class="taskbox">
                                    <h3>{{ data.task_name }} </h3>
                                    <h4 class="taskboxmessage" *ngIf="data.status == 'jobber_disputed'">Jobber Message : {{ data.message }}</h4>

                                    <p class="taskicons">

                                            <a style="cursor: pointer;" (click)="invokeNotification(data.id)">
                                                <i class="fa fa-history"></i>
                                                Task History
                                            </a>

                                            <a style="cursor: pointer;" (click)="documentHistory(data.id)">
                                                <i class="fa fa-file-zip-o"></i>
                                                Files
                                                <span class="badge_bub">{{ data.docslog_count }}</span>                                                  
                                            </a>                                         
                                        
                                        
                                        
                                        </p>
                                </div>
                                <div class="card_skills card_skills_adv">
                                    <div class="">
                                        <div class=" listingicons ">
                                            <ul>
                                                <container-element [ngSwitch]="data.status">                                                
                                                    <li *ngSwitchCase="'completed'" class="tooltip_icons taskicons" style="cursor: pointer;"
                                                    (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted',i)">
                                                        <a><i class="fa fa fa-check-circle tick_green"></i>
                                                            Accept
                                                        </a>
                                                    </li>
                                                    <li *ngSwitchCase="'completed'" class="tooltip_icons taskicons" style="cursor: pointer;"
                                                        (click)="jobberatorActionConfirmation(data.id,'jobberator_rejected', i)">
                                                        <a><i class="fa fa-times-circle closeicon_red"></i>
                                                            Reject
                                                        </a>
                                                    </li> 
                                                    <li *ngSwitchCase="'jobberator_accepted'" class="tooltip_icons taskicons">
                                                            <a><i class="fa fa fa-check-circle tick_green"></i> Done
                                                        </a>
                                                    </li>  
                                                    
                                                    <li *ngSwitchCase="'jobber_disputed'" class="tooltip_icons taskicons" style="cursor: pointer;"
                                                    (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted',i)">
                                                        <a><i class="fa fa fa-check-circle tick_green"></i>
                                                            Accept<span class="tooltiptext">You need to pay 100% for this task</span>
                                                        </a>
                                                    </li>
                                                    <li *ngSwitchCase="'jobber_disputed'" class="tooltip_icons taskicons" style="cursor: pointer;"
                                                        (click)="jobberatorCancelOptions(data.id, i)">
                                                        <a><i class="fa fa-times-circle closeicon_red"></i>
                                                            Reject<span class="tooltiptext">If you reject, either you can cancel the task or the entire job</span>
                                                        </a>
                                                    </li>

                                                    <li *ngSwitchCase="'jobber_cant_reach_agreement'" class="tooltip_icons taskicons" style="cursor: pointer;"
                                                    (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted_cant_reach',i)">
                                                        <a><i class="fa fa fa-check-circle tick_green"></i>
                                                            Accept can't reach agreement<span class="tooltiptext">If you accept can't reach agreement of jobber then jobber will get 100% of all the completed tasks amount and 50% of the last disputed task and you can advertise on the platform or find new jobber from applicants</span>
                                                        </a>
                                                    </li>   
                                                    
                                                    <li *ngSwitchCase="'jobber_cant_reach_agreement'" class="tooltip_icons taskicons" style="cursor: pointer;"
                                                    (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted',i)">
                                                        <a><i class="fa fa fa-check-circle tick_green"></i>
                                                            Reconsider<span class="tooltiptext">Withdraw rejection and pay 100% of task and then jobber can start new task.</span>
                                                        </a>
                                                    </li>

                                                    <li class="tooltip_icons taskicons" style="cursor: pointer;" (click)="currentTaskIdSet(data.id)">
                                                        <a  class="tsk1 notifications" data-toggle="modal" data-target="#exampleModalCenter">
                                                            <i class="fa fa-upload "></i>
                                                            Upload
                                                            <span class="tooltiptext">Upload files from here</span>
                                                                </a>
                                                    </li>
                                                    <li style="cursor:pointer;" (click)="chatOpen()">
                                                            <a class="tsk1 notifications" id="click-to-show">
                                                                <i class="fa fa-comment "></i>
                                                            </a>
                                                    </li>                                                     

                                            </container-element>                                                
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->




                <div class="col-md-6"  *ngFor="let data of taskList; let i = index">
                            <div class="card card-active">
                      <div class="card-header">
                        <div class="txt-head"><h4>{{ data.task_name }}</h4></div>



                   <div [ngSwitch]="data.status" class="invited-link">
                    <a *ngSwitchCase="'not_started'">
                        Initiated </a>
                    <a *ngSwitchCase="'started'">
                        Started </a>
                    <a *ngSwitchCase="'completed'" class="approval">
                        Approval Pending </a>
                    <a *ngSwitchCase="'jobberator_accepted'" class="cmplt">
                        Jobberator Accepted</a>
                    <a *ngSwitchCase="'jobberator_rejected'" class="rjct">
                        Jobberator Rejected</a>
                    <a *ngSwitchCase="'jobber_accepted'" class="cmplt">
                        Jobber Accepted</a>
                    <a *ngSwitchCase="'jobber_rejected'" class="rjct">
                        Jobber Rejected</a>                                        
                    <a *ngSwitchCase="'jobber_disputed'" class="rjct">
                        Jobber Disputed</a>
                    <a *ngSwitchCase="'jobberator_disputed'" class="rjct">
                        Jobberator Disputed</a>
                    <a *ngSwitchCase="'jobberator_canceled'" class="rjct">
                        Jobberator Canceled</a>  
                    <a *ngSwitchCase="'jobber_accept_cancellation'" class="cmplt">
                        Jobber accepted cancellation</a> 
                    <a *ngSwitchCase="'jobber_cant_reach_agreement'" class="approval">
                        Jobber can't reach agreement</a> 
                    <a *ngSwitchCase="'jobberator_accepted_cant_reach'" class="approval">
                        Jobberator accepted can't reach agreement</a>  
                    <a *ngSwitchCase="'jobberator_job_canceled'" class="rjct">
                        Jobberator canceled the job</a> 
                    <a *ngSwitchCase="'jobber_accepted_job_cancellation'" class="cmplt">
                        Jobber accepted job cancellation</a>                                                                                                                                                                                                                                                
                </div>




                      </div>
                     <div class="card-body">

                        <div class="task-discription">
                            <p>{{ data.task_desc }}</p>
                        </div>                        
                       
                      
                       <div class="task-hstory">
                         <ul>
                           <li><a style="cursor: pointer;" (click)="invokeNotification(data.id)"><i class="fas fa-history"></i></a>
                          <span>Task History</span>
                           </li>
                           
                           <li><a style="cursor: pointer;" (click)="documentHistory(data.id)"><i class="fal fa-copy"></i></a>
                            <!-- <span class="badge_bub">{{ data.docslog_count }}</span> -->
                            <span>Task files</span></li>
                            
                         </ul>
                       </div>
                       <div *ngIf="data.status == 'jobberator_rejected'">
                        <p class="colororange">Rejection Reason : {{ data.messagefirst }}</p>
                        <p  class="colororange">Rejection Comment : {{ data.messagesecond }}</p>
                       </div>
                       <div *ngIf="data.status == 'jobber_disputed'">
                        <p class="colororange">Dispute Reason : {{ data.messagefirst }}</p>
                       </div>
                      </div> 
                           <div class="card-footer">
                       <ul class="footer-links">






                        <container-element [ngSwitch]="data.status"> 
                            
                          
                            <li *ngSwitchCase="'completed'" style="cursor: pointer;"
                            (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted',i)"
                            class="start">
                                <a><i class="fas fa fa-check-circle tasklistarea"></i>
                                </a>
                                <span>ACCEPT</span>                                
                            </li>
                            <li *ngSwitchCase="'completed'" style="cursor: pointer;"
                                (click)="jobberatorActionConfirmation(data.id,'jobberator_rejected', i)"
                                class="start">
                                <a><i class="fas fa-times-circle tasklistarea"></i>
                                </a>
                                <span>REJECT</span>
                            </li> 
                            <li *ngSwitchCase="'jobberator_accepted'" class="start">
                                    <a><i class="fas fa fa-check-circle tasklistarea"></i>
                                    </a>
                                    <span>DONE</span>
                            </li>  
                            
                            <li *ngSwitchCase="'jobber_disputed'" style="cursor: pointer;"
                            (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted',i)"
                            class="start">
                                <a class="tooltip_icons smallfont"><i class="fas fa fa-check-circle tasklistarea"></i><span class="tooltiptext">You need to pay 100% for this task</span></a>
                                <span>ACCEPT</span>                                
                            </li>
                            <li *ngSwitchCase="'jobber_disputed'" style="cursor: pointer;"
                                (click)="jobberatorCancelOptions(data.id, i)"
                            class="start">
                                <a class="tooltip_icons smallfont"><i class="fas fa fa-times-circle tasklistarea"></i><span class="tooltiptext">If you reject, either you can cancel the task or the entire job</span></a>
                                <span>REJECT</span>                                
                            </li>

                            <li *ngSwitchCase="'jobber_cant_reach_agreement'" style="cursor: pointer;"
                            (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted_cant_reach',i)"
                            class="start">
                                <a class="tooltip_icons smallfont"><i class="fas fa fa-check-circle tasklistarea"></i><span class="tooltiptext">If you accept can't reach agreement of jobber then jobber will get 100% of all the completed tasks amount and 50% of the last disputed task and you can advertise on the platform or find new jobber from applicants</span></a>
                                <span>ACCEPT CAN'T REACH AGREEMENT</span>                                
                            </li>   
                            
                            <li *ngSwitchCase="'jobber_cant_reach_agreement'" style="cursor: pointer;"
                            (click)="jobberatorActionConfirmation(data.id,'jobberator_accepted',i)"
                            class="start">
                                <a class="tooltip_icons smallfont"><i class="fas fa fa-check-circle tasklistarea"></i><span class="tooltiptext">Withdraw rejection and pay 100% of task and then jobber can start new task.</span></a>
                                <span>RECONSIDER</span>                                 
                            </li>

                            <li class="upload"><a data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;" (click)="currentTaskIdSet(data.id)"><i class="fas fa-file-upload tasklistarea"></i></a>
                                <span>UPLOAD</span>
                            </li>                            

                            <li class="finish"><a style="cursor:pointer;" (click)="chatOpen()" id="click-to-show"><i class="fas fa-comment tasklistarea"></i></a>
                                <span>&nbsp;CHAT&nbsp;</span>
                            </li>                            

                    </container-element> 


                        </ul>
                    </div>
                </div>
            </div>






                    </div>



                    <div class="clearfix"></div>

                </div>
            </div>

            <!-- new page end-->
        </div>
    </div>

    <div class="modal-box"> 
        <div class="modal fade" id="tasklistNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 500px;">
                    <!-- <div class="modal-header">
                        <div class="topdiv-stky modal-top">
                            <h3>Notifications</h3>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="title">Notifications</h3>
                        <div class="noti-div">

                            <a href="#" class="dropdown-item py-3" *ngFor="let item of notificationsList; let i = index">
                                <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                <div class="media">
                                
                                    <div class="avatar-md bg-soft-primary">
                                        <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description" class="thumb-sm rounded-circle">                                                
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate" (click)="jobtypeProfileNotificationView(item.id)">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"> {{ item.comment }}</small>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-box">
        <div class="modal fade" id="taskDocuments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content docwidth" style="width: 500px;">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body alterheight">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="title">Documents</h3>

                        <div class="doc-div">

                            <div *ngIf="documentsList.length == 0"><h3>No documents found</h3></div>
                            <a href="#" class="dropdown-item py-3" *ngFor="let item of documentsList; let i = index">
                                <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                <div class="media">
                                 
                                    <!-- <div class="avatar-md bg-soft-primary">
                                        <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description" class="thumb-sm rounded-circle">                                                
                                    </div> -->
                                    <!-- <div style="cursor:pointer;" class="doc-pic doczoom" (click)="imagePopup(item.path)">
                                        View
                                    </div> -->
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"> {{ item.comment }}</small>
                                    </div>
                                    <div class="view-doc">
                                        <button  (click)="imagePopup(item.path)" type="button" class="btn btn-success cls">View</button>
                
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div> 
    </div> 
    

    <div class="modal-box">
        <div class="modal fade" id="docPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content docwidth" style="width: 500px;">
                    <div class="modal-header">
                        <div class="topdiv-stky modal-top">
                            <h3>Document</h3>
                        </div>                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body alterheight">
                        <img style="height: 300px; width:450px;" src="{{ docImagePopup }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>        


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="padding-top: 64px;">
            
            <div class="modal-body">
              
              <div class="fileupload">
                 <form method="post" action="" enctype="multipart/form-data" novalidate="" class="box has-advanced-upload">
                  <div class="box__input">
                <img src="assets/images/draganddrop.png" alt="">
                  <!-- <input [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" type="file" name="input-file-preview" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple=""> -->
                  <input [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" type="file" ng2FileSelect name="input-file-preview" id="file" class="box__file" data-multiple-caption="{count} files selected">                  
                  <div class="centrdiv">
                  <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                  <button type="submit" class="box__button">Upload</button>
                  </div>
                  </div>
                  <div class="box__uploading">Uploading…</div>
                  <div class="box__success">Done! <a href="#" class="box__restart" role="button">Upload more?</a></div>
                  <div class="box__error">Error! <span></span>. <a href="#" class="box__restart" role="button">Try again!</a></div>
                  <input type="hidden" name="ajax" value="1">
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 

      <div class="chatbox chtbx" id="div-to-toggle" *ngIf="openChatStatus">
        <div class="top-bar">      
          <div class="name"><img src="assets/images/joblite_logo.png" alt=""></div>     
          <div class="menu">
           <a style="cursor:pointer" id="close-btn" (click)="chatClose()"><img src="assets/images/close.png" alt=""></a>
          </div>
        </div>
        <div class="middle scrollrightchat">
          <div class="voldemort">
            <div class="incoming">
                <div *ngFor="let data of chatlist; let i = index">  
                  <div class="bubble" *ngIf="data.customers_id == custId">{{ data.chat }}</div>
                  <div class="rightbubble" *ngIf="data.customers_id != custId">{{ data.chat }}</div>                
                </div>
                <!-- <div class="bubble">What are you getting.. Oh, oops sorry dude.</div>
                <div class="bubble">lala.</div>
                <div class="rightbubble">Hey, Father's Day is coming up..</div>
                <div class="rightbubble">What are you getting.. Oh, oops sorry dude.</div>
                <div class="rightbubble">lala.</div>                             -->
            </div>              
            <!-- <div class="incoming">
              <div class="bubble">Hey, Father's Day is coming up..</div>
              <div class="bubble">What are you getting.. Oh, oops sorry dude.</div>
            </div>
            <div class="outgoing">
              <div class="bubble lower">Nah, it's cool.</div>
              <div class="bubble">Well you should get your Dad a cologne. Here smell it. Oh wait! ...</div>
            </div>
            <div class="typing">
              <div class="bubble">
                <div class="ellipsis one"></div>
                <div class="ellipsis two"></div>
                <div class="ellipsis three"></div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="bottom-bar">
          <div class="chat">
            <input type="text" placeholder="Type a message..." [(ngModel)]="chattext"  [ngModelOptions]="{standalone: true}" />
            <button type="submit" (click)="chating()"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>      

</section>