<app-headerlogin></app-headerlogin>
<section class="breadcrumb">
  <div class="container">
  <div class="row">
    <div class="col-md-12">

  <div class="brdcrmb">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
      <li>PERSONEL INFO</li>
    </ul>
   </div>
  </div>
  </div>
</div>
</section>
<section class="infobr">
  <div class="container">
    <div class="row">
       <div class="col-md-6">
        <div class="tabarea">
          <div class="tab-div-one">
            <a class="active">Profile Preview</a>
          </div>
           <div class="tab-div-two">
            <a style="cursor:pointer;" (click)="profileChange()">Update Profile</a>
          </div>        
        </div>
       </div>
        <div class="col-md-6">
         <div class="tabarea-right">
          <ul>
            <li *ngIf="userType == 'both' || userType == 'jobber'"><a (click)="changeUserRole('jobber');" style="cursor:pointer;" [ngClass]="{'active': viewType == 'jobber'}">Jobber</a></li>
            <li *ngIf="userType == 'both' || userType == 'jobberator'"><a (click)="changeUserRole('jobberator');" style="cursor:pointer;" [ngClass]="{'active': viewType == 'jobberator'}">Jobberator</a></li>
          </ul>
        </div>
       </div>

    </div>
  <div class="row">
    <div class="col-md-2">
      <div class="profile-div">
        <div class="profile-div-photo">
          <img src="{{image}}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="Job Lite"/>
        </div>
        <div class="profile-rate">
           <div class="rating">
          <ul>
            <!-- <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
             <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
              <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
               <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li> -->
                <li *ngFor="let item of createRange(roundedavg); let index = index">
                  <i class="fa fa-star star-active" aria-hidden="true" ></i>
                  <!-- {{index + 1 }} done -->
                </li>	
                <li *ngFor="let item of createRange(5 - roundedavg); let index = index">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
          </ul>
        </div>
        </div>
        <div class="profile-language">
          <h4>Languages</h4>
        </div>
        <div class="profile-language" *ngFor="let data of langdata">
          <div class="lng-div">
            {{ data?.langs[0]?.name }}
          </div>
          <div class="lng-point">
            <span *ngFor="let item of createRange(data?.prefs[0]?.weight); let index = index"></span>
            <span  *ngFor="let item of createRange(10 - data?.prefs[0]?.weight); let index = index" class="nofill"></span>           
            <div class="txt">{{ data?.prefs[0]?.name }}</div>
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-3">
      <div class="info-div">
         <h4>PERSONAL INFO</h4>
         <div class="info-area">
           <span class="info-frst">Age</span>
           <span *ngIf="age > 0" class="info-value">{{ age }}</span>
         </div>
         <div class="info-div" *ngIf="age == 0">
          <div class="info-area">
            <span class="info-frst">Not available</span>
          </div>
        </div>
         <div class="clearfix"></div>
          <div class="info-area">
           <span class="info-frst">Gender</span>
           <span class="info-value">{{ gender | titlecase }}</span>
         </div>
         <div class="info-div" *ngIf="gender !== 'male' && gender !== 'female'">
          <div class="info-area">
            <span class="info-frst">Not available</span>
          </div>
        </div>
      </div>
      <div class="info-div" *ngIf="viewType=='jobber'">
         <h4>EDUCATION HISTORY</h4>
      </div>

      <div *ngIf="viewType=='jobber'">
        <div class="info-div" *ngIf="edudata.length == 0">
          <div class="info-area">
            <span class="info-frst">Not available</span>
          </div>
        </div>
        <div class="info-div" *ngFor="let data of edudata">
          <div class="info-area">
            <span class="info-frst">Institution</span>
            <span class="info-value">{{ data?.insti[0]?.name }}</span>
          </div>   
          <div class="info-area">
            <span class="info-frst">Qualification Level</span>
            <span class="info-value">{{ data?.quali[0]?.name }}</span>
          </div> 
          <div class="info-area">
            <span class="info-frst">Qualification</span>
            <span class="info-value">{{ data?.qualification }}</span>
          </div>   
          <div class="info-area">
            <span class="info-frst">Year of Completion</span>
            <span class="info-value">{{ data?.year_of_comp }}</span>
          </div>
          <hr class="rounded">      
        </div>
      </div>

    </div>
     <div class="col-md-7">
      <div class="verified">
         <h4>VERIFIED DETAILS</h4>
         <div class="verified-list">
           <ul>
            <li>
                <img src="assets/images/id-badge_green.svg" *ngIf="personelProfile?.idcard_verify == 'yes'" alt="car-side"/>
                <img src="assets/images/id-badge_gray.svg" *ngIf="personelProfile?.idcard_verify == 'no'" alt="car-side"/>                
                <span class="txt-veri-div">ID NUMBER</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.idcard_verify == 'yes'">(Verified)</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.idcard_verify == 'no'">(Not Verified)</span> 
            </li>
            <!-- <li>
                 <img src="assets/images/car-side_green.svg" *ngIf="personelProfile?.license_verify == 'yes'" alt="car-side"/>
                 <img src="assets/images/car-side_gray.svg" *ngIf="personelProfile?.license_verify == 'no'" alt="car-side"/>                 
                 <span class="txt-veri-div">DRIVER LICENCE</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.license_verify == 'yes'">(Verified)</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.license_verify == 'no'">(Not Verified)</span>                
            </li> -->
            <!-- <li>
              <img src="assets/images/mobile_green.svg" *ngIf="personelProfile?.phone_verify == 'yes'" alt="car-side"/>
              <img src="assets/images/mobile_gray.svg" *ngIf="personelProfile?.phone_verify == 'no'" alt="car-side"/>               
              <span class="txt-veri-div">MOBILE NUMBER</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.phone_verify == 'yes'">(Verified)</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.phone_verify == 'no'">(Not Verified)</span>  
            </li>             -->

             <li>
                <img src="assets/images/facebook_gray.svg" *ngIf="personelProfile?.facebook_verify == 'no' && personelProfile?.user_type !== 'facebook'" alt="car-side"/>
                <img src="assets/images/facebook_green.svg" *ngIf="personelProfile?.facebook_verify == 'yes' || personelProfile?.user_type == 'facebook'" alt="car-side"/>               
                <span class="txt-veri-div">FACEBOOK</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.facebook_verify == 'yes'|| personelProfile?.user_type == 'facebook'">(Verified)</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.facebook_verify == 'no' && personelProfile?.user_type !== 'facebook'">(Not Verified)</span>
             </li>
             <li>
                <img src="assets/images/linkedin_gray.svg" *ngIf="personelProfile?.linkedin_verify == 'no' && personelProfile?.user_type !== 'linkedin'" alt="car-side"/>
                <img src="assets/images/linkedin_green.svg" *ngIf="personelProfile?.linkedin_verify == 'yes' || personelProfile?.user_type == 'linkedin'" alt="car-side"/>
                <span class="txt-veri-div">LINKEDIN</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.linkedin_verify == 'yes' || personelProfile?.user_type == 'linkedin'">(Verified)</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.linkedin_verify == 'no' && personelProfile?.user_type !== 'linkedin'">(Not Verified)</span>
             </li>
             <!-- <li>
              <img src="assets/images/google_gray.svg" *ngIf="personelProfile?.google_verify == 'no' && personelProfile?.user_type !== 'google'" alt="car-side"/>
              <img src="assets/images/google_green.svg" *ngIf="personelProfile?.google_verify == 'yes' || personelProfile?.user_type == 'google'" alt="car-side"/>
              <span class="txt-veri-div">GOOGLE</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.google_verify == 'yes' || personelProfile?.user_type == 'google'">(Verified)</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.google_verify == 'no' && personelProfile?.user_type !== 'google'">(Not Verified)</span>
            </li> -->
           
         </ul>
         </div>
      </div>
    </div>
    <div class="col-md-7" *ngIf="viewType=='jobber'">
      <div class="jobinvest">
        <h4>JOB INTERESTS</h4>
        <div class="info-div" *ngIf="namearray.length == 0">
          <div class="info-area">
            <span class="info-frst">Not available</span>
          </div>
        </div>
        <div class="joblisttype">
          <!-- {{ jobinterest | json }} -->
          <ul>
            <li *ngFor="let data of namearray; let i = index">{{ data | titlecase }}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
<section class="descrip-div" *ngIf="viewType=='jobber'">
  <div class="container">
     <div class="row">
    <div class="col-md-12 nobr">
  <h4>SKILLS & EXPERIENCE</h4>
    </div>
  </div>
  <div class="row">
    <div class="info-div" *ngIf="jobcategory.length == 0">
      <div class="info-area">
        <span class="info-frst skillalign">Not available</span>
      </div>
    </div>
    <div class="col-md-2" *ngFor="let data of jobcategory">
       <div class="card">
    <div class="card-header">
      <a href="#"  data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{{ data?.job_cats?.image_path}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>
      <h5>{{ data?.job_cats?.name}}</h5>
    </a>
    </div>
   <div class="card-body">
      <div class="profile-language"  *ngFor="let datajt of data.job_types">         
          <div class="lng-div">
            {{ datajt[0]?.lang[0]?.name}}
          </div>

          <div class="lng-point" *ngIf="datajt?.proficiency == 10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>                        
            <span></span>          
            <div class="txt">Advanced</div>
          </div>          
          <div class="lng-point" *ngIf="datajt?.proficiency == 9">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>                        
            <span class="nofill"></span>           
            <div class="txt">Advanced</div>
          </div>

          <div class="lng-point" *ngIf="datajt?.proficiency == 8">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Advanced</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 7">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 

          <div class="lng-point" *ngIf="datajt?.proficiency == 5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 3">
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 2">
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 1">
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>          
          
          
          
          
        </div>
    </div>     
  </div>
    </div>


  </div>
</div>
</section>
<section class="ratediv">
  <div class="container">
     <div class="row">
    <div class="col-md-12 nobr">
  <h4>RATING & REVIEWS</h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-4">
       <div class="rateblk">
         <div class="avgrt">AVERAGE RATING</div>
         <div class="value">
          {{ avgrating }}
         </div>
         <div class="outof">OUT OF 5 STARS</div>
         <div class="fivestat">
           <ul>
            <!-- <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
             <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
              <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
               <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li> -->
                <li *ngFor="let item of createRange(roundedavg); let index = index">
                  <i class="fa fa-star star-active" aria-hidden="true" ></i>
                  <!-- {{index + 1 }} done -->
                </li>	
                <li *ngFor="let item of createRange(5 - roundedavg); let index = index">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li> 
          </ul>
         </div>
       </div>
      </div>
      <div class="col-md-8">
       <div class="userrate">
        <div class="info-div" *ngIf="avgrating == 0">
          <div class="info-area">
            <span class="info-frst skillalign">Not available</span>
          </div>
        </div>
         <ul>
           <li *ngFor="let data of ratingdata">
             <div class="icon_user profileviv">
              <img src="{{ data?.customer?.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="description"/>
             </div>
             <div class="jobcatlist">
               {{ data?.comment }} <span class="datetxt"> {{ data.created_at | date: "MMMM d, y" }}</span>
               <div class="ratejobs">
                 <ul>
`                   <li *ngFor="let item of createRange(data?.rating); let index = index">
                    <i class="fa fa-star star-active" aria-hidden="true" ></i>
                  </li>	
                  <li *ngFor="let item of createRange(5 - data?.rating); let index = index">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
             </div>
            </li>
         </ul>
       </div>
      </div>
    </div>
  </div>
</section>