<header class="header" id="myHeader">




    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="#"><img src="assets/images/joblite_logo.png" width="141" height="52" alt="Job Lite"/></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
        <li ><a href="#" (click)="redirectTo('/jobcategory-listing')">Find a Job</a></li>
          <!-- <li><a (click)="redirectTo('/jobpost')">Post a Job</a></li> -->
          <li><a href="#">How it Works</a></li>
          <!-- <li class="jobtitle"><a href="#">Join Joblite</a></li> -->
          </ul>
       
          <ul class="nav navbar-nav navbar-right">
              <li class="faico"><a href="#"><i class=""></i></a></li>
              <li class="faico"><a href="#"><i class=""></i></a></li>
              <li class="faico"><a href="#"><i class="fa fa-envelope-o"></i></a></li>
              <div class="clearfix visible-sm visible-xs"></div>
              <!-- <li class="signup"><a href="#" data-toggle="modal" data-target="#login_main">Sign Up</a></li> -->
              <li class="signup"><a style="cursor:pointer" data-toggle="modal" id="mymodalsignupmain" data-target="#login_main">Sign Up</a></li>
              <li class="signup displaynone"><a style="cursor:pointer" id="mymodalsignup" data-toggle="modal" data-target="#myModal_loginnew"></a></li>               
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    </header>
    <section class="mainbanner">
    
        <div class="clearfix"></div>
    </section>

    <div class="modal fade" id="login_main" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
           <button type="button" class="close" id="mainclose" data-dismiss="modal" aria-label="Close">
             <img src="assets/images/close.svg" alt="Chicago">
            </button>
            <div class="login-leftarea-div">
             <img src="assets/images/login-left.png" alt="Chicago">
            </div>
            <div class="login-right-area">
              <div class="username-div toppaddinglogin" *ngIf="dynamicLoginMessage != ''">
                <span class="message-block">{{ dynamicLoginMessage }}</span>
              </div>
              <div class="buttonwrap">
                <div class="login">
                  <a (click)="gotoLogin()" style="cursor: pointer;" class="jointxt">LOGIN</a>
                </div>
                <div class="join">
                  <a (click)="gotoSignup()" style="cursor: pointer;" class="jointxt">JOIN NOW</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>   

        <!-- Modal -->
<div class="modal fade" id="myModal_loginnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">          
        <button type="button" #myDiv class="close" data-dismiss="modal" aria-label="Close"> 
          <img src="assets/images/close.svg" alt="Chicago">
        </button>
        <div class="login-leftarea-div" *ngIf="loginStep">
          <img style="height: 76% !important;" src="assets/images/login-bg.png" alt="Chicago">
        </div> 
        <div class="login-leftarea-div" *ngIf="signupStep1">
          <img style="height: 63% !important;" src="assets/images/join-bg.png" alt="Chicago">
        </div>    
        <div class="login-leftarea-div" *ngIf="signupStep2">
          <img style="height: 70% !important;" src="assets/images/register-bg.png" alt="Chicago">
        </div>  
        <div class="login-leftarea-div" *ngIf="verificationStep">
          <img src="assets/images/register-bg.png" alt="Chicago">
        </div> 
        <div class="login-leftarea-div" *ngIf="forgotStep1">
          <img src="assets/images/login-bg.png" alt="Chicago">
        </div> 
        <div class="login-leftarea-div" *ngIf="forgotStep2">
          <img src="assets/images/login-bg.png" alt="Chicago">
        </div>
        
        <div class="login-right-area" *ngIf="forgotStep1">
          <div class="join">
            <h2>FORGOT PASSWORD</h2>
          </div>  
          <form [formGroup]="forgotform" (ngSubmit)="forgotPasswordStep2()">             
            <div class="text-action" [ngClass]="{'has-warning': errorMessage !== ''}">
                <input type="email" name="email" class="form-control text-style" id="email" placeholder="Enter email" formControlName="email" placeholder="Email">  
                <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <div class="next-div" style="margin-top: -25px">
              <button class="btn bu-signup" type="submit" [disabled]="!forgotform.valid">Submit</button>                
            </div>
            <p class="signup-link">Already have an account? <a style="cursor:pointer;position: relative;" (click)="gotoLoginNew()" class="jointxt">Login</a></p>          
          </form>                    
        </div>

        <div class="login-right-area" *ngIf="forgotStep2">
          <div class="join">
            <h2>CHANGE PASSWORD</h2>
          </div>  
          <div class="username-div toppadding">
            <span class="message-block">An email with OTP sent to {{ email }}</span>
          </div>
          <form [formGroup]="forgotpassform" (ngSubmit)="change_password()">             
            <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
              <div class="username-div">
                <input type="password" name="otp" class="form-control login-style" id="otp" placeholder="Enter OTP" data-rule="minlen:4" data-msg="" formControlName="otp">                
              </div>
              <div class="username-div">
                <input type="password" name="pass" class="form-control login-style" id="newpass" placeholder="Enter New Password" data-msg="" formControlName="password">                
              </div>
              <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <div class="next-div">
              <button class="btn bu-signup" type="submit" [disabled]="!forgotpassform.valid">Submit</button>                
            </div>               
          </form>                    
        </div>
        
        
        <div class="login-right-area" *ngIf="verificationStep">
          <div class="join">
            <a href="#">VERIFICATION</a>
          </div>  
          <div class="username-div toppadding">
            <span class="message-block">An email with OTP sent to {{ email }}</span>
          </div>
          <form [formGroup]="otpform" (ngSubmit)="otp_verify()">             
            <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
              <div class="username-div">
                <img src="assets/images/user.svg" alt="Chicago">
                <input type="password" name="name" class="form-control login-style" id="otp" placeholder="Enter OTP" data-rule="minlen:4" data-msg="" formControlName="otp">                
              </div>
              <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <div class="next-div">
              <button class="btn bu-signup" type="submit" [disabled]="!otpform.valid">VERIFY</button>                
            </div>               
          </form>                    
        </div>
        
        <div class="login-right-area" *ngIf="loginStep">
          <div class="join">
            <h2>LOGIN</h2>
          </div>  
          <form [formGroup]="loginform" (ngSubmit)="login_step()">             
            <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
              <div class="username-div">
                <img src="assets/images/user.svg" alt="Chicago">
                <input type="text" name="name" class="form-control login-style" id="name" placeholder="User Name" data-rule="minlen:4" data-msg="" formControlName="name">                
              </div>
              <div class="password-div">
                <img src="assets/images/lock.svg" alt="Chicago">
                <input type="password" name="password" class="form-control login-style" id="password" placeholder="Password" data-rule="minlen:4" data-msg="" formControlName="password">                
              </div>
              <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <p class="forgot-link"><a style="cursor:pointer;" (click)="forgotPasswordStep1()" class="jointxt">Forgot Password</a></p> 
            <div class="next-div">
              <button class="btn bu-signup" type="submit" [disabled]="!loginform.valid">Login</button>                
            </div>
            <div class="or-div">
              Or              
            </div>
            <div class="btn1-ln" (click)="linkedinlogin()">
              <button type="button" class="ln">
                <img src="assets/images/linkedin_gray.svg" alt="Chicago">
              Continue with Linkedin
            </button>
            </div>  
            <div class="btn1-fb" (click)="signInWithFB()">
              <button type="button" class="fb">
                <img src="assets/images/fb.svg" alt="Chicago">
              Continue with Facebook
            </button>
            </div>
            <div class="btn1-google" (click)="signInWithGoogle()">
              <button type="button" class="google">
                <img src="assets/images/googleplus.svg" alt="Chicago">
              Continue with Google
            </button>
            </div>   
            <p class="signup-link">Do not have an account? <a style="cursor:pointer;" (click)="gotoSignupNew()" class="jointxt">Register</a></p>          
          </form>                    
        </div>


        <div class="login-right-area" *ngIf="signupStep1">
          <div class="join">
            <h2>JOIN NOW</h2>
          </div>
          <form  [formGroup]="form" (ngSubmit)="signup_step1()">
            <div class="text-action">
              <input type="email" name="email" class="form-control text-style" id="email" placeholder="Create user name or enter email" formControlName="email" placeholder="Email">              
              <a style="cursor:pointer;" (click)="signup_step1()" data-toggle="modal" class="jointxt" *ngIf="form.valid"> <img src="assets/images/check.svg" alt="Chicago"></a>              
              <a style="cursor:pointer;" data-toggle="modal" class="jointxt" [disabled]="!form.valid" *ngIf="!form.valid">
                 <!-- <img src="assets/images/check.svg" alt="Chicago"> -->
              </a>               
              <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
                <span class="help-block-new">{{ errorMessage }}</span>
              </div>  
             
              <div class="btn-email">
                <button type="button" class="email-btn" (click)="signup_step1()" *ngIf="form.valid">
                  <img src="assets/images/email.svg" alt="Chicago">
                Continue with Email
                </button>
                <button type="button" class="email-btn" (click)="notvalid()" *ngIf="!form.valid">
                  <img src="assets/images/email.svg" alt="Chicago">
                Continue with Email
                </button>                
              </div>
              <div class="or-div">
                Or              
              </div> 
              <div class="btn1-ln" (click)="linkedinlogin()">
                <button type="button" class="ln">
                  <img src="assets/images/linkedin_gray.svg" alt="Chicago">
                Continue with Linkedin
              </button>
              </div> 
              <div class="btn-fb" (click)="signInWithFB()">
                <button type="button" class="fb">
                  <img src="assets/images/fb.svg" alt="Chicago">
                Continue with Facebook
              </button>
              </div>
              <div class="btn-google" (click)="signInWithGoogle()">
                <button type="button" class="google">
                  <img src="assets/images/googleplus.svg" alt="Chicago">
                Continue with Google
              </button>
              </div>
              <p class="signup-link">Already have an account? <a style="cursor:pointer;position: relative;" (click)="gotoLoginNew()" class="jointxt">Login</a></p> 
            </div>
          </form>
        </div>
        

          <div class="login-right-area register" *ngIf="signupStep2 && userData == ''">
            <form  [formGroup]="signup2form" (ngSubmit)="signup_step2()">            
            <div class="row">
              <div class="col-md-12 div-left emailtop">
                <span class="message-block">Email: {{ email }}</span>
              </div>
              <div class="col-md-6 div-left">
                <div class="username-div first-right">
                  <input type="text" id="first_name" name="first_name" class="form-control login-style" formControlName="first_name" placeholder="First Name">                  
                </div>
              </div>
              <div class="col-md-6 div-right">
                <div class="username-div first-left">
                  <input type="text" id="last_name" name="last_name" class="form-control login-style" formControlName="last_name" placeholder="Last Name	">                  
                </div>
              </div>
              <div class="col-md-12">
                <input type="text" formControlName="username" id="username" name="username" placeholder="Enter Your User Name" required="required"  class="form-control login-style">                
              </div>
              <div class="col-md-12">
                <input type="password" formControlName="password" id="password" name="password" placeholder="Enter Your Password" required="required"  class="form-control login-style">                
              </div>
              <div class="col-md-12">
                <div class="signuptxt">
                  Who You Are?
                </div>
                <div class="who-list">
                  <ul>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobberator" checked>                      
                      <label for="vehicle1">Jobberator</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobber">                      
                      <label for="vehicle1">Jobber</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="both">                      
                      <label for="vehicle1">Or Both</label>
                    </li>
                  </ul>
                  <input type="checkbox" class="form-check-input signup_checkform" id="exampleCheck1" formControlName="signup_checkform">
                  <label class="form-check-label" for="exampleCheck1">I agree with terms of use and privacy</label>                 
                  <div [ngClass]="{'has-warning': errorMessage !== ''}">
                    <span class="help-block">{{ errorMessage }}</span>
                  </div>                    
                  <div class="form-group text_c">
                    <button class="btn bu-signup-last" type="submit" [disabled]="!signup2form.valid">Create my account</button>
                  </div>                  
                </div>
              </div>
            </div> 
          </form>
          </div> 
          
          
          <div class="login-right-area register" *ngIf="signupStep2 && userData != ''">
            <form  [formGroup]="signup2form" (ngSubmit)="signup_step3()">            
            <div class="row">
              <div class="col-md-12">
                <div class="whotxt">
                  Who You Are?
                </div>
                <div class="who-list">
                  <ul>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobberator" checked>                      
                      <label for="vehicle1">Jobberator</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobber">                      
                      <label for="vehicle1">Jobber</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="both">                      
                      <label for="vehicle1">Or Both</label>
                    </li>
                  </ul>
                  <input type="checkbox" class="form-check-input signup_checkform" id="exampleCheck1" formControlName="signup_checkform">
                  <label class="form-check-label" for="exampleCheck1">I agree with terms of use and privacy</label>                 
                  <div [ngClass]="{'has-warning': errorMessage !== ''}">
                    <span class="help-block">{{ errorMessage }}</span>
                  </div>                    
                  <div class="form-group text_c">
                    <button class="btn bu-signup-last" type="submit" [disabled]="!signup3form.valid">Create my account</button>
                  </div>                  
                </div>
              </div>
            </div> 
          </form>
          </div>  
          
          

      </div>
    </div>
  </div>
</div>