<app-headerlogin></app-headerlogin>
<section class="breadcrumb">
  <div class="container">
  <div class="row">
    <div class="col-md-12">

  <div class="brdcrmb">
    <ul>
      <li>
        <a href="#" style="cursor:pointer;">Home</a>
      </li>
      <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
      <li><a style="cursor:pointer;" (click)="redirectTo('/myjobs')">My Jobs</a></li>      
      <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>      
      <li>JOBBER PROFILE</li>
    </ul>
   </div>
  </div>
  </div>
</div>
</section>
<section class="infobr">
  <div class="container">

  <div class="row">
    <div class="col-md-2">
      <div class="profile-div">
        <div class="profile-div-photo">
          <img src={{image}} onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="Job Lite"/>
        </div>
        <div class="profile-rate">
           <div class="rating">
          <ul>
            <!-- <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
             <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
              <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
               <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li> -->
                <li *ngFor="let item of createRange(roundedavg); let index = index">
                  <i class="fa fa-star star-active" aria-hidden="true" ></i>
                  <!-- {{index + 1 }} done -->
                </li>	
                <li *ngFor="let item of createRange(5 - roundedavg); let index = index">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
          </ul>
        </div>
        </div>

        <div *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof' ||  advtPlanDetails.lang_prof == 'lang_only'">
          <div class="profile-language">
            <h4>Languages</h4>
          </div>
          <div class="profile-language" *ngFor="let data of langdata">
            <div class="lng-div">
              {{ data?.langs[0]?.name }}
            </div>
            <div class="lng-point" *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof'">
              <span *ngFor="let item of createRange(data?.prefs[0]?.weight); let index = index"></span>
              <span  *ngFor="let item of createRange(10 - data?.prefs[0]?.weight); let index = index" class="nofill"></span>           
              <div class="txt">{{ data?.prefs[0]?.name }}</div>
            </div>
          </div>
        </div>       

         <!-- <div class="profile-language" *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof' ||  advtPlanDetails.lang_prof == 'lang_only'">
          <div class="lng-div">
            XHOSA
          </div>
          <div class="lng-point" *ngIf="advtPlanDetails.lang_prof == 'lang_only'">
          </div>            
          <div class="lng-point" *ngIf="advtPlanDetails.lang_prof == 'lang_and_prof'">
            <span></span>
            <span></span>
            <span></span>
            <span></span>  
            <span></span>
            <span></span>
            <span></span>
            <span></span> 
            <span></span>
            <span></span>   
            <div class="txt">Expert</div>
          </div>
        </div> -->


      </div>
    </div>
     <div class="col-md-3">
      <div class="info-div">
         <h4>PERSONAL INFO</h4>
         <div class="info-area">
           <span class="info-frst">Age</span>
           <span *ngIf="advtPlanDetails.age == 'yes'" class="info-value">{{ age }}</span>
           <span (click)="upgrade()" class="info-value upgradelink" *ngIf="advtPlanDetails.age !== 'yes'">Upgrade to see</span>             
         </div>
          <div class="info-area">
           <span class="info-frst">Gender</span>
           <span class="info-value" *ngIf="advtPlanDetails.gender == 'yes'">{{ gender | titlecase }}</span>
           <span (click)="upgrade()" class="info-value upgradelink" *ngIf="advtPlanDetails.gender !== 'yes'">Upgrade to see</span>           
         </div>
      </div>
      <div class="info-div" *ngIf="viewType=='jobber'">
        <h4>EDUCATION HISTORY</h4>
     </div>

     <div *ngIf="viewType=='jobber' && advtPlanDetails.education == 'all_education_history'">
       <div class="info-div" *ngFor="let data of edudata">
         <div class="info-area">
           <span class="info-frst">Institution</span>
           <span class="info-value">{{ data?.insti[0]?.name }}</span>
         </div>   
         <div class="info-area">
           <span class="info-frst">Qualification Level</span>
           <span class="info-value">{{ data?.quali[0]?.name }}</span>
         </div> 
         <div class="info-area">
           <span class="info-frst">Qualification</span>
           <span class="info-value">{{ data?.qualification }}</span>
         </div>   
         <div class="info-area">
           <span class="info-frst">Year of Completion</span>
           <span class="info-value">{{ data?.year_of_comp }}</span>
         </div>
         <hr class="rounded">      
       </div>
     </div>
     <div *ngIf="viewType=='jobber' && advtPlanDetails.education == 'highest_lvl_education'">
      <div class="info-div" *ngIf="edudata.length > 0">
        <div class="info-area">
          <span class="info-frst">Institution</span>
          <span class="info-value">{{ edudata[0]?.insti[0]?.name }}</span>
        </div>   
        <div class="info-area">
          <span class="info-frst">Qualification Level</span>
          <span class="info-value">{{ edudata[0]?.quali[0]?.name }}</span>
        </div> 
        <div class="info-area">
          <span class="info-frst">Qualification</span>
          <span class="info-value">{{ edudata[0]?.qualification }}</span>
        </div>   
        <div class="info-area">
          <span class="info-frst">Year of Completion</span>
          <span class="info-value">{{ edudata[0]?.year_of_comp }}</span>
        </div>
        <hr class="rounded">      
      </div>
    </div>
    </div>
     <div class="col-md-7">
      <div class="verified" *ngIf="advtPlanDetails.tokens == 'yes'">
         <h4>VERIFIED DETAILS</h4>
         <div class="verified-list">
           <ul>
            <li>
              <img src="assets/images/id-badge_green.svg" *ngIf="personelProfile?.idcard_verify == 'yes'" alt="car-side"/>
              <img src="assets/images/id-badge_gray.svg" *ngIf="personelProfile?.idcard_verify == 'no'" alt="car-side"/>                
              <span class="txt-veri-div">ID NUMBER</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.idcard_verify == 'yes'">(Verified)</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.idcard_verify == 'no'">(Not Verified)</span> 
            </li>
            <!-- <li>
              <img src="assets/images/car-side_green.svg" *ngIf="personelProfile?.license_verify == 'yes'" alt="car-side"/>
              <img src="assets/images/car-side_gray.svg" *ngIf="personelProfile?.license_verify == 'no'" alt="car-side"/>                 
              <span class="txt-veri-div">DRIVER LICENCE</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.license_verify == 'yes'">(Verified)</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.license_verify == 'no'">(Not Verified)</span>   
            </li>
            <li>
              <img src="assets/images/mobile_green.svg" *ngIf="personelProfile?.phone_verify == 'yes'" alt="car-side"/>
              <img src="assets/images/mobile_gray.svg" *ngIf="personelProfile?.phone_verify == 'no'" alt="car-side"/>               
              <span class="txt-veri-div">MOBILE NUMBER</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.phone_verify == 'yes'">(Verified)</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.phone_verify == 'no'">(Not Verified)</span>  
            </li>             -->
             <!-- <li><img src="assets/images/mobile.svg" alt="car-side"/>
                <span class="txt-veri-div">MOBILE NUMBER</span>
                <span class="txt-veri-status">(Verified)</span>
             </li>
            <li><img src="assets/images/envelope.svg" alt="car-side"/>
              <span class="txt-veri-div">EMAIL</span>
                <span class="txt-veri-status">(Verified)</span>
            </li>
            <li><img src="assets/images/piggy-bank.svg" alt="car-side"/>
            <span class="txt-veri-div">BANK ACCOUNT</span>
                <span class="txt-veri-status">(Verified)</span>
              </li>
             <li><img src="assets/images/facebook.svg" alt="car-side"/>
              <span class="txt-veri-div">FACEBOOK</span>
                <span class="txt-veri-status">(Verified)</span>
             </li> -->
              <li>
                <img src="assets/images/facebook_gray.svg" *ngIf="personelProfile?.facebook_verify == 'no'" alt="car-side"/>
                <img src="assets/images/facebook_green.svg" *ngIf="personelProfile?.facebook_verify == 'yes'" alt="car-side"/>               
                <span class="txt-veri-div">FACEBOOK</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.facebook_verify == 'yes'">(Verified)</span>
                <span class="txt-veri-status" *ngIf="personelProfile?.facebook_verify == 'no'">(Not Verified)</span>
              </li>             
             <li>
              <img src="assets/images/linkedin_gray.svg" *ngIf="personelProfile?.linkedin_verify == 'no'" alt="car-side"/>
              <img src="assets/images/linkedin_green.svg" *ngIf="personelProfile?.linkedin_verify == 'yes'" alt="car-side"/>
              <span class="txt-veri-div">LINKEDIN</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.linkedin_verify == 'yes'">(Verified)</span>
              <span class="txt-veri-status" *ngIf="personelProfile?.linkedin_verify == 'no'">(Not Verified)</span>
             </li>
           
         </ul>
         </div>
      </div>
    </div>
    <div class="col-md-7" *ngIf="viewType=='jobber'">
      <div class="jobinvest">
        <h4>JOB INTERESTS</h4>
        <div class="joblisttype">
          <!-- {{ jobinterest | json }} -->
          <ul>
            <li *ngFor="let data of namearray; let i = index">{{ data | titlecase }}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
</section>


<section class="descrip-div" *ngIf="viewType=='jobber' && advtPlanDetails.skills == 'all_skills'">
  <div class="container">
     <div class="row">
    <div class="col-md-12 nobr">
  <h4>SKILLS & EXPERIENCE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" *ngFor="let data of jobcategory">
       <div class="card">
    <div class="card-header">
      <a href="#"  data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{{ data?.job_cats?.image_path}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"  alt="description"/>
      <h5>{{ data?.job_cats?.name}}</h5>
    </a>
    </div>
   <div class="card-body">
      <div class="profile-language"  *ngFor="let datajt of data.job_types">         
          <div class="lng-div">
            {{ datajt[0]?.lang[0]?.name}}
          </div>

          <div class="lng-point" *ngIf="datajt?.proficiency == 10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>                        
            <span></span>          
            <div class="txt">Advanced</div>
          </div>          
          <div class="lng-point" *ngIf="datajt?.proficiency == 9">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>                        
            <span class="nofill"></span>           
            <div class="txt">Advanced</div>
          </div>

          <div class="lng-point" *ngIf="datajt?.proficiency == 8">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Advanced</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 7">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 

          <div class="lng-point" *ngIf="datajt?.proficiency == 5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 3">
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 2">
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 1">
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>          
          
          
          
          
        </div>
    </div>     
  </div>
    </div>


  </div>
</div>
</section>


<section class="descrip-div" *ngIf="viewType=='jobber' && advtPlanDetails.skills == 'top_3_skills'">
  <div class="container">
     <div class="row">
    <div class="col-md-12 nobr">
  <h4>SKILLS & EXPERIENCE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" *ngFor="let data of jobcategory | slice:0:3">
       <div class="card">
    <div class="card-header">
      <a href="#"  data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{{ data?.job_cats?.image_path}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"  alt="description"/>
      <h5>{{ data?.job_cats?.name}}</h5>
    </a>
    </div>
   <div class="card-body">
      <div class="profile-language"  *ngFor="let datajt of data.job_types">         
          <div class="lng-div">
            {{ datajt[0]?.lang[0]?.name}}
          </div>

          <div class="lng-point" *ngIf="datajt?.proficiency == 10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>                        
            <span></span>          
            <div class="txt">Advanced</div>
          </div>          
          <div class="lng-point" *ngIf="datajt?.proficiency == 9">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>                        
            <span class="nofill"></span>           
            <div class="txt">Advanced</div>
          </div>

          <div class="lng-point" *ngIf="datajt?.proficiency == 8">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Advanced</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 7">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 

          <div class="lng-point" *ngIf="datajt?.proficiency == 5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Intermediate</div>
          </div> 
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 3">
            <span></span>
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 2">
            <span></span>
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>
          
          <div class="lng-point" *ngIf="datajt?.proficiency == 1">
            <span></span>
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span> 
            <span class="nofill"></span>                       
            <span class="nofill"></span>           
            <div class="txt">Basic</div>
          </div>          
          
          
          
          
        </div>
    </div>     
  </div>
    </div>


  </div>
</div>
</section>





<section class="ratediv">
  <div class="container">
     <div class="row">
    <div class="col-md-12 nobr">
  <h4>RATING & REVIEWS</h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-4">
       <div class="rateblk">
         <div class="avgrt">AVERAGE RATING</div>
         <div class="value">
           {{ avgrating }}
         </div>
         <div class="outof">OUT OF 5 STARS</div>
         <div class="fivestat">
           <ul>
            <!-- <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
             <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
              <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
               <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li> -->
                <li *ngFor="let item of createRange(roundedavg); let index = index">
                  <i class="fa fa-star star-active" aria-hidden="true" ></i>
                  <!-- {{index + 1 }} done -->
                </li>	
                <li *ngFor="let item of createRange(5 - roundedavg); let index = index">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>                 
          </ul>
         </div>
       </div>
      </div>
      <div class="col-md-8">
       <div class="userrate" *ngIf="advtPlanDetails.reviews == 'full_desc'">
         <ul>
           <li *ngFor="let rating of ratingdata | keyvalue">
             <div class="profileviv icon_user">
              <img src="{{rating.value.customer.profile_img}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>
             </div>
             <div class="jobcatlist">
              {{ rating.value.comment }} 
              <p><span class="datetxt"> {{ rating.value.updated_at | date: "MMMM d, y h:mm a" }}</span></p>
               <div class="ratejobs">
                 <ul>
            <!-- <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
             <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
              <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
               <li><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li> -->
                <li *ngFor="let item of createRange(rating.value.rating); let index = index">
                  <i class="fa fa-star star-active" aria-hidden="true" ></i>
                  <!-- {{index + 1 }} done -->
                </li>	
                <li *ngFor="let item of createRange(5 - rating.value.rating); let index = index">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>                
                </ul>
              </div>
             </div>
              
           </li>


         </ul>
       </div>
      </div>
    </div>
  </div>
</section>