.lt-card-height{
  height: 66% !important
}

.lt-pointer{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.scroll-div {
  /* height: 600px; */
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  /*box-shadow: 0 4px 28px rgba(123,151,158,.25);*/
  border: 6px solid transparent;
  background-clip: content-box;
  padding: 1rem;
  overflow: scroll;
  overflow-x: hidden;
}
