<app-headerlogin *ngIf="loggedIn" (confirmationModal)="categoryConfirmationListener($event)" ></app-headerlogin>
<app-headerlogout *ngIf="!loggedIn"></app-headerlogout>

<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
	<div class="brdcrmb">
	  <ul>
		<li>
		  <a href="#">Home</a>
		</li>
		<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>JOBLITE JOBS</li>
	  </ul>
	 </div>
	</div>
	</div>
  </div>
  </section>
<div class="clearfix"></div>
<section class="">
  <div class="contentarea container br-btm">
    <div class="" style="padding: 0px; margin: 0px;">
      <div class="row" style="margin-left: 0px; margin-right: 0px;" > 
        
        <!-- new page start-->
        
     <div class="jobcatagories_main">
	<h1> Joblite <span>Jobs</span></h1>	  
    <p>You can find different kind of jobs here.</p>
    <form class="example"  action="action_page.php">
      <div >
      <input style="border: 1px solid #848484; outline: none;font-size: 16px; width: 24%;" type="text" id="search" placeholder="Search by job title"  [value]="searchName" name="search">
      <button style="width: 9%;" (click)="searchJob()"> Search</button>
    </div>
    </form>
 
   <div id="sticky-anchor"></div>
<div id="sticky">
    <div class="col-lg-7 col-xs-12 dd_buttons nopad">
    	<div class="dropdown category">
  <button class="btn btn-secondary dropdown-toggle bu_cat cat_active" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category <i class="fa fa-chevron-down"></i>
  </button>
  <div class="dropdown-menu categorymenu" aria-labelledby="dropdownMenuButton">
   <!-- <h4><input type="checkbox"> Logo Style</h4> -->
	<div class="category_items">
    <div style="padding-bottom: 3px;" ><input id="selectAllCategory"
       [(ngModel)]="isChecked"   class="catcheckbox" style="margin-left: 15px;"  
       type="checkbox" (change)="checkUncheckAll($event)" >
    <span style="padding-left: 5px; font-weight: bold; color:black"> Select All</span></div>
    <!-- (change)="selectAllCategory(this)" -->
	<ul>

	<li class="col-lg-6 col-xs-12" *ngFor="let index of jobCatagory;  index as i">
    <input id="categoryId{{index.details[0].id}}" class="catcheckbox" type="checkbox" 
     [(ngModel)]="index.isSelected" [checked]="index.details[0].id == jobCategoryName"
      (change)="addCatgeoryArray($event,index.id)"> {{ index.details[0].name}} 
      <span>({{ index.jobpost_count }})</span>
    </li>
	</ul>
  <!-- (change)="addCatgeoryArray($event,index.id)" -->
	<div class="clearfix"></div>
	</div>
	 <div class="cat_btns">
	  <a  style="cursor: pointer;" (click)="clearCatFilter()" class="bu_clear">Clear All</a>
    <a style="cursor: pointer;" (click)="doGetJobListbyCatFilterApply()" class="bu_apply lt-pointer">Apply</a>
	  </div>
  </div>
 
</div>
  
<div class="dropdown category">
  <button class="btn btn-secondary dropdown-toggle bu_cat" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Job Types  <i class="fa fa-chevron-down"></i>
  </button>
  <div class="dropdown-menu categorymenu" aria-labelledby="dropdownMenuButton">
	<div class="category_items">
    <div *ngFor="let index of jobTypesByCat | keyvalue">
      <h4>
        <!-- <input type="checkbox"> -->
         {{ index.key }}
      </h4>  
      <ul>
      <li class="col-lg-6 col-xs-12" *ngFor="let idx of index.value | keyvalue; idx as i"><input class="jobcheckbox" type="checkbox" [checked]="jobCatagoryTypeArray.indexOf(idx.value.id) > -1" (change)="addCatgeoryJobTypeArray($event,idx.value.id,idx.value.lang[0].name)"> {{ idx.value.lang[0].name }}
        <!-- <span>(5992)</span> -->
      </li>
      <!-- <li class="col-lg-12 col-xs-12"><a href="#">+6 More</a></li> -->
      </ul>
      <div class="clearfix"></div>
      <hr>
    </div>
	</div>
	 <div class="cat_btns">
	  <a   style="cursor: pointer;" (click)="clearJobFilter()" class="bu_clear">Clear All</a>
	   <a style="cursor: pointer;" (click)="doGetJobListbyJobtypeFilters()" class="bu_apply">Apply</a>
	  </div>
  </div>
</div>
  

  
  
  </div>	
  
  <div class="col-lg-5 col-xs-12 swithbuttons">
  <ul>
  	<li>
  <label class="switch">
    <input type="checkbox" Checked (change)="workTypeFilterApply('inperson')">
    <span class="switch_slider round"></span>
 </label>
 	   <span class="worktypetxt">In Person</span>
  	</li>
  	  	<li>
  <label class="switch">
    <input type="checkbox" Checked (change)="workTypeFilterApply('online')">
    <span class="switch_slider round"></span>
  </label>
    <span class="worktypetxt">Remote</span>
  	</li>
  </ul>


  </div>
   
    </div>
    
    <div class="clearfix"></div>
    <div >
    
    
       <div class="automobile_bu">
       	<ul>
          <!-- <li *ngIf="isChecked">All Categories<a href="#">See more...</a></li>
       		<li  *ngFor="let index of jobTypesByCat | keyvalue">{{ index.key }}<a href="#">See more...</a></li> -->
       	
           <li *ngIf="isChecked; else elseBlock">All Categories</li>
           <ng-template #elseBlock>
            <li  *ngFor="let index of jobTypesByCat | keyvalue">{{ index.key }}</li>
           </ng-template>
        
        
        </ul>
       </div>
    
    <div *ngIf="jobCatagoryTypeArray.length != allJobTypes.length" class="col-lg-12 col-xs-12 cta_closebtns">
    	<button  *ngFor="let index of jobNameArray | keyvalue" class="btn">{{index.value}} <i class="fa fa-close" style="cursor: pointer;" (click)="singleClearJobFilter(index.key)"></i> </button>
    </div>
    <div *ngIf="jobCatagoryTypeArray.length == allJobTypes.length" class="col-lg-12 col-xs-12 cta_closebtns">
    	<button class="btn">All Job Types </button>
    </div>    
    <!-- {{ allJobTypes | json }}
    {{ jobCatagoryTypeArray | json }} -->


    <div class="col-lg-6 col-xs-12 cat_servicehead">
    <!-- <h4 *ngIf="jobCatagoryList.length !== 0">{{ jobCatagoryList.length }} / {{ totalCount }} services available</h4> -->
    <h4 *ngIf="jobCatagoryList.length > 1">{{ jobCatagoryList.length }} jobs available</h4>
    <h4 *ngIf="jobCatagoryList.length == 1">{{ jobCatagoryList.length }} job available</h4>
    <h4 *ngIf="jobCatagoryList.length == 0">No jobs Available</h4>
		</div>
      
          <div class="col-lg-6 col-xs-12 cat_servicehead cat_sort">
           <div class="cat_sort_head"> <h4>Sort by</h4> 
           
                      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {{ bestJobsText }} <i class="fa fa-chevron-down"></i>
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('')">Recent jobs</a>
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('price')">Offer - high to low</a>
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('pricelow')">Offer - low to high</a>
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('rating')">Rating - high to low</a>
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('ratinglow')">Rating - low to high</a>
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('near')">Jobs near me</a>
    <!-- <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('lowtohigh')">Rating low to high</a>
    <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('hightolow')">Rating high to low</a> -->
  </div>
   
  

</div>
             
              
               
                 </div>

		</div>
       
        <div class="clearfix"></div>

   	





  
 		

<!-- <div class="col-lg-3 col-xs-12"  *ngFor="let index of jobCatagoryList;  index as i">

<div class="catgeory_card lt-card-height">
<div id="myCarousel{{i}}" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel{{i}}" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel{{i}}" data-slide-to="1"></li>
    <li data-target="#myCarousel{{i}}" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/images/slider_03.png" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="assets/images/slider_04.png" alt="Chicago">
    </div>

    <div class="item">
      <img src="assets/images/slider_05.png" alt="Chicago">
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel{{i}}" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel{{i}}" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="clearfix"></div>
 <div class="content listing listing_cat">
  <a class="lt-pointer" (click)="doGotoJobDetailsPage(index.id)"><h3>{{ index?.job_title }}</h3></a>
<div class="discount">
	
	<h2>Matching</h2>
	<span>86%</span>
</div>

 <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span></p>
<div class="clearfix"></div>
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1"><i class="fa fa-map-marker map"></i> 15 Km Away</div>
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1" *ngIf="index?.work_type === 'inperson'"><i class="fa fa-user person"></i>In Person</div>          
<div class="col-md-6 col-sm-12 col-xs-12 pad-0 listing_txt1" *ngIf="index?.work_type === 'online'"><i class="fa fa-user person"></i>Remote</div>     
<div class="ratecustom">R {{ index?.project_budget }}</div>
<div class="actions">
  <div class="jobdetialsicons listingicons">
       <ul>
         <li  (click)="categoryListConfirmation(index.id,i,'close')" class="tooltip_icons " ><a style="cursor:pointer;"><i class="fa fa-times-circle closeicon_red"></i>
         <span class="tooltiptext">Close</span>
         </a></li>
          <li  (click)="categoryListConfirmation(index.id,i,'accept',index?.job_intimation[0]?.status)" class="tooltip_icons "><a style="cursor:pointer;"><i class="fa fa-check-circle tick_green"></i>          
         <span class="tooltiptext ">Accepted</span>
         </a></li>
         <li (click)="categoryListConfirmation(index.id,i,'like')" class="tooltip_icons "><a style="cursor:pointer;"><i class="fa fa-heart heart_purple" [ngClass]="{'heart_purple_liked': index?.job_intimation[0]?.is_jobbers_favourite == 'favourite'}"></i>
         <span class="tooltiptext ">Liked</span>
         </a></li>
       
       
       
       </ul>
     </div>	
 
 </div>
 </div>
</div>
 </div> -->






 <!-- <div class="row scroll-div" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="gonext(searchPage + 1)" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false"> -->
  <div class="row">

  <div class="col-md-3" *ngFor="let index of jobCatagoryList;  index as i">
    <div class="card cardheight">
      <div (click)="doGotoJobDetailsPage(index,i)" class="card-header" data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false">
        <a style="cursor:pointer;">
            <!-- <img src="assets/images/chefhat.jpg" alt="description"/>                   -->
            <img src="{{ index?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"/>  
            <!-- <img *ngIf="index?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  -->
          <h5>{{ index?.job_title | titlecase}}</h5>
        </a>
      </div>
      <div class="card-body">
        <div class="textlong">
          <h2>{{ index?.job_id }}</h2>
         </div>
        <div class="text-head">
          {{ index?.job_desc | slice:0:30 | titlecase}}
        </div>
        <div class="countdiv">
          <span> R{{index?.project_budget}}</span>
        </div>
        <!-- <div class="textlong text_c text_c_color">
          *Service charge R {{ settingsbody.service_charge }} + Transaction charge {{ settingsbody.transaction_perc }}%  will be excluded
         </div> -->
        <div class="percent">
          {{ index?.matchingperc}}% Job Match
        </div>
        <!-- <div class="texttoplong text_c_color">Job starts on : {{ index?.start_date | toIso | date: "MMMM d, y" }}</div>
        <div class="textbottomlong text_c_color">Job ends on : {{ index?.end_date | toIso | date: "MMMM d, y" }}</div> -->

        <div class="profilrate">
          <div class="icon_user">
            <img src="{{ server_url }}{{ index?.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>
          </div>
          <div class="rating">
            <ul>
              <li *ngFor="let item of createRange(index?.roundrating); let index = index"><i class="fa fa-star star-active" aria-hidden="true"></i></li>
              <li *ngFor="let item of createRange(5 - index?.roundrating); let index = index"><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
          <div class="locdiv" *ngIf="!loggedIn">
          </div>
          <div class="locdiv paddingtopten" *ngIf="loggedIn">
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{index?.distance}}Km Away
          </div>
         
          <div class="inperson" *ngIf="index?.work_type === 'inperson'">
            <i class="fa fa-user" aria-hidden="true"></i> In Person
          </div>
          <div class="inperson" *ngIf="index?.work_type === 'online'">
            <i class="fa fa-user" aria-hidden="true"></i> Remote
          </div>                  
        </div>
    </div> 
    <div class="card-footer">
      <ul>
        <li *ngIf="index?.job_intimation[0]?.status != 'initiated'">
          <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'close','','Home')"> 
            <div class="ftrimg"><img src="assets/images/close-red.svg" alt="description"/> </div>
          Not For Me
          
          </a>
        </li>
        <li *ngIf="index?.job_intimation[0]?.status == 'initiated'">
          <a>
          <div class="ftrimg">
            <!-- <img src="assets/images/heart.svg" alt="description"/> -->
            <i class="fa fa-check ticker_green ticker_green_liked heartsize"></i>
          </div>
          Applied
          </a>
        </li>
        <li *ngIf="index?.job_intimation[0]?.status != 'initiated'">
          <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'accept',index?.job_intimation[0]?.status,'Home')">  <div class="ftrimg"><img src="assets/images/check.svg" alt="description"/></div>
          Lets Do It
          </a>
        </li>
      
        <li *ngIf="index?.job_intimation[0]?.is_jobbers_favourite != 'favourite' && loggedIn" class="tooltip_icons ">
          <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'like','','Home')">  <div class="ftrimg">
            <!-- <img src="assets/images/heart_grey.svg" alt="description"/> -->
            <i class="fa fa-heart heart_purple heartsize"></i>
          </div>
          Unfavourite
          </a>
        </li>
        <li *ngIf="!loggedIn" class="tooltip_icons ">
          <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'like','','Home')">  <div class="ftrimg">
            <!-- <img src="assets/images/heart.svg" alt="description"/> -->
            <i class="fa fa-heart heart_purple heartsize"></i>
          </div>
          Unfavourite
          </a>
        </li>
        <li *ngIf="index?.job_intimation[0]?.is_jobbers_favourite == 'favourite' && loggedIn" class="tooltip_icons ">
          <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'like','','Home')">  <div class="ftrimg">
            <!-- <img src="assets/images/heart.svg" alt="description"/> -->
            <i class="fa fa-heart heart_purple heart_purple_liked heartsize"></i>
          </div>
          Favourite
          </a>
        </li>                
      </ul>
    </div>
  </div>
</div>

</div>






 








 
		
						
    </div>
      <div class="clearfix"></div>
      <hr>
      <nav aria-label="Page navigation example" *ngIf="jobCatagoryList.length < totalCount">

        <!-- <ul class="pagination">
          <li class="page-item" style="cursor:pointer" (click)="gonext(searchPage + 1)">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
      </ul> -->

        <!-- <ul class="pagination">
          <li class="page-item" *ngIf="previous != 0" style="cursor:pointer" (click)="goprev(currentPrevious)">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let number of totalResults"><a class="page-link" style="cursor:pointer" (click)="pagination(number)">{{ number }}</a></li>
          <li class="page-item" *ngIf="next != 0" style="cursor:pointer" (click)="gonext(currentNext)">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
      </ul> -->
</nav>
     <div class="clearfix"></div>
     </div>
      </div>
      
      <!-- new page end--> 
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body userpp">
       <button #myDivPopUp type="button" class="close" data-dismiss="modal" aria-label="Close">
         <img src="assets/images/close.svg" alt="Chicago">
        </button>
        <div class="login-leftarea-div usertxt">
         <div class="card-header">
      <!-- <img src="assets/images/chefhat.jpg" alt="Chef Hat"/> -->
      <img src="{{ popUpJobDetails?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"/>
      <!-- <img *ngIf="popUpJobDetails?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"/> -->
      
      <h5>{{ popUpJobDetails?.job_title | titlecase}}</h5>
    </div>
        </div>
        <div class="login-right-area poptxt">
               <div class="toptxtbox">
                  <div class="textlong">
                  <h2>{{ popUpJobDetails?.job_id }}</h2>
                 </div>
                 <div class="textlong">
                  <h3>{{ popUpJobDetails?.job_title | titlecase}}</h3>
                 </div>
                 <!-- <div class="textlong text_c text_c_color">
                  * R {{ settingsbody.service_charge }} + Transaction charge {{ settingsbody.transaction_perc }}%  will be excluded
                 </div> -->
                 <div class="toptxtdiv">
                  {{ popUpJobDetails?.matchingperc}}% JOB MATCH
                 </div> 
                 <div class="texttoplong text_c_color">Job starts on : {{ popUpJobDetails?.start_date | toIso | date: "MMMM d, y" }}</div>
                 <div class="textbottomlong text_c_color">Job ends on : {{ popUpJobDetails?.end_date | toIso | date: "MMMM d, y" }}</div>               
               </div>
                <div class="right-blk-count">
                     <div class="countdiv">
       <span> R{{popUpJobDetails?.project_budget}}</span>
       <div class="textlong text_c text_c_color" style="float: right;font-size: 13px;">
        *Service charge Inclusive
       </div> 

      </div>
                 </div>
                 <div class="pop-texttopmain">
                   <p>{{ popUpJobDetails?.job_desc }}</p>
                 </div>
          <div class="ratingandprofile">
             <div class="profilrate">
        <div class="profilepic">
           <img src="assets/images/profile-pic.png" alt="description"/>
        </div>
        <div class="rating">
          <ul>
            <li *ngFor="let item of createRange(popUpJobDetails?.roundrating); let index = index"><i class="fa fa-star star-active" aria-hidden="true"></i></li>
            <li *ngFor="let item of createRange(5 - popUpJobDetails?.roundrating); let index = index"><i class="fa fa-star" aria-hidden="true"></i></li>
          </ul>
        </div>
        <div class="locdiv" *ngIf="!loggedIn">
        </div>
        <div class="locdiv" *ngIf="loggedIn">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{popUpJobDetails?.distance}}Km Away
        </div>
        <div class="inperson" *ngIf="popUpJobDetails?.work_type === 'inperson'">
          <i class="fa fa-user" aria-hidden="true"></i> In Person
        </div>
        <div class="inperson" *ngIf="popUpJobDetails?.work_type === 'online'">
          <i class="fa fa-user" aria-hidden="true"></i> Remote
        </div>
      </div>
          </div>
         <div class="popbtm-links">
            <div class="card-footer">
      <ul>
        <li>
          <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'close','','Home')"> 
            <div class="ftrimg"><img src="assets/images/close-red.svg" alt="description"/> </div>
        
          </a>
        </li>
        <li>
          <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'accept',popUpJobDetails?.job_intimation[0]?.status,'Home')">  <div class="ftrimg"><img src="assets/images/check.svg" alt="description"/></div>
            </a>
        </li>
        <!-- <li class="fltright">
          <a href="#">  <div class="ftrimg"><img src="assets/images/heart.svg" alt="description"/></div>
       
         </a>
        </li> -->
        <li *ngIf="popUpJobDetails?.job_intimation[0]?.is_jobbers_favourite != 'favourite' && loggedIn" class="fltright tooltip_icons ">
          <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'like','','Home')">  <div class="ftrimg">
            <!-- <img src="assets/images/heart_grey.svg" alt="description"/> -->
            <i class="fa fa-heart heart_purple heartsize"></i>
          </div>
          </a>
        </li>
        <li *ngIf="!loggedIn" class="fltright tooltip_icons ">
          <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'like','','Home')">  <div class="ftrimg">
            <!-- <img src="assets/images/heart.svg" alt="description"/> -->
            <i class="fa fa-heart heart_purple heartsize"></i>
          </div>
           </a>
        </li>
        <li *ngIf="popUpJobDetails?.job_intimation[0]?.is_jobbers_favourite == 'favourite' && loggedIn" class="fltright tooltip_icons ">
          <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'like','','Home')">  <div class="ftrimg">
            <!-- <img src="assets/images/heart.svg" alt="description"/> -->
            <i class="fa fa-heart heart_purple heart_purple_liked heartsize"></i>
          </div>
          </a>
        </li> 
      </ul>
    </div>
         </div>
        </div>
      </div>
      
    </div>
  </div>
</div>



<div class="modal-box">    
  <div class="modal fade" id="confirmationProfileJobberatorHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">You need to become jobber too</h3>
            <p class="description" id="confirmationProfileJobberatorHomeText">You need to become jobber too to apply for job</p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            </div>
        </div>          
      </div>
    </div>
  </div>
  </div>
 
<div class="modal-box">    
  <div class="modal fade" id="confirmationProfileHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Confirm to proceed</h3>
            <p class="description" id="confirmationProfileHomeText">You need to complete your profile to apply</p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            <button (click)="homeProfileConfirmationClick()" type="button"  class="btn success">OK</button>              
            </div>
        </div>          
      </div>
    </div>
  </div>
  </div>

<div class="modal-box">    
  <div class="modal fade" id="confirmationHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Confirm to proceed</h3>
            <p class="description" id="confirmationHomeText"></p>

            <div class="btnmulti">
            <!-- <button type="button" class="btn primary">Primary</button>
            <button type="button" class="btn success">Success</button>
            <button type="button" class="btn info">Info</button>
            <button type="button" class="btn warning">Warning</button> -->
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            <button (click)="homeConfirmationClick()" type="button"  class="btn success">OK</button>              
            </div>
        </div>          
      </div>
    </div>
  </div>
  </div>
