@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
header {width:100%; margin: 0px auto;background: #ef0091; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ef0091 0%, #f78a13 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ef0091 0%,#f78a13 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ef0091 0%,#f78a13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0091', endColorstr='#f78a13',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	transform: translateZ(0);
	   transition:all 0.5s;
	z-index: 99999 !important;
    }
	.navbar {position: relative; padding-top: 0px!important; margin-bottom: 0;-webkit-box-shadow: 0 7px 9px -2px #38383840;
		-moz-box-shadow: 0 7px 9px -2px #38383840;
		box-shadow: 0 7px 9px -2px #38383840;    padding-bottom: 25px; }
	.navbar-brand {padding-top: 20px;}
	.nav a {color:#fff!important; font-size: 15px; font-weight: 400;  }
	.navbar-nav {padding-left: 0px; margin-top: 30px;}
	a.navbar-brand img {
		max-width: 75%;
	}

.navbar-nav > li > a {
    padding: 8px 15px!important;
}

.signup {
	border-radius: 5px;
	border:solid 1px #fff;
}
#menuToggle
{
  display: inline-block;
  position: relative;
  top: -55px;
  left: 0px;
	margin-left: 190px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #4ec6e3;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;

}
#menuToggle span:second-child
{
  transform-origin: 0% 0%;
	width: 28px!important;

}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -63px 0 0 -235px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.navbar-toggle {
	border: 0px!important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;

    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#fff!important;
	
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

	border-radius: 0px!important;
	color: #000;
}
.jobtitle {background:#02ada4; border-radius: 4px; }

.mainbanner{

	background: #ef0091; /* Old browsers */
	background: -moz-linear-gradient(180deg, #ef0091 0%, #f78a13 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(180deg, #ef0091 0%,#f78a13 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg, #ef0091 0%,#f78a13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0091', endColorstr='#f78a13',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
		height: auto;	
}
.bann-text-blk {
	width: 90%;
	display: inline-block;
}
.bann-text-blk img {
	max-width: 100%;
}	
footer {
	background: #992472;
	padding:4% 4% 1% 4%;
	height: auto;
	overflow: hidden
}
footer h4 {
	color: #fff; font-size: 15px;
	font-weight: 600;
}
.footer_sec1 a {
	display: block;
	color: #a3dfe0;
	font-weight: 600;
	font-size: 18px;
}
.footer_sec2 a {
	display: block;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	padding: 2px 0px;
}
.social a {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding: 2px 15px 0px 0px;
}
.terms {
	display: block;
	color: #ffe2e8!important;
	font-weight: 600;
	font-size: 18px;
}
.copy {
	font-size: 12px;
	color: #fff;
}.top_arrow {text-align: right;}
.dropdown-menu a {color: #000!important;}
@media only screen and (min-width: 250px) and (max-width:780.98px){
	.jobtitle {display: inline-block!important;}
	.signup {display: inline-block!important;}
	.faico {float: left;}
	.navbar-nav {
		padding:0px 10px;
	}
	header {background: #ef0091; ; width: 100%;
		z-index: 99999 !important;

	}
	.in {background: #ef0091;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 15px;
	}
	.dropdown-menu a {color: #fff!important;}
}

/*new css 27/2.21*/
/*login page start*/
.login_title {
	padding: 20px 0px;
	color: #2d2d2d;
}
.login_title_signsocial {
	padding: 0px 0px;
	margin-bottom: 0px!important;
	color: #2d2d2d;
}
.login_title_signsocial2 {
	padding: 0px 0px;
	margin-bottom: 15px; margin-top: 15px;
	font-size:20px;
	color: #2d2d2d;
}
.login_title_signsocial3 {
	padding: 0px 0px;
	margin-bottom: 15px; margin-top: 15px;
	font-size:25px;
	color: #2d2d2d;
}
.left-addon div {margin-bottom: 15px!important;}
.loginemail {background:#eef0f8!important; border-radius: 8px!important; border:0px!important; padding:17px 8px 12px 35px!important; height: 50px!important; }


.loginemail + .fa {
    position: relative;
    left: 0;
    padding: 8px 27px;
}
.left-addon span{
	position: absolute; 
	padding: 17px 15px;
}
.bu-signup {
	/* background:#f23462; */
	background: #02aba2;	
/* padding:15px 20px; */
padding:6px 21px;
 border-radius: 10px;
 color: #fff;
margin-top: 20px!important; margin-bottom: 20px;
width: 96px!important;
		display: block; margin: 0px auto; font-size: 18px;}

.bu-signup:hover {background:#ffad00;
/* padding:15px 20px; */
padding:6px 21px;
border-radius: 10px;
color: #000;
margin-top: 20px;}

.bu-signup-last {
	/* background:#f23462; */
	background: #02aba2;
/* padding:15px 20px; */
padding:6px 21px;
border-radius: 10px;
color: #fff;
margin-top: 20px!important; margin-bottom: 20px; 
width: 194px!important;
		display: block; margin: 0px auto; font-size: 18px;}

.bu-signup-last:hover {background:#ffad00;
/* padding:15px 20px; */
padding:6px 21px;
border-radius: 10px;
color: #000;
margin-top: 20px;}


#myModal_login .modal-dialog {
  width: 90%;
  height: 90%;
  padding: 0px;
	margin: 0px auto;
}

#myModal_login .modal-content {
  height: 100%;
  border-radius: 15px!important;
	background-color: inherit!important;
}
#myModal_login .register-photo {
   
    padding: 0px 0
}

#myModal_login .register-photo .image-holder {
    display: table-cell;
    width: auto;
    background:url(../images/Joblite_Login_bg.jpg);
    background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px 0px 0px 10px;
	background-color: #ffab00;
	background-position: center;
}
#myModal_login .register-photo .image-holder2 {
    display: table-cell;
    width: auto;
    background:url(../images/Joblite_Login_bg2.jpg);
    background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px 0px 0px 10px;
	background-color: #ffe22f;
	background-position: center;
}
#myModal_login .register-photo .image-holder3 {
    display: table-cell;
    width: auto;
    background:url(../images/Joblite_Login_bg3.jpg);
    background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px 0px 0px 10px;
	background-color: #ffe22f;
	background-position: center;
}

#myModal_login .register-photo .form-container {
    display: table;
   
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	height: 100%;
}

#myModal_login .register-photo form {
    display: table-cell;
    width: 50%;
    background: #fff;
    padding: 40px 60px;
    color: #505e6c;
	height: 90vh;
	border-radius: 0px 10px 10px 0px;
}


#myModal_login .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

#myModal_login .register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

#myModal_login .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

#myModal_login .register-photo form .btn-primary {
    background: green;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

#myModal_login .register-photo form .btn-primary:hover,
#myModal_login .register-photo form .btn-primary:active {
    background: green
}

#myModal_login .register-photo form .btn-primary:active {
    transform: translateY(1px)
}

#myModal_login .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #6f7a85;
    opacity: 1;
    text-decoration: none;
	font-weight: bold;
	color: #000;
}
.socilmediatxt {
	text-align: center;
	padding: 15px 0px;
}
.socialmediaicons {
	text-align: center;
}
.socialmediaicons a {
	color:#000;
	border:solid 1px #a6a6a6;
	padding: 10px 12px;
	margin-right: 3px;
	margin-left: 3px;;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	display: inline-block;
}
.login_close {position: absolute; right: 20px; top:20px; z-index: 1000; border:solid 1px #949494!important; border-radius: 50px!important; padding:4px 9px 5px 9px!important; }

@media (max-width:991px) {
	
	#myModal_login .register-photo .image-holder {
    display:block;
    width: 100%;

    background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px 10px 0px 0px;
	background-color: #ffab00;
	background-position: center;
		height: 230px;
}
	#myModal_login .register-photo form {
    display:block;
    width: 100%;
    
    padding: 10px 20px;
    color: #505e6c;
    height: auto!important;
    border-radius: 10px 10px 10px 10px;
}



#myModal_login .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px
}
	.login_title {padding: 0px;}
	.bu-signup {
    background: #f23462;
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
    margin-top: 2px;
    margin-bottom: 2px;
		
}
}
.radio {
	display: inline-block!important;
	font-size: 16px;
	padding-right: 10px;
}
.radio .active {
	color: #08b7d6;
	content: '';
}
.signup_check {
	font-size: 16px!important;
	color: #2e2e2e!important;
}

.signup_check input[type="checkbox"]:checked {
  display: none;
}

.signup_checkform {
	padding: 5px;
} 
.required  {
    font-weight: bold;
}
form label.required:after
{
    color: red;
    content: "*";
}
form input[required=required]:after,
form select[required=required]:after,
form textarea[required=required]:after
{
    color: red;
    content: "*";
}
/*login page end*/

/*<!--innerpageheader start-->*/

.icon_user {width: 38px; height:38px; 
	float: left;
	
	margin: -8px 5px 0px 0px;
}
.icon_user img {width: 100%; height: 100%; border-radius: 100px; border:solid 1px #fff; object-fit:cover; 
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 4px!important;
    border-top-right-radius: 4px!important;
}
.myaccount i {width: 70px!important; height: 70px; display: block; float: left; margin-left: 15px; }
.myaccount i img {width: 100%; height: 100%;border-radius: 100px; margin-right: 15px; margin-top: 10px;}
.dropdown-menu {min-width: 270px!important;}

.accountname {float: left; padding-left: 15px;}
.accountname h4 {color: #737373;}
.dropdown-menu li a {padding-top: 10px;padding-bottom: 10px; }
.breadcrumb {background: #fff!important; padding: 15px 25px 15px 25px; font-size: 14px!important;
margin-bottom: 0px!important
}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "\2022"!important;
	font-size: 14px!important;
}
.breadcrumb-item {
	font-size: 16px!important;
}
.breadcrumb-item a{
	font-size: 16px!important;
	color: #363636;
}
.innercontent {
	padding: 25px;
	background: #eef0f8;
}
/* .contentarea {
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(166,158,166,1);
-moz-box-shadow: 0px 0px 3px 0px rgba(166,158,166,1);
box-shadow: 0px 0px 3px 0px rgba(166,158,166,1);
} */
.has-warning input:not(.mat-input-element) {border:solid 1px #f23462!important;}
.has-warning .select-css {border:solid 1px #f23462!important;}
.help-block {
	position: relative!important;
	padding: 0px!important;
	color: #f23462!important;
	display: none;
}
.has-warning .help-block {
	position: relative!important;
	padding: 0px!important;
	color: #f23462!important;
	/* display: block; */
  display: none;
}
@media (max-width:991px) {
	.accountname h3 {color: #fff;}	
.accountname h4 {color: #fff;}	
}

.message {
	text-align: center;
	padding: 50px 0px;
	border:solid 1px #a9a9a9;
	margin: 50px 0px;
	font-size: 18px;
	color: #992472;;
}
.message div {
	width: 50%;
	margin: 0px auto;
	padding-bottom: 30px;
	overflow: hidden;
	
}
@media (max-width:991px) {
	.message div {
	width: 90%;
	margin: 0px auto;
	padding-bottom: 30px;
	overflow: hidden;
  }
}

/*new stayle 18/3/21*/
.stepmain {
	padding: 20px;
}

.stephead {
	font-size: 24px;
}
.checkboxmain {
	font-size: 18px;
}
.checkboxmain .checkbox {
	display: inline-block!important;
}

.checkboxmain .checkbox label:after {
  content: '';
  display: table;
  clear: both;
padding-left: 10px;
}

.checkboxmain .checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #08b7d6;
	background: #08b7d6;
  border-radius: 50px;
  width: 33px;
  height: 33px;
  float: left;
  margin-right: .5em;
}

.checkboxmain .checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkboxmain .checkbox label input[type="radio"] {
  display: none;
}

.checkboxmain .checkbox label input[type="radio"]+.cr>.cr-icon {
  opacity: 0;
}

.checkboxmain .checkbox label input[type="radio"]:checked+.cr>.cr-icon {
  opacity: 1;
	padding-left: 2px;
	color: #fff;
	
}

.checkboxmain .checkbox label input[type="radio"]:disabled+.cr {
  opacity: .5;
}

.checkboxmain .checkbox label input[type="checkbox"] {
  display: none;
}

.checkboxmain .checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkboxmain .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
	padding-left: 2px;
	color: #fff;
	
}

.checkboxmain .checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.feildspadiing {
	padding-top:8px;
	padding-bottom: 8px;
}
.labeltxt {font-size: 18px;}


.addnew-image {
  position: relative;
  float:left;

}
.addnew-image img{
 
width: 100%;
padding-left: 5px;
padding-right: 5px;

}

.addnew-image input {
  position:absolute;
  display:none;
}

.file-input-other {
  position:absolute !important;
  display:none !important;  
}

.show-image {
    position: relative;
    float:left;
  
}
.show-image img{
   
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	
}
.show-image:hover img{
    opacity:0.5;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	
}
.show-image:hover input[type="button"] {
    display: block;
}
.show-image input {
    position:absolute;
    display:none;
}
.show-image input.delete {
    top:0;
    left:70%;
	background: #000;
	border:solid 0px;
	border-radius: 50px;
	background-image: url(../images/icon_img_delete.png);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	
}

.show-image input.update {
    top:0;
    left:30px;
	background: #000;
	border:solid 0px;
	border-radius: 50px;
	background-image: url(../images/icon_img_add.png);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
}

/*step 2 start*/
.taskheading {
	
	font-size: 18px;
}
.taskheading a{
	font-size: 18px!important;
	color: #333;
}
.taskheading a:hover{
	font-size: 18px!important;
	color: #333;
	text-decoration: none;
}

.icons_align a {text-align: center; display: block;}
.icons_align a img {width: auto;
height: auto;}

.taskmain:nth-child(even)  { height: auto; overflow: hidden;
border:solid 1px #f00c86; margin-bottom: 10px;
} 
.taskmain:nth-child(odd) { height: auto; overflow: hidden;
border:solid 1px #08b7d6; margin-bottom: 10px;
} 
.taskdetails {
	padding-top: 25px;
	padding-bottom: 15px;
}

/*step 5 start*/
.checkboxscroll {
	height: 215px;
	overflow: auto;
}

.checkboxscroll .checkbox {
	display: block!important;
	margin-top: 10px;
	margin-bottom:10px;
}


/*step slectplan start*/


.checkboxmainplan {
	font-size: 18px;
}
.checkboxmainplan .checkbox {
	display:block!important;
}

.checkboxmainplan .checkbox label:after {
  content: '';
  display: table;
  clear: both;
padding-left: 10px;
	background: #08b7d6!important;
	color: #00FF00;
}

.checkboxmainplan .checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
	background: #efefef;
  border-radius: 50px;
  width: 33px;
  height: 33px;
  float: left;
  margin-right: .5em;
}

.checkboxmainplan .checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkboxmainplan .checkbox label input[type="checkbox"] {
  display: none;
}

.checkboxmainplan .checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkboxmainplan .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
	padding-left: 2px;
	color: #08b7d6;
	
}

.checkboxmainplan .checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.checkboxmainplan .checkbox label input[type="radio"] {
  display: none;
}

.checkboxmainplan .checkbox label input[type="radio"]+.cr>.cr-icon {
  opacity: 0;
}

.checkboxmainplan .checkbox label input[type="radio"]:checked+.cr>.cr-icon {
  opacity: 1;
	padding-left: 2px;
	color: #08b7d6;
	
}

.checkboxmainplan .checkbox label input[type="radio"]:disabled+.cr {
  opacity: .5;
}

.pricing-table {
  background: #e9f0f4;
  text-align: center;
  margin: 15px 0;
}

.pricing-table ul, .pricing-table ol {
  margin-bottom: 0;
  padding-left: 0;
}

.pricing-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px;
  margin-bottom: 0;
	text-transform: uppercase;
}

.pricing-table-price {
  background: #cdd4d8;
  font-weight: 700;
  padding: 30px;
  margin-bottom: 30px;
}

.pricing-table-price.w-rounded-price {
  display: table;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  padding: 0;
}

.rounded-price {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.rounded-price .pricing-price {
  font-size: 1.75rem;
}

.rounded-price .pricing-currency {
  vertical-align: 10px;
}

.pricing-table-price p {
  color: #000;
  margin-bottom: 0;
}

.pricing-currency {
  font-size: 1rem;
  font-weight: 700;
  vertical-align: 25px;
}

.pricing-price {
  font-size: 3rem;
  font-weight: 700;
}

.pricing-period {
  font-weight: 700;
}

.pricing-table-content li {
  margin-bottom: 15px;
}

.pricing-table-button {
  padding: 15px 0 35px;
}

.featured.pricing-table {
  background: #9c64b8;
}

.featured.pricing-table .pricing-title {
  color: #fff;
}

.featured.pricing-table .pricing-table-content ul li {
  color: #eee;
}

.featured.pricing-table .pricing-table-price {
  background: #8853a1;
}

.featured.pricing-table .pricing-table-price p {
  color: #fff;
}
ul {
    list-style: none;
    padding: 0;
}
.bg-info-hover {
    background-color: #1397af !important;
}
.bg-info {
    background-color: #21b9d5 !important;
}

.bg-primary-hover {
    background-color: #e20b7e !important;
}
.bg-primary {
    background-color: #f00c86 !important;
}
.text-white {
    color: #fff !important;
	
}
.btnplan_pink {
	background: #f00c86!important;
	border-color: #f00c86!important;
}


/*tab page start*/

/* .jobberator {
	font-size: 16px!important;
} */
.tablisting {
	font-size: 16px!important;
}
.tablisting h3 {
	font-size: 18px!important;
}
.tablisting .listing_txt1 {
	font-size: 16px!important;
}
/* .jobberator li{

	color: #fff;
	border:0px!important;
	
} */

/* .jobberator li a{
	background: #08b7d6;
	color: #fff;
	border:0px!important;
padding: 10px 40px;
	border-radius: 15px 15px 0px 0px;
	font-size: 20px''
}

.jobberator .active a{
	background: #992472!important;
	color: #fff;
	border:0px!important;
}
.jobberator li a:hover{
	background: #992472!important;
	color: #fff;
	border:0px!important;
} */
/* .jobberatortab {
	padding: 20px;
	border:solid 1px #ddd;
	border-top:0px;
} */
.bu_postjob {
    background: #08b7d6 !important;
    border-radius: 25px !important;
    border: 0px !important;
    padding: 10px 30px;
    color: #fff;
    margin: 0px 0px;
		font-size: 18px;
}
.bu_postjob:hover {
    background: #992471!important;
    border-radius: 25px !important;
    border: 0px !important;
    padding: 10px 30px;
    color: #fff;
    margin: 0px 0px;
		font-size: 18px;
}
.tabcontent h3 {
	padding-left: 0px!important;
}
.tablisting ul {
	margin: 0px;
	padding: 0px;
}
.tablisting ul li{
	margin: 0px;
	padding: 0px;
}
.tablisting i {
	font-size:18px;
}
.dots {
	text-align: right;
	margin-top: 15px!important;
}
.dots a {
	color: #992471;
	padding-bottom: 15px;
}
.dots a:hover {
	color: #08b7d6;
}
.btnactive {
	background: #aac637!important;
		font-size: 16px;
}
.btnshedule {
	background: #fc9a3f!important;
		font-size: 16px;
}
.btnclosed {
	background: #de0312!important;
	font-size: 16px;
}
.tabaction a {padding-right: 10px;}

.tabaction i {padding-right: 5px;}
.tabaction a {color:#992471!important; padding-right: 20px; }
.tabaction a:hover {color:#08b7d6 !important; text-decoration: none;}
.txtr_d {text-align: right;}
.nopad {
	padding-left: 0px;
	padding-right: 0px;
}
.tabaction a {
	display:inline-block!important;
}
@media (max-width:991px) {
	
	.newin {
	
	margin-top: 20px;
}
.newin .in {
	background: #fff!important;
}
	.newin .panel-heading {
    color: #fff;
    background-color: #08b7d6!important;
    border-color: #ddd;
}
	.mob_pad_t {
		padding-top: 10px!important;
	}
	.btnactive {
	background: #aac637!important;
		margin-bottom: 15px;
			font-size: 16px;
}
	.btnshedule {
	background: #fc9a3f!important;
		margin-bottom: 15px;
			font-size: 16px;
}
	.btnclosed {
	background: #de0312!important;
		margin-bottom: 15px;
			font-size: 16px;
}
	.txtr_d {text-align: left;}
}
.tabaction a {
	display: block;
}
@media only screen and (min-width: 250px) and (max-width:780.98px){
	.newin .in {
	background: #fff!important;
}
}

/* 7th april 2021 */
.mat-form-field {
  line-height: 2.125 !important;
} 



/*13th April 2021*/

/* .tab-content {
	height: auto;
overflow: hidden;
} */
.mtop50 {
	margin-top: -50px;
}
.proficiency {
	text-align: center;
}
.proficiency p {
	padding-top: 15px;
}
.proficiency img {
	width: 100%;
	height: auto;
}
#ex1Slider .slider-selection, #ex1Slider .slider-track-high{
  background: #992471;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  height: 7px;

}
#ex1Slider {
  width: 300px;
}

/* .tooltip - background of tooltip */
#ex1Slider  .tooltip-inner {
  background-color:#992471;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  margin-left: -3.5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#ex1Slider .slider-handle {
  background: #08b7d6;
  width: 16px;
  height: 16px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
}

/* This sets the color of the arrow that connects the tooltip to the handle */
#ex1Slider .tooltip-arrow {
  border-top-color: #fafafa;
  margin-left: -7px;
  display: none;
}
.profiencybtn {
	background: #ebebeb;
padding: 5px 15px 5px 5px;
border-radius: 30px;
	margin-top: 0px!important;
}
.profiencybtn label {
	padding-left: 0px!important;
}
.btntxt {
	margin-top: 5px;
display: inline-block;
}
#ex1Slider {
	margin-top: 10px;
}
.checkboxmargin {
	margin-bottom: 3px!important;
}
.jobsforms {
	height: auto!important
}
.slider-tick-label {
	width: 150px!important;
position: absolute!important;

margin-left: -75px!important;
}
.slider-horizontal {
	margin-bottom: 0px!important;
}
.checkbox_border {
	border:solid 1px #efefef;
	padding: 15px;
}
.jobshead h5 {
	font-size: 16px; 
	color: #000;
}
.jobshead h6 {
	font-size: 16px; 
	color: #3f3f3f;
}
@media (max-width:768px) {
	.tabtxt {
		padding: 8px 10px !important;
border-radius: 5px 5px 0px 0px!important;
		font-size: 13px!important;
	}
		.tab-pane .in {background: #fff!important;}
	#ex1Slider {
  width: 180px;
}
	#ex1Slider .tooltip {
		opacity: 1!important;
	}
	#ex1Slider .tooltip-inner {
		padding: 0px 8px!important
	}
}


/*15-4-21*/


.product-slider { padding: 15px; }

.product-slider #carousel { border: 0px solid #1089c0; margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 25px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4ypx solid #cecece; width: 18%; margin: 0 0; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

.profile ul{
	margin: 0px;
	padding: 0px;
}
.profile ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: table-cell;
}
.user {
	width: 45px;
	height: 45px;
	padding-right: 10px!important;
	
}
.user img {
	
	width: 45px;
	height: 45px;
	border-radius: 50px;
	object-fit: cover;
}
.username {
	font-size:16px;
	font-weight: 700;
}
.divider {
	color: #c5c6c9;
	padding: 0px 5px;
}
.reviews{
	font-size:16px;
	color: #5d5d5d;
}

.taskboxes {
  margin: auto;
  padding: 20px;
  
}

/*Checkboxes styles*/
.taskboxes input[type="checkbox"] { display: none; }

.taskboxes input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;

  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.taskboxes input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.taskboxes input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #08b7d6;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
	background:none!important;
}

.taskboxes input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.reviews-package .reviews-wrap {
    position: relative;
}

.reviews-package .review-list .review-item {
    border-top: 1px solid #dadbdd;
	padding: 32px 0 20px 44px;
position: relative;
}

.reviews-package .review-item .user-profile-image {
    float: left;
    margin-left: -44px;
	margin-top: 10px;
}
.user-profile-image {
width: 50px;
	float: left;
    display: flex;
}
.user-profile-image .profile-pict .missing-profile-image {
    background-color: #e4e5e7;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.review-item {
    border-bottom: 1px solid #dadbdd;
}

.reviews-package .review-item {
    padding: 10px 0 10px 44px;
    position: relative;
}
.user-profile-image .profile-pict .profile-pict-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}


.reviewer-details {

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 0;
		
}
.reviewer-details h5 {
	display:inline-block!important;
	color: #404145;
	font-size:20px;
}
.country .country-flag {
    width: 20px;
    height: 20px;
}
.country .country-name {
    color: #62646a;
    font-size: 14px;
    padding-left: 8px;
    margin: auto;
	display:inline-block;
}


.review-rating span{
font-size: 16px!important;	
	font-weight: 700;
}
.review-description {
	padding: 10px 0px;
}
.reviews-package .summarize time {
    color: #95979d;
}
.reviews-package .review-item .helpful-thumbs {
    padding: 12px 0;
}
.reviews-package .helpful-thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #b5b6ba;
}
.reviews-package .helpful-thumbs .helpful-thumb:first-of-type {
    padding-right: 16px;
}
.reviews-package .helpful-thumbs .helpful-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #404145;
    font-weight: 600;
    padding: 2px 0;
        padding-right: 0px;
}
.reviews-package .helpful-thumbs .helpful-thumb .thumbs-icon {
    fill: #404145;
    padding-right: 4px;
}
.thumb-title {
	padding-left:8px;
}
.load-more-wrapper button {
    background: none;
    border: 0;
    font-size: 16px;
    color: #08b7d6;
}

#sticky {
  padding: 0.5ex;
  width: 100%;

  color: #fff;
  font-size: 2em;
  border-radius: 0.5ex;
	position: relative;
  top: 0;
}

#sticky.stick {
  position: fixed;
  top: 10px;
  padding: 0.5ex;
  width: 38%;

  color: #fff;
  font-size: 2em;
  border-radius: 0.5ex;
	z-index: 10000;
}

.jobdetialsicons {
	background: #fff;
	border-radius: 3px;
}
.jobdetialsicons li{
	display: table-cell;
	padding: 10px 20px;
	width: 20%;
	text-align: right;
}
.jobdetialsicons li i {
	font-size: 28px;
	
	border:solid 1px #afafaf;
	padding: 8px 12px;
	border-radius: 8px;
}
.jobdetialsicons li a {
	color: #afafaf;
	
}
.jobdetialsicons li  a:hover {
	color: #992472;
}
/*.jobdetialsicons li:last-child {
	width: 100%;
	text-align: right;
	font-size: 30px;
	color: #595959;
	font-weight: 800;
}*/
.accept a:hover{
	color: #35b736!important;
}
.reject a:hover{
	color: #f90000!important;
}
.jobdetials_list {
	background: #02ada4;
	border-radius: 3px;
	margin: 15px 0px;
	padding:10px 15px;
	font-size: 16px;
	color: #fff;
}
.jobdetials_list td {
	padding: 3px 0px;
}
.jobcat { 
color: #fff;

}
.jobcat h3 {
	padding-bottom:2px!important;
	font-size: 18px!important;
	margin-top: 10px!important;
	margin-bottom: 5px;
}

.jobcat a {
	background: #fff;
	border-radius: 20px;
	padding: 8px 10px;
	color: #02ada4;
	font-size: 14px;
	display: inline-block;
	margin:3px!important;
}
.tooltip_icons {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
}


.tooltip_icons .tooltiptext {
  visibility:hidden;
  width: 120px;
  background-color: #992472;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
	font-size: 14px;
	margin-top: -35px;
margin-left: -60px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip_icons .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #992472 transparent transparent 
                            transparent;
            }
.tooltip_icons:hover .tooltiptext {
  visibility: visible;
}
@media (max-width:768px) {
	#sticky.stick {
  padding: 0.5ex;
  width: 100%;

  color: #fff;
  font-size: 2em;
  border-radius: 0.5ex;
	position: relative;
  top: 0;
}
	.profile ul li {
		display: inline-block;
	}
	.jobdetialsicons li {
    display: table-cell;
    padding: 10px 10px;
}

/*	.jobdetialsicons li:last-child {
	width: 100%;
	text-align: left;
	font-size: 28px;
	color: #595959;
		display: inline-block;
}*/
	
	.jobcat { 
color: #fff;
	
	overflow: auto;
	height: auto;
}
	.jobdetialsicons {
		margin-bottom: 0px!important;
	}
}

/*jobcatagories page start*/

.category .dropdown-menu {

	padding: 15px;
}
.category .dropdown-menu h4 {
	font-size: 18px;
	color:#000;
}
.category_items  {
	width:600px;
	overflow: auto;
	height: 230px;	
}
.categorymenu {}
.category_items hr {
	margin-top: 1px;
}
.category_items li {
	color:#000;
	font-size: 16px;
	margin-bottom: 3px;
}
.category_items li span{
	color:#787878;
}
.category_items li a {
		color:#02ada4!important;
	font-size: 16px;
	font-weight: 800;
}
.cat_btns {
	padding: 8px;
	border-top:solid 1px #989898;
}
.cat_btns .bu_clear {
	color: #95979d!important;
	font-weight: 600;
text-decoration: none;
font-size: 14px;
	float: left;
}
.cat_btns .bu_apply {
	color: #fff!important;
	font-weight: 800;
text-decoration: none;
font-size: 14px;
	background: #02ada4;
	padding: 6px 15px!important;
	float: right;
	border-radius: 6px;
}
.jobcatagories_main {
	padding:30px;
	text-align: left;
}
.jobcatagories_main h1 {
	color: #992472;
	font-size: 30px;
	font-weight: 600;
	text-align: left;
	
}
.jobcatagories_main h1 span{
	color: #02ada4;
}
.jobcatagories_main p {
	font-size: 16px;
	color: #000;
}
.dd_buttons {
	margin-bottom: 10px!important;
}
.swithbuttons  {
	margin-bottom: 10px!important;
}
.dd_buttons .dropdown{
	float: left;
	margin-right: 8px;
}
.dd_buttons .dropdown a{
	display: block;
	padding: 8px;
}
.bu_cat {
	background: #fff;
	border:solid 1px #dadbdd;
	margin-bottom: 10px;
	color: #242424;
}

.bu_cat i {font-size: 10px;}
.cat_active {
	background: #a3dfe0;
	border:solid 1px #4dc6e3;
	color: #046278;
}
.switch {
  /* position: relative;
  display: inline-block; */
  position: absolute;
  display: inline-block;  
  width: 40px;
  height: 22px;
}
.worktypetxt {
	margin-left: 47px;	
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch_slider:before {
  position: absolute;
  content: "";
  height:15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch_slider {
  background-color: #2196F3;
}

input:focus + .switch_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch_slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(18px);
}

/* Rounded sliders */
.switch_slider.round {
  border-radius: 34px;
}

.switch_slider.round:before {
  border-radius: 50%;
}
.swithbuttons{
	
}
.swithbuttons li {
	display: inline-block;
	padding-right: 5px;
	font-size: 17px;
	font-weight: 600;
	color: #5e5e5e;
}


#sticky.stick2 {
  position: fixed;
  top: 0px;
	left: 0;

  width: 100%;

  color: #fff;
  font-size: 2em;
  border-radius:0;
	z-index: 10000;
	background: #fff;
	padding-top: 25px!important;
-webkit-box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
}
.catgeory_card {
	border: solid 1px #c0c0c0;
}
.catgeory_card .carousel-control .glyphicon-chevron-right, .glyphicon-chevron-left	{
	font-size: 13px!important;
	color: #000!important;
	background: #fff;
	border-radius: 50px;
	padding-top: 8px;
}
.catgeory_card .carousel-indicators li {
	width: 6px;
height: 6px;
}
.catgeory_card .carousel-indicators {
	bottom: 6px;
}
.listing_cat {
	
}
.listing_cat h3 span{
	background: #02ada4!important;
color: #fff!important;
}
 .actions i {
	font-size: 25px;
}
.cta_closebtns {
	margin-bottom: 10px!important;
}
.cta_closebtns .btn {
	border-radius: 30px;
}
.cat_servicehead {
	margin-bottom: 0px!important;
}
.cat_servicehead h4 {
	font-weight: 800;
	color: #999999;
	
}
.cat_sort {
	text-align: right;
}
.cat_sort_head{
	float: right;
	text-align: right;
	display: flex;
}
.cat_sort_head h4 {
	padding-right: 15px;
}
.cat_sort .dropdown-menu {
	right: 0!important;
	padding: 10px;
	left: auto!important;
	float: right;
	
}
.cat_sort .dropdown-menu a{
	display: flex;
	padding: 5px 10px;
}
.pagination {
	float: right;
}
/*header search*/
.has-search_head {
	margin-bottom: 0px!important;
	float: left;
}
.has-search_head .form-control-feedback {
    right: initial;
    left: 0;

	margin-top: 0px;
	margin-left: 10px;
	padding-right: 10px;
			color: #fff!important;
}

.has-search_head .form-control {
    padding-right: 12px;
    padding-left: 34px;
	background: rgba(255,255,255,0);
	border-radius: 50px;
	margin-top: 0px;
	color: #fff!important;
	border:solid 1px #fff;
	min-width: 480px;
}
.has-search_head .form-control::placeholder {
	color: #fff!important;
}
@media (max-width:768px) {
.dd_buttons .dropdown {
    float: none;
    margin-right: 8px;
    display: block;
}
}
@media (max-width:768px) {
	.searchclear{
		clear: both;
		padding-top: 10px;
	}	
	.has-search_head .form-control {
		min-width: 300px;
	}
	.category_items  {
	width:230px;
	overflow: auto;
	height: 230px;	
}
.categorymenu {
	width: 230px;
	
	}
	.cat_sort .dropdown-menu a{
		color: #000!important;
}
	.cta_closebtns button {
		margin-bottom: 8px;
	}
}
/*header search*/
	.m_b_0 {margin-bottom: 0px!important;
		
	}	
	.jobs_cat {
		max-height: 290px;
		min-height: 290px;
	}	
	
.jobs_cat img {
	width: 100%;
	height: auto;
	object-fit: cover;
		max-height: 290px;
		min-height: 290px;
}
	

@media (max-width:768px) {
		.jobs_cat {
		max-height: 250px;
		min-height: 250px;
	}	
	
.jobs_cat img {
	width: 100%;
	height: auto;
	object-fit: cover;
		max-height: 250px;
		min-height: 250px;
}
}
	/*23-04-2021*/
.step_rtxt {
	text-align: right;
	color: #08b7d6;
	font-size: 50px;
	font-weight: 800;
	padding-right: 15px;
	padding-top: 10px;	
}
.listingicons li i {
	font-size: 40px;
	
	border:solid 0px #afafaf!important;
	padding: 8px 5px;
	border-radius: 8px;
}
.closeicon_red {
	color: #C31E21!important;
}

.tick_green {
    color: #35b736 !important;
	background: none!important;
}
.heartsize {
    font-size: 36px !important;
    border: solid 0px #afafaf!important;
    padding: 0px 0px;
    border-radius: 8px;
}
  
.heart_purple {
    color: #afafaf !important;
}
.heart_purple:hover {
    color: #992472 !important;
 
  text-shadow:0px 0px 30px #992472;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.heart_purple_liked {
    color: #992472 !important;
 
  text-shadow:0px 0px 30px #992472;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


.ticker_green {
    color: #afafaf !important;
}
.ticker_green:hover {
    color: #27e22f !important;
 
  text-shadow:0px 0px 30px #27e22f;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.ticker_green_liked {
    color: #27e22f !important;
 
  text-shadow:0px 0px 30px #27e22f;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


.tick_green:hover {
   
  text-shadow:0px 0px 30px #35b736;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.closeicon_red:hover {
   
 text-shadow:0px 0px 30px #C31E21;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.discount {
	float: right;
	color: #02ada4;

	margin-top: -46px;
	text-align: center;
}
.discount h2 {
	font-size: 13px;
	margin-bottom: 4px!important;
}
.discount span{
	background: #02ada4!important;
color: #fff!important;
	width: 50px;
height: 50px;
border-radius: 100px;
	float: right;
padding: 15px 10px;
font-size: 18px;
}
.automobile_bu li{
	background: #992472;
	color: #fff;
	padding: 10px 20px;;
	border-radius: 30px;
	font-size: 16px;
	display: inline-block;
	margin-bottom: 15px;
}
.automobile_bu a {
	font-size: 13px;
	color: #fff;
	padding-left: 30px;
}
.location {
	padding-right: 10px;
	text-align: right;
}
.location a {
	font-size: 18px;
	color: #494949;
}
.location a i {
	padding-right: 5px;
	font-size: 25px;
}
.text_rm {
	text-align: right;
}
@media (max-width:768px) {
	.location {
	padding-left: 10px;
	text-align: left;
}
	.listingicons li i {
	font-size: 45px;
	
	border:solid 0px #afafaf!important;
	padding: 8px 0px;
	border-radius: 8px;
}
	.text_rm {
	text-align: left;
}
	.m_t20 {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 320px) and (max-width:840px){
	/* add 14/12/21*/
	.tabarea-right {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.tabarea {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.verified-list ul li {
		display: inline-block;
		width: 96px;
		text-align: center;
		vertical-align: top;
	}
	.rateblk{
	  width: 100%;
	  margin-bottom: 60px;
	}
	.userrate ul li{
	  width: 100%;
	}
	.btn-right{
	  text-align: center;
	}
	.userrate ul li .jobcatlist{
	  font-size: 17px;
	}
	.ratediv h4{
	  text-align: center;
	}
	.descrip-div h4{
	   text-align: center;
	}
	.jobinvest {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.verified {
		display: inline-block;
		width: 100%;
		border: 3px solid #F13064;
		border-radius: 10px;
		padding: 20px;
		text-align: center;
	}
	}