/*-------- Update from karthik on 23-03-2023------ */

/* .col-md-4.ng-star-inserted {
  padding: 25px 0 0;
} */
.table100-head th { 
  padding: 0 10px;
}

.navbar { 
  padding-bottom: 0px;
}

.detailedprofile {
  padding-top: 25px !important;
}

.padsdetailedprofile {
  padding-left: 2px !important;
}

/*-------- Update ends karthik on 23-03-2023------ */

.modal-dialog.ratediv-blk{
  max-width: 100%;
}
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  padding: 0;
  text-align: center;
  min-width: 225px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 50px;
  margin: 0;
  padding: 0 10px;
}

.star-rating :checked ~ label {
  color: #ef0091;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.star-rating label:hover, .star-rating label:hover ~ label {
  color: #ef0091;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.heading h2 {
  margin: 0;
}

.sub-title h2 {
  margin: 25px 0;
  font-size: 18px;
}

.review-inner{
  display: flex;
}

.review-meta h2 {
  font-size: 16px;
  margin: 0;
}

.review-meta {
  margin: 0 0 0 15px;
  position: relative;
}

.review-meta:before{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #ccc;
  height: 1px;
}
.review-meta span{
  position: relative;
  color: #ccc;
  font-size: 14px;
  padding-left: 15px;
}

.review-meta span:before{
  content: "";
  width: 3px;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: 5px;
  top: 7px;
}
.review-thumb {
  min-width: 50px;
}


.review-sec{
  margin-bottom: 25px;
  position: relative;
}



.review-sec .star-rating {
  width: 100px;
  height: 30px;
  align-items: center;
}

.review-sec .star-rating label {
  font-size: 20px;
  margin: 0 2px;
  padding: 0;
}



/** verify form */
.input-box{
  display: flex;
}
.input-inner {
  width: 100%;
  position: relative;
}
.input-inner .required { 
  position: absolute;
  right: 15px;
}

.input-box a.verify-btn{
  background: #337ab7;
  padding: 15px;
  min-width: 115px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.input-box a.verify-btn:hover{
  background:#ef0091;
}

.input-inner .verification{
  padding-right: 24px;
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #00ada4;
  line-height: 1.5;
}
.input-inner .verification:before{
  content: "";
  background: url(../images/icon_verify.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 20px;
}



/** congrats-popup */
.congrats-popup{
  padding: 30px;
  text-align: center;
  min-height: 500px; 
}

.congrats-popup h2{
  font-size: 32px;
  line-height: 38px;
  color: #ef0091;
  font-weight: bold;

}


.congrats-popup h3 b{
  display: block;
  margin: 15px 0;
  padding: 10px 0 5px;
  position: relative;
  font-size: 30px;
  color: #ef0091;
}

.congrats-popup h3 b:before{
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 1px;
  background: #ef0091;
}

.congrats-popup h3 b:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 1px;
  background: #ef0091;
}

.congrats-popup:before{
  content: "";
  width: 135px;
  background: url(../images/left-confetti.png)no-repeat;
  background-size: cover;
  height: 165px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.congrats-popup:after{
  content: "";
  width: 135px;
  background: url(../images/right-confetti.png)no-repeat;
  background-size: cover;
  height: 165px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.congrats-badge{
  max-width: 175px;
  display: block;
  text-align: center;
  margin: 0 auto 25px;
}


.congrats-badge img{
  max-width: 100%;
}
/** tips-popup */
.tips-popup h2{ 
  margin-bottom: 50px;
}

.tips-inner {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.tips-inner span{
  font-size: 24px;
  font-weight: bold;
  padding-right: 15px; 
}

.tooltip_icons .tooltiptext { 
    line-height: 2;
    margin-top: -43px;
    margin-left: -75px; 
    text-transform: none;
}


.stepmain{
  position: relative;
}
#ex1Slider  .tooltip-inner {

    text-transform: none;
  }



.summary {
    position: absolute;
    right: 25;
    top: 55px;
    background: #f13064;
    border-radius: 15px;
    min-width: 215px;
    z-index:999;
    padding:15px;
    background: #ef0091;
    background: -moz-linear-gradient(-45deg, #ef0091 0%, #f78a13 100%);
    background: -webkit-linear-gradient(-45deg, #ef0091 0%,#f78a13 100%);
    background: linear-gradient(135deg, #ef0091 0%,#f78a13 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0091', endColorstr='#f78a13',GradientType=1 );
}

.summary h2{
    font-size:18px;
    text-align:center;
    color:#fff !important;
    border-bottom:1px solid #fff;
    margin:0 0 20px;
    padding:0 0 5px 0;
}
    
.summary h3{
    font-size:16px;
    text-align:left;
    color:#fff !important; 
    margin:0 0 15px; 
}

.verified-edit {
  padding-top: 51px;
}

.input-inner.verified-edit .verification { 
    right: inherit;
    left: 0;
    padding-right: 35px;
  }
.input-inner.verified-edit .verification:before { 
    right: 0;
    width: 30px;
    height: 30px;
}

.edit-media {
    background: url(../images/new-edit.svg)no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 374px;
    top: 50%;
    transform: translateY(-50%);
}

.edit-media-id {
  background: url(../images/new-edit.svg)no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 411px;
  top: 50%;
  transform: translateY(-50%);
}

.edit-media-fb {
  background: url(../images/new-edit.svg)no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 289px;
  top: 50%;
  transform: translateY(-50%);
}

.edit-media-ln {
  background: url(../images/new-edit.svg)no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 277px;
  top: 50%;
  transform: translateY(-50%);
}

.new-search {
    display: inline-block;
    position: relative;
}

.new-search input {
    border: 1px solid #cccccc;
    min-width: 250px;
    border-radius: 5px;
    height: 34px;
    padding: 0 10px;
}

.new-search i{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:#f13064;
}

.card-body { 
    min-height: 205px;
    width: 100%;
}
.text-head{
  min-height: 40px;
}



@media only screen and (min-width:300px) and (max-width:767px) {
  .noti-div ul li {
    display: inline-block;
    width: 300px;
  }
  .heading h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sub-title h3{
    font-size: 18px;
  }

  .input-box{
    display: block;
  }
  .input-inner .required {
    position: absolute;
    right: 0;
  }
  .input-inner input { 
    position: relative;    
    margin-bottom: 20px;
  } 
  .input-inner { 
    height: 50px;
  }
  .input-inner .verification{
    right: 20px;
  }
  header{
    z-index: 999;
  }
  .in{
    padding: 0 !important;
  }

  .new-search i{
    position: absolute;
    right: 105px;
    top: 50%;
    transform: translateY(-50%);
    color:#f13064;
  }
}


/*-------- Update from karthik on 19-01-2023------ */
.nav > li > a > img { 
  filter: invert(1);
}

.navbar-brand {
  height: inherit;
  padding: 20px 0 10px;
}
.navbar-nav > li > a {
  padding: 5px 15px!important;
}
.discription ul li{
height: inherit;
}
.discription ul li h4{
min-height: 36px;
}
.discription ul {
  display: flex;
}
.card-footer ul {     
  float: left;
  text-align: left;
}





@media only screen and (min-width:300px) and (max-width:767px) {
  .noti-div ul li {
    display: inline-block;
    width: 300px;
  }
  .right-blk-count .countdiv span{
      padding: 20px 15px;
      font-size: 24px;
      height: 50px;
      margin: 0 0 5px;
  }
  .right-blk-count .countdiv .text_c_color{
      font-size: 10px;
      display: block;
      width: 100%;
      text-align: right;
  }
  .ratingandprofile .locdiv {
      width: 35%; 
      font-size: 12px; 
  }
  .ratingandprofile .inperson { 
      width: 93%;
      font-size: 12px;  
  }
  .login-leftarea-div.usertxt {         
      max-width: 30%;
  }
  .right-blk-count .countdiv {
      width: 100%; 
      text-align: right;
  }
  .login-leftarea-div .card-header h5{
      display: none;
  }
  .modal-dialog{
      max-width: 100%;
  }
  .login-right-area.poptxt { 
      width: 65%;
  }
}
/*============Karthik update 23-02-2023==========*/
.nav > li > a > img { 
  filter: invert(1);
}

.navbar-brand {
  height: inherit;
  padding: 20px 0 10px;
}
.navbar-nav > li > a {
  padding: 5px 15px!important;
}
.discription ul li{
height: inherit;
}
.discription ul li h4{
min-height: 36px;
}
.discription ul {
  display: flex;
}
.card-footer ul {     
  float: left;
  text-align: left;
}

.card-div-details .card-header img {    
  height: 186px;
  width: 100%;
}


.card-div-details .card-header h5 {  
  height: 40px;
  margin: 0;
}

.modal-box .modal-dialog .modal-content .close{
      margin: 0px 3px;
}

.card-active .card-footer ul { 
  display: flex;
  justify-content: center;
}


.card-active .card-footer ul li a {
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-active .card-footer ul li a i {
  margin-top: 0 !important;
  font-size: 16px;
}

/*.tooltip_icons .tooltiptext {
  line-height: 2;
  margin-top: -95px;
  margin-left: 0px;
}*/

.tooltip_icons .tooltiptext {
  line-height: 2;
  margin-top: 0;
  margin-left: 5;
  position: absolute;
  left: 45%;
  top: -40px;
  transform: translate(-50%, -50%);
  min-height: 65px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-active .card-footer ul li a:hover {
  text-decoration: none;
}

.card-active .card-footer ul li a.liimage { 
  width: 50px;
  height: 50px; 
  position: relative;
}

.navbar-default .navbar-nav > li > a { 
  line-height: 1;
}

h6.drophead{
  position: relative;
  border: none;
}

h6.drophead .rounded-pill{
  right: 10px!important;
  top: 0px!important; 
  left: inherit !important;
}

.noti-div {
  padding: 0;
}

.noti-div img {
  max-width: 100%;
}

.noti-div ul li a {
  width: 100%;
  display: inline-block;
}

.noti-div ul li {
  display: inline-block;
  width: 565px;
}

.noti-div ul li a div {
  width: 50%;
  display: inline-block;
  padding: 15px;
  text-align: center;
}
.tab-pane .btn-left {
  margin: 0;
  padding: 25px 0 0;
}
.btn-left a.nextbtn i {
  padding-right: 10px;
}

@media only screen and (min-width:300px) and (max-width:767px) {
  .noti-div ul li {
    display: inline-block;
    width: 300px;
  }
  .right-blk-count .countdiv span{
      padding: 20px 15px;
      font-size: 24px;
      height: 50px;
      margin: 0 0 5px;
  }
  .right-blk-count .countdiv .text_c_color{
      font-size: 10px;
      display: block;
      width: 100%;
      text-align: right;
  }
  .ratingandprofile .locdiv {
      width: 35%; 
      font-size: 12px; 
  }
  .ratingandprofile .inperson { 
      width: 93%;
      font-size: 12px;  
  }
  .login-leftarea-div.usertxt {         
      max-width: 30%;
  }
  .right-blk-count .countdiv {
      width: 100%; 
      text-align: right;
  }
  .login-leftarea-div .card-header h5{
      display: none;
  }
  .modal-dialog{
      max-width: 100%;
  }
  .login-right-area.poptxt { 
      width: 65%;
  }
}
/*============Karthik update 23-02-2023 ENDS==========*/

/*-------- Update from karthik on 23-03-2023------ */
@media only screen and (min-width:250px) and (max-width:767px) {
  .noti-div ul li {
    display: inline-block;
    width: 300px;
  }
  .modal-body {
      max-height: calc(100vh - 35px);
      overflow-y: auto;
  }

  .login-leftarea-div {
      max-width: 100%;
      width: 100%;
  }
  .modal.in .modal-dialog { 
      padding: 15px 0;
  }

  .btn1-ln, .btn1-fb, .btn1-google { 
      width: 85%; 
  }
  .col-md-6.div-right {
      text-align: left;
  }
  .username-div.first-left {
      width: 100%;
  }
  .username-div.first-right {
      width: 100%;
  }
  .signuptxt { 
      margin-top: 20px; 
  }

  input[type="radio"], input[type="checkbox"] {
      margin: 10px 0 0; 
  }
  label { 
      padding: 0px 0px 0 5px;
  }

  .search {    
      display: block;
  }
  .profile-div-photo img{
      height:180px;
  }
  .profile-div-photo { 
      width: 200px;
      height: 200px;
  }
  .tabarea-right ul li {
      width: 50%;
  }
  .tabarea .tab-div-two a {
      padding-left: 37px;
      width: 100%;
      margin-left: -90px;
  }
  .tabarea .tab-div-one, .tabarea .tab-div-two {
      display: inline-block;
      width: 50%;
  }

  .verified-list ul li { 
      margin: 5px; 
  }
  .card-header img { 
      width: 100%;
  }
  .bu_jobber { 
      margin-right: 0px;
      width: 100%;
  }
  .modal-content { 
      overflow: hidden;
  }

  .navbar-header{
      padding:0 15px;
  }
  .searchclear{
      padding-top:0px;
  }
  .navbar-nav {
      padding: 0px 0px;
  }
  .navbar-nav > li.searchclear > a {
      padding: 0 !important;
  }
  ul.nav.navbar-nav.navbar-right li a {
      padding: 10px !important;
  }
  ul.margintoptwo.nav.navbar-nav.ng-star-inserted > li.searchclear > a {
      font-size: 0px;
  }
  .navbar-nav { 
      margin-top: 0px;
  }
  .accountname h4, .accountname h3 {
      color: #818181;
  }
  ul.nav.navbar-nav.navbar-right {
      padding: 15px 0;
  }
  .navbar {
      padding: 0;
  }
  table tbody tr td:before { 
      width: 24%;
      left: 30px;
      top: 12px;
  }
  .mat-calendar-body-cell-content.mat-focus-indicator {
      position: static;
  }
  .mat-calendar-body-cell::before, .mat-calendar-body-cell::after, .mat-calendar-body-cell-preview {
      top: 35%; 
      height: 54%;
      width: 100%;
  }
  table tbody tr {
      height: auto;
      padding: 5px 0;
  }

  ul.pager {
      float: left;
      width: 100%;
  }
  .verified-edit { 
      float: left;
      width: 100%;
  }

  .edit-media { 
      left: 95%;
  }
  .input-inner.verified-edit .verification {
      right: 20px;
      left: 0; 
  }
  .input-box { 
      padding: 0 0 25px 0;
  }
  .bu_jobber a{
      width:50%;
      text-align:center;
  }

  .jobberator li a {
      padding: 18px 20px!important;
      line-height: 20px;
  }
  .tabarea-right ul li a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .in {
      background: transparent;
  }
  .card.card-active {
      margin-top: 0;
  }
  .invited-link {
      width: 50%;
      float: right;
      display: inline-block;
      text-align: right;    
      margin-top: 10px;
  }
  .activity-div {
      display: inline-block;
      width: auto;
  }

  .card-active .card-header {
      padding: 10px; 
      float: left;
      width: 100%;
  }
  .nav-res { 
      float: right;
  }
  .col-md-4.ng-star-inserted {
      padding: 0;
  }
  .invited-link a {
      padding: 12px 15px;
      margin: 0 5px 0 0;
      font-size: 11px;
      line-height: 16px;
  }
  .invited-link {
      float: right;
      margin-top: 10px;
      width: auto;
      display: inline-block;
  }

  .profile-blk-pho {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      margin: 15px 0 10px 15px;
  }
  .card-active .card-footer ul{
      display: block;
  }

  .card-active .card-footer ul li a.liimage {
      width: 34px;
      height: 34px;
      padding: 0;
  }

  .card-footer ul li {
      padding-bottom: 10px;
  }
  .countdivpay {
      margin-bottom: 30px;
  }

  .search-blk { 
      margin-bottom: 25px;
  }
  .col-lg-4.col-xs-12.ng-star-inserted {
      padding: 0;
      margin: 20px 0;
  }
  .card-container { 
      padding:15px;
  }
  .card-container .col-xs-offset-2 {
      margin: 0 auto !important;
      width: 100% !important;
  }
  .col-md-4.ng-star-inserted {
      padding: 15px 0;
  }

  .card-active .card-body {
      padding: 25px;
  }
  .task-hstory ul li span {
      padding: 10px 0 0;
  }

  .task-hstory ul li { 
      margin: 0 5px;
  }




  .modal-box .modal-dialog .modal-content{
      max-width: 100%;
  }

  .column4, .column5, .column6, .column1, .column2, .column3 {
      width: 100%;
      /* padding: 10px; */
      padding: 1px;
  }

  /* table100-head .column4, table100-head .column5, table100-head .column6, table100-head .column1, table100-head .column2, table100-head .column3 {
    width: 100%;
    padding: 0px !important;
  } */

  table tbody tr td:last-child {
      margin-bottom: 15px;
  }

  .scrollrightchat {
      height: 100%; 
  }

  .incoming{
      width: 100%;
  }

/*-------- Update ends karthik on 23-03-2023------ */





}













/*============Karthik update 23-02-2023 ENDS==========*/

/*============Karthik update 30-03-2023  ==========*/
body{
  padding: 0 !important;
}

.displaynone{
  display: none !important;
}

.or-div {
  display: block;
  padding: 10px;
  color: #f13064;
  position: relative;
}

.or-div:before {
  content: "";
  width: 24%;
  height: 1px;
  border-bottom: 1px dashed #898989;
  position: absolute;
  left: 22%;
  top: 50%;
}

.or-div:after {
  content: "";
  width: 24%;
  height: 1px;
  border-bottom: 1px dashed #898989;
  position: absolute;
  right: 22%;
  top: 50%;
}

.btn1-fb { 
  margin-top: 0;
}

.signup-link {
  margin: 8px 0 0 !important;
}

.login-right-area .join {
    display: inline-block;
    text-align: center;
    /* width: 170px; */
    width: 320px;
    margin-top: 0px;
    padding: 0;
    margin: 0 0 0 5px;
}
.login-right-area .join a {
    padding: 10px 35px;
    display: inline-block;
    width: 172px;
}
.login-right-area .login {
     margin: 0 5px 0 0;
}

.join h2 {
  /* text-align: left; */
  margin: 0;
  color: #f13064;
}

.buttonwrap {
  display: flex;
  padding: 0 25px;
  justify-content: space-around;
}
.buttonwrap .login-right-area .join{
margin-top: 0;
}
.buttonwrap .login-right-area .join a { 
  padding: 10px 24px
}
.buttonwrap .login-right-area .join { 
  width: 270px; 
  max-width: 270px;
}

.buttonwrap .login-right-area .login { 
  width: 270px;
  margin: 0 15px 0 0;
  position: relative;
  padding: 0 10px;;
  max-width: 270px;
}

.buttonwrap .login-right-area .join {
  margin-top: 0;
}

.buttonwrap .login-right-area .join a {
  padding: 10px 24px
}

.buttonwrap .login-right-area .join {
  width: 270px;
  max-width: 270px;
}

.buttonwrap .login-right-area .login {
  width: 270px;
  margin: 0 15px 0 0;
  position: relative;
  padding: 0 10px;
  ; max-width: 270px;
}

.login-right-area .login a {
  padding: 10px 35px;
  display: inline-block;
  width: 172px;
}

.col-md-2.ng-star-inserted {
  width: 20%;
}

.descrip-div .card {     
  min-height: 505px;
}
.profile-rate .rating {
  margin: 15px 0;
}
.card { 
/*    height: 630px;*/
}
.profile-blk-pho img {
  height: 90px;
}

.tabarea-right ul li a {
  background: #08b7d6;
}
.card-div-details .card { 
  height: auto;
}

.pager {
  padding-left: 0;
  margin: 20px 20px !important;
  text-align: center;
  list-style: none;
}

.paddingtopten {
  padding-top: 10px !important;
}

.ng-star-inserted {
  /*    text-align: center;*/
  /* margin: 10px auto 15px; */
  margin: 0px auto 15px;
}
.tab-content { 
  margin: 15px 0;
}
.icon_user { 
    margin: -2px 5px 0px 0px;
}
.swithbuttons {
  text-align: right;
}
.category_items li { 
  text-align: left;
}
.dropdown-menu .ng-star-inserted ul li {
  display: inline-block;
  width: auto;
}
.text-head h5 {
  min-height: 35px;
  font-size: 20px !important;
}
.text-head { 
  text-align: left;
}

.dropdown-menu li a { 
  text-align: left;
  margin: 0;
}
.profile-div-photo img {
      height: 165px;
      width: 165px;
}

@media only screen and (min-width:300px) and (max-width:767px) {
  .noti-div ul li {
    display: inline-block;
    width: 300px;
  }
    .profile-div-photo img {
      height: 165px;
      width: 165px;
    }
    .profile-div-photo { 
      border-radius: 100%;
      overflow: hidden;
    }
    .profile-rate .rating {
        margin-top: 15px;
    }
    .navbar-nav > li > a {
        padding: 10px 15px!important;
    }
    #mymodalsignup {
        display: none;
    }
    ul.nav.navbar-nav.navbar-right {
        padding: 15px;
    }
    div#bs-example-navbar-collapse-1 .navbar-nav li:last-child {
        margin: 0 15px;
    }
    .navbar-header {
      display: flex;
      justify-content: start;
      width: 100%;
    }
    .navbar-default .navbar-toggle { 
        position: absolute;
        right: 0;
    }
 
    a.res-drp span { 
        top: -15px;
        width: 20px;
        height: 20px; 
        font-size: 10px;
        line-height: 22px;
        right: -13px;
    }
    .dropdown-menu { 
      top: 78%;
    }
    /**/
    .profile-div-photo img {
        height: 165px;
        width: 165px;
    }
    .profile-div-photo { 
      border-radius: 100%;
      overflow: hidden;
    }
    .profile-rate .rating {
        margin-top: 15px;
    }
    .tabarea .tab-div-one a, .tabarea .tab-div-two a {
        background: #767676;
    }
    .bu_jobber { 
        margin-right: 0;
    }
    .wizard_icon i { 
      margin: 30px 30px 0;
    }
    .summary {
      position: static; 
      margin: 20px 0;
    }
    .limiter { 
      margin-top: 0;
    }
}

















/*============Karthik update 30-03-2023 ENDS==========*/


/*============Karthik update 01-04-2023 Starts==========*/


.insearch .container1 .checkmark1:before {
    content: "X";
    line-height: 20px;
    padding: 10px 6px;
}
.card-header {  
    overflow: hidden;
    height: 206px;
}

.card-header img {
      width: 100%;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #f01282;
  color: #fff;
  text-decoration: none;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #f01282;
}

.panel-default>.panel-heading a:hover {
    background: #f01282;
    color: #fff;
    text-decoration: none;
}

.panel-default>.panel-heading a:hover:after {
    color: #fff;
}

 .tabarea .tab-div-one a.active, .tabarea .tab-div-two a.active {
    background: #02ABA2;
}

.tabarea .tab-div-one a, .tabarea .tab-div-two a {
    margin: 0;
}
 

.insearch ul li {
    width: inherit;
    padding: 5px 15px;
}

li.ng-star-inserted:last-child {
}

li.ng-star-inserted:last-child i {}

li.ng-star-inserted:last-child div {
/*    margin: -25px 5px;*/
}

li.ng-star-inserted:last-child .triangle-right {
    margin: 25px -7px;
}

.insearch ul li {
    width: inherit;
    padding: 8px 5px;
}
.wpwl-form-card {
    background-color: #f13064;
}



.insearch ul li {
    width: inherit;
    padding: 8px 5px;
}

.splitfee span {
    color: #f13064;
}


/*.netfee {
    margin-bottom: 30px;
    border-bottom: 1px solid #f13064;
    color: #646060;
    padding: 20px 0 15px;
    border-top: 1px solid #f13064;
    margin-top: 15px;
}*/
.splitfee {
    color: #646060;
}
.netfee {
    margin-bottom: 30px;
    /* border-bottom: 1px solid #f13064; */
    color: #646060;
    /* border-top: 1px solid #f13064; */
    margin-top: 9px;
    background: #ededed;
    padding: 10px 10px 5px 14px;
    display: inline-block;
}
.tab-pane h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 15px;
    display: inline-block;
}
.wpwl-label.wpwl-label-brand {
    color: #fff;
}
.wpwl-label.wpwl-label-brand {
    color: #fff;
}

.wpwl-group.wpwl-group-cardNumber {
    color: #fff;
}

.wpwl-label.wpwl-label-expiry {
    color: #fff;
}

.wpwl-label.wpwl-label-cardHolder {
    color: #fff;
}

.wpwl-label.wpwl-label-cvv {
    color: #fff;
}

 li.faico.resdivnon i {
    font-size: 25px;
}
li.faico span {
    background: #02ABA2;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 23px;
    position: absolute;
    font-size: 12px;
    top: -8px;
    right: 0px;
    left: 28px;
    line-height: 15px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    line-height: 1.8;
}


.card-footer li.ng-star-inserted:last-child div {
    margin: 0;
}
.text-muted { 
    font-size: 10px;
    float: left !important;
    color: #f78517 !important;
}
.media {
    display: flex;
     margin-top: 18px;
}
a.dropdown-item.py-3:nth-child(even) {
    background: rgb(235 235 235 / 44%);
}

.dropdown-menu.drop-notif {
    width: 300px!important;
    height: 500px!important;
  }
.avatar-md { 
    border-radius: 100%;
    overflow: hidden;
}

.myjobsimgpadding {
  padding: 4px;
  padding-top: 10px !important;
}


.card-header {
    overflow: hidden;
    height: 186px;
}

.card-heade-height {
  height: 275px !important;
}

.card-div-details ul li { 
    padding-bottom: 35px;
}

 
.task-hstory ul li { 
    width: 31%;
}
.form-control {
    display: block;
    width: 100% !important;
  }
  .task-hstory {
    width: 70%; 
    position: absolute;
    top: -80px;
    right: 0;
}
.task-hstory ul li a {
    color: #fff; 
    margin-bottom: 10px;
}
.task-hstory ul li span { 
    color: #fff;
}
.card-active .card-body { 
    position: relative;
}


.task-discription { 
    text-transform: none;
    width: 100%; 
}

/* .colororange {
    background: #ef068c !important;
    border: 1px solid #ef068c;
    padding: 5px 10px;
    color: #fff;
} */

.wpwl-control {
  display: block;
  width: 100%;
  height: 34px !important;
  height: 2.125em;
  padding: 4px 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
  color: #000 !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  text-align: start !important;
}


.colororange {
  background: #ef6e06 !important;
  /* border: 1px solid #ef068c; */
  border: 1px solid #ef6e06;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 13px;
}

.card-active .card-footer ul li.upload a { 
    margin: 0 7px;
}

.card-active .card-footer ul li.finish a { 
    margin: 0 7px;
}
.task-hstory ul li { 
    vertical-align: top;
}

.card-active .card-footer ul li.start a { 
    margin: 0 7px;
}
.text-truncate .text-dark { 
    text-align: left;
}
.card-active .card-header { 
    padding: 10px; 
}

section.infobr .container {
    border-bottom: none;
}
.summary .tab-pane h3 { 
    border-bottom: none; 
}

.summary { 
    top: 15px;
    max-width: 315px
  }

.limiter { 
    margin-top: 115px;
}

 
.summary h3 {
    margin: 0;
    padding: 22px 0px 0;
    border: none;
    max-width: 200px;
}

section.infobr .container {
    border-bottom: none;
}
.summary .tab-pane h3 { 
    border-bottom: none; 
}
.limiter {
    margin-top: 15px;
}
.summary {
    width: 295px;
    min-height: 120px;
    display: inline-block;
    margin: 10px 0px 0 25px;
    position: relative;
    background: -moz-linear-gradient(-45deg, #ef0091 0%, #f78a13 100%);
    background: -webkit-linear-gradient(-45deg, #08b7d6 0%,#992472 100%);
    background: linear-gradient(135deg, #08b7d6 0%,#992472 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0091', endColorstr='#f78a13',GradientType=1 );
}
.summary.summary-two {
    background: -moz-linear-gradient(-45deg, #ef0091 0%, #f78a13 100%);
    background: -webkit-linear-gradient(-45deg, #f00989 0%,#f67f1d 100%);
    background: linear-gradient(135deg, #f0098a 0%,#f67f1d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0091', endColorstr='#f78a13',GradientType=1 );
}









.summary .fa {
    font-size: 44px;
    color: #fff;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    left: 86%;
}

.summary h3 span {
    display: block;
    margin-top: 4px;
    font-size: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stepmain {
    position: relative;
    display: block;
    padding: 0;
}
.new-search {
    display: table;
    position: relative;
    margin-bottom: 0px;
}

.wpwl-control {
  color: #000 !important;
}

.wpwl-wrapper input {
    color: #000 !important;
    font-size: 22px;
    font-weight: 400;
}

input[type="tel"]{
    color: #000 !important;
}

@media only screen and (min-width:300px) and (max-width:767px) {
  .noti-div ul li {
    display: inline-block;
    width: 300px;
  }

  label.lab-txt-left{
    padding: 0 !important;
  }
  .col-md-2.ng-star-inserted {
        width: 100% !important;
}
.form-group > div {
    padding: 0;
}
.form-group .col-lg-6.col-xs-2.icons_align {
    float: left;
    width: 100%;
}
.login-right-area .join a { 
    font-size: 16px;
}
a.res-drp i {
    font-size: 24px;
}
.dropdown.loged { 
    margin-left: 10px;
}
span.sub-suggest { 
    float: left;
    width: 100%;
}
.k-dropdown {
    width: 100% !important;
    margin: 10px 0;
}
.insearch ul li {
    width: inherit;
    padding: 5px 15px;
}
.countdivpay {
    margin-bottom: 0;
}
.wpwl-wrapper.wpwl-wrapper-brand {
    padding-right: 10px;
}
.wpwl-group.wpwl-group-brand {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.wizard_icon i {
    margin: 30px 15px 0;
}
 

.tab-pane h3 {  
    border: navajowhite;
    display: flex;
    margin: 0;
    font-size: 14px;
}
.tab-pane h2 { 
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid #fff6;
}
.new-search { 
    width: 100%;
}


.card-header {
    overflow: hidden;
    height: 185px;
}
.card-div-details ul li { 
    padding-bottom: 30px;
}
 


.insearch ul li {
    background: #E8E8E8;
    border-radius: 15px;
    display: inline-block;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 10px;
    padding-right: 20px;
    width: inherit;
    text-transform: uppercase;
}




.task-hstory {
    width: 100%;
    position: static; 
    text-align: center;
}

.task-hstory ul li a {
    color: #fff;
    margin-bottom: 0;
}
.task-hstory ul li span {
    color: #000;
}
table:not(.mat-calendar-table) tbody tr td { 
    text-align: left;
}

.limiter {
    margin-top: 0;
}
.stepmain { 
    padding: 0;
}
.summary {
    max-width: 100%;
    width: 100%;
    text-align: left;
}
.summary h3 {
    display: block;
    text-align: left;
}
.tab-pane h3 { 
    text-align: left;
}



.summary h3 {
    text-align: left;
}



}







/*============Karthik update 01-04-2023 Ends==========*/
