@charset "utf-8";
/* CSS Document */

/* img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../images/Default_Image_Thumbnail.jpg);
} */

.margintoptwo {
    margin-top: 2px !important;
}

.pac-container {
    background-color: #FFF;
    z-index: 99999 !important;
    position: fixed;
    display: inline-block;
    float: left;
}

.banner { padding-top: 8%;}
.banner h1 {
	color: #fff;
	font-weight: 600;
	font-size: 38px;
	padding-bottom: 20px;
}
.banner p {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 20px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
	border-radius:6px 0px 0px 6px;
	border:0px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 25%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
	border-radius:0px 6px 6px 0px;
	border:0px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}



	.searchlinks ul{
		padding: 0px;
		margin: 0px;
		
	}
	.searchlinks ul li {
		padding:30px 5px;
		float: left!important;
		list-style: none!important;
		color: #fff;
		font-size: 14px;
		
	}
.searchlinks ul li a{
	border-radius: 15px;
	border: solid 1px #fff;
	color: #fff;
	padding:8px;
}
.searchlinks ul li a:hover {
	text-decoration: none;
	background: #02ada4;
	border-color: #02ada4;
}

/* Home section */
.home {
	background: #f8d9e8;
}
/* Add on 06/12/2021 */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
   transition:all 1s;                
}

.sticky + .content {
  padding-top: 102px;
}
.hover01 img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/* End */
/* Carousel Fading slide */
.carousel-fade .carousel-inner {  }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }



.jobcatagories {
	padding: 70px 4% 4% 4%;
	text-align: center;
	overflow: hidden;
	
}

.jobcatagories h1 {
	color: #992472;
	font-size: 38px;
	font-weight: 600;
	
}
.jobcatagories h1 span{
	color: #02ada4;
}
.jobcatagories p {
	font-size: 16px;
	color: #000;
}
.catmain {
  position: relative;
 
}
.catagory_text {
	position: absolute;
	margin-top:-100px;
	text-align: left;
	padding-left: 15px;
	
}
.catagory_text h2 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
.catagory_text p {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_yellow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e9dd31;
	border: solid 5px #cec327;
	
}

.catmain:hover .overlay_yellow {
  opacity: 1;

}

.overlay_blue1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a3dfe0;
	border: solid 5px #6abdbe;
	
}

.catmain:hover .overlay_blue1 {
  opacity: 1;

}

.overlay_pink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #871d64;
	border: solid 5px #641449;
	
}

.catmain:hover .overlay_pink {
  opacity: 1;

}


.overlay_blue2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1d9acc;
	border: solid 5px #4ec7e4;
	
}

.catmain:hover .overlay_blue2 {
  opacity: 1;

}

.overlay_blue3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2ab4b0;
	border: solid 5px #208f8c;
	
}

.catmain:hover .overlay_blue3 {
  opacity: 1;

}
.overlay_blue4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #01948c;
	border: solid 5px #007d76;
	
}

.catmain:hover .overlay_blue4 {
  opacity: 1;

}
.overlay_orange {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e57d0b;
	border: solid 5px #c26602;
	
}

.catmain:hover .overlay_orange {
  opacity: 1;

}
.overlay_rose {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ed8c9f;
	border: solid 5px #cd435d;
	
}

.catmain:hover .overlay_rose {
  opacity: 1;

}

.catagories_text_over {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.catagories_text_over h2 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
.catagories_text_over p {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}

/*.pad_t_15 {
	padding-top: 17px!important;
}
.pad_b_15 {
	padding-bottom: 15px!important;
}*/

.emailtop {
    margin-top: -10px !important;
}

.pad_t_30 {
	padding-top: 30px;
}
.login-leftarea-div {
    display: inline-block;
    max-width: 52%;
    margin: 0px auto 0px !important;
}
.login-leftarea-div img {
    max-width: 100%;
    border-radius: 25px 0 0 25px;
    height: auto !important;    
}
.login-leftarea-div.rating-area{
  width: 100%;
  padding: 30px;
  max-width: 100%;
}
.modal-header.jbr {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #ef0091;
    background: -moz-linear-gradient(-45deg, #ef0091 0%, #f78a13 100%);
    background: -webkit-linear-gradient(-45deg, #ef0091 0%,#f78a13 100%);
    background: linear-gradient(135deg, #ef0091 0%,#f78a13 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0091', endColorstr='#f78a13',GradientType=1 );
    transform: translateZ(0);
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
}
.modal-header.jbr h3{
  color: #fff;
  padding-left: 15px;
}
.clz{
    background: #fff!important;
    border-radius: 50%!important;
    margin-top: 16px!important;
    }
    .comm-top{
      margin-top: 25px;
    }
.popupjobtitle {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
        /* width: 22%; */
        width: 100%;
}    
.rate-txt {
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
        /* width: 22%; */
        width: 100%;
}
.comment-area{
  display: inline-block;
  width: 100%;
}
.comment-area textarea{
  width: 100%;
    border: 1px solid #ccc;
    min-height: 150px;
}
.cancel-div {
    float: left;
}
.cancel-div a {
    background: #f10041;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 30px 0;
    display: inline-block;
    color: #fff;
}
.submit-div {
    float: right;
}
.submit-div a {
    background:#08b7d6!important;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 30px 0;
    display: inline-block;
    color: #fff;
}
.ratestar ul li i {
    font-size: 16px;
}
.ratestar {
    display: inline-block;
    vertical-align: top;
}
.ratestar ul li {
    display: inline-block;
    padding-top: 5px;
}
.modal-dialog.ratediv-blk {
    width: 633px;
    margin: 30px auto;
}
/* Modal Popup Add 03-12-2021*/
.modal-content{
  border-radius: 25px;
}
.modal-body{
  padding: 0;
      position: relative;
}
.login-leftarea-div img {
    /* height: 85% !important; */
    max-width: 100%;
    border-radius: 25px 0 0 25px;
}
.modal-dialog {
    width: 875px;
    margin: 30px auto;
}
button.close {
   width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
button.close img {
    max-width: 100%;
}
.login-right-area {
    display: inline-block;
    width:47%;
    text-align: center;
    vertical-align: middle;
}
.login-right-area .login {
    display: inline-block;
    text-align: center;    
    width: 300px;
}
.login-right-area .login a {
   background: #992472;
    display: block;
    padding: 10px 80px;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 11px;
    width: 100%;
    vertical-align: bottom;
}
.login-right-area .join {
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 30px;
}
.login-right-area-pay {
    display: inline-block;
    width:100%;
    text-align: center;
    vertical-align: middle;
}
.login-right-area-pay .login {
    display: inline-block;
    text-align: left !important;
    /* text-align: center;     */
    /* width: 300px; */
}
.login-right-area-pay .login a {
   background: #992472;
    display: block;
    padding: 10px 80px;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 11px;
    width: 100%;
    vertical-align: bottom;
}
.login-right-area-pay .join {
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 30px;
}
.home-margin-adjust {
    margin: 25px auto 0px !important;
}
.login-right-area .join a {
    background: #F13064;
    display: block;
    padding: 10px 80px;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 11px;
    width: 100%;
    vertical-align: bottom;
}
.text-action {
    width: 75%;
    position: relative;
    margin: 20px auto;
}
.text-action input{
  background: #E8E8E8;
  border-radius: 30px;
  position: relative;
  border:0;
}
.text-action input:after {
    content: "";
    background: url(../images/icon_img_add.png);
    background-repeat: repeat;
    position: absolute;    
}
.btn-email {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
}
button.email-btn {
    width: 100%;
    border-radius: 30px;
    border: 0;
    background: #02ABA2;
    position: relative;
    color: #fff;
    padding: 8px;
}
button.email-btn img {
    position: absolute;
    left: 14px;
    top: 3px;
    width: 28px;
    height: 28px;
}

.btn1-ln {
    display: inline-block;
    width: 60%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn1-fb {
    display: inline-block;
    width: 60%;
    margin-top: 16px;
}

.btn-ln {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
}
button.ln {
    width: 100%;
    border-radius: 30px;
    border: 0;
    background: #0a66c2;
    position: relative;
    color: #fff;
    padding: 8px;
}
button.ln img {
    position: absolute;
    left: 14px;
    top: 3px;
    width: 28px;
    height: 28px;
}

.btn-fb {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
}
button.fb {
    width: 100%;
    border-radius: 30px;
    border: 0;
    background: #0C75C1;
    position: relative;
    color: #fff;
    padding: 8px;
}
button.fb img {
    position: absolute;
    left: 14px;
    top: 3px;
    width: 28px;
    height: 28px;
}
.btn1-google {
    display: inline-block;
    width: 60%;
    margin-top: 16px;
}
.btn-google {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
}
button.google {
    width: 100%;
    border-radius: 30px;
    border: 0;
    background:#F13064;
    position: relative;
    color: #fff;
    padding: 8px;
}
button.google img {
    position: absolute;
    left: 14px;
    top: 3px;
    width: 31px;
    height: 31px;
}
.text-action a {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    padding: 5px;
}
.text-action a img {
    max-width: 100%;
}

.login-style {
         background: #eef0f8;
    border: 0;
    border-top-color: transparent;
    height: 45px;
    display: inline-block;
    width: 100%;
    margin-top: 16px;
    border-radius: 15px;
    text-indent: 25px;
}
button.search {
    position: absolute;
    right: 0;
    width: 200px;
    border: 0;
    background: #992472;
    color: #fff;
    padding: 14px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    top: 15px;
    height: 46px;
}
.mainlist {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
        margin-top: 25px;
}
.mainlist h2 {
    color: #F24254;
    font-size: 55px;
}
.mainlist p {
    font-size: 16px;
    width: 50%;
        margin: 0 auto;
    color: #6F7070;
}
.cardheight {
    min-height: 592px !important;
}
.card {
    background: #fff;
    border:1px solid #cccccc7a;
    -webkit-box-shadow: 0 7px 9px -2px #3838381f;
    -moz-box-shadow: 0 7px 9px -2px #38383840;
    box-shadow: 0 7px 9px -2px #38383817;
    border-radius: 10px;
}
.card-header {
    display: inline-block;
    width: 100%;
    position: relative;
}
.card-header img {
    max-width: 100%;
      border-radius: 10px 10px 0 0;
}
.card-header h5 {
    background: #00000038;
    position: absolute;
    bottom: 0;
    padding: 6px;
    margin: 0;
    width: 100%; 
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.card-body {
    display: inline-block;
    padding: 15px;
}
.text-head {
    color: #DE4566;
    display: inline-block;
    width: 65%;
    font-weight: 500;
    line-height: 15px;
    font-size: 14px;
}
.owl-carousel.owl-loaded.owl-drag {
    padding-top: 35px;
}
.percent {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
}
.popbtm-links {
    display: inline-block;
    width: 100%;
}
.popbtm-links .card-footer {
    display: inline-block;
    padding: 15px 0;
    padding-bottom: 0;
    width: 100%;
}
.pop-texttopmain p {
    line-height: 16px;
}
 .popbtm-links .ftrimg {
  text-align: left;
}
 .popbtm-links .card-footer ul li{
width: 50px;
}
 .fltright .ftrimg {
 text-align: right;
}
.fltright{
  float: right;
}
.ratingandprofile .profilrate {
   
    padding-top: 10px;
   border:0;
    padding-bottom: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.star-active{
  color: #f68319!important;
}
.profilepic {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.profilepic img{
    max-width: 100%;
}
.rating {
    display: inline-block;
    width: 46%;
    margin-left: 5px;
}
.rating ul li {
    display: inline-block;
}
.ratingprofile {
    display: inline-block;
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
}
.ratingprofile ul li {
    display: inline-block;
    cursor: pointer;
}
.ratingprofile ul li i {
    font-size: 21px !important;
}

.exp-bar {
    border-radius: 25px;
    background: #ACACAC;
    margin: 15px auto;
    max-width: 200px;
    height: 8px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.exp-bar span {
    border-right: 1px solid #fff;
    width: 25%;
    display: inline-block;
    height: 15px;
    cursor: pointer;
}

.exp-bar span.fill {
    background: #F13064;
}

.clearboth {
   clear: both; 
}

.locdiv {
    width: 64%;
    display: inline-block;
    text-align: left;
    margin-top: 12px;
    font-size: 11px;
}
.inperson {
    display: inline-block;
    width: 34%;
    text-align: right;
    margin-top: 12px;
    font-size: 11px;
}
.card-footer {
    display: inline-block;
    padding: 15px;
    padding-bottom: 0;
    width: 100%;
    text-align: center;
    height: 100px;
}
.card-footer ul li img {
    max-width: 100%;
    width: 34px;
}
.login-leftarea-div .card-header {
    padding: 30px;
}

.ftrimg {
    height: 43px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
    vertical-align: top;
}
.card-footer ul li {
    display: inline-block;
    text-align: center;
    width: 60px;
    vertical-align: top;
    text-transform: uppercase;
    /* font-size: 9px; */
    font-size: 8px;
    padding-bottom: 20px;
}
.login-leftarea-div .card-header h5 {
    position: relative;
    bottom: 43px;
    height: 43px;
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.login-leftarea-div.usertxt {
    max-width: 35%;
}
.login-leftarea-div.usertxt .card-header img{
height: 266px;
border-radius: 10px;
}
.login-right-area.poptxt {
    vertical-align: top;
        width: 62%;
        text-align: left;
           margin-top: 30px;
}
.login-right-area-pay.poptxt {
    vertical-align: top;
        width: 62%;
        text-align: left;
           margin-top: 30px;
}
.toptxtbox {
    display: inline-block;
    width: 50%;
     
}
.texttoplong {
    font-size: 12px;
    padding-top: 10px;
}
.textbottomlong {
    font-size: 12px;
    padding-bottom: 10px;
}
.textlong {
    font-size: 12px;
}
.textlong h2{
    font-size: 16px;
}
.toptxtdiv {
    font-size: 11px;
}
.right-blk-count {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.right-blk-count .countdiv span {
    display: inline-block;
    vertical-align: top;
    /* background: aliceblue; */
    background: #EF0D8E;
    background: -moz-linear-gradient(180deg, #EF0D8E 0%, #f78a13 100%);
    background: -webkit-linear-gradient( 
180deg, #EF0D8E 0%,#f78a13 100%);
    background: linear-gradient( 
180deg, #EF0D8E 0%,#F78616 100%);
    padding: 28px 15px;
    color: #fff;
    font-weight: 800;
       font-size: 44px;
    border-radius: 5px;
    height: 62px;
}
.right-blk-count .countdiv {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: right;
}
.pop-texttopmain {
    /* display: inline-block; */
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
}
.profilrate {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
        border: 0;
         border-top: 1px solid #ccc;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.ratingandprofile .rating i {
    font-size: 18px;
}
.ratingandprofile .rating  {
       margin-left: 11px;
           width: 37%;
           text-align: left;
}
.ratingandprofile .inperson {
    display: inline-block;
    width: 27%;
    font-size: 16px;
    text-align: right;
    margin-top: 12px;
}
.ratingandprofile .locdiv {
    width: 22%;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin-top: 12px;
}
.userpp{
  padding-top: 50px;
}
.card-footer ul li a {
    color: #6F7070;
}
.countdivpay {
    display: inline-block;
    width: 7%;
    vertical-align: top;
    text-align: right;
}
.countdiv {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    text-align: right;
}
.countdiv span,.countdivpay span{
    display: inline-block;
    vertical-align: top;
    background: #EF0D8E;
    background: -moz-linear-gradient(180deg, #EF0D8E 0%, #f78a13 100%);
    background: -webkit-linear-gradient( 180deg, #EF0D8E 0%,#f78a13 100%);
    background: linear-gradient( 180deg, #EF0D8E 0%,#F78616 100%);
    padding: 5px;
    color: #fff;
    font-weight: 800;
    line-height: 14px;
    font-size: 18px;
    border-radius: 5px;
    padding-top: 7px;    
}
a.settingico {
    position: absolute;
    right: 0;
    top: 55px;
    width: 50px;
    height: 50px;
}
a.settingico img {
    max-width: 100%;
}
.username-div {
    width: 95%;
    position: relative;
    display: inline-block;
}
.username-div img {
    position: absolute;
    top: 28px;
    width: 20px;
    height: 20px;
    left: 10px;
}
.password-div {
    width: 95%;
    position: relative;
    display: inline-block;
}
.password-div img {
    position: absolute;
    top: 28px;
    width: 20px;
    height: 20px;
    left: 10px;
}
.next-div a {
    background: #02aba2;
    padding: 11px 25px;
    color: #fff;
    border-radius: 10px;
}
.next-div {
    display: inline-block;
    width: 100%;
    /* margin-top: 25px; */
}
.login-right-area .row {
    margin: 0;
    padding: 0;
}
.login-right-area .row {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 54px;    
}
.login-right-area .col-md-6, .login-right-area .col-md-12 {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.login-right-area-pay .row {
    margin: 0;
    padding: 0;
}
.login-right-area-pay .row {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 54px;    
}
.login-right-area-pay .col-md-6, .login-right-area-pay .col-md-12 {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 30px;
}
.register .username-div {
    width: 100%;
}
.username-div.first-right{
  width: 96%;
}
.username-div.first-left{
  width: 96%;
}
.col-md-6.div-left {
    text-align: left;
}
.col-md-6.div-right {
    text-align: right;
}
.signuptxt {
    display: inline-block;
    width: 100%;
    text-align: left;
    /* margin-top: 0px; */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
.whotxt {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 25px;
    font-size: 18px;
}
.who-list {
    display: inline-block;
    text-align: left;
    width: 100%;
}
.who-list ul li {
    display: inline-block;
    margin-right: 10px;
}
label:checked + label::before{
  content: "";
  background: transparent;
}
:checked+label::before {
    content: ""!important;
    background-color: transparent!important;
    transform: scale(1);
}
.create-acc {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 18px;
}
.create-acc a {
    background: #02ABA2;
    color: #fff;
    padding: 12px 30px;
    border-radius: 12px;
    text-transform: uppercase;
}
.login-right-area .welcome {
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 30px;
}
.login-right-area-pay .welcome {
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 30px;
}
.welcome a {
    background: #02ABA2;
    display: block;
    padding: 10px 80px;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 11px;
    width: 100%;
    vertical-align: bottom;
}
.welcome-txt{
  margin-top: 25px;
  display: inline-block;
  width: 100%;
}
.discription {
    display: inline-block;
    width: 100%;
        margin-top: 40px;
}
.discription ul li {
       display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 48px;
}
.discription ul li h4 {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.discription ul li img {
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
}
/* Home style add 03-12-2021 */
li.faico {
    position: relative;
}
li.faico span {
    background: #02ABA2;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 18px;
    position: absolute;
    font-size: 12px;
    top: 0;
    right: 0px;
    left: 28px;
    line-height: 11px;
    text-align: center;
}
i.fa.fa-bell-o {
    font-size: 20px;
}
.bann-text-blk {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
}
.blow-txt {
    display: inline-block;
    width: 100%;
}
.blow-txt h1 {
    font-size: 17px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.search-blk {
    display: inline-block;
    width: 100%;
    position: relative;
}
@media screen and (max-width:768px) {
/*	.search {display: none;} Removed on 06/12/2021 & Add */
button.search {
    position: absolute;
    right: 0;
    width: 103px;
    border: 0;
    background: #992472;
    color: #fff;
    padding: 14px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    top: 15px;
    height: 46px;
}

/* End 06/12/2021*/
		.searchlinks ul li {
		padding:30px 5px 0px 5px;
		float: left!important;
		list-style: none!important;
		color: #fff;
		font-size: 14px;
		
	}
.pad_t_15 {
	padding-top: 15px;
}
.pad_b_15 {
	padding-bottom: 15px;
}

.pad_t_30 {
	padding-top: 15px;
}
	.pad_small {
	padding-bottom: 15px!important;
}
	.pad_0 {
		padding-bottom: 0px!important;
	}

	.jobcatagories {
	padding: 70px 4% 7% 4%;
	text-align: center;
	overflow: hidden;
	
}
}
.text_c {
	text-align: center
}

.text_c_color {
	color: #F24254 !important;
}

.bu_viewmore {
	border:solid 2px #616161;
	border-radius: 6px;
	background: #fff;
	color: #424242;
	font-size: 16px;
	padding: 15px;
}
.bu_viewmore:hover {
	border:solid 2px #616161;
	border-radius: 6px;
	background: #4dc6e3;
	color: #424242;
	font-size: 16px;
	padding: 15px;
	text-decoration: none;
}

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}
.text_r {
	text-align: right;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}


/* Demo backgrounds and styling*/
.listing {
	text-align: left;
	font-family: 'Josefin Sans', sans-serif!important;
	
}
.listing h3 {
	color: #181818;
	font-size: 16px;
	text-align: left;
	
}
.listing h3 span {
	width: 30px;
	height:30px;
	border-radius: 100px;
	background: #eaeaea;
	color: #000;
	float: right;
	padding:8px 6px;
	font-size: 12px;
}
.fa-star {
	font-size: 50px!important;
	border-color: orange;
	color: #787878;
}
.checked {
  color: orange;
}
.listing ul {
	margin:0px;
	padding: 0px;

}
.listing_txt1{
	color: #81585f;
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif!important;
	padding: 0px!important;

}
.map{
	color:#c3c3c3!important;
}
.person{
	color:#f7a2b4!important;
}
.persononline{
	color:#30c308!important;
}
.rate {font-size: 20px;
	color: #181818;
}
.actions {padding-top: 10px; padding-bottom: 10px;}
.closeicon {color:#b4b3b3; }
.circleicon {color:#94d0d0; }
.hearticon {float: right;color:#c7c5c5;}
.hearticon_red {float: right;color:#ea0042;}
.colour-1 {
  background: #ffeff2;
  color: #fff;
	border-radius: 3px;
}

.colour-2 {
  background: #e3fff4;
}

.colour-3 {
  background: #70AE6E;
}

.colour-4 {
  background: #82204A;
}

.colour-5 {
  background: #558C8C;
}

.colour-6 {
  background: #917C78;
}

.forgot-link {
    margin: 5px 30px 0 !important;
    float: left;
}

.signup-link {
    margin: 0 0 0 !important;
}

	@media screen and (max-width:400px) {
    .login-style {
    background: #eef0f8;
    border: 0;
    border-top-color: transparent;
    height: 45px;
    display: inline-block;
    width: 74%;
    margin-top: 16px;
    border-radius: 15px;
    text-indent: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

  }

  


/*** karthicks edit for #responsivehomepage */
@media only screen and (min-width: 992px) and (max-width:1024px) {
    a.lt-pointer {
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    
    .discription ul li {
        vertical-align: top;
        margin: 0 15px 20px;
    }
    
    .discription ul {
        text-align: center;
    }

}
@media only screen and (min-width: 768px) and (max-width:991px) {
    a.lt-pointer {
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    
    .discription ul li {
        vertical-align: top;
        margin: 0 15px 20px;
    }
    
    .discription ul {
        text-align: center;
    }
    
    .owl-carousel.owl-loaded.owl-drag {
        padding-top: 0;
    }
    .mainlist h2 { 
        font-size: 24px;
    }
    a.settingico { 
        width: 30px;
        height: 30px;
    }
    .col-md-3.ng-star-inserted {
        max-width: 250px;
        display: inline-block;
    }
    .rating i.fa.fa-star {
        font-size: 14px!important;
    }
    .navbar-nav { 
        padding: 0;
        margin: 10px 0 0;
    }
    .modal-dialog { 
        max-width: 650px;
    }
    .login-right-area .login, .login-right-area .join{
        width: 85%;
    }
    .login-right-area-pay .login, .login-right-area-pay .join{
        width: 85%;
    }
    #login_main .modal.in .modal-dialog {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%); 
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .next-div { 
        margin-top: 0;
    }
    .login-leftarea-div {
        display: inline-block;
        max-width: 50%;
    }
    button.close {
        width: 40px;
        height: 40px; 
        margin-right: 5px;
        margin-top: 5px; 
    }
    .navbar-nav {
        padding: 0;
    }
    .text-action {
        width: 85%; 
    }
}


  @media only screen and (min-width:250px)and (max-width:767px){
    a.lt-pointer {
        width: 60px;
        display: block;
        margin: 0 auto;
    }
    
    .discription ul li {
        vertical-align: top;
        margin: 0 auto 20px;
    }
    
    .discription ul {
        text-align: center;
    }
    
    .owl-carousel.owl-loaded.owl-drag {
        padding-top: 0;
    }
    .mainlist h2 { 
        font-size: 24px;
    }
    a.settingico { 
        width: 30px;
        height: 30px;
    }
    .navbar-nav { 
        margin: 0 0px;
    }
    .login-leftarea-div { 
        max-width: 100%;
    }
    .login-leftarea-div img { 
        border-radius: 0px;
    }
    .login-right-area { 
        width: 100%;
        margin: 15px 0;  
    }
    .login-right-area-pay { 
        width: 100%;
        margin: 15px 0;  
    }
    #login_main .modal-content {
        border-radius: 25px;
        max-width: 450px;
        margin: 0 auto;
    }
    #login_main .modal.in .modal-dialog {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%); 
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .rating i.fa.fa-star {
        font-size: 14px!important;
    }
  }