@charset "utf-8";
/* CSS Document */

.banner { padding-top: 8%;}
.banner h1 {
	color: #fff;
	font-weight: 600;
	font-size: 38px;
	padding-bottom: 20px;
}
.banner p {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 20px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
	border-radius:6px 0px 0px 6px;
	border:0px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 25%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
	border-radius:0px 6px 6px 0px;
	border:0px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}



	.searchlinks ul{
		padding: 0px;
		margin: 0px;
		
	}
	.searchlinks ul li {
		padding:30px 5px;
		float: left!important;
		list-style: none!important;
		color: #fff;
		font-size: 14px;
		
	}
.searchlinks ul li a{
	border-radius: 15px;
	border: solid 1px #fff;
	color: #fff;
	padding:8px;
}
.searchlinks ul li a:hover {
	text-decoration: none;
	background: #02ada4;
	border-color: #02ada4;
}

/* Home section */
.home {
	background: #f8d9e8;
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner {  }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }



.jobcatagories {
	padding: 70px 4% 4% 4%;
	text-align: center;
	overflow: hidden;
	
}

.jobcatagories h1 {
	color: #992472;
	font-size: 38px;
	font-weight: 600;
	
}
.jobcatagories h1 span{
	color: #02ada4;
}
.jobcatagories p {
	font-size: 16px;
	color: #000;
}
.catmain {
  position: relative;
 
}
.catagory_text {
	position: absolute;
	margin-top:-100px;
	text-align: left;
	padding-left: 15px;
	
}
.catagory_text h2 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
.catagory_text p {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_yellow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e9dd31;
	border: solid 5px #cec327;
	
}

.catmain:hover .overlay_yellow {
  opacity: 1;

}

.overlay_blue1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a3dfe0;
	border: solid 5px #6abdbe;
	
}

.catmain:hover .overlay_blue1 {
  opacity: 1;

}

.overlay_pink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #871d64;
	border: solid 5px #641449;
	
}

.catmain:hover .overlay_pink {
  opacity: 1;

}


.overlay_blue2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1d9acc;
	border: solid 5px #4ec7e4;
	
}

.catmain:hover .overlay_blue2 {
  opacity: 1;

}

.overlay_blue3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2ab4b0;
	border: solid 5px #208f8c;
	
}

.catmain:hover .overlay_blue3 {
  opacity: 1;

}
.overlay_blue4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #01948c;
	border: solid 5px #007d76;
	
}

.catmain:hover .overlay_blue4 {
  opacity: 1;

}
.overlay_orange {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e57d0b;
	border: solid 5px #c26602;
	
}

.catmain:hover .overlay_orange {
  opacity: 1;

}
.overlay_rose {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ed8c9f;
	border: solid 5px #cd435d;
	
}

.catmain:hover .overlay_rose {
  opacity: 1;

}

.catagories_text_over {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.catagories_text_over h2 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}
.catagories_text_over p {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
}

/*.pad_t_15 {
	padding-top: 17px!important;
}
.pad_b_15 {
	padding-bottom: 15px!important;
}*/

.pad_t_30 {
	padding-top: 30px;
}

@media screen and (max-width:768px) {
	.search {display: none;}
		.searchlinks ul li {
		padding:30px 5px 0px 5px;
		float: left!important;
		list-style: none!important;
		color: #fff;
		font-size: 14px;
		
	}
.pad_t_15 {
	padding-top: 15px;
}
.pad_b_15 {
	padding-bottom: 15px;
}

.pad_t_30 {
	padding-top: 15px;
}
	.pad_small {
	padding-bottom: 15px!important;
}
	.pad_0 {
		padding-bottom: 0px!important;
	}

	.jobcatagories {
	padding: 70px 4% 7% 4%;
	text-align: center;
	overflow: hidden;
	
}
}
.text_c {
	text-align: center
}

.text_c_color {
	color: #F24254 !important;
}

.bu_viewmore {
	border:solid 2px #616161;
	border-radius: 6px;
	background: #fff;
	color: #424242;
	font-size: 16px;
	padding: 15px;
}
.bu_viewmore:hover {
	border:solid 2px #616161;
	border-radius: 6px;
	background: #4dc6e3;
	color: #424242;
	font-size: 16px;
	padding: 15px;
	text-decoration: none;
}

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}
.text_r {
	text-align: right;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}


/* Demo backgrounds and styling*/
.listing {
	text-align: left;
	font-family: 'Josefin Sans', sans-serif!important;
	
}
.listing h3 {
	color: #181818;
	font-size: 16px;
	text-align: left;
	
}
.listing h3 span {
	width: 30px;
	height:30px;
	border-radius: 100px;
	background: #eaeaea;
	color: #000;
	float: right;
	padding:8px 6px;
	font-size: 12px;
}
.fa-star {
	font-size: 12px!important;
	border-color: orange;
	color: #787878;
}
.fa-star-popup {
	font-size: 50px!important;
	border-color: orange;
	color: #787878;
}
.checked {
  color: orange;
}
.listing ul {
	margin:0px;
	padding: 0px;

}
.listing_txt1{
	color: #81585f;
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif!important;
	padding: 0px!important;

}
.map{
	color:#c3c3c3!important;
}
.person{
	color:#f7a2b4!important;
}
.persononline{
	color:#30c308!important;
}
.rate {font-size: 20px;
	color: #181818;
}
.actions {padding-top: 10px; padding-bottom: 10px;}
.closeicon {color:#b4b3b3; }
.circleicon {color:#94d0d0; }
.hearticon {float: right;color:#c7c5c5;}
.hearticon_red {float: right;color:#ea0042;}
.colour-1 {
  background: #ffeff2;
  color: #fff;
	border-radius: 3px;
}

.colour-2 {
  background: #e3fff4;
}

.colour-3 {
  background: #70AE6E;
}

.colour-4 {
  background: #82204A;
}

.colour-5 {
  background: #558C8C;
}

.colour-6 {
  background: #917C78;
}

	