


/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  margin-top: 102px;
}

.container-table100 {
  width: 100%;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 0;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
 
}
table thead:not(.mat-calendar-table-header,.thead-light) tr {
  height: 60px;
 background: #f13064;
}
table:not(.mat-calendar-table) tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset;
}

tbody tr:nth-child(even) {
     background-color: #f8f8f8;
    color: #7a7b7b;
}
tbody tr:nth-child(odd) {
    color: #31bbb3;
}
tbody tr {
 
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
     padding: 20px;
    width: 108px;
    text-align: center;
    border-right: 1px dashed #d2d2d2;
}

.column2 {
  /* width: 160px; */
  width:123px;
  text-align: center;
  border-right: 1px dashed #d2d2d2;
      padding: 0 10px;
      word-break: break-word;      
}

.column3 {
  /*width:333px;*/
  width:290px;
  text-align: center;
  border-right: 1px dashed #d2d2d2;
  text-transform: uppercase;
}

.column4 {
  /* width: 112px; */
  width:84px;
  text-align: center;
  border-right: 1px dashed #d2d2d2;
}

.column5 {
  /* width: 112px; */
  width:93px;
  text-align: center;
  border-right: 1px dashed #d2d2d2;
}

.column6 {
  width: 180px;
  text-align: center;
  border-right: 1px dashed #d2d2d2;
  text-transform: uppercase;
}
.column7 {
  width: 200px;
  text-align: center;
}
.succ {
    background: #02aba2;
    border-radius: 15px;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
        font-size: 12px;
     text-transform: uppercase;
}
.pendig {
    background: #acacac;
    border-radius: 15px;
    padding: 10px 40px;
        font-size: 12px;
        text-decoration: none;
     text-transform: uppercase;
    color: #fff;
}
@media screen and (max-width: 992px) {
  table:not(.mat-calendar-table) {
    display: block;
  }
  table:not(.mat-calendar-table) > *, table:not(.mat-calendar-table) tr, table:not(.mat-calendar-table) td, table:not(.mat-calendar-table) th {
    display: block;
  }
  table:not(.mat-calendar-table) thead {
    display: none;
  }
  table:not(.mat-calendar-table) tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table:not(.mat-calendar-table) tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table:not(.mat-calendar-table) tbody tr td:last-child {
    margin-bottom: 0;
  }
  table:not(.mat-calendar-table) tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table:not(.mat-calendar-table,.maintable100) tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table:not(.mat-calendar-table,.maintable100) tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table:not(.mat-calendar-table,.maintable100) tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table:not(.mat-calendar-table,.maintable100) tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table:not(.mat-calendar-table,.maintable100) tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table:not(.mat-calendar-table,.maintable100) tbody tr td:nth-child(6):before {
    content: "Total";
  }

  table.maintable100 tbody tr td:nth-child(1):before {
    content: "JOB ID";
  }
  table.maintable100 tbody tr td:nth-child(2):before {
    content: "REFERENCE";
  }
  table.maintable100 tbody tr td:nth-child(3):before {
    content: "DESCRIPTION";
  }
  table.maintable100 tbody tr td:nth-child(4):before {
    content: "PAYMENT ID";
  }
  table.maintable100 tbody tr td:nth-child(5):before {
    content: "MONEY IN";
  }
  table.maintable100 tbody tr td:nth-child(6):before {
    content: "MONEY OUT";
  }
  table.maintable100 tbody tr td:nth-child(7):before {
    content: "DATE";
  }
  table.maintable100 tbody tr td:nth-child(8):before {
    content: "STATUS";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}