/*Start vertical Wizard*/

.verticalwiz {
  display: block;
  list-style: none;
  position: relative;
  width: 100%;

padding: 0px 30px 0px 0px;
/* margin-top: 3em; commented on 4th Jan 2022 */
margin-top: 0;
}

.verticalwiz a:hover,.verticalwiz a:active,.verticalwiz a:focus {
  text-decoration: none
}

.verticalwiz li {
  display: block;
  /* height: 100%; */
  /* min-height: 90px; commented on 4th Jan 2022 */
  min-height: 77px;  
 /* max-width: 215px;*/
  width: 100%;

margin-bottom: 3px;
border-radius: 10px;
 position: relative;
}

/* commented on 4th Jan 2022 */
.tab-pane h3{
  font-size: 18px;
  text-transform: uppercase;
  /* color: #8D306F; */
  color: #cd063f;
  font-weight: 900;
  margin-bottom: 18px;
}
.tab-pane h2{
  font-size: 18px;
  text-transform: uppercase;
  color: #424242;
  font-weight: 900;
  margin-bottom: 18px;
}
.wizard_icon img {
  width: 36px;
  padding-top: 18px;
}

.tab-radio {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.tab-radio input[type="radio"] {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
top: 135px;
height: 25px;
width: 25px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */

/* .tab-radio:hover input ~ .checkmark {
  background-color: #01bbea00;
  border: 7px solid #ffffff;
  cursor: pointer;
} */

.tab-radio span.checkmark {
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.card-body.card-small-list {
  padding: 0;
}
.card-body.card-small-list ul li {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
}
.card-body.card-small-list ul li a {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 8px;
     border-bottom: 1px solid #01bbea;
     color: #818181;
          text-decoration: none;
}
.card-body.card-small-list ul li:last-child a {
  border: 0;
}

.card-body.card-small-list-1 ul li a {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 8px;
     border-bottom: 1px solid #ef0d8e;
     color: #818181;
          text-decoration: none;
}
.card-body.card-small-list-1 ul li:last-child a {
  border: 0;
}
.card-body.card-small-list-1 {
  padding: 0;
}
.card-body.card-small-list-2 {
  padding: 0;
}
.card-body.card-small-list-1 ul li {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
}
.card-body.card-small-list-2 ul li a {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 8px;
     border-bottom: 1px solid #992472;
     color: #818181;
          text-decoration: none;
}
.card-body.card-small-list-2 ul li {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
}
.card-body.card-small-list-2 ul li:last-child a {
  border: 0;
}
/* When the checkbox is checked, add a blue background */
.tab-radio input:checked ~ .checkmark {
  /* background-color: #ffffff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; */
  background-color: #01bbea00;
  border: 7px solid #ffffff;
  cursor: pointer;  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
/* .tab-radio input:checked ~ .checkmark:after {
display: block;
} */

/* Style the checkmark/indicator */
.tab-radio .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.cardcolor-1{
background: #01bbea;
}
.cardcolor-2{
background: #ef0d8e;
}
.cardcolor-3{
background: #992472;
}
.middle-txt {
  min-height: 195px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  padding-top: 86px;
  text-align: center;
}
.middle-txt label {
  color: #fff;
  font-size: 36px!important;
}
.tab-radio .card{
border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}
.card-header.dis h5 {
  padding: 20px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  top: 0;
  bottom: auto;
      font-size: 18px;
}
.active a.tab2 span.step {
  background: #f13064;
}
span.step:before {
  background: #e8e8e8;
  content: "";
  width: 3px;
  position: absolute;
  top: 45px;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.verticalwiz li.step_active:not(li.active) .step:before {
  background: #f13064;
}

.total-amout-due{
  text-transform: uppercase;
 font-size: 16px;
 display: inline-block;
 font-weight: 800;
 color: #6f7070;
}
span.rtw {
 background: #f34f4d;
 background: linear-gradient(180deg, rgba(240,32,123,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
 color: #fff;
 border-radius: 5px;
 padding: 5px;
}


/*.verticalwiz li:before {
  border-top: 3px solid #ebedf3;
  content: "";
  display: block;
  font-size: 0;
  overflow: auto;
  position: relative;
  top: 45px;
  right: 0;
  width: 100%;
  z-index: 1;
  transform: rotate(90deg) translateY(-230px);
  left: 0;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;


}*/
/* .step_active:before {
  border-top: 3px solid #992471;
  content: "";
  display: block;
  font-size: 0;

  position: relative;
  top:0px;
  right: 0;
  width: 100%;
  z-index: 1;
  transform: rotate(90deg) translateY(-230px);
  left: 0;
max-width: 25%;
  margin: 0 auto;
  text-align: center;
overflow: hidden;


} */
.active .triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    /* border-left: 12px solid #992471; commented on 4th Jan 2022 */
    border-left: 12px solid #f13064;
    border-bottom: 10px solid transparent;
float: right;
margin-right: -10px;
margin-top: 8%;
position: relative;
  }
.verticalwiz li.complete .step {
  background: #0aa66e;
  padding: 1px 6px;
  border: 3px solid #55606E
}

/* commented on 4th Jan 2022 */
/* .verticalwiz li .step i {
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -1.5px
} */

.verticalwiz li .step i {
  font-size: 23px;
 font-weight: 400;
 position: relative;
 top: -4px;
 left: -3px;
}

.verticalwiz li .step {
  background: #ebedf3;
  color: #fff;
  display: inline;
  font-size: 15px;
  font-weight: 700;
  line-height: 12px;
  padding: 12px 12px;
  border: 0px solid transparent;
  border-radius: 50%;
  line-height: normal;
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all .1s linear 0s;
float: right;
margin-right: -68px;
/* margin-top: 15px; commented on 4th Jan 2022 */
/* added on 4th Jan 2022 */
margin-top: 18px;
    width: 40px;
    height: 40px;
/* added on 4th Jan 2022 */    
}
/* added on 4th Jan 2022 */ 
.wizarddetailshead p {
  font-size: 12px;
}
.wizarddetailshead {
  margin-left: 8px;
}
.chk-active span.step {
  background: #f13064;
}
/* added on 4th Jan 2022 */ 
.mrb_9 {margin-bottom: 8px!important;}
/* .verticalwiz li.active .step,.verticalwiz li.active.complete .step { */
.verticalwiz li.step_active:not(li.active) .step,.verticalwiz li.step_active:not(li.active).complete .step {
  /* background: #992471; commented on 4th Jan 2022 */
  background:#f13064;  
  color: #fff;
  font-weight: 700;
  padding: 12px 12px;
  font-size: 15px;
  border-radius: 50%;
  border: 0px solid #7fe583;
display: block;
}
.verticalwiz .active {
/* background: #992471; commented on 4th Jan 2022 */
background: #f13064;
color: #fff;
}
.verticalwiz .active a{

color: #fff!important;
}
.verticalwiz a{

/* color: #3f3f3f!important; commented on 4th Jan 2022 */
color:#acacac!important;
}
.verticalwiz li.complete .title,.verticalwiz li.active .title {
  color: #2B3D53
}

.verticalwiz li .title {
  display: inline;
  font-size: 13px;
  position: relative;
  top: 0;
}

/* commented on 4th Jan 2022 */
/* .rightab { */
/*    border: 1px solid #dedede;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 1px 1px 11px #ccc;*/
  /* min-height: 320px;
margin-left: -14px;
border-left: 4px solid #ebedf3;
padding-left: 30px;
padding-top: 50px;
min-height: 550px;
} */

/* added on 4th Jan 2022 */ 
.rightab {

  min-height: 320px;
margin-left: -14px;

padding-left: 30px;
padding-top: 0;
min-height: 550px;
position: relative;
}
/* added on 4th Jan 2022 */ 

.wizarddetailshead {
padding:8px;
}
/* .wizard_icon i {width: 50px; float: left;text-align: center; font-size: 25px;  padding-top: 20px;} commented on 4th Jan 2022 */
.wizard_icon i {    width: 44px;
  height: 44px;
  float: left;
  text-align: center;
  font-size: 25px;
  padding-top: 0;
  border: 2px solid #acacac;
  border-radius: 50%;
  margin-top: 15px;
  line-height: 40px;}
.wizarddetailshead h4{
font-size: 18px;
/* added on 4th Jan 2022 */
padding-bottom: 0;
margin-bottom: 0;
/* added on 4th Jan 2022 */
}
.verticalwiz .active i{
  border-color: #fff;
}
.mrb_0 {
margin-bottom: 0px;
}
.tab-pane h3 { margin-bottom: 15px;}
.tab-pane label {
font-size: 18px;
}
.wizardfeilds {
  font-size: 18px;
  color: #8A8B8B;
  background: #fff;
      border: 1px solid #67ccc7;
  padding: 10px!important;
  height: auto!important;
  float: left;
      border-radius: 10px;
}
label.lab-txt {
    font-size: 13px;
    color: #7a7b7b;
}

.fsize16 {
  font-size: 16px;
} 

label.lab-txt-left {
  font-size: 13px;
  color: #7a7b7b;
  text-align: left;
  margin: 8px;
}

input.wizardfeilds {
	width: 95%!important;;
}
textarea.wizardfeilds {
	width: 98%!important;;
}
select.wizardfeilds {
	width: 94%!important;;
}


.required{
  color:#dc3590!important; 
  float: right;
  font-size: 20px;
}
.mrgzro{
  margin-bottom: 0;
}

.requiredother{
  color:red; 
  float: right;
  font-size: 20px;
  padding-left: 10px;
}

span.addbtn {
  background: #02aba2;
  color: #fff;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  vertical-align: top;
  border-radius: 50%;
  line-height: 35px;
}

span.addnewbtn {
  background: #992471;
  color: #fff;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  vertical-align: top;
  border-radius: 50%;
  line-height: 35px;
}

@media  (min-width: 992px) and (max-width: 1199px){
  .verticalwiz li:before{    
      transform: rotate(90deg) translateY(65px);
      max-width: 60%;
  }



}
@media (max-width: 991px){
  .verticalwiz li.step_active:not(li.active) .step, .verticalwiz li.step_active:not(li.active).complete .step {
    background: #f13064;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
    padding: 12px 12px;
    border-radius: 50%;
    border: 0px solid #7fe583;
    display: block;
  }
  /* .step_active:before {
    border-top: 3px solid #992471;
    content: "";
    display: block;
    font-size: 0;
  
    position: relative;
    top:0px;
    right: 0;
    width: 100%;
    z-index: 1;
    transform: rotate(90deg) translateY(-230px);
    left: 0;
  max-width: 25%;
    margin: 0 auto;
    text-align: center;
  overflow: hidden;
  
  
  } */
  .step_active:before {
    border-top: 3px solid #f13064;
    content: "";
    display: block;
    font-size: 0;
    position: relative;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: 1;
    transform: rotate(90deg) translateY(-230px);
    left: 0;
    /* max-width: 50%; */
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  /* .verticalwiz li{
      float: left;
      width: 16%;
      height: auto;
      min-height: inherit;
      margin-bottom: 20px;
      max-width: inherit;
      text-align: center;
    margin-top: -2.3rem;
  } */

  .verticalwiz li {
    float: left;
    width: 25%;
    height: auto;
    min-height: inherit;
    margin-bottom: 20px;
    max-width: inherit;
    text-align: center;
    margin-top: -2.3rem;
  }

  .col-sm-2.col-md-2.mrb_0.wizard_icon {
    z-index: 2;
  }

  .verticalwiz li.step_active:not(li.active) i.fa.fa-certificate {
    border: 2px solid #f13064;
    color: #f13064;
  }
  
   .verticalwiz{
 border-top: 3px solid #ebedf3;
 width: 100%;
     margin-top: 4rem;
}
  .verticalwiz li:before{
          transform: none;
          max-width: inherit;
          position: absolute;
  top:20px;
  
  }
  

  .verticalwiz li .title{
      margin-top: 10px;
      text-align: center;
      display: block;
  }
  /* .verticalwiz li .step {
    background: #ebedf3;
    color: #fff;
    display: inline;
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
    padding: 5px 8px;
    border: 0px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
    float: right;
    margin-right: 0px;
    margin-top: 7px;
  } */

  .verticalwiz li .step {
    background: #ebedf3;
    color: #fff;
    display: inline;
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
    padding: 12px 12px;
    border: 0px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
    float: right;
    margin-right: 0px;
    margin-top: 7px;
  }

.verticalwiz .active {
background: inherit;
color: #fff;
}	

.rightab {
/*    border: 1px solid #dedede;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 1px 1px 11px #ccc;*/
  min-height: 320px;
margin-left: 0px;
/*    border: 1px solid #dedede;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 1px 1px 11px #ccc;*/
  
  
border-left: 0px solid #ebedf3;
padding-left: 0px!important;

padding-top: 0px!important;

}

/* .verticalwiz li.active .step,.verticalwiz li.active.complete .step { */
.verticalwiz li.step_active:not(li.active) .step,.verticalwiz li.step_active:not(li.active).complete .step {
  background: #992471;
  color: #fff;
font-size: 13px;
  font-weight: 700;
  line-height: 12px;
  padding: 7px 8px;
  border-radius: 50%;
  border: 0px solid #7fe583;
display: block;
}
/* .wizard_icon i {
  width: auto;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  float: right!important;
  margin-right: -15px;
} */

.wizard_icon i {
  font-size: 17px!important;
  margin-right: -13px;
  width: 34px!important;
  height: 34px;
  float: left;
  text-align: center;
  font-size: 25px;
  padding-top: 0;
  border: 2px solid #acacac;
  border-radius: 50%;
  margin-top: 40px;
  line-height: 32px;
}

.tab-pane h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #8D306F;
  font-weight: 900;
  margin-bottom: 18px;
  text-align: center;
}

.tab-radio {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.verticalwiz .active a{

color: #992471!important;
}
.active .triangle-right {
    width: 0;
    height: 0;
/*      border-top: 10px solid transparent;
    border-left: 12px solid #ef0091;
    border-bottom: 10px solid transparent;*/
float: right;
margin-left: 18px;
margin-top: 32px;
position: relative;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #ef0091;
position: absolute;
  display: none;
  }


.m_height {min-height: 100px; margin-bottom: 10px!important;}

}
/*End vertical Wizard*/

.select-css {
display: block;


width: 100%;
max-width: 100%; /* useful when width is set to anything other than 100% */

-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
  for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
  
*/
background-image:url(../images/select_arrow.png);
background-repeat: no-repeat, repeat;
/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
background-position: right .7em top 50%, 0 0;
/* icon size, then gradient */
background-size: .65em auto, 100%;
background-color: #eef0f8;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
display: none;
}
/* Hover style */
.select-css:hover {
border-color: #888;
}
/* Focus style */
.select-css:focus {
border-color: #aaa;
/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: #222; 
outline: none;
}

/* Set options to normal weight */
.select-css option {
font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
background-position: left .7em top 50%, 0 0;
padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
color: graytext;

}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
border-color: #aaa;
}
.fildsmall {
width: 90%;


}
.profi {

/*	position: absolute;
right: 10px;
top: 45px;*/
color: #3cc6df;
font-size: 15px;
border:solid 1px #3cc6df;
border-radius: 50px;
padding: 6px 8px;
margin-top: 20px;
margin-right: 8px;
}
.add_items span {font-size: 18px!important; color: #08b7d6;}
.add_items:hover {text-decoration: none;}
.image-upload>input {
display: none;
}
.image-upload img {
width: 100%;
/* width: 50%;
height: 50%; */
}
.wizard li {list-style: none;}

.W_buttons{
text-align: right!important;
width: 100%!important;
height: auto;
}
.bu_save {
background: #08b7d6!important;
border-radius: 8px!important;
border:0px!important;
padding: 10px 25px;
color: #fff;
margin: 0px 8px;
}
.bu_next {
background:#992471!important;
border-radius: 8px!important;
border:0px!important;
padding: 10px 25px;
color: #fff;
}
.bu_jobber {
background: #eef0f8;
border-radius: 40px;

display: inline-block;
float: right;
margin-right: 15px;
height: 41px !important;
}
.bu_jobber a{
padding: 8px 25px;
display: inline-block;
color: #7f7f7f;
font-size: 18px;
}
.bu_jobber a:hover{
padding: 8px 25px;
display: inline-block;
color: #fff;
font-size: 18px;
background-color: #08b7d6;
border-radius: 40px;
text-decoration: none;
}
.bu_jobber .active{
padding: 8px 25px;
display: inline-block;
color: #fff;
font-size: 18px;
background-color: #08b7d6;
border-radius: 40px;
text-decoration: none;
}


.container1 {
  display: inline-block;
 position: relative;
 padding-left: 38px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 padding-right: 30px;
}
.addtsk{
  font-size: 16px!important;
  color: #7a7b7b;
  /* commented by kamar on 6th January 2022 */ 
  padding-left: 10px;
  padding-top: 8px;  
}
.addnewtsk{
  font-size: 16px!important;
  color: #992471;
  /* commented by kamar on 6th January 2022 */ 
  padding-left: 10px;
  padding-top: 8px;  
}
.catlistdiv input {
 position: relative;
 opacity: 1;
 cursor: pointer;
 height: 45px;
 background: transparent;
 width: 100%;
 border: 1px solid #f1f1f1;
}
.catlistdiv button.search {
position: absolute;
 right: 0;
 width: 170px;
 border: 0;
 background: #992472;
 color: #fff;
 padding: 14px;
 border-bottom-right-radius: 15px;
 border-top-right-radius: 15px;
 top: 15px;
 height: 46px;
 line-height: 21px;
 text-transform: uppercase;
 font-size: 18px;
}
.card-div-details input:checked ~ .checkmark4 {
background-color: red;
}
.card-div-details ul li {
 display: inline-block;
 width: 32%;
 padding-right: 16px;
 padding-bottom: 10px;
}
.card-div-details {
 display: inline-block;
 margin-top: 30px;
}
.card-div-details .card {
 border: 0;
 box-shadow: none;
}
.card-div-details  input{
   height: 33px;
}
.card-div-details  .card-header img {
 max-width: 100%;
 border-radius: 10px 10px 10px 10px;
}
.card-div-details .card-header h5{
border-radius: 0px 0px 10px 10px;
}
.crv-div-area {
 border: 2px solid #992472;
 padding: 20px;
 border-radius: 15px;
}
.pad-rgt-zro{
padding-right: 0;
}
.pad-left-zro{
padding-left: 0;
}
.advance-blk .card-body {
 text-align: center;
}
.advance-blk .lng-point span{
width: 27px;
}
.insearch button.search {
 width: 85px;
 font-size: 12px;
 height: 37px;
 padding: 10px;
     top: 0;
     text-transform: none;
}
.add-colr{
background:#EF0D8E!important;
}
.suggsted-type {
 display: inline-block;
 width: 100%;
 border: 2px solid #ccc;
 border-radius: 15px;
 padding: 1px 15px;
}
.suggsted-type label.container1 {
     padding-bottom: 0;
 margin-bottom: 0;
 font-size: 12px;
 color: #7a7b90;
 line-height: 26px;
}
.insearch .container1 .checkmark1 {
 position: absolute;
 top: 2px;
 left: 4px;
 height: 22px;
 width: 22px;
 border: 2px solid #992472;
 border-radius: 50%;
}
.insearch .container1 .checkmark1 i {
  padding: 4px 6px;
 }

span.sub-suggest {
  font-size: 17px;
  color: #7a7b90;
  float: right;
 }
span.sub-sugg {
 font-size: 12px;
 color: #7a7b90;
}
.insearch input {
 text-indent: 5px;
 font-size: 12px;
  height: 37px;
}
.insearch .container1  {
 padding-left: 0;
 padding-right: 0;
 color: #992472;
 padding-left: 34px;
}
.insearch  label.container1{
color: #992472;
font-size: 9px;
}
.insearch ul li {
     background:#E8E8E8;
 border-radius: 15px;
 display: inline-block;
 padding-left: 8px;
 padding-top: 0px;
 margin-top: 10px;
 padding-right: 0;
     width: 32.7%;
 text-transform: uppercase;
}
.insearch .container1 input:checked ~ .checkmark1 {
 background-color: #fff;
 border: 7px solid #992472!important;
}
span.job-interets {
 font-size: 16px;
}
.job-sug .card-header img {
 max-width: 100%;
 border-radius: 10px 10px 10px 10px;
 height: 171px;
}
.insearch .col-md-6 {
 margin-bottom: 2px;
}
.insearch .col-md-12{
margin-bottom: 0px;
}
.insearch .login-style{
margin-top: 0;
}
/* Hide the browser's default radio button */
.container1 input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.container1 .checkmark1 {
position: absolute;
top: 0;
left: 0;
height: 28px;
width: 28px;
border: 2px solid #6f7070;
border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
background-color: #fff;
 border: 7px solid #6f7070;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark1:after {
display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark1:after {
top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}


/*on 3-3-21*/
.tab-pane h4 {
  margin-bottom: 10px;
  color: #dc358c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.tab-pane h5 {
  margin-bottom: 10px;
  /*color: #02aba2;*/
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

/* .imagestab input[type="checkbox"][id^="cb"] {
display: none;
  background-color: white;
color: white;
content: " ";
border-radius: 50%;
border: 1px solid grey;


} */

.field-div input{
  opacity: 1;
}

.imagestab li {list-style: none; border: 0px; padding: 0px; margin: 0px;}
.imagestab li label img {width: 100%; height: auto;}
.imagestab label {
border: 0px solid #fff;
padding: 10px;
display: inline-block;
position: relative;
margin: 10px;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 85%;
}

.imagestab label::before {
background-color: white;
color: white;
content: " ";
display: inline-block;
border-radius: 5px;
border: 2px solid #e0e0e0;
position: absolute;
top: 46%;
left: -30px;
width: 30px;
height: 30px;
text-align: center;
line-height: 28px;
transition-duration: 0.4s;
transform: scale(0);
}

.imagestab label img {
/* height: 100px;
width: 100px;*/
width: 100%;
transition-duration: 0.2s;
transform-origin: 50% 50%;
border-radius: 5px;
}
.imagestab p {text-align: center; 
min-height: 50px;
font-size: 16px!important;
 text-shadow: 1px 1px 1px #898989;
}
/*:checked+label {
border-color: #ddd;
}
*/
/*:checked+label::before {
content: "✓";
background-color: grey;
transform: scale(1);
}
*/
.imagestab label::before {
content: "";
background-color: #fff;
transform: scale(1);
}

/* :checked+label::before {
content: "✓";
background-color:#08b7d6;
transform: scale(1);
} */

:checked+label img {


z-index: -1;
border-radius: 5px;
border:solid 3px #08b6d4;
}

/* .imagestab input[type="checkbox"][id^="cb"]  {
  background-color: grey;
transform: scale(1);

    content: "✓";
  
} */



.jobselect #app-search .input-group-addon-btn {
  padding: 0;

}
.input-group-prepend {
display:inline-block;
/*position: absolute;*/
z-index: 100;
}
.jobselect .input-group {width: 100%!important;  display: block!important;}
.jobselect input {width: 100%; padding:40px; display: grid;
grid-auto-flow: row dense;}
.jobselect button {
      border: none;
      background: transparent;
      cursor: pointer;
      /* height: 100%; */
 position: relative;
 top: 60px;
  }
.bu_jobselect {
background: #eef0f8!important;
border-radius: 50px;
padding: 8px 20px 8px 8px; 

margin: 4px 10px;
z-index: 100;

}
.bu_jobselect i {background: #08b7d6; padding: 8px; border-radius: 50px; color: #fff!important;}



/*on 8-2-21*/

.has-warning input:not(.mat-input-element) {border:solid 1px #f23462!important;}
.toppaddinglogin {
  padding-bottom: 30px;
  padding-top: 20px !important;
}
.font21 {
  font-size: 21px !important;
}
.toppadding {
  padding-top: 20px !important;
}
.message-block {
  position: relative!important;
  padding: 0px!important;
  color: #11983ee3!important;
  display: block;
  }
.help-block {
position: relative!important;
padding: 0px!important;
color: #f23462!important;
display: block;
}
.has-warning .help-block {
  position: relative!important;
  padding: 0px!important;
  color: #dc3590!important;
  display: block;
  font-size: 13px;
  float: left;
  padding-left: 12px !important;
}

.has-warning .help-block-new {
  position: relative!important;
  padding: 0px!important;
  color: #dc3590!important;
  display: block;
  font-size: 13px;
  float: left;
  padding-left: 0px !important;
}

.has-warning .form-control {
  border-color: #02ABA2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  z-index: 1000;
  position: relative;
}

.line-div {
  display: inline-block;
  width: 94%;
  height: 1px;
  background: #d4d4d4;
  margin-left: 15px;
  top: -10px;
  position: relative;
}
.req label.container1 {
  display: inherit;
}
span.highertxt {
  display: inline-block;
  font-size: 13px;
  padding-top: 6px;
}


/* #tab1 div {min-height: 130px; margin-bottom: 10px!important;} */
.m_height {min-height: 100px; margin-bottom: 10px!important;}

.image-preview-input {
  position: absolute;
 overflow: hidden;
 margin: 0px;
 color: #333;
 background-color: #2196F3;
 z-index: 9999;
 right: 6px;
 /* top: 32px; */
 top: 23px; 
 height: 49px;
 border-color: #2196F3;
 border-radius: 0 10px 10px 0;   
}
.image-preview-input img {
  max-width: 74%;
  padding-top: 5px;
}
.image-preview-input input[type=file] {
position: absolute;
top: 0;
right: 0;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}


/* #tab1 .testline {
	height:4%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab2 .testline {
  height: 14%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab3 .testline {
	height:50%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab4 .testline {
	height:62%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab5 .testline {
	height:80%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab6 .testline {
	height:99%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
} */


/* #tab1 .testlinejobber {
	height:4%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab4 .testlinejobber {
  height: 16%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab5 .testlinejobber {
	height:35%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab6 .testlinejobber {
	height:50%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab2 .testlinejobber {
	height:38%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
}
#tab3 .testlinejobber {
	height:99%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -112px;
} */



/* #tab1 .postjobwizard {
	height:8%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -71px;
}
#tab2 .postjobwizard {
  height: 14%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -71px;
}
#tab3 .postjobwizard {
	height:25%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -71px;
}
#tab4 .postjobwizard {
	height:55%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -71px;
}
#tab5 .postjobwizard {
	height:23%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -71px;
}

#tab6 .postjobwizard {
	height:95%;
		position: absolute;
	z-index: 0;
	background: #992471;
	width: 3px;
	margin-left: -33px;
  margin-top: -71px;
} */


.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px!important;
}
mat-form-field-infix {
  padding: .5em 0;
  border-top: 0em solid transparent !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px!important;
  bottom: .25em!important;
  width: 90%;
}

.mat-form-field-wrapper {
   
  margin-top: -20px;
}

.mat-form-field {
  width: 95% !important;
  z-index: 1000;
}

.jobselector {
  width: 98% !important;
}

.jobselectnew {
  padding-left: 4px;
}

.imageprevcards {
  top:0px !important;
  height:34px !important;
}


@media (max-width: 768px){
	.wizard_icon i {width: auto; float: left;text-align: center; font-size: 20px;  padding-top: 50px;}
}
	@media (max-width: 420px){
	.wizard_icon i {width: auto; float: left;text-align: center; font-size: 20px;  padding-top: 10px;     margin-right: -8px;}
}




/*** karthicks edit for #responsive */

@media only screen and (min-width:768px)and (max-width:991px){ 

  .wizard_icon i {
    float: left;
    text-align: center;
    padding-top: 0px;
    margin: 30px 17px 0;
}
.verticalwiz li.step_active:not(li.active) .step i, .verticalwiz li.step_active:not(li.active).complete .step i {
  font-size: 23px;
  font-weight: 400;
  position: relative;
  top: 1px;
  left: -1px;
}
.verticalwiz { 
  width: 100%;
  display: inline-block;
  max-width: 300px;
  margin: 0 auto;
}
.vrtwiz {
  margin: 0 auto;
  text-align: center;
}
span.step:before { 
  top: 40px; 
}
.verticalwiz .active i {
  border-color: #992471;
}

.card-div-details ul li {
  display: inline-block;
  width: 50%;
  padding-right: 16px;
  padding-bottom: 10px;
}
}



@media only screen and (min-width:250px)and (max-width:767px){ 

  .wizard_icon i {
    float: left;
    text-align: center;
    padding-top: 0px;
    margin: 30px 17px 0;
}
.verticalwiz li.step_active:not(li.active) .step i, .verticalwiz li.step_active:not(li.active).complete .step i {
  font-size: 23px;
  font-weight: 400;
  position: relative;
  top: 1px;
  left: -1px;
}
.verticalwiz { 
  width: 100%;
  display: inline-block;
  max-width: 300px;
  margin: 0 auto;
}
.vrtwiz {
  margin: 0 auto;
  text-align: center;
}
span.step:before { 
  top: 40px; 
}
.verticalwiz .active i {
  border-color: #992471;
}
.card-div-details ul li {
  display: inline-block;
  width: 50%;
  padding-right: 16px;
  padding-bottom: 10px;
}
}