<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>
<!-- <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{checkoutId}}">
</script> -->
<!-- <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=F3BECAE206891B2AEA049120F4089AD2.uat01-vm-tx03"></script> -->
<!-- <section class="mainbanner" style="padding: 100px 4% 3% 4%;">


	<div class="clearfix"></div>
</section> -->

<section class="breadcrumb">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
  
    <div class="brdcrmb">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
        <li>Continue Applicant</li>
      </ul>
     </div>
    </div>
    </div>
  </div>
  </section>
  <section class="infobr">
    <div class="container">
    
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <article>
                <div class="widget-body">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">                       
                        <div class="col-sm-12 col-md-4 mrb_0">
                            <div class="vrtwiz">

                                <ul class="verticalwiz">


                                    <!-- <li [ngClass]="{'step_active': activeTab == 'jbtr1' || activeTab == 'jbtr2' || activeTab == 'jbtr3' || activeTab == 'jbtr4' || activeTab == 'jbtr5' || activeTab == 'jbtr6'}" (click)="tabChange('jbtr1')" data-target="#step1">
                                        <div class="triangle-right"></div>
                                         <a href="#tab1" data-toggle="tab" #tabDiv1 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-ad"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>My Adverticement Plan</h4>
                                             <p>My adverticement plan can give here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>                                            -->
                                   
                                   <li *ngIf="planId != '' && planId != null" [ngClass]="{'step_active': activeTab == 'jbtr2' || activeTab == 'jbtr3' || activeTab == 'jbtr4' || activeTab == 'jbtr5' || activeTab == 'jbtr6'}" (click)="tabChange('jbtr2')" data-target="#step2">
                                       <div class="triangle-right"></div>
                                        <a href="#tab2" data-toggle="tab" #tabDiv2 class=""> 
                                        <span class="step"><i class="fa fa-check"></i></span> 
                                        <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-wrench"></i></div>
                                        <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                        
                                            <h4>Job Description</h4>
                                            <p>Your job description can give here</p>
                                        </div> 
                                        
                                        </a>
                                        
                                    </li>

                                    <li *ngIf="planId == '' || planId == null">
                                        <div class="triangle-right"></div>
                                         <a #tabDiv2 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-wrench"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Job Description</h4>
                                             <p>Your job description can give here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>


                                     <li *ngIf="tab2Completed || renew == 'renew'" [ngClass]="{'step_active': activeTab == 'jbtr3' || activeTab == 'jbtr4' || activeTab == 'jbtr5' || activeTab == 'jbtr6'}" (click)="tabChange('jbtr3')" data-target="#step3">
                                        <div class="triangle-right"></div>
                                         <a href="#tab3" data-toggle="tab" #tabDiv3 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-puzzle-piece"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Category</h4>
                                             <p>Select categories here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li> 
                                     
                                     <li *ngIf="!tab2Completed && renew !== 'renew'">
                                        <div class="triangle-right"></div>
                                         <a #tabDiv3 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-puzzle-piece"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Category</h4>
                                             <p>Select categories here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>
                                    
                                     <li *ngIf="tab3Completed || renew == 'renew'" [ngClass]="{'step_active': activeTab == 'jbtr4' || activeTab == 'jbtr5' || activeTab == 'jbtr6'}" (click)="tabChange('jbtr4')" data-target="#step4">
                                        <div class="triangle-right"></div>
                                         <a href="#tab4" data-toggle="tab" #tabDiv4 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon">
                                         <i class="fa fa-list-alt "></i></div>
                                         <div class="col-sm-10 col-md-9 mrb_0 wizarddetailshead visible-lg visible-md"  >
                                         
                                             <h4>Job Details</h4>
                                             <p>Your job details can give here </p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>
 
 
                                     <li *ngIf="!tab3Completed  && renew !== 'renew'">
                                         <div class="triangle-right"></div>
                                          <a #tabDiv4 class=""> 
                                          <span class="step"><i class="fa fa-check"></i></span> 
                                          <div class="col-sm-2 col-md-2 mrb_0 wizard_icon">
                                          <i class="fa fa-list-alt "></i></div>
                                          <div class="col-sm-10 col-md-9 mrb_0 wizarddetailshead visible-lg visible-md"  >
                                          
                                              <h4>Job Details</h4>
                                              <p>Your job details can give here </p>
                                          </div> 
                                          
                                          </a>
                                          
                                     </li>


                                     
                                     <li [ngClass]="{'step_active':  activeTab == 'jbtr5' || activeTab == 'jbtr6'}" (click)="tabChange('jbtr5')" data-target="#step5" *ngIf="showAdvancedMatching && tab4Completed">
                                        <div class="triangle-right"></div>
                                         <a href="#tab5" data-toggle="tab" #tabDiv5 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-certificate"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Advanced Jobber Requirements</h4>
                                             <p>Advanced jobber requirements can give here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li> 

                                     <li *ngIf="showAdvancedMatching && !tab4Completed">
                                        <div class="triangle-right"></div>
                                         <a #tabDiv5 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-certificate"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Advanced Jobber Requirements</h4>
                                             <p>Advanced jobber requirements can give here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>
                                     
                                     <!-- <li *ngIf="(((showAdvancedMatching && tab5Completed) || (!showAdvancedMatching && tab4Completed)) || renew == 'renew' ) && planId !== oldPlanId" [ngClass]="{'step_active':  activeTab == 'jbtr6', 'is-hidden': !showPayment }" (click)="tabChange('jbtr6')" data-target="#step6">
                                        <div class="triangle-right"></div>
                                         <a href="#tab6" data-toggle="tab" #tabDiv6 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-tachometer-alt"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Payment</h4>
                                             <p>Yo can do your payment here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>  
                                     
                                     <li *ngIf="((showAdvancedMatching && !tab5Completed) || (!showAdvancedMatching && !tab4Completed))  && planId !== oldPlanId">
                                        <div class="triangle-right"></div>
                                         <a #tabDiv6 class=""> 
                                         <span class="step"><i class="fa fa-check"></i></span> 
                                         <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i class="fa fa-tachometer-alt"></i></div>
                                         <div class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead" >
                                         
                                             <h4>Payment</h4>
                                             <p>Yo can do your payment here</p>
                                         </div> 
                                         
                                         </a>
                                         
                                     </li>                                            -->
     
                            
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-8 mrb_0">
                            <div class="rightab">
                                     
                                <div class="tab-content tab-radio">
                                     
                                       
                                    <div class="clearfix"></div>    
                                    <div class="tab-pane" id="tab1" >
                                        <div class="testline visible-md visible-lg"></div>
                                            <h3>Select your Plan</h3>
                                             <div>
                                               <div class="col-md-4" *ngFor="let plan of planData | keyvalue">
                                                 <div class="card">    
                                                    <div class="card-header dis">
                                                        <a data-target="" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <h5>{{plan.value.plan}}</h5>
                                                            <div class="middle-txt" [ngClass]="{'bg-info': !tempPlan[plan.value.id],'bg-primary': tempPlan[plan.value.id]}">                 
                                                                <label *ngIf="plan.value.percentage !== '0'" class="value-txt">R {{plan.value.cost}}
                                                                    <input type="radio" [checked]="tempPlan[plan.value.id]" (click)="planChange(plan.value.id,plan.value.plan,plan.value.percentage);">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <label *ngIf="plan.value.percentage == '0'" class="value-txt">{{plan.value.cost}}
                                                                    <input type="radio" [checked]="tempPlan[plan.value.id]" (click)="planChange(plan.value.id,plan.value.plan,plan.value.percentage);">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </a>
                                                    </div>                                             
                                                    <div class="card-body" [ngClass]="{'card-small-list': !tempPlan[plan.value.id],'card-small-list-2': tempPlan[plan.value.id]}">
                                                        <!-- <ul>
                                                            <li><a href="#">Basic filter applicants</a></li>
                                                            <li><a href="#">Shortlist candidates</a></li>
                                                            <li><a href="#">Basic dashboard view</a></li>
                                                            <li><a href="#">Demographics of all applicants</a></li>
                                                        </ul> -->
                                                        <ul *ngIf="plan.key == 0">
                                                            <li *ngFor="let planfeature of planFeatures[plan.value.id] | keyvalue"><a>{{planfeature.value.feature}}</a></li>
                                                        </ul>
                                                        <ul *ngIf="plan.key == 1">
                                                            <li *ngFor="let planfeature of planFeatures[plan.value.id] | keyvalue"><a>{{planfeature.value.feature}}</a></li>                                                                        
                                                       </ul>
                                                       <ul *ngIf="plan.key == 2">
                                                            <li *ngFor="let planfeature of planFeatures[plan.value.id] | keyvalue"><a>{{planfeature.value.feature}}</a></li>                                                                       
                                                        </ul>                                                        
                                                   </div>
                                                 </div> 
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-xs-12 m_height" [ngClass]="{'has-warning': planErrorMessage !== ''}">
                                                <span class="help-block">{{ planErrorMessage }}</span>
                                            </div>                                             
                                            <div class="clearfix"></div>
                                            
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class=" wizard no-margin">
                                                        
                                                            <li class="W_buttons">
                                                                <!-- <a href="#" class="btn bu_save btn-default"> Save </a>
                                                                <a href="#" class="btn bu_next txt-color-darken"> Next </a> -->
                                                                <a href="#" class="btn bu_next txt-color-darken" (click)="adverticementPlanNext()"> Next </a>                                                                
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane checkboxmain active" id="tab2">
                                            <div class="testline visible-md visible-lg"></div>

                                            <!-- <h3>Enter Your job description</h3> -->
                                            <h3>Enter your job description</h3>
                                            <h4>Job Details</h4>                                            
                                            <form [formGroup]="formjd" class="form-group form-actions">
                                                <div class="row">

                                                    <div class="col-md-12 mrgzro">
                                                     
                                                     <label class="container1">In Person
                                                        <input type="radio"  #inperson value="" (click)="jobareacheck('inperson');" name="jobarea">
                                                        <span class="checkmark1"></span>
                                                    </label>
                                                    <label class="container1">Online
                                                        <input type="radio" #online value="" (click)="jobareacheck('online');" name="jobarea">
                                                        <span class="checkmark1"></span>
                                                    </label>
                                                    </div>
  
                                                </div>                                                

                                                <div class="col-md-12 col-xs-12" [ngClass]="{'has-warning': jobareaErrorMessage !== ''}">                                                
                                                    <span class="help-block">{{ jobareaErrorMessage }}</span>   
                                                </div>                                                                                                 

                                            <div class="col-md-8 col-xs-12 m_height" [ngClass]="{'has-warning': jobtitleErrorMessage !== ''}">
                                                <label class="lab-txt">Job Title</label>
                                                <input type="text" name="jobtitle" formControlName="jobtitle" [value]="jobtitle" [(ngModel)]="jobtitle" class="form-control wizardfeilds" placeholder="Please enter your job title"/>                                                
                                                <span class="required">*</span>
                                                <span class="help-block">{{ jobtitleErrorMessage }}</span>         
                                            </div> 

                                            <div class="col-md-12 col-xs-12" [ngClass]="{'has-warning': jobdescriptionErrorMessage !== ''}">
                                            	<label class="lab-txt">Job Description</label>
                                            	<textarea class="form-control wizardfeilds" name="jobdescription" formControlName="jobdescription" [value]="jobdescription" [(ngModel)]="jobdescription" placeholder="Please enter your job description"></textarea>
                                                <span class="required">*</span>
                                                <span class="help-block">{{ jobdescriptionErrorMessage }}</span>                                                
                                            </div> 

                                            <div class="line-div"></div>
                                            <div class="col-md-8 col-xs-12">
                                                <h4>Tasks done as part of the parent job</h4>
                                            </div>

                                            <div *ngFor="let tasks of jobTaskFirstList | keyvalue"> 
                                                <div *ngIf="tasks.value.status !== 'not_started'">                                               
                                                    <div class="line-div"></div>                                                 
                                                    <div class="col-lg-6 col-xs-12 m_height"  [ngClass]="{'has-warning': jobTaskFirstList[tasks.key].task_name == '' || jobTaskFirstList[tasks.key].task_name == null}">
                                                        <label class="lab-txt">Task Title</label>
                                                        <input  readonly type="text" placeholder="Please enter task title" [value]="tasks.value.task_name" [(ngModel)]="jobTaskFirstList[tasks.key].task_name" class="form-control wizardfeilds" [ngModelOptions]="{standalone: true}">
                                                        <span class="help-block" *ngIf="jobTaskFirstList[tasks.key].task_name == '' || jobTaskFirstList[tasks.key].task_name == null">Please enter task</span>
                                                    </div>

                                                    <div class="col-lg-2 col-xs-2 icons_align">
                                                    </div>

                                                    
                                                    <div class="col-lg-12 col-xs-12" [ngClass]="{'has-warning': jobTaskFirstList[tasks.key].task_desc == '' || jobTaskFirstList[tasks.key].task_desc == null}">
                                                    <label class="lab-txt">Task Description</label>                                                        
                                                    <textarea readonly class="form-control wizardfeilds" [value]="tasks.value.task_desc" [(ngModel)]="jobTaskFirstList[tasks.key].task_desc" placeholder="Please enter task description" [ngModelOptions]="{standalone: true}"></textarea>
                                                    <span class="help-block" *ngIf="jobTaskFirstList[tasks.key].task_desc == '' || jobTaskFirstList[tasks.key].task_desc == null">Please enter task description</span>     
                                                    </div>
                                                </div>
                                            </div>  
                                            
                                            <div class="line-div"></div>

                                            <div class="col-md-8 col-xs-12">
                                                <h4>Tasks</h4>
                                            </div>


                                            <div *ngFor="let tasks of jobTaskList | keyvalue">                                                
                                                <div class="line-div"></div>                                                 
                                                <div class="col-lg-6 col-xs-12 m_height"  [ngClass]="{'has-warning': jobTaskList[tasks.key].task_name == '' || jobTaskList[tasks.key].task_name == null}">
                                                    <label class="lab-txt">Task Title</label>
                                                    <input  (focusout)="updateTask(tasks.value.id,tasks.key);" type="text" placeholder="Please enter task title" [value]="tasks.value.task_name" [(ngModel)]="jobTaskList[tasks.key].task_name" class="form-control wizardfeilds" [ngModelOptions]="{standalone: true}">
                                                    <span class="help-block" *ngIf="jobTaskList[tasks.key].task_name == '' || jobTaskList[tasks.key].task_name == null">Please enter task</span>
                                                </div>

                                                <div class="col-lg-2 col-xs-2 icons_align">
                                                </div>

                                                <div class="col-lg-6 col-xs-2 icons_align">
                                                    <span class="addbtn" style="cursor:pointer;" (click)="removeTask(tasks.value.id);">-</span>
                                                    <label class="addtsk">REMOVE TASK</label>                                                  
                                                </div>                                                    
                                                
                                                <div class="col-lg-12 col-xs-12" [ngClass]="{'has-warning': jobTaskList[tasks.key].task_desc == '' || jobTaskList[tasks.key].task_desc == null}">
                                                <label class="lab-txt">Task Description</label>                                                        
                                                <textarea (focusout)="updateTask(tasks.value.id,tasks.key);" class="form-control wizardfeilds" [value]="tasks.value.task_desc" [(ngModel)]="jobTaskList[tasks.key].task_desc" placeholder="Please enter task description" [ngModelOptions]="{standalone: true}"></textarea>
                                                <span class="help-block" *ngIf="jobTaskList[tasks.key].task_desc == '' || jobTaskList[tasks.key].task_desc == null">Please enter task description</span>     
                                                </div>
                                            </div>                                             

                                            <div class="line-div"></div>                                            

                                            <div *ngIf="jobTaskList.length == 0 || defaultTask" class="col-md-6 col-xs-12 m_height"  [ngClass]="{'has-warning': taskNameErrorMessage !== ''}">
                                                <label class="lab-txt">Task Title</label>
                                                <input type="text" placeholder="Please enter task title" [value]="taskName" [(ngModel)]="taskName" class="form-control wizardfeilds" [ngModelOptions]="{standalone: true}">
                                                <span class="required">*</span>
                                                <span class="help-block">{{ taskNameErrorMessage }}</span>         
                                            </div>                                            
                                            <div *ngIf="jobTaskList.length == 0 || defaultTask" class="col-md-12 col-xs-12 " [ngClass]="{'has-warning': taskDescErrorMessage !== ''}">
                                              <label class="lab-txt">Task Description</label>
                                              <textarea class="form-control wizardfeilds" [value]="taskDesc" [(ngModel)]="taskDesc" placeholder="Please enter task description" [ngModelOptions]="{standalone: true}"></textarea>
                                              <span class="required">*</span>
                                              <span class="help-block">{{ taskDescErrorMessage }}</span>                                                  
                                            </div>

                                            <div *ngIf="jobTaskList.length == 0 || defaultTask" class="col-md-12 col-xs-12 ">
                                                <span class="addbtn" style="cursor:pointer;" (click)="addNewTask();">+</span>
                                                <label class="addtsk" style="cursor:pointer;" (click)="addNewTask();">SAVE TASK</label>                                                  
                                            </div>
                                            <div *ngIf="jobTaskList.length !== 0 && !defaultTask" class="col-md-12 col-xs-12 ">
                                                <span class="addnewbtn" style="cursor:pointer;" (click)="addNewTaskOpen();">+</span>
                                                <label class="addnewtsk" style="cursor:pointer;" (click)="addNewTaskOpen();">ADD NEW TASK</label>                                                  
                                            </div>

                                        </form>
						                <div class="clearfix"></div>
                                           <hr>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class=" wizard no-margin">
                                                          
                                                            <li class="W_buttons">
                                                               <a href="#" class="btn bu_save btn-default" (click)="jobDetailsSave()"> Save </a>
                                                                <a href="#" class="btn bu_next txt-color-darken" (click)="nextPrevChange('movetab3')"> Next </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane catlistdiv" id="tab3">
                                            <!-- <div class="postjobwizard visible-md visible-lg"></div> -->
                                            <!-- <h3>Enter Your matching criteria</h3> -->
                                                <!-- <div class="form-actions"> -->
                                                    <div class="row">
                                                    <!-- <div class="col-sm-12 imagestab" [ngClass]="{'has-warning': catSelectErrorMessage !== ''}">
                                                       
                                                       <ul>
    
                                                            <li class="col-md-4 col-xs-12" 	 *ngFor="let item of categoryAll; let i = index">       
      
                                                                
                                                                <input type="checkbox" [checked]="catArray[item.id]" id="cb{{ item.id }}" (click)="getJobTypes(item.id)"/>
                                                                
                                                                    <label for="cb{{ item.id }}"><img src="{{ item.details[0].image_path }}" /></label>
                                                                    <p>{{ item.details[0].name }}</p>
        
                                                            </li>
                                                        </ul>
                                                        <div class="clearfix"></div>     
                                                        <span class="help-block">{{ catSelectErrorMessage }}</span>                                    
                                                       
                                                    </div> -->
                                                    <div class="col-md-12">
                                                        <div class="col-sm-12 imagestab">
                                                            <div class="search-blk">
                                                                <input type="text" [(ngModel)]="categorySearch" name="name" class="form-control login-style" id="name" placeholder="Search Job Title, Skill or Company" data-rule="minlen:4" data-msg="">
                                                                <button type="button" class="search">
                                                                    Search
                                                                </button>
                                                            </div>                                                   

                                                            <div class="card-div-details" [ngClass]="{'has-warning': catSelectErrorMessage !== ''}">
                                                                <ul>
                                                                <li *ngFor="let item of categoryAll; let i = index">
                                                                    <div class="card" *ngIf="(item.details[0].name.indexOf(categorySearch) !== -1 || categorySearch == '') && item.jobtypedetails_count > 0">
                                                                        <div class="card-header">
                                                                        <img src="{{ item.details[0].image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"  alt=""/>
                                                                        <h5>{{ item.details[0].name }}</h5>
                                                                        </div>
                                                                        <!-- <input type="checkbox" checked=""> -->
                                                                        <input type="checkbox" [checked]="catArray[item.id]" id="cb{{ item.id }}" (click)="getJobTypes(item.id)">
                                                                        <!-- <input type="checkbox" [checked]="catArray[item.id]" id="cb{{ item.id }}" (click)="getJobTypes(item.id)">                                                                         -->
                                                                    </div>
                                                                </li>
                                                                </ul>
                                                            </div> 

                                                            <div class="clearfix"></div>     
                                                            <span class="help-block">{{ catSelectErrorMessage }}</span>                                                             
                                                        </div>                                                    
                                                    </div>

                                                    <div class="col-lg-12 col-xs-12 jobselect">
                                                        

                                                       <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="pager wizard no-margin">
                                                                    <li class="previous">
                                                                        <a href="#" class="btn btn-lg btn-default" (click)="nextPrevChange('movetab2prev')"> Previous </a>
                                                                    </li>
                                                                    <li class="next">
                                                                        <a href="#" class="btn btn-lg txt-color-darken" (click)="matchingCriteriaSave()"> Save </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div> 
                                                </div>
                                            <!-- </div> -->

                                        </div>


                                        <div class="tab-pane" id="tab4">
                                            <div class="postjobwizard visible-md visible-lg"></div>
                                            <h3>Enter Your job details</h3>
                                            <form class="form-group">
                                                <div class="col-md-6 col-xs-12 m_height" [ngClass]="{'has-warning': projectbudgetErrorMessage !== ''}">
                                                    <label class="lab-txt">Project Budget</label>
                                                    <input type="number" name="projectbudget" [value]="projectbudget" [(ngModel)]="projectbudget" class="form-control wizardfeilds" placeholder="Please enter your job title"/>
                                                    <span class="required">*</span>
                                                    <span class="help-block">{{ projectbudgetErrorMessage }}</span>
                                                </div>
                                                <div class="col-md-6 col-xs-12 m_height" [ngClass]="{'has-warning': locErrorMessage !== ''}">
                                                    <label class="lab-txt">Location</label>
                                                    <input id="pac-input" type="text" name="location" [value]="location" [(ngModel)]="location" class="form-control wizardfeilds" placeholder="Enter your location"/>
                                                    <span class="required">*</span>                                            
                                                    <span class="help-block">{{ locErrorMessage }}</span> 
                                                </div>                                                 
                                              
                                                <div class="col-md-6 col-xs-12">
                                                    <label class="lab-txt">Start Date</label>
                                                    <mat-form-field class="form-control wizardfeilds">
                                                        <input matInput [matDatepicker]="startdatepicker" [min]="minDob" 
                                                        [placeholder]=""
                                                        [(ngModel)]="startdate" [ngModelOptions]="{standalone: true}">
                                                    <mat-datepicker-toggle matSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #startdatepicker></mat-datepicker>
                                                      </mat-form-field>
                                                      <span class="required">*</span>
                                                      <div [ngClass]="{'has-warning': startdateErrorMessage !== ''}">
                                                        <span class="help-block">{{ startdateErrorMessage }}</span>
                                                      </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <label class="lab-txt">End Date</label>
                                                    <mat-form-field class="form-control wizardfeilds">
                                                        <input matInput [matDatepicker]="enddatepicker" [min]="minDob" 
                                                        [placeholder]=""
                                                        [(ngModel)]="enddate" [ngModelOptions]="{standalone: true}">
                                                    <mat-datepicker-toggle matSuffix [for]="enddatepicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #enddatepicker></mat-datepicker>
                                                      </mat-form-field>
                                                      <span class="required">*</span>
                                                      <div [ngClass]="{'has-warning': enddateErrorMessage !== ''}">
                                                        <span class="help-block">{{ enddateErrorMessage }}</span>
                                                      </div>
                                                </div> 
                                             
                                         
                                                    <!-- <div class="addnew-image col-lg-2 col-xs-6">
                                                        <label for="file-input">  
                                                            <img src="assets/images/add_mage.jpg" />                                                    
                                                        </label>
                                                        <input id="file-input" type="file" ng2FileSelect [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>                                                     
                                                    </div>		 -->

                                                <div class="col-md-6 col-xs-12 m_height">
                                                    <label class="lab-txt">Upload image</label>
                                                    <input type="name" class="form-control wizardfeilds" placeholder="">
                                                    <div class="btn btn-default image-preview-input">
        
                                                        <img src="assets/images/file-upload.svg" alt="">
                                                        <!-- <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>  -->
                                                        <input id="file-input" type="file" ng2FileSelect [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>                                                            
                                                    </div>       
                                                </div>
                                                   
                                                <div class="col-md-12 col-xs-12">                 
                                                    <div *ngFor="let photos of jobPostPhotos" class="show-image col-lg-2 col-xs-6">
                                                        <label for="file-input-other" (click)="setImageId(photos.id);">
                                                            <img src="{{ photos.image_path}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" />
                                                        </label>                                                    
                                                        <input class="delete" type="button" value="" (click)="deleteImage(photos.id);"/>
                                                    </div>
                                                    <!-- <input class="file-input-other" id="file-input-other" type="file" ng2FileSelect [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>                                                   -->
                                                </div>  
                                                <div class="col-md-12 col-xs-12" [ngClass]="{'has-warning': imageUploadErrorMessage !== ''}">                                                
                                                    <span class="help-block">{{ imageUploadErrorMessage }}</span>   
                                                </div>                                                     

                                                </form>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <li class="previous">
                                                                <a href="#" class="btn btn-lg btn-default" (click)="nextPrevChange('movetab3prev')"> Previous </a>
                                                            </li>
                                                            <li class="next">                                                                
                                                                <a href="#" class="btn btn-lg txt-color-darken" (click)="nextPrevChange('movetab4')"> Next </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                          
                                        <div class="tab-pane scrollright" id="tab5">
                                            <div class="testline visible-md visible-lg"></div>
                                            <h3>Enter your jobber requirements</h3>
                                            <div class="form-actions req">                                            
                                            <form class="form-group">


                                                <div class="row">

                                                    <div class="col-md-12 mrgzro">
                                                        <span class="highertxt">Higher level educacation <span class="required">*</span></span>
                                                        <span class="help-block">{{ higherErrorMessage }}</span>                                                   
                                                        <label class="container1" *ngFor="let higherLevelEducation of higherLevelEducationData | keyvalue"><span class="highertxt">{{ higherLevelEducation.value | titlecase }}</span>
                                                            <input type="checkbox"  [(ngModel)]="tempHighrlevel[higherLevelEducation.key]" [ngModelOptions]="{standalone: true}" value="">
                                                            <span class="checkmark1"></span>
                                                        </label>
                                                    </div>
  
                                                </div>                                                



                                                <div class="field-div">
                                                    <form class="form-group">
                                                        <div class="col-md-8 col-xs-12 m_height pad-left-zro" [ngClass]="{'has-warning': yearofexpnsErrorMessage !== ''}">
                                                            <label class="lab-txt">Year of Experience</label>
                                                            <!-- <input type="name" class="form-control wizardfeilds" placeholder=""> -->
                                                            <input type="number" name="yearofexpns" [value]="yearofexpns" [(ngModel)]="yearofexpns"  [ngModelOptions]="{standalone: true}" class="form-control wizardfeilds" placeholder="Please enter your years of experience"/>                                                            
                                                            <span class="required">*</span>
                                                            <span class="help-block">{{ yearofexpnsErrorMessage }}</span>         
                                                        </div>
                                                    </form>
                                                </div>                                                
                                   

                                                <div class="col-lg-12 col-xs-12 jobselectnew">
                                                        
                                                    <!-- <hr/>
                                                    <h5>Joblite Interests or Jobs (suggested by
                                                        selecting job category)</h5> -->
                                                    <div class="row card-div-details job-sug">                                                        
                                                        <div class="col-md-12">
                                                            <span class="job-interets">Joblite interests or Jobs (suggested by selecting a job category</span>
                                                        </div>
                                                    </div>





                                                    <div
                                                        *ngFor="let itemfirst of jobTypes; let j = index" class="row">


                                                        <div class="col-md-3 pad-rgt-zro">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                <img src="{{ itemfirst.job_cats.image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt=""/>
                                                                <h5>{{ itemfirst.job_cats.name}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                          <div class="col-md-9">
                                                            <div class="crv-div-area catlistdiv insearch">
                                                              <div class="row">

                                                                <div class="col-md-12">
                                                                    <kendo-dropdownlist style="width:200px;"
                                                                    [data]="jobTypesArray[j]"
                                                                    [filterable]="true"
                                                                    textField="text"
                                                                    valueField="value"
                                                                    [(ngModel)]="selectedValue[j]"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (filterChange)="handleFilter($event,j,itemfirst.job_types)"
                                                                    (valueChange)="valueChange($event,j,itemfirst.job_types)"                                                        
                                                                >
                                                                    <ng-template kendoDropDownListNoDataTemplate>
                                                                      <div>
                                                                          Type and Add your job type
                                                                          <ng-container *ngIf="filter">Do you want to add new job type - "{{ filter }}" ?</ng-container>
                                                                          <br />
                                                                          <button *ngIf="filter" class="k-button" (click)="addNew(j,itemfirst.job_cats.job_cate_id,itemfirst.job_types)">Add new item</button>
                                                                      </div>
                                                                    </ng-template>
                                                                </kendo-dropdownlist> 
                                                                </div>
                                                                <div class="col-md-12" *ngIf="showJobTypes[j] == true">
                                                                   <span class="sub-sugg">Suggested job types</span>
                                                                    <div class="suggsted-type">
                                                                      
                                                                      <ul>
                                                                        <span *ngFor="let item of itemfirst.job_types; let i = index"
                                                                        (click)="setJobs(itemfirst.job_cats.job_cate_id,j,item[0].id,i)"> 
                                                                            <li *ngIf="item[0]?.checked === true">
                                                                                <label class="container1">{{ item[0]?.lang[0].name }}
                                                                                    <input type="radio" name="radio">
                                                                                    <span class="checkmark1"></span>
                                                                                </label>
                                                                            </li>
                                                                        </span>
                                                                      </ul>
                                                                    </div>
                                                                </div>
                                                              </div>
                                                            </div>
                
                                                          </div>



                                                    </div>








                                                    <div class="clearfix"></div>

                                                    <div [ngClass]="{'has-warning': jobSelectErrorMessage !== ''}">
                                                        <span class="help-block">{{ jobSelectErrorMessage }}</span> 
                                                   </div> 
                                                   <hr/>                                                   
                                                   <h5>Joblite Interests Rating</h5>                                                  


                                               <div class="row">
                                                <div class="col-md-2" *ngFor="let itemfirst of jobTypes; let j = index" style="width: 25%">
                                                   <div class="card">
                                                <div class="card-header">
                                                  <a href="#"  data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <img src="{{ itemfirst.job_cats.image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>
                                                  <h5>{{ itemfirst.job_cats.name}}</h5>
                                                </a>
                                                </div>
                                               <div class="card-body">
                                                  <div class="profile-language" *ngFor="let item of itemfirst.job_types; let i = index"> 
                                                      <div *ngIf="item[0]?.checked === true">        
                                                      <div class="lng-div">
                                                        {{
                                                            item[0].lang[0].name
                                                            }}
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <mat-slider thumbLabel
                                                      [displayWith]="formatLabel" step="1"
                                                      min="0" max="10" aria-label="units"
                                                      [(ngModel)]="item[0].proficiency" [ngModelOptions]="{standalone: true}">
                                                      </mat-slider>
                                                    </div>
                                           
                                                      
                                                    </div>
                                                </div>     
                                              </div>
                                                </div>
                                            
                                            
                                              </div>

                                               
                                               <div
                                                   [ngClass]="{'has-warning': jobProfSelectErrorMessage !== ''}">
                                                   <span class="help-block">{{
                                                       jobProfSelectErrorMessage }}</span>
                                               </div>
                                               <div class="clearfix"></div>

                                                </div>

                                            </form>

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <li class="previous">
                                                                <a href="#" class="btn btn-lg btn-default" (click)="nextPrevChange('movetab5prev')"> Previous </a>
                                                            </li>                                                            
                                                            <li class="next">
                                                                <a href="#" class="btn btn-lg txt-color-darken" (click)="advancedMatchingSave();"> Post job </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> 
                                            
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="tab6">
                                            <div class="postjobwizard visible-md visible-lg"></div>
                                            <h3>Please pay R {{ amount }} to proceed</h3>
                                            <form action="{{shopperResultUrl}}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>                                        

                                        </div>
                                          
                                          
                                </div>
                            </div>
                        </div>
                          
                    </div>
                </div>
            </article>
        </div>
    </div>
  </section>

<script>
    var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' + 
        'onclick="alert(\'Call your custom code here.\')">' +
        '<i class="glyphicon glyphicon-tag"></i>' +
        '</button>'; 
    $("#avatar-2").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        showBrowse: false,
        browseOnZoneClick: true,
        removeLabel: '',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-2',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="assets/images/image_upload.png" alt="Your Avatar"><h6 class="text-muted">Click to select</h6>',
        layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
        allowedFileExtensions: ["jpg", "png", "gif"]
    });
    </script>
    
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
      <script type="text/javascript">
    
    var timeOut;
    function scrollToTop() {
      if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
        window.scrollBy(0,-50);
        timeOut=setTimeout('scrollToTop()',10);
      }
      else clearTimeout(timeOut);
    }
    </script>