<app-headerlogin></app-headerlogin>
<section class="infobr">
    <div class="container">
        <p style="margin: 0 0 22px;"></p>
        PRIVACY POLICY
 
        <p></p>
        Welcome to JOBLITE!
        <p></p>
        <p></p>
        We care about how your personal information is used and shared, and we take your privacy seriously.  Please read the following to learn more about our Privacy Policy.  By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways. 
        <p></p>
        <p></p>
        Remember that your use of JOBLITE's Services is at all times subject to the Terms of Service which incorporates this Privacy Policy.  Any terms we use in this Policy without defining them have the definitions given to them in the Terms of Service.
        <p></p>
        <p></p>
        What does this Privacy Policy cover?
        <p></p>
        <p></p>
        This Privacy Policy covers our treatment of personally identifiable information ("Personal Information") that we gather when you are accessing or using our Services, but not to the practices of companies we don’t own or control, or people that we don’t manage.  We gather various types of Personal Information from our users, as explained in more detail below, and we use this Personal Information internally in connection with our Services, including to personalize, provide, and improve our services, to allow you to set up a user account and profile, to contact you and allow other users to contact you, to fulfill your requests for certain products and services, and to analyze how you use the Services. In certain cases, we may also share some Personal Information with third parties, but only as described below. 
        <p></p>
        <p></p>
        As noted in the Terms of Service, we do not knowingly collect or solicit personal information from anyone under the age of 18. If you are under 18, please do not attempt to register for the Services or send any personal information about yourself to us. If we learn that we have collected personal information from a child under age 18, we will delete that information as quickly as possible. If you believe that a child under 18 may have provided us personal information, please contact us at +919447333079.
        <p></p>
        <p></p>
        What information that JOBLITE may collect from you?
        <p></p>
        <p></p>
        We may collect and process the following Information about you:
        <p></p>
        <p></p>
        We receive and store any information you knowingly provide to us.  For example, through the registration process and/or through your account settings, we may collect Personal Information such as your name, email address, phone number.  Certain information may be required to register with us or to take advantage of some of our features.  
        We may communicate with you if you’ve provided us the means to do so. For example, if you’ve given us your email address, we may send you promotional email offers or email you about your use of the Services. This confirmation helps us make our communications with you more interesting and improve our services. If you do not want to receive communications from us, please update your preferences in your account’s settings.
        The information you provide us, or that we may collect from you, when you report a problem with our services; A record of correspondence if you contact us.
        Details of transactions you carry out through our services and of the fulfilment of your orders.
        Your email address from a third-party if you indicate that you have consented to that third-party sharing your information with us.
        Any other information we consider necessary to enhance your experience on the services; and
        Details about your computer, we automatically receive and record information on our server logs from your browser or device including but not limited to your IP address, operating system and browser type, as well as information about your general internet usage (e.g. by using technology that stores information collected automatically and record information on or gains access to your device, such as cookies, tracking pixels, web beacons, etc., (together, “cookies”)); You may be able to change the preferences on your browser or device to prevent or limit your device’s acceptance of cookies, but this may prevent you from taking advantage of some of our features.  Also, if you click on a link to a third-party website or service, such third-party may also transmit cookies to you.  Again, this Privacy Policy does not cover the use of cookies by any third parties, and we aren’t responsible for their privacy policies and practices. We may use this data to customize content for you that we think you might like, based on your usage patterns.  We may also use it to improve the Services – for example, this data can tell us how often users use a particular feature of the Services, and we can use that knowledge to make the Services interesting to as many users as possible. 
        Information collected from other Websites and Do Not Track Policy:
        <p></p>
        <p></p>
        Through cookies we place on your browser or device, we may collect information about your online activity after you leave our Services.  Just like any other usage information we collect, this information allows us to improve the Services and customize your online experience, and otherwise as described in this Privacy Policy.  Your browser may offer you a “Do Not Track” option, which allows you to signal to operators of websites and web applications and services (including behavioral advertising services) that you do not wish such operators to track certain of your online activities over time and/or across different websites.  Our Services do not support Do Not Track requests at this time, which means that we collect information about your online activity both while you are using the Services and after you leave our Services.
        How JOBLITE will use your information?
        <p></p>
        <p></p>
        We may use information held about you in the following ways:
        <p></p>
        <p></p>
        <p></p>
         
        
        All credit/debit cards’ details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.
        <p></p>
        <p></p>
        
        To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes;
        To provide you with location-based services, such as advertising search results and other personalized content;
        To carry out our obligations arising from any contracts entered into between you and another entity using our services or between you or us;
        To improve our services and to deliver a better and more personalized service to you;
        To ensure that content from our services is presented in the most effective manner for you and the device you use to access our services;
        To notify you about changes to our services;
        For any other reason which we deem necessary to enhance your experience of the services;
        Will JOBLITE share any of the Personal information it receives?
        <p></p>
        <p></p>
        JOBLITE neither rent nor sell your personal information in personally identifiable form to anyone, our customer is an important part of our business. However, we may share your personal information with third parties as described in this section;
        <p></p>
        <p></p>
        Other Businesses – To offer you our services, we may engage with businesses who are affiliates of us and/or non-affiliated service providers (e.g. logistics businesses used to deliver products to you, marketing companies, payments processers to process online transaction, etc.). We may involve other businesses in your transaction, who may store your information in a digital wallet to make use of our services more efficient.
        You understand that it is important that such businesses have access to the relevant information to perform their functions;
        We will ensure that these businesses do not use your information of other purposes;
        We may also receive information from these business (e.g. updated delivery and address information), which we may use (e.g. to correct our records and deliver your next purchases);
        By using our services, you hereby freely and specifically consent to the transfer, storage, use, and disclosure of your information among businesses who are affiliates of us and/or non-affiliated services providers, wherever located;
         These businesses shall be contractually bound to respect the confidentiality of your information.
        ’ www.carryondxb.com will not pass any debit/credit card details to third parties.
        <p></p> 
        <p></p>
        
        Marketing and Promotional Offers – We may also use your information to provide you with information about goods and services which may be of interest to you and enhance your service experience, service messages, new features, enhancements, special offers and events of interest. We may contact you via various channels, including without limitation emails, push notifications, web notifications, post and SMS message.
        We may permit third parties to use your information. For example, we may provide advertisers Information to help them reach the kind of audience they want to target and to enable us to comply with our commitments to our advertisers (e.g. by displaying their advertisements to a target audience).
        <p></p>
        <p></p>
        
        Business Transfer – In the event that we or substantially all of our assets are acquired, customer information will be one of the transferred assets.
        <p></p>
        <p></p>
        
        Protections of JOBLITE  and Others – We reserve the right to access, read, preserve, and disclose any information that we [reasonably] believe is necessary to comply with law or court order; enforce or apply our Terms of Service and other agreements; or protect the rights, property, or safety of JOBLITE, our employees, our users, or others.  This includes exchanging information with other companies and organization’s for various reasons, such as fraud protection and credit risk reduction.
        Note that our services may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data or other information to these websites.
        <p></p>
        <p></p>
        How JOBLITE store your information?
        <p></p>
        <p></p>
        The information that we collect from you may be transferred to, and stored at, a destination outside of the UAE. It may also be processed by staff operating outside the UAE who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the fulfilment of your order, the processing of your payment details and the provision of support services. We will store your Information for as long as necessary to fulfil the purposes indicated in this Privacy Policy or as otherwise permitted or required by law. Your Information may be transferred, stored, processed and used by our affiliated companies and/or non-affiliated service providers in one or more countries outside your originating country. Your payment details may be transferred to and stored with our affiliated companies in order to, among other things, process your payment details and provide support services to you.
        <p></p>
        <p></p>
        What security measures does JOBLITE apply?
        <p></p>
        <p></p>
        We maintain commercially reasonable technical, administrative, and physical safeguards to ensure your Information is treated securely and in accordance with this Privacy Policy, and to protect against unauthorized access or alteration to, disclosure, or destruction of your Information. We may, for example, use encryption technology to secure your Information during transmission to our services as well as external firewall and on-host firewall technology to prevent network level attacks. Only those authorized employees, contractors, and agents who need to know your Information in connection with the performance of their services are allowed to access this Information.
        <p></p>
        <p></p>
        It is important for you to protect yourself against unauthorized access to your password and to your devices used to access our Services. You are responsible for keeping your password confidential. For example, ensure that you sign off when you have finished using a shared device.
        <p></p>
        <p></p>
        Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your Information, we cannot guarantee the security of your Information transmitted to our services and any transmission is at your own risk. www.carryondxb.com takes appropriate steps to ensure data privacy and security including through various hardware and software methodologies. However, (www.carryondxb.com) cannot guarantee the security of any information that is disclosed online’
        <p></p>
        <p></p>
        How can you access and amend your information?
        <p></p>
        <p></p>
        You are able to access a broad range of information about your account and your interactions with the services for the purpose of viewing and, in certain cases, updating your information.
        <p></p>
        <p></p>
        Example of information you can access easily at the services include:
        <p></p>
        <p></p>
        Up-to-date information regarding recent orders;
        Personally, identifiable information (including name, e-mail, password, communications and personalized advertising preferences);
        Payment settings (including credit card information); and
        E-mail notifications settings.
        You can opt-out of receiving future marketing communications from us at any time by adjusting your customer communication preferences, through the unsubscribe link within the email communication. For marketing via your mobile application, you will need to adjust your notifications settings in the general section of your mobile.
        <p></p>
        <p></p>
        Also, our system will place cookies when you log on to our services and this is to ensure you have an enjoyable user experience and are able to utilize all aspects of the service. You may disable Cookies by changing the settings on your browser. If you disable Cookies, it will affect how our services works and you may not be able to access or use certain areas of our service or full functionality. For example, performance cookies collect information about how you use the site, for instance, which pages you visit most often, which allows us to provide you with targeted and relevant choices that enhance your site experience.
        <p></p>
        <p></p>
        We may retain a copy of your information for compliance reasons. When you update information, we may retain a copy of the prior version for our records.
        <p></p>
        <p></p>
         
        
        User Profiles and Submissions: Certain user profile information, including your name, location, and any video or image content or comments that such user has uploaded to the services, may be displayed to other users to facilitate user interaction within the services or address your request for our services.  Your username may also be displayed to other users if and when you post comments or interact with other users through the services.
        <p></p>
        <p></p>
        
        What choices do I have?
        <p></p>
        <p></p>
        You can always opt not to disclose information to us, but keep in mind some information may be needed to register with us or to take advantage of some of our features.
        <p></p>
        <p></p>
        You may be able to add, update, or delete information as explained above.  When you update information, however, we may maintain a copy of the unrevised information in our records.  You may request termination of your account or deletion of certain of your information at hello@carryondxb.com  some information may remain in our records after your deletion of such information from your account. We may use any aggregated data derived from or incorporating your Personal Information after you update or delete it, but not in a manner that would identify you personally.  
        <p></p>
        <p></p>
        What if JOBLITE change our privacy policy?
        <p></p>
        <p></p>
        Our business changes constantly, and our Privacy Policy may therefore also need to change. We will post the current version of this Privacy Policy on the Platform and each such change will be effective upon posting on the Platform or upon the date designated by us as the "effective date".
        <p></p>
        <p></p>
        We may e-mail periodic reminders of our notices and conditions, but you should check our services frequently to see recent changes.
        <p></p>
        <p></p>
        It is your obligation to regularly check the Privacy Policy. Your continued use of the services following any such change constitutes your agreement to this Privacy Policy as so modified.
        <p></p>
        <p></p>
        What if I have questions about this policy?
        <p></p>
        <p></p>
        If you have any questions or concerns regarding our privacy policies, please send us a detailed message to admin@joblitedemo.co.in  and we will try to resolve your concerns.        
        <p></p>
    </div>
</section>
<app-footer></app-footer>
