<app-headerlogout></app-headerlogout>
    <!-- /.Job Catagories -->
    <section class="container">
        <div class="message">
        <p>Please check your email and verify for further proceedings.</p>
        </div>
            
    </section>
        
    <app-footer></app-footer>
    <script>
        // Carousel Auto-Cycle
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 6000
        })
      });
    
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script type="text/javascript">
    
    var timeOut;
    function scrollToTop() {
      if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
        window.scrollBy(0,-50);
        timeOut=setTimeout('scrollToTop()',10);
      }
      else clearTimeout(timeOut);
    }
    </script>	
    