<app-headerlogout></app-headerlogout>
    <!-- /.Job Catagories -->
    <section class="container">
    <div class="message">
    <p>Yor OTP</p>
    <form [formGroup]="form"  (ngSubmit)="verify()">
        <div [ngClass]="{'has-warning': errorMessage !== ''}">
            <input type="text"  class="form-control" formControlName="otp" id="otp" type="otp" name="otp" placeholder="Please enter OTP">
            <span class="help-block">{{ errorMessage }}</span>
            <div class="clearfix"></div>
            <!-- <a href="#" class="bu_viewmore">submit</a> -->
            <button class="btn bu_viewmore" type="submit" [disabled]="!form.valid">submit</button>
        </div>
    </form>
    </div>
        
    </section>
        
    <app-footer></app-footer>
    <script>
        // Carousel Auto-Cycle
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 6000
        })
      });
    
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script type="text/javascript">
    
    var timeOut;
    function scrollToTop() {
      if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
        window.scrollBy(0,-50);
        timeOut=setTimeout('scrollToTop()',10);
      }
      else clearTimeout(timeOut);
    }
    </script>	
    