<app-headerlogin></app-headerlogin>

<!-- <section class="mainbanner" style="padding: 100px 4% 3% 4%;">


    <div class="clearfix"></div>
</section> -->


<section class="breadcrumb">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
  
    <div class="brdcrmb">
      <ul>
        <li>
          <a href="#" (click)="redirectTo('/');">Home</a>
        </li>
        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
        <li>JOBBERATOR PROFILE</li>
      </ul>
     </div>
    </div>
    </div>
  </div>
  </section>

<!-- <section class="innercontent">
    <div class="contentarea">

        <div class="" style="padding: 0px; margin: 0px;">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">

                <article style="">
                    <div class="widget-body"> -->

                        <section class="infobr">
                            <div class="container">
                            
                                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                          
                                    <article>
                                        <div class="widget-body">

                        <div class="row" style="margin-left: 0px; margin-right: 0px;">
                            <div class="col-sm-12 mrb_0">
                                <div class="col-sm-12 col-md-4 mrb_0">
                                    <div class="vrtwiz">
                                        <ul class="verticalwiz">

                                            <li [ngClass]="{'step_active': activeTab == 'jbtr1' || activeTab == 'jbtr2' || activeTab == 'jbtr3'}"
                                                (click)="tabChange('jbtr1')" data-target="#step1">
                                                <div class="triangle-right"></div>
                                                <a href="#tab1" data-toggle="tab" #tabDiv1 class="">
                                                    <span class="step"><i class="fa fa-check"></i></span>
                                                    <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i
                                                            class="fa fa-user-o"></i></div>
                                                    <div
                                                        class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead">

                                                        <h4>Personal Details</h4>
                                                        <p>Your personel details can update here</p>
                                                    </div>

                                                </a>

                                            </li>

                                            <li *ngIf="stepData?.data?.jobberinfo?.tab3 == '1' || stepData?.data?.jobberatorinfo?.tab1 == '1'" [ngClass]="{'step_active': activeTab == 'jbtr2' || activeTab == 'jbtr3'}"
                                                (click)="tabChange('jbtr2')" data-target="#step2">
                                                <div class="triangle-right"></div>
                                                <a href="#tab2" data-toggle="tab" #tabDiv2 class="">
                                                    <span class="step"><i class="fa fa-check"></i></span>
                                                    <div class="col-sm-2 col-md-2 mrb_0 wizard_icon">
                                                        <i class="fa fa-wrench "></i>
                                                    </div>
                                                    <div
                                                        class="col-sm-10 col-md-9 mrb_0 wizarddetailshead visible-lg visible-md">

                                                        <h4>Verification Details</h4>
                                                        <p>Your verification details can update here </p>
                                                    </div>

                                                </a>

                                            </li>

                                            <li *ngIf="stepData?.data?.jobberinfo?.tab3 != '1' &&  stepData?.data?.jobberatorinfo?.tab1 != '1'">
                                                <div class="triangle-right"></div>
                                                <a #tabDiv2 class="">
                                                    <span class="step"><i class="fa fa-check"></i></span>
                                                    <div class="col-sm-2 col-md-2 mrb_0 wizard_icon">
                                                        <i class="fa fa-wrench "></i>
                                                    </div>
                                                    <div
                                                        class="col-sm-10 col-md-9 mrb_0 wizarddetailshead visible-lg visible-md">

                                                        <h4>Verification Details</h4>
                                                        <p>Your verification details can update here </p>
                                                    </div>

                                                </a>

                                            </li>

                                            <li *ngIf="bankname != ''" [ngClass]="{'step_active': activeTab == 'jbtr3'}"
                                                (click)="tabChange('jbtr3')" data-target="#step3">
                                                <div class="triangle-right"></div>
                                                <a href="#tab3" data-toggle="tab" #tabDiv3 class="">
                                                    <span class="step"><i class="fa fa-check"></i></span>
                                                    <div class="col-sm-2 col-md-2 mrb_0 wizard_icon"><i
                                                            class="fa fa-certificate"></i></div>
                                                    <div
                                                        class="col-sm-10 col-md-9 visible-lg visible-md  mrb_0 wizarddetailshead">

                                                        <h4>Bank Details</h4>
                                                        <p>Your bank details can update here</p>
                                                    </div>

                                                </a>

                                            </li>


                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8 mrb_0">
                                    <div class="rightab">
                                        <div class="tab-content">
                                            <div class="bu_jobber">

                                                <a style="cursor:pointer;"
                                                    *ngIf="userType == 'both' || userType == 'jobber'"
                                                    (click)="profileChange('/jobberprofile')">Jobber</a>
                                                <a style="cursor:pointer;"
                                                    *ngIf="userType == 'both' || userType == 'jobberator'"
                                                    (click)="profileChange('/profile')" class="active">Jobberator</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="tab-pane active" id="tab1">
                                                <div class="testline visible-md visible-lg"></div>
                                                <h3>Enter Your personal details</h3>
                                                <form [formGroup]="form" class="form-group">
                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': fnameErrorMessage !== ''}">
                                                        <label class="lab-txt">First Name</label>
                                                        <input type="text" name="firstname" formControlName="firstname"
                                                            [value]="firstname" [(ngModel)]="firstname"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your first name" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ fnameErrorMessage }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': surnameErrorMessage !== ''}">
                                                        <label class="lab-txt">Surname</label>
                                                        <input type="text" name="surname" formControlName="surname"
                                                            [value]="surname" [(ngModel)]="surname"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your Surname" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ surnameErrorMessage }}</span>
                                                    </div>
                                                    <div class="col-md-12 col-xs-12">
                                                        <label class="lab-txt">Personel Info</label>
                                                        <textarea class="form-control wizardfeilds" name="personelinfo"
                                                            formControlName="personelinfo" [value]="personelinfo"
                                                            [(ngModel)]="personelinfo"
                                                            placeholder="Please enter your Bio"></textarea>

                                                    </div>
                                                    <div class="col-md-6 col-xs-12">
                                                        <label class="lab-txt">DOB</label>
                                                        <!-- <input type="date" class="form-control wizardfeilds" placeholder="Please select your DOB"/> -->
                                                        <mat-form-field class="form-control wizardfeilds">
                                                            <!-- <input matInput [matDatepicker]="dob" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}" placeholder="">
                                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                                    <mat-datepicker #dob></mat-datepicker> -->
                                                            <input matInput [matDatepicker]="picker" [max]="maxDob" [placeholder]=""
                                                                [(ngModel)]="dob" [ngModelOptions]="{standalone: true}" readonly>
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                        <span class="required">*</span>
                                                        <div [ngClass]="{'has-warning': dobErrorMessage !== ''}">
                                                            <span class="help-block">{{ dobErrorMessage }}</span>
                                                        </div>
                                                        <!-- <span class="required">*</span> -->
                                                    </div>

                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': genderErrorMessage !== ''}">
                                                        <label class="lab-txt">Gender</label>
                                                        <select class="form-control select-css wizardfeilds"
                                                            (change)="genderSelected($event.target.value)"
                                                            formControlName="genderselected"
                                                            [(ngModel)]="genderselected">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let gender of genderData" [value]="gender">
                                                                {{ gender | titlecase }}</option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ genderErrorMessage }}</span>
                                                    </div>

                                                    <!-- <div class="col-md-6 col-xs-12 m_height" [ngClass]="{'has-warning': raceErrorMessage !== ''}">
                                            	<label>Race</label>
											<select class="form-control select-css wizardfeilds" (change)="raceSelected($event.target.value)" formControlName="raceselected"  [(ngModel)]="raceselected">
										        <option value="">Select</option>
										        <option *ngFor="let race of raceData | keyvalue" [value]="race.key">{{ race.value | titlecase }}</option>
										    </select>
                                            <span class="required">*</span>                                            
                                            <span class="help-block">{{ raceErrorMessage }}</span>
                                            </div> -->

                                                    <div class="col-md-12 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': locErrorMessage !== ''}">
                                                        <label class="lab-txt">Location</label>
                                                        <input id="pac-input" type="text" name="location" formControlName="location"
                                                            [value]="location" [(ngModel)]="location"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Enter your location" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ locErrorMessage }}</span>
                                                        <!-- <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                                                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                                      (dragEnd)="markerDragEnd($event)"></agm-marker>
                                                  </agm-map> -->

                                                        <!-- just for testing -- remove later -->
                                                        <!-- <h5>Address: {{address}}</h5>
                                                  <h5>Zoom: {{zoom}}</h5>
                                                  <div>Latitude: {{latitude}}</div>
                                                  <div>Longitude: {{longitude}}</div>                                                   -->
                                                        <!-- <span class="required">*</span> -->
                                                        <!-- just for testing -- remove later -->
                                                    </div>

                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': countryErrorMessage !== ''}">
                                                        <label class="lab-txt">Country</label>
                                                        <select class="form-control select-css wizardfeilds"
                                                            (change)="countrySelected($event.target.value)"
                                                            formControlName="countryselected"
                                                            [(ngModel)]="countryselected">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let country of countryData | keyvalue"
                                                                [value]="country.key">{{ country.value | titlecase }}
                                                            </option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ countryErrorMessage }}</span>
                                                    </div>

                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': provinceErrorMessage !== ''}">
                                                        <label class="lab-txt">Province</label>
                                                        <select class="form-control select-css wizardfeilds"
                                                            (change)="provinceSelected($event.target.value)"
                                                            formControlName="provinceselected"
                                                            [(ngModel)]="provinceselected">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let province of provinceData | keyvalue"
                                                                [value]="province.key">{{ province.value | titlecase }}
                                                            </option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ provinceErrorMessage }}</span>
                                                    </div>


                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': cityErrorMessage !== ''}">
                                                        <label class="lab-txt">City</label>
                                                        <select class="form-control select-css wizardfeilds"
                                                            (change)="citySelected($event.target.value)"
                                                            formControlName="cityselected" [(ngModel)]="cityselected">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let city of cityData | keyvalue"
                                                                [value]="city.key">{{ city.value | titlecase }}</option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ cityErrorMessage }}</span>
                                                    </div>


                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': suburbErrorMessage !== ''}">
                                                        <label class="lab-txt">Suburb</label>
                                                        <!-- <select class="form-control select-css wizardfeilds" (change)="suburbSelected($event.target.value)" formControlName="suburbselected"  [(ngModel)]="suburbselected">
										        <option value="">Select</option>
										        <option *ngFor="let suburb of suburbData | keyvalue" [value]="suburb.key">{{ suburb.value | titlecase }}</option>
										    </select> -->
                                                        <!-- {{ suburbselected }}
                                            {{ options | json}}
                                            {{ suburbData | json}} -->
                                                        <mat-form-field class="tp-full-width">
                                                            <input id="inputsuburb" style="margin: 16px;" type="text" placeholder="" aria-label="Number"
                                                                matInput [formControl]="myControl"
                                                                [matAutocomplete]="auto" [(ngModel)]="suburbselected">
                                                            <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="let suburb of suburbData | async"
                                                                    [value]="suburb">
                                                                    {{ suburb }}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>

                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ suburbErrorMessage }}</span>
                                                    </div>

                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': streetErrorMessage !== ''}">
                                                        <label class="lab-txt">Street Address</label>
                                                        <input type="text" name="street" formControlName="street"
                                                            [value]="street" [(ngModel)]="street"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your street address" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ streetErrorMessage }}</span>
                                                    </div>

                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': complexErrorMessage !== ''}">
                                                        <label class="lab-txt">Complex and unit number</label>
                                                        <input type="text" name="complex" formControlName="complex"
                                                            [value]="complex" [(ngModel)]="complex"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your complex and unit number" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ complexErrorMessage }}</span>
                                                    </div>



                                                    <div class="line-div"></div>
                                                    <div class="col-md-8 col-xs-12">
                                                        <h4>Add Your Language</h4>
                                                    </div>


                                                    <div *ngFor="let edu of langList | keyvalue">                                                
                                                        <div class="line-div"></div> 
                                                        
                               
                                                        
                                                        <div class="col-md-6 col-xs-6"  [ngClass]="{'has-warning': langList[edu.key].lang_autosuggest_id == '' || langList[edu.key].lang_autosuggest_id == null}">
                                                            <label class="lab-txt">Language</label>                                                    
                                                            <select class="form-control select-css wizardfeilds"
                                                            (change)="updateLanguage(edu.value.id,edu.key)"
                                                            [(ngModel)]="langList[edu.key].lang_autosuggest_id" [ngModelOptions]="{standalone: true}">
                                                                <option value="">Select</option>
                                                                <option *ngFor="let language of languageData | keyvalue"
                                                                    [value]="language.key">{{ language.value | titlecase }}
                                                                </option>
                                                            </select>
                                                            <span class="required">*</span>
                                                            <span class="help-block" *ngIf="langList[edu.key].lang_autosuggest_id == '' || langList[edu.key].lang_autosuggest_id == null">Please select language</span>
        
                                                        </div>                                            
                                                        <div class="col-md-6 col-xs-6 " [ngClass]="{'has-warning': langList[edu.key].pref_autosuggest_id == '' || langList[edu.key].pref_autosuggest_id == null}">
                                                          <label class="lab-txt">Profiency</label>                                                  
                                                          <select class="form-control select-css wizardfeilds"
                                                          (change)="updateLanguage(edu.value.id,edu.key)"
                                                          [(ngModel)]="langList[edu.key].pref_autosuggest_id" [ngModelOptions]="{standalone: true}">
                                                          <option value="">Select</option>
                                                          <option
                                                          *ngFor="let proficiency of proficiencyData | keyvalue"
                                                          [value]="proficiency.key">{{ proficiency.value |
                                                          titlecase }}</option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block" *ngIf="langList[edu.key].pref_autosuggest_id == '' || langList[edu.key].pref_autosuggest_id == null">Please select profiency</span>                                                  
                                                        </div>
        
      
                                                          <div class="col-md-12 col-xs-12 ">
                                                            <span class="addbtn" style="cursor:pointer;" (click)="removeLang(edu.value.id);">-</span>
                                                            <label class="addtsk">Remove Language</label>                                                  
                                                          </div>                                                                                                          
    
    
    
    
    
                                                    </div>                                                 
    
                                                    <div class="line-div"></div> 




                                                    <div *ngIf="langList.length == 0 || defaultTask" class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': langErrorMessage !== ''}">
                                                        <label class="lab-txt">Language</label>
                                                        <select class="form-control select-css wizardfeilds"
                                                            (change)="languageSelected($event.target.value)"
                                                            formControlName="languageselected"
                                                            [(ngModel)]="languageselected">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let language of languageData | keyvalue"
                                                                [value]="language.key">{{ language.value | titlecase }}
                                                            </option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ langErrorMessage }}</span>
                                                    </div>

                                                    <div *ngIf="langList.length == 0 || defaultTask" class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': profErrorMessage !== ''}">
                                                        <label class="lab-txt">Profiency</label>
                                                        <select class="form-control select-css wizardfeilds"
                                                            (change)="proficiencySelected($event.target.value)"
                                                            formControlName="proficiencyselected"
                                                            [(ngModel)]="proficiencyselected">
                                                            <option value="">Select</option>
                                                            <option
                                                                *ngFor="let proficiency of proficiencyData | keyvalue"
                                                                [value]="proficiency.key">{{ proficiency.value |
                                                                titlecase }}</option>
                                                        </select>
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ profErrorMessage }}</span>
                                                    </div>

                                                    <!-- <div class="col-md-12 col-xs-12 ">
                                                        <span class="addbtn" style="cursor:pointer;" (click)="addNewLang();">+</span>
                                                        <label class="addtsk">Add Language</label>                                                  
                                                    </div>  -->

                                                    <div *ngIf="langList.length == 0 || defaultTask" class="col-md-12 col-xs-12 ">
                                                        <span class="addbtn" style="cursor:pointer;" (click)="addNewLang();">+</span>
                                                        <label class="addtsk" style="cursor:pointer;" (click)="addNewLang();">SAVE LANGUAGE</label>                                                  
                                                       </div>
                                                       <div *ngIf="langList.length !== 0 && !defaultTask" class="col-md-12 col-xs-12 ">
                                                          <span class="addnewbtn" style="cursor:pointer;" (click)="addNewLangOpen();">+</span>
                                                          <label class="addnewtsk" style="cursor:pointer;" (click)="addNewLangOpen();">ADD NEW LANGUAGE</label>                                                  
                                                      </div>

                                                    <div class="col-md-6 col-xs-12">
                                                        <label class="lab-txt">Profile Image Upload</label>
                                                        <label class="lab-txt help-block">(150px X 150px, Maximum allowed size : 5MB)</label>
                                                        <div class="image-upload">
                                                            <label for="file-input">
                                                                <!-- <img src="assets/images/image_upload.png"/> -->
                                                                <img *ngIf="profileImg != ''" src="{{ profileImg }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" />
                                                            </label>
                                                            <input id="file-input" type="file" ng2FileSelect
                                                            [uploader]="uploader" #fileInput
                                                               accept="image/png, image/jpeg, image/gif"
                                                               name="input-file-preview" />
                                                            <!-- <input id="file-input" type="file" ng2FileSelect
                                                             [uploader]="uploader" (change)="uploadBeginning($event)"  #fileInput
                                                                accept="image/png, image/jpeg, image/gif"
                                                                name="input-file-preview" /> -->
                                                            <!-- <input type="file" ng2FileSelect [uploader]="uploader" #fileInput/> -->
                                                            <!-- <a id="file-input" (click)="fileInput.click()">Upload</a> -->
                                                            <!-- <div class="input-group image-preview">
                                                    <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                                        </button>
                                                        <div class="btn btn-default image-preview-input">
                                                            <span class="glyphicon glyphicon-folder-open"></span>
                                                            <span class="image-preview-input-title">Browse</span>
                                                            <input type="file" ng2FileSelect [uploader]="uploader" #fileInput accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                                                        </div>
                                                    </span>
                                                </div> -->
                                                        </div>
                                                    </div>
                                                    <!-- <input type="file" ng2FileSelect style="display: none" [uploader]="uploader" #fileInput/> -->

                                                </form>
                                                <div class="clearfix"></div>
                                                <hr>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class=" wizard no-margin">

                                                                <li class="W_buttons">
                                                                    <a href="#" class="btn bu_save btn-default"
                                                                        (click)="step1Save()"> Save </a>
                                                                    <a href="#" class="btn bu_next txt-color-darken"
                                                                        (click)="nextPrevChange('movetab2')"> Next </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            
                                            <div class="tab-pane" id="tab2">
                                                <div class="testline visible-md visible-lg"></div>
                                                <h3>Enter Your verification details</h3>
                                                <form [formGroup]="formveri" class="form-group">

                                                    <!-- <div class="col-md-12 col-xs-12 m_height"
                                                    [ngClass]="{'has-warning': phoneErrorMessage !== ''}">

                                                        <label class="lab-txt">Phone</label>
                                                        <div class="input-box" *ngIf="phone_verify == 'no'">   
                                                            <div class="input-inner">
                                                                <input type="text" name="phone" formControlName="phone"
                                                                [value]="phone" [(ngModel)]="phone"
                                                                class="form-control wizardfeilds"
                                                                placeholder="Please enter your phone number" />
                                                                <span class="required">*</span>
                                                                <span class="verification" *ngIf="phone_verify == 'yes'"></span> 
                                                                <span class="help-block">{{ phoneErrorMessage }}</span>                                                                  
                                                            </div>                                            
                                                            <a class="verify-btn" style="cursor:pointer;" *ngIf="phone_verify == 'no' && !otpcheck" (click)="otp()">Verify</a>
                                                            <div class="input-inner" *ngIf="phone_verify == 'no' && otpcheck">
                                                                <input type="text" name="otpval" formControlName="otpval"
                                                                [value]="otpval" [(ngModel)]="otpval"
                                                                class="form-control wizardfeilds"
                                                                placeholder="Please enter your otp" />
                                                                <span class="required">*</span>
                                                                <span class="help-block" *ngIf="otpErrorMessage != ''">{{ otpErrorMessage }}</span>
                                                            </div>
                                                            <a class="verify-btn" style="cursor:pointer;" *ngIf="phone_verify == 'no' && otpcheck" (click)="verify('phone')">Verify</a>                                                            
                                                        </div>  

                                                        <div class="input-inner verified-edit" *ngIf="phone_verify == 'yes'">
                                                            <span class="verification">Your phone number verified - {{ phone }}</span>
                                                            <a class="edit-media" style="cursor:pointer;" (click)="editmode('phone')"></a> 
                                                        </div>                                                                                                                
                                                    </div> -->

                                                    <div class="col-md-12 col-xs-12 m_height">
                                                        <label class="lab-txt">Id Card Number </label>
                                                        <div class="input-box" *ngIf="idcard_verify == 'no'">   
                                                            <div class="input-inner">
                                                                <input type="text" name="idcardnumber" formControlName="idcardnumber"
                                                                [value]="idcardnumber" [(ngModel)]="idcardnumber"
                                                                class="form-control wizardfeilds"
                                                                placeholder="Please enter your id card number" />
                                                                <span class="verification" *ngIf="idcard_verify == 'yes'"></span>                                                                   
                                                            </div>                                            
                                                            <a class="verify-btn" style="cursor:pointer;" *ngIf="idcard_verify == 'no'" (click)="verify('idcard')">Verify</a>
                                                        </div>  
                                                        
                                                        <div class="input-inner verified-edit" *ngIf="idcard_verify == 'yes'">
                                                            <span class="verification">Your id card number verified - {{ idcardnumber }}</span>
                                                            <a class="edit-media-id" style="cursor:pointer;" (click)="editmode('idcardnumber')"></a> 
                                                        </div>                                                        
                                                    </div>


                                                    <!-- <div class="col-md-12 col-xs-12 m_height">
                                                        <label  class="lab-txt">Driving License Number</label>
                                                        <div class="input-box"  *ngIf="license_verify == 'no'">   
                                                            <div class="input-inner">
                                                                <input type="text" name="licensenumber" formControlName="licensenumber"
                                                                [value]="licensenumber" [(ngModel)]="licensenumber"
                                                                class="form-control wizardfeilds"
                                                                placeholder="Please enter your license number" />
                                                            </div>                                            
                                                            <a class="verify-btn" style="cursor:pointer;" *ngIf="license_verify == 'no'" (click)="verify('licens')"> Verify</a>                                                                 
                                                        </div>

                                                        <div class="input-inner verified-edit" *ngIf="license_verify == 'yes'">
                                                            <span class="verification">Your driving license number verified - {{ licensenumber }}</span>
                                                            <a class="edit-media-id"  style="cursor:pointer;" (click)="editmode('licensecardnumber')"></a> 
                                                        </div>                                                        
                                                    </div>  -->


                                                    <div class="col-md-12 col-xs-12">
                                                        <label class="lab-txt">Social Media</label>
                                                    </div>

                                                    <div class="col-md-12 col-xs-12 m_height">

                                                        <label class="lab-txt">Facebook</label>
                                                        <div class="input-box" *ngIf="facebook_verify == 'no' && user_type !== 'facebook'">   

                                                             <div class="btn1-fb" (click)="signInWithFB()">
                                                                <button type="button" class="fb">
                                                                  <img src="assets/images/fb.svg" alt="Chicago">
                                                                Verify
                                                              </button>
                                                              </div>
                                                         </div> 
                                                         <div class="input-inner verified-edit" *ngIf="facebook_verify == 'yes'  || user_type == 'facebook'">
                                                            <span class="verification">Your facebook account verified</span>
                                                        </div>                                                              
                                                    </div>
                                                    <!-- <div class="col-md-12 col-xs-12 m_height">

                                                        <label class="lab-txt">Google</label>
                                                        <div class="input-box" *ngIf="google_verify == 'no' && user_type !== 'google'">   
                                                             <div class="btn1-google" (click)="signInWithGoogle()">
                                                              <button type="button" class="google">
                                                                <img src="assets/images/googleplus.svg" alt="Chicago">
                                                                Verify
                                                            </button>
                                                              </div>
                                                         </div> 
                                                         <div class="input-inner verified-edit" *ngIf="google_verify == 'yes' || user_type == 'google'">
                                                            <span class="verification">Your google account verified</span>
                                                        </div>                                                              
                                                    </div> -->
                                                    <div class="col-md-12 col-xs-12 m_height">

                                                        <label class="lab-txt">Linkedin</label>
                                                        <div class="input-box" *ngIf="linkedin_verify == 'no' && user_type !== 'linkedin'">   
                                                             <div class="btn1-ln" (click)="linkedinlogin()">
                                                              <button type="button" class="ln">
                                                                <img src="assets/images/linkedin_gray.svg" alt="Chicago">
                                                                Verify
                                                            </button>
                                                              </div>
                                                         </div> 
                                                         <div class="input-inner verified-edit" *ngIf="linkedin_verify == 'yes' || user_type == 'linkedin'">
                                                            <span class="verification">Your linkedin account verified</span>
                                                        </div>                                                              
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 m_height" style="display:none;">
                                                        <label class="lab-txt">Twitter</label>
                                                        <input type="text" name="twitter" formControlName="twitter"
                                                            [value]="twitter" [(ngModel)]="twitter"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your twitter link" />
                                                    </div>

                                                </form>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <li class="previous">
                                                                    <a href="#" class="btn btn-lg btn-default"
                                                                        (click)="nextPrevChange('movetab1')"> Previous
                                                                    </a>
                                                                </li>
                                                                <!-- <li class="next disabled"> -->
                                                                <li class="next">
                                                                    <a href="#" class="btn btn-lg txt-color-darken"
                                                                        (click)="nextPrevChange('complete')"> Complete </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="tab-pane" id="tab3" *ngIf="bankname != ''">
                                                <div class="testline visible-md visible-lg"></div>
                                                <h3>Enter Your bank details</h3>
                                                <form [formGroup]="formbank" class="form-group">
                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': bnameErrorMessage !== ''}">
                                                        <label class="lab-txt">Bank Name</label>
                                                        <input type="text" name="bankname" formControlName="bankname"
                                                            [value]="bankname" [(ngModel)]="bankname"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your bank name" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ bnameErrorMessage }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': branchErrorMessage !== ''}">
                                                        <label class="lab-txt">Branch</label>
                                                        <input type="text" name="branch" formControlName="branch"
                                                            [value]="branch" [(ngModel)]="branch"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your Branch" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ branchErrorMessage }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': accountnoErrorMessage !== ''}">
                                                        <label class="lab-txt">Account Number</label>
                                                        <input type="text" name="accountno" formControlName="accountno"
                                                            [value]="accountno" [(ngModel)]="accountno"
                                                            class="form-control wizardfeilds"
                                                            placeholder="Please enter your account number" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ accountnoErrorMessage }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 m_height"
                                                        [ngClass]="{'has-warning': accounttypeErrorMessage !== ''}">
                                                        <label class="lab-txt">Account Type</label>
                                                        <input type="text" name="accounttype"
                                                            formControlName="accounttype" [value]="accounttype"
                                                            [(ngModel)]="accounttype" class="form-control wizardfeilds"
                                                            placeholder="Please enter your account type" />
                                                        <span class="required">*</span>
                                                        <span class="help-block">{{ accounttypeErrorMessage }}</span>
                                                    </div>

                                                </form>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <li class="previous">
                                                                    <a href="#" class="btn btn-lg btn-default"
                                                                        (click)="nextPrevChange('movetab2')"> Previous
                                                                    </a>
                                                                </li>
                                                                <li class="next">
                                                                    <a href="#" class="btn btn-lg txt-color-darken"
                                                                        (click)="step3Save()"> Save </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab4">
                                                <br>
                                                <h3><strong>Step 4</strong> - Save Form</h3>
                                                <br>
                                                <h1 class="text-center text-success"><strong><i
                                                            class="fa fa-check fa-lg"></i> Complete</strong></h1>
                                                <h4 class="text-center">Click next to finish</h4>
                                                <br>
                                                <br>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <li class="previous">
                                                                    <a href="#" class="btn btn-lg btn-default"> Previous
                                                                    </a>
                                                                </li>
                                                                <li class="next disabled">
                                                                    <a href="#" class="btn btn-lg txt-color-darken">
                                                                        Next </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab5">
                                                <br>
                                                <h3><strong>Step 5</strong> - Save Form</h3>
                                                <br>
                                                <h1 class="text-center text-success"><strong><i
                                                            class="fa fa-check fa-lg"></i> Complete</strong></h1>
                                                <h4 class="text-center">Click next to finish</h4>
                                                <br>
                                                <br>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <li class="previous">
                                                                    <a href="#" class="btn btn-lg btn-default"> Previous
                                                                    </a>
                                                                </li>
                                                                <li class="next disabled">
                                                                    <a href="#" class="btn btn-lg txt-color-darken">
                                                                        Next </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab6">
                                                <br>
                                                <h3><strong>Step 6</strong> - Save Form</h3>
                                                <br>
                                                <h1 class="text-center text-success"><strong><i
                                                            class="fa fa-check fa-lg"></i> Complete</strong></h1>
                                                <h4 class="text-center">Click next to finish</h4>
                                                <br>
                                                <br>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <ul class="pager wizard no-margin">
                                                                <li class="previous">
                                                                    <a href="#" class="btn btn-lg btn-default"> Previous
                                                                    </a>
                                                                </li>
                                                                <li class="next disabled">
                                                                    <a href="#" class="btn btn-lg txt-color-darken">
                                                                        Next </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            <!-- </div> -->
        </div>

    </div>

</section>

<div class="modal fade" id="idVerifyPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/close.svg" alt="Chicago"></button>
          <!-- <div class="login-leftarea-div">
           <img src="assets/images/location-left.jpg" alt="Chicago">
          </div> -->
          <div class="login-right-area-pay">
            <div class="login">
                <div class="col-md-12 col-xs-12 m_height">
                    <form action="{{idResultUrl}}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form> 
                </div>                 
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>


<script>
    var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' +
        'onclick="alert(\'Call your custom code here.\')">' +
        '<i class="glyphicon glyphicon-tag"></i>' +
        '</button>';
    $("#avatar-2").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        showBrowse: false,
        browseOnZoneClick: true,
        removeLabel: '',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-2',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="assets/images/image_upload.png" alt="Your Avatar"><h6 class="text-muted">Click to select</h6>',
        layoutTemplates: { main2: '{preview} ' + btnCust + ' {remove} {browse}' },
        allowedFileExtensions: ["jpg", "png", "gif"]
    });
</script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<script type="text/javascript">

    var timeOut;
    function scrollToTop() {
        if (document.body.scrollTop != 0 || document.documentElement.scrollTop != 0) {
            window.scrollBy(0, -50);
            timeOut = setTimeout('scrollToTop()', 10);
        }
        else clearTimeout(timeOut);
    }
</script>