<app-headerlogin *ngIf="loggedIn"></app-headerlogin>
<app-headerlogout *ngIf="!loggedIn"></app-headerlogout>
  <section class="mainbanner" style="padding: 100px 4% 3% 4%;">
    <div class="clearfix"></div>
  </section>
  <section>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </section>
  <div class="clearfix"></div>
  <section class="innercontent">
    <div class="contentarea">
      <div class="" style="padding: 0px; margin: 0px;">
        <div class="row" style="margin-left: 0px; margin-right: 0px;" > 
          
          <!-- new page start-->
          
       <div class="jobcatagories_main">
      <h1> Job <span>Catagories</span></h1>	  
      <p>Find your jobs by selecting category.</p>
     <div id="sticky-anchor"></div>
  
      <div class="clearfix"></div>
      <div >
  
          <div class="clearfix"></div>
  <div class="col-lg-3 col-xs-12" *ngFor="let index of jobCatagoryList;  index as i">
    <a class="lt-pointer" (click)="doGotoJobDetailsPage(index?.id)">
  <div class="catmain jobs_cat">
    <img src="assets/images/{{ index?.details[0]?.image_path  | slice:0:17}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"  alt="Catagories" class="image">
  <div class="catagory_text">
  <h2>{{ index?.details[0]?.name}}</h2>
  <p>{{ index?.jobpost_count }} Jobs Available</p>
  </div>
  <div class="overlay_blue1">
   <div class="catagories_text_over">
  <h2>{{ index?.details[0]?.name}}</h2>
  <p>{{ index?.jobpost_count }} Jobs Available</p>
  </div>
  </div>
  </div>
   </a>	
   </div>
        

  
   
          
                          
      </div>
        <div class="clearfix"></div>
        <hr>
        <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
       <div class="clearfix"></div>
       </div>
        </div>
        
        <!-- new page end--> 
      </div>
    </div>
  </section>