<div class="login-right-area register" *ngIf="signupStep2">
    <form  [formGroup]="signup3form" (ngSubmit)="signup_step3()">            
    <div class="row">
      <div class="col-md-12">
        <div class="whotxt">
          Who You Are?
        </div>
        <div class="who-list">
          <ul>
            <li>
              <input type="radio" name="optradio" formControlName="optradio" value="jobberator" checked>                      
              <label for="vehicle1">Jobberator</label>
            </li>
            <li>
              <input type="radio" name="optradio" formControlName="optradio" value="jobber">                      
              <label for="vehicle1">Jobber</label>
            </li>
            <li>
              <input type="radio" name="optradio" formControlName="optradio" value="both">                      
              <label for="vehicle1">Or Both</label>
            </li>
          </ul>
          <input type="checkbox" class="form-check-input signup_checkform" id="exampleCheck1" formControlName="signup_checkform">
          <label class="form-check-label" for="exampleCheck1">I agree with terms of use and privacy</label>                 
          <div [ngClass]="{'has-warning': errorMessage !== ''}">
            <span class="help-block">{{ errorMessage }}</span>
          </div>                    
          <div class="form-group text_c">
            <button class="btn bu-signup-last" type="submit" [disabled]="!signup3form.valid">Create my account</button>
          </div>                  
        </div>
      </div>
    </div> 
  </form>
  </div> 
<p *ngIf="!signupStep2">
    <img width="1500" height="500" src="assets/images/progress-loading.gif" class="single-featured-thumb wp-post-image" alt="Progress-Loading" loading="lazy"> 
</p>