/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';
  table:not(.ma,.mat-calendar-table) {
    table-layout: fixed !important;
    width: 100% !important;
  } 
