<header class="header" id="myHeader">
  <nav class="navbar navbar-default">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="#" class="navbar-brand" style="cursor: pointer;"><img src="assets/images/joblite_logo.png" alt="Job Lite"/></a> 
        <div class="nav-res">

<a style="cursor: pointer;" data-toggle="dropdown" role="button" class="res-drp"><i class="fa fa-bell"></i><span>3</span></a>

             <div class="dropdown-menu drop-notif">
             <h6 class="drophead">
                                    Notifications <span class="badge bg-primary rounded-pill">{{ noticount }}</span>
                                </h6>

                                    <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of jobTypeFilternotificationsList; let i = index">
                                        <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                        <div class="media">
                                         
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate" (click)="jobtypeProfileNotificationView(item.id)">>
                                                <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                                <small class="text-muted mb-0"> {{ item.comment }}</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of jobTypenotificationsList; let i = index">
                                      <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                      <div class="media">
                                       
                                          <div class="avatar-md bg-soft-primary">
                                              <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                          </div>
                                          <div class="media-body align-self-center ms-2 text-truncate"  (click)="jobtypeNotificationView(item.customer_jobpost_id,item.id)">
                                              <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                              <small class="text-muted mb-0"> {{ item.comment }}</small>
                                          </div>
                                      </div>
                                  </a>
                                  
                                  <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of notificationsList; let i = index">
                                    <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                    <div class="media" *ngIf="item.status != 'rated'">
                                     
                                        <div class="avatar-md bg-soft-primary">
                                            <img src="{{ item.profile_img }}" alt="description" onError="this.onerror=null;this.src='assets/images/image_upload.png';" class="thumb-sm rounded-circle">                                                
                                        </div>
                                        <div class="media-body align-self-center ms-2 text-truncate" (click)="notificationView(item.customer_jobpost_id,item.id,item.link)">
                                            <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                            <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                        </div>
                                    </div>

                                    <div class="media" *ngIf="item.status == 'rated'">
                                     
                                      <div class="avatar-md bg-soft-primary">
                                          <img src="{{ item.profile_img }}" alt="description" onError="this.onerror=null;this.src='assets/images/image_upload.png';" class="thumb-sm rounded-circle">                                                
                                      </div>
                                      <div *ngIf="item.user_type == 'jobber'" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewMyPage(item.id,'/myjobs/t3')">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0">{{ item.comment }}</small>
                                      </div>
                                      <div *ngIf="item.user_type == 'jobberator'" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewMyPage(item.id,'/myjobberjobs/t3')">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div> 
                                    </div>                                    
                                </a>                                  
                                    <a style="cursor: pointer;" (click)="redirectTo('/notification')" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>

             </div>

               <div class="dropdown loged" > 
                <a style="cursor: pointer;" class="dropdown-toggle  " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                  <i class=" icon_user" >
                    <img src="{{ImageUrl}}"  alt="" onError="this.onerror=null;this.src='assets/images/image_upload.png';" />
                  </i>
                </a>
            <ul class="dropdown-menu">
              <li class="myaccount"><i><img src="{{ImageUrl}}"  onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt=""/></i>
                <div class="accountname">
                  <h3>{{ userName }}</h3>
                  <h4><b>{{ userEmail }}</b></h4>
                  <h4>{{ location }}</h4>
                </div>
              </li>
              <div class="clearfix"></div>
              <li role="separator" class="divider"></li>
              <li><a style="cursor: pointer;" (click)="redirectTo('/personelinfo')">Personal Info</a></li>
              <li><a style="cursor: pointer;" *ngIf="userType == 'jobber'" (click)="redirectTo('/myjobberjobs')">My Jobs</a></li>
              <li><a style="cursor: pointer;" *ngIf="userType != 'jobber'" (click)="redirectTo('/myjobs')">My Jobs</a></li>
              <!-- <li><a style="cursor: pointer;" (click)="redirectTo('/wishlist')">My Favourites</a></li>
              <li><a style="cursor: pointer;">My Money</a></li> -->
              <!-- <li><a style="cursor: pointer;">Support</a></li> -->
              <li *ngIf="userType == 'jobber'" (click)="profileChange('/profile')"><a style="cursor: pointer;">Become a
                  Jobberator</a></li>
              <li *ngIf="userType == 'jobberator'" (click)="profileChange('/jobberprofile')"><a
                  style="cursor: pointer;">Become a Jobber</a></li>
              <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
            </ul>
          </div>
          </div>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
       
        <ul class="nav navbar-nav navbar-right">            
          <li class="searchclear" *ngIf="userType == 'jobber' || userType == 'both'"><a style="cursor: pointer;"
            (click)="redirectTo('/jobcategory-listing')">Find a Job</a></li>
        <li *ngIf="(userType == 'jobberator' || userType == 'both') && isPost == '1'"><a style="cursor: pointer;" (click)="redirectTo('/jobpost')">Post a
            Job</a></li>         
          <li><a style="cursor: pointer;">How it Works</a></li>
          <li class="faico resdivnon"><a style="cursor: pointer;" data-toggle="dropdown" role="button"><i class="fa fa-bell"></i><span>{{ noticount }}</span></a>

             <div class="dropdown-menu drop-notif">
             <h6 class="drophead">
                                    Notifications
                                     <!-- <span class="badge bg-primary rounded-pill">{{ noticount }}</span> -->
                                </h6>

                                    <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of jobTypeFilternotificationsList; let i = index">
                                        <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                        <div class="media">
                                         
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate" (click)="jobtypeProfileNotificationView(item.id)">>
                                                <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                                <small class="text-muted mb-0">{{ item.comment }}</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a style="cursor: pointer;" class="dropdown-item py-3"  *ngFor="let item of jobTypenotificationsList; let i = index">
                                      <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                      <div class="media">
                                       
                                          <div class="avatar-md bg-soft-primary">
                                              <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                          </div>
                                          <div class="media-body align-self-center ms-2 text-truncate"   (click)="jobtypeNotificationView(item.customer_jobpost_id,item.id)">
                                              <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                              <small class="text-muted mb-0">{{ item.comment }}</small>
                                          </div>
                                      </div>
                                  </a>
                                  
                                  <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of notificationsList; let i = index">
                                    <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                    <div class="media" *ngIf="item.status != 'rated'">
                                     
                                        <div class="avatar-md bg-soft-primary">
                                            <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                        </div>
                                        <div *ngIf="item.task_log_id == ''" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationView(item.customer_jobpost_id,item.id,item.link)">
                                            <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                            <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                        </div>
                                        <div *ngIf="item.task_log_id != ''" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewTask(item.customer_jobpost_id,item.task_log_id,item.link)">
                                          <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                          <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div>
                                    </div>

                                    <div class="media" *ngIf="item.status == 'rated'">
                                     
                                      <div class="avatar-md bg-soft-primary">
                                          <img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/image_upload.png';"  alt="description" class="thumb-sm rounded-circle">                                                
                                      </div>
                                      <div *ngIf="item.user_type == 'jobber'" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewMyPage(item.id,'/myjobs/t3')">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div>
                                      <div *ngIf="item.user_type == 'jobberator'" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewMyPage(item.id,'/myjobberjobs/t3')">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div>
                                    </div>                                    
                                </a>                                  

                           

                                    <a style="cursor: pointer;" (click)="redirectTo('/notification')" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>

             </div>

          </li>
         <div class="clearfix visible-sm visible-xs"></div>
          <li class="dropdown resdivnon" > <a style="cursor: pointer;" class="dropdown-toggle  " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><i class=" icon_user" >
            <img src="{{ImageUrl}}"  alt="" onError="this.onerror=null;this.src='assets/images/image_upload.png';" />
          </i> My Account <span class="caret alignimg"></span></a>
            <ul class="dropdown-menu">
              <li class="myaccount"><i><img src="{{ImageUrl}}"  alt="" onError="this.onerror=null;this.src='assets/images/image_upload.png';" /></i>
                <div class="accountname">
                  <h3>{{ userName }}</h3>
                  <h4><b>{{ userEmail }}</b></h4>
                  <h4>{{ location }}</h4>
                </div>
              </li>
              <div class="clearfix"></div>
              <li role="separator" class="divider"></li>
              <li><a style="cursor: pointer;" (click)="redirectTo('/personelinfo')">Personal Info</a></li>
              <li><a style="cursor: pointer;" *ngIf="userType == 'jobber'" (click)="redirectTo('/myjobberjobs')">My Jobs</a></li>
              <li><a style="cursor: pointer;" *ngIf="userType != 'jobber'" (click)="redirectTo('/myjobs')">My Jobs</a></li>
              <li><a style="cursor: pointer;" (click)="redirectTo('/wishlist')">My Favourites</a></li>
              <!-- <li><a style="cursor: pointer;">My Money</a></li> -->
              <!-- <li><a style="cursor: pointer;">Support</a></li> -->
              <li *ngIf="userType == 'jobber'" (click)="profileChange('/profile')"><a style="cursor: pointer;">Become a
                  Jobberator</a></li>
              <li *ngIf="userType == 'jobberator'" (click)="profileChange('/jobberprofile')"><a
                  style="cursor: pointer;">Become a Jobber</a></li>
              <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
  </nav>
</header>

<div class="modal-box">  
  <div class="modal fade" id="confirmationPopupAlreadyStarted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Jobberator already started job.</h3>
            <p class="description" id="confirmationTextAlreadyStarted">You can't reject now</p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
        </div>     
      </div>
    </div>
  </div>
</div>

<div class="modal-box">  
  <div class="modal fade" id="confirmationPopupNotStart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Jobber cancelled the job request.</h3>
            <p class="description" id="confirmationTextNotStart">Please proceed with other applicants</p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            <button (click)="reloadJobberatorScreen()" type="button" id="confirmationAccept"
              class="btn success">Ok</button>             
            </div>
        </div>     
      </div>
    </div>
  </div>
</div>

<div class="modal-box">  
  <div class="modal fade" id="confirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Confirm to proceed</h3>
            <p class="description" id="confirmationText"></p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            <button (click)="onConfirmationClick()" type="button" id="confirmationAccept"
              class="btn success">Ok</button>             
            </div>
        </div>     
      </div>
    </div>
  </div>
</div>
<div class="modal-box">  
<div class="modal fade" id="dispConfirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <span id="confirmationTextDisp"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cmodal-body">
        <p></p>
        <textarea style="width: 500px; height: 75px;" [(ngModel)]="dispMessage">{{ dispMessage }}</textarea>
        <p style="color: red;" *ngIf="messageEmpty">Please type a note</p>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onConfirmationClickDisputeJobber()" type="button" id="confirmationAccept"
          class="btn btn-primary">Ok</button>
      </div> -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-body">
          <div class="icon">
              <i class="fa fa-graduation-cap"></i>
          </div>
          <h3 class="title">Confirm to proceed</h3>
          <p class="description" id="confirmationTextDisp"></p>
          <div class="mtext">
            <label>Message:</label>
              <textarea id="w3review" name="w3review" rows="4" cols="50" [(ngModel)]="dispMessage">
                {{ dispMessage }}
              </textarea>
              <p style="color: red;" *ngIf="messageEmpty">Please type a note</p>              
          </div>
          <div class="btnmulti">
          <button type="button" class="btn warning" data-dismiss="modal">Close</button>
          <button (click)="onConfirmationClickDisputeJobber()" type="button" id="confirmationAccept"
            class="btn success">Ok</button>            
          </div>
      </div>       
    </div>
  </div>
</div>
</div>

<div class="modal-box">  
<div class="modal fade" id="dispJobberatorDispute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-body">
          <div class="icon">
              <i class="fa fa-graduation-cap"></i>
          </div>
          <h3 class="title">Confirm to proceed</h3>
          <div class="description" id="jobberatorDetailTextDisp">
            <p>If you cancel this task jobber will get three options</p>
            <p style="padding-left: 30px;">1. Accept(Then you need to give 50% of the task)</p>
            <p style="padding-left: 30px;">2. Redo(Jobber can redo the task)</p>
            <p style="padding-left: 30px;">3. Can't reach agreement(Jobber can request 100% for all done task and 50% of the last task completed).</p>
            <p>If you cancel the job jobber will get two options</p>
            <p style="padding-left: 30px;">1. Accept(Jobber can request 100% for all done task and 50% of the last task completed)</p>
            <p style="padding-left: 30px;">2. Redo(Jobber can redo the task)</p>
          </div>

          <div class="btnmulti">
          <button type="button" class="btn warning" data-dismiss="modal">Close</button>
          <button (click)="onConfirmationCancel('jobberator_job_canceled')" type="button" id="confirmationAccept"
            class="btn success">Cancel Job</button>
          <button (click)="onConfirmationCancel('jobberator_canceled')" type="button" id="confirmationAccept"
          class="btn primary">Cancel Task</button>            
          </div>
      </div>       
    </div>
  </div>
</div>
</div>


<div class="modal-box">  
<div class="modal fade" id="rejectConfirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="rejectConfirmationText"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <!-- <div class="cmodal-body">
        <span id="rejectConfirmationText"></span>
      </div> -->
      <p></p> 
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>           
      <div class="modal-body">
        <div class="icon">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <!-- <h3 class="title">Confirm to proceed</h3> -->
        <p class="description" id="rejectConfirmationText"></p>        
        <select class="form-control" style="width:87%;"
        (change)="reasonSelected($event.target.value)"
        [(ngModel)]="reasonselected">
        <option value="">Select</option>
        <option *ngFor="let language of cancellationData | keyvalue"
            [value]="language.value | titlecase">{{ language.value | titlecase }}
        </option>
        <option
            value="Other">Other
        </option>        
      </select>
      <p style="color: red; float: left;" *ngIf="selectMessageEmpty">Please select any reason</p>      
        <p></p>
        <textarea class="form-control" style="width: 500px; height: 75px;" [(ngModel)]="dispMessage">{{ dispMessage }}</textarea>
        <p style="color: red; float: left;" *ngIf="messageEmpty">Please type a note</p>
      </div>      
      <div class="modal-footer">
        <!-- <button (click)="onConfirmationCancel('jobberator_accepted')" type="button" id="confirmationAccept"
        class="btn btn-success">Accept Task</button>          -->
        <button (click)="onConfirmationClickDispute()" type="button" id="confirmationAccept"
          class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>          
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal-box">  
  <div class="modal fade" id="notExpiredPopupNoApplicant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <p class="description" id="notExpiredTextNoApplicant"></p>
            <div class="btnmulti">
              <!-- <button (click)="redirectTo('/newadvert/'+this.applicantsId)" type="button"
              class="btn btn-primary">Continue Adverticement</button>
              <button (click)="choiceOnDisputeFinal('continue_applicant')" type="button" class="btn btn-success" data-dismiss="modal">Continue With Applicant </button>   -->
              <button (click)="choiceOnDisputeFinal('continue_advt_first')" type="button"
              class="btn btn-primary">Continue adverticement or readvertice</button>
            </div>
        </div>       
      </div>
    </div>
  </div>
  </div>


<div class="modal-box">  
  <div class="modal fade" id="notExpiredPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <p class="description" id="notExpiredText"></p>
            <div class="btnmulti">
              <!-- <button (click)="redirectTo('/newadvert/'+this.applicantsId)" type="button"
              class="btn btn-primary">Continue Adverticement</button>
              <button (click)="choiceOnDisputeFinal('continue_applicant')" type="button" class="btn btn-success" data-dismiss="modal">Continue With Applicant </button>   -->
              <button (click)="choiceOnDisputeFinal('continue_advt_first')" type="button"
              class="btn btn-primary">Continue adverticement or readvertice</button>
              <p></p>
              <button (click)="choiceOnDisputeFinal('continue_applicant_first')" type="button" class="btn btn-success" data-dismiss="modal">Proceed with current applicants </button>             
            </div>
        </div>       
      </div>
    </div>
  </div>
  </div>



  <div class="modal-box">  
    <div class="modal fade" id="renewAdvtPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
              <div class="icon">
                  <i class="fa fa-graduation-cap"></i>
              </div>
              <h3 class="title">Renew adverticement</h3>
              <p class="description" id="confirmationTextDisp">Are you ready to renew adverticement?</p>
              <div class="btnmulti">
              <button type="button" class="btn warning" data-dismiss="modal">Close</button>
              <button (click)="choiceOnDisputeFinal('renew_advt')" type="button" id="confirmationContinueAdvt"
                class="btn success">Ok</button>            
              </div>
          </div>       
        </div>
      </div>
    </div>
    </div>



  <div class="modal-box">  
    <div class="modal fade" id="continueAdvtPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
              <div class="icon">
                  <i class="fa fa-graduation-cap"></i>
              </div>
              <h3 class="title">Continue adverticement or readvertice</h3>
              <p class="description" id="confirmationTextDisp">Are you ready to continue adverticement or readvertice?</p>
              <div class="btnmulti">
              <button type="button" class="btn warning" data-dismiss="modal">Close</button>
              <button (click)="choiceOnDisputeFinal('continue_advt')" type="button" id="confirmationContinueAdvt"
                class="btn success">Ok</button>            
              </div>
          </div>       
        </div>
      </div>
    </div>
    </div>
  
  
    <div class="modal-box">  
      <div class="modal fade" id="continueApplicantPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <h3 class="title">Proceed with current applicants</h3>
                <p class="description" id="confirmationTextDisp">Are you ready to proceed with current applicants?</p>
                <div class="btnmulti">
                <button type="button" class="btn warning" data-dismiss="modal">Close</button>
                <button (click)="choiceOnDisputeFinal('continue_applicant')" type="button" id="confirmationContinueApplicant"
                  class="btn success">Ok</button>            
                </div>
            </div>       
          </div>
        </div>
      </div>
      </div>



<div class="modal-box">  
<div class="modal fade" id="expiredPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cmodal-body">
        <span id="expiredText"></span>
        <p></p>
      </div>       
      <div class="modal-footer">
        <button (click)="choiceOnDisputeFinal('renew_advt_first')" type="button"
          class="btn btn-primary">Renew Adverticement</button>
          <button (click)="choiceOnDisputeFinal('continue_applicant')" type="button" class="btn btn-success" data-dismiss="modal">Continue With Applicant </button>         
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal-box">  
  <div class="modal fade" id="payConfirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Confirm to proceed</h3>
            <p class="description" id="confirmationTextDisp">Are you ready to do the payment?</p>
            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            <button (click)="paymentConfirm('payok')" type="button" id="confirmationAccept"
              class="btn success">Ok</button>            
            </div>
        </div>       
      </div>
    </div>
  </div>
  </div>


  <div class="modal-box">  
    <div class="modal fade" id="payZeroSuccessPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
              <div class="icon">
                  <i class="fa fa-graduation-cap"></i>
              </div>
              <h3 class="title">Job Created</h3>
              <p class="description" id="confirmationTextDispPay">Thank you. Your advert is now live , <a style="cursor:pointer;text-decoration: underline;" (click)="paymentConfirm('payzerook')">click here</a> to view your jobbers.</p>
          </div>       
        </div>
      </div>
    </div>
    </div>

  <div class="modal-box">  
    <div class="modal fade" id="paySuccessPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
              <div class="icon">
                  <i class="fa fa-graduation-cap"></i>
              </div>
              <h3 class="title">Payment Success</h3>
              <p class="description" id="confirmationTextDispPay">Thank you for your payment. Your advert is now live , <a style="cursor:pointer;text-decoration: underline;" (click)="paymentConfirm('payok')">click here</a> to view your jobbers.</p>
          </div>       
        </div>
      </div>
    </div>
    </div>  

    <div class="modal-box">  
      <div class="modal fade" id="paySuccessPopupStart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <h3 class="title">Payment Success</h3>
                <p class="description" id="confirmationTextDispPay">Thank you for your payment. Your money has been deposited for this job and will be paid to the jobber upon the completion of job.</p>
                <div class="btnmulti">
                  <button (click)="paymentConfirm('payok')" type="button" id="confirmationAccept"
                    class="btn success">Ok</button>            
                  </div>                
            </div>       
          </div>
        </div>
      </div>
      </div>  

      <div class="modal-box">  
        <div class="modal fade" id="tipPaySuccessPopupStart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                  <div class="icon">
                      <i class="fa fa-graduation-cap"></i>
                  </div>
                  <h3 class="title">Payment Success</h3>
                  <p class="description" id="confirmationTextDispPay">Thank you for your payment. Your tip has been deposited for this job and will be paid to the jobber.</p>
                  <div class="btnmulti">
                    <button (click)="paymentConfirm('payok')" type="button" id="confirmationAccept"
                      class="btn success">Ok</button>            
                    </div>                
              </div>       
            </div>
          </div>
        </div>
        </div>  
        
        
        <div class="modal-box">  
          <div class="modal fade" id="idPaySuccessPopupStart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h3 class="title">Payment Success and verified</h3>
                    <p class="description" id="confirmationTextDispPay">Thank you for your payment.</p>
                    <div class="btnmulti">
                      <button (click)="idpaymentConfirm('payok')" type="button" id="confirmationAccept"
                        class="btn success">Ok</button>            
                      </div>                
                </div>       
              </div>
            </div>
          </div>
          </div>

          <div class="modal-box">  
            <div class="modal fade" id="idPayFailurePopupStart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                      <div class="icon">
                          <i class="fa fa-graduation-cap"></i>
                      </div>
                      <h3 class="title">Payment Success and verification failed</h3>
                      <p class="description" id="confirmationTextDispPay">Thank you for your payment.</p>
                      <div class="btnmulti">
                        <button (click)="idpaymentConfirm('payok')" type="button" id="confirmationAccept"
                          class="btn success">Ok</button>            
                        </div>                
                  </div>       
                </div>
              </div>
            </div>
            </div>
      
      
      <div class="modal-box">  
        <div class="modal fade" id="otherPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                  <div class="icon">
                      <i class="fa fa-graduation-cap"></i>
                  </div>
                  <h3 class="title">Your own job type(s) added</h3>
                  <p class="description" id="otherTextDisp">Admin need to approve added job types(s). Once it approved you will be informed.</p>
                  <div class="btnmulti">
                  <button (click)="redirectToMyjobs()" type="button" id="otherAccept"
                    class="btn success">Ok</button>            
                  </div>
              </div>       
            </div>
          </div>
        </div>
        </div>      