<header class="header" id="myHeader">

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" style="cursor: pointer;">
          <img src="assets/images/joblite_logo.png" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" width="141" height="52" alt="Job Lite"/>
        </a>

        <div class="navbar-brand">
          <ul class="margintoptwo nav navbar-nav" style="margin-top: 0px !important;">
            <li class="searchclear">
                <a style="cursor: pointer;" (click)="locationChange()">
                <img src="assets/images/location_icon.png"  onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description" class="thumb-sm rounded-circle">Change Location</a>
              </li>
            </ul>
        </div>
        <div class="nav-res" *ngIf="loggedIn">

          <!-- <a style="cursor: pointer;" data-toggle="dropdown" role="button" class="res-drp"><i class="fa fa-bell"></i><span>3</span></a> -->
          <a style="cursor: pointer;" data-toggle="dropdown" role="button" class="res-drp"><i class="fa fa-bell"></i><span>{{ noticount }}</span></a>         
                       <div class="dropdown-menu drop-notif">
                       <h6 class="drophead">
                                              Notifications
                                               <!-- <span class="badge bg-primary rounded-pill">{{ noticount }}</span> -->
                                          </h6>
          
                                              <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of jobTypeFilternotificationsList; let i = index">
                                                  <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                                  <div class="media">
                                                   
                                                      <div class="avatar-md bg-soft-primary">
                                                          <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.src=this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                                      </div>
                                                      <div class="media-body align-self-center ms-2 text-truncate" (click)="jobtypeProfileNotificationView(item.id)">>
                                                          <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                                          <small class="text-muted mb-0"> {{ item.comment }}</small>
                                                      </div>
                                                  </div>
                                              </a>
          
                                              <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of jobTypenotificationsList; let i = index">
                                                <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                                <div class="media">
                                                 
                                                    <div class="avatar-md bg-soft-primary">
                                                        <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.src=this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                                    </div>
                                                    <div class="media-body align-self-center ms-2 text-truncate"  (click)="jobtypeNotificationView(item.customer_jobpost_id,item.id)">
                                                        <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                                        <small class="text-muted mb-0"> {{ item.comment }}</small>
                                                    </div>
                                                </div>
                                            </a>
                                            
                                            <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of notificationsList; let i = index">
                                              <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                              <div class="media">
                                               
                                                  <div class="avatar-md bg-soft-primary">
                                                      <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.src=this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                                  </div>
                                                  <div class="media-body align-self-center ms-2 text-truncate" (click)="notificationView(item.customer_jobpost_id,item.id,item.link)">
                                                      <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                                      <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                                  </div>
                                              </div>
                                          </a>                                  
                                              <a style="cursor: pointer;" (click)="redirectTo('/notification')" class="dropdown-item text-center text-primary">
                                              View all <i class="fi-arrow-right"></i>
                                          </a>
          
                       </div>
          
                         <div class="dropdown loged" >
                          <a style="cursor: pointer;" class="dropdown-toggle  " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                            <i class=" icon_user" >
                              <img src="{{ImageUrl}}"  alt=""/>
                            </i>
                          </a>
                      <ul class="dropdown-menu">
                        <li class="myaccount"><i><img src="{{ImageUrl}}"  onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt=""/></i>
                          <div class="accountname">
                            <h3>{{ userName }}</h3>
                            <h4>{{ location }}</h4>
                          </div>
                        </li>
                        <div class="clearfix"></div>
                        <li role="separator" class="divider"></li>
                        <li><a style="cursor: pointer;" (click)="redirectTo('/personelinfo')">Personal Info</a></li>
                        <li><a style="cursor: pointer;" *ngIf="userType == 'jobber'" (click)="redirectTo('/myjobberjobs')">My Jobs</a></li>
                        <li><a style="cursor: pointer;" *ngIf="userType != 'jobber'" (click)="redirectTo('/myjobs')">My Jobs</a></li>
                        <li><a style="cursor: pointer;" (click)="redirectTo('/wishlist')">My Favourites</a></li>
                        <!-- <li><a style="cursor: pointer;">My Money</a></li> -->
                        <!-- <li><a style="cursor: pointer;">Support</a></li> -->
                        <li *ngIf="userType == 'jobber'" (click)="profileChange('/profile')"><a style="cursor: pointer;">Become a
                            Jobberator</a></li>
                        <li *ngIf="userType == 'jobberator'" (click)="profileChange('/jobberprofile')"><a
                            style="cursor: pointer;">Become a Jobber</a></li>
                        <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
                      </ul>
                    </div>
                    </div>


      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  *ngIf="loggedIn">
 
       
        <ul class="nav navbar-nav navbar-right home-margin-adjust">            
         
          <li class="searchclear" *ngIf="userType == 'jobber' || userType == 'both'"><a style="cursor: pointer;"
            (click)="redirectTo('/jobcategory-listing')">Find a Job</a></li>
        <li *ngIf="(userType == 'jobberator' || userType == 'both')  && isPost == '1'"><a style="cursor: pointer;" (click)="redirectTo('/jobpost')">Post a
            Job</a></li> 
          <li><a style="cursor:pointer;">How it Works</a></li>
          <li class="faico resdivnon"><a style="cursor: pointer;" data-toggle="dropdown" role="button"><i class="fa fa-bell"></i><span>{{ noticount }}</span></a>

             <div class="dropdown-menu drop-notif">
             <h6 class="drophead">
                                    Notifications <span class="badge bg-primary rounded-pill">{{ noticount }}</span>
                                </h6>

                                    <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of jobTypeFilternotificationsList; let i = index">
                                        <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                        <div class="media">
                                         
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate" (click)="jobtypeProfileNotificationView(item.id)">>
                                                <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                                <small class="text-muted mb-0">{{ item.comment }}</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a style="cursor: pointer;" class="dropdown-item py-3"  *ngFor="let item of jobTypenotificationsList; let i = index">
                                      <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                      <div class="media">
                                       
                                          <div class="avatar-md bg-soft-primary">
                                              <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                          </div>
                                          <div class="media-body align-self-center ms-2 text-truncate"   (click)="jobtypeNotificationView(item.customer_jobpost_id,item.id)">
                                              <h6 class="my-0 fw-normal text-dark">Admin</h6>
                                              <small class="text-muted mb-0">{{ item.comment }}</small>
                                          </div>
                                      </div>
                                  </a>
                                  
                                  <a style="cursor: pointer;" class="dropdown-item py-3" *ngFor="let item of notificationsList; let i = index">
                                    <small class="float-end text-muted ps-2">{{ item.created_at | date: "MMMM d, y h:mm a" }}</small>
                                    <div class="media" *ngIf="item.status != 'rated'">
                                     
                                        <div class="avatar-md bg-soft-primary">
                                            <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" onError="this.onerror=null;this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                        </div>
                                        <div *ngIf="item.task_log_id == ''" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationView(item.customer_jobpost_id,item.id,item.link)">
                                            <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                            <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                        </div>
                                        <div *ngIf="item.task_log_id != ''" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewTask(item.customer_jobpost_id,item.task_log_id,item.link)">
                                          <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                          <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div>
                                    </div>

                                    <div class="media" *ngIf="item.status == 'rated'">
                                     
                                      <div class="avatar-md bg-soft-primary">
                                          <img src="{{ item.profile_img }}"  onError="this.onerror=null;this.onerror=null;this.src='assets/images/image_upload.png';" alt="description" class="thumb-sm rounded-circle">                                                
                                      </div>
                                      <div *ngIf="item.user_type == 'jobber'" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewMyPage(item.id,'/myjobs/t3')">
                                          <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                          <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div>
                                      <div *ngIf="item.user_type == 'jobberator'" class="media-body align-self-center ms-2 text-truncate"  (click)="notificationViewMyPage(item.id,'/myjobberjobs/t3')">
                                        <h6 class="my-0 fw-normal text-dark">{{ item.username }}</h6>
                                        <small class="text-muted mb-0"><b>{{ item.job_id }}:</b>{{ item.comment }}</small>
                                      </div>                                      
                                  </div>                                    
                                </a>                                  

                           

                                    <a style="cursor: pointer;" (click)="redirectTo('/notification')" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>

             </div>

          </li>
         <div class="clearfix visible-sm visible-xs"></div>
          <li class="dropdown resdivnon" >
            <a style="cursor: pointer;" class="dropdown-toggle  " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
              <i class=" icon_user" >
                <img src="{{ImageUrl}}"   onError="this.onerror=null;this.src='assets/images/image_upload.png';" alt=""/>
              </i> My Account <span class="caret alignimg"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="myaccount"><i><img src="{{ImageUrl}}"  onError="this.onerror=null;this.onerror=null;this.src='assets/images/image_upload.png';" alt=""/></i>
                <div class="accountname">
                  <h3>{{ userName }}</h3>
                  <h4><b>{{ userEmail }}</b></h4>
                  <h4>{{ location }}</h4>
                </div>
              </li>
              <div class="clearfix"></div>
              <li role="separator" class="divider"></li>
              <li><a style="cursor: pointer;" (click)="redirectTo('/personelinfo')">Personal Info</a></li>
              <li><a style="cursor: pointer;" *ngIf="userType == 'jobber'" (click)="redirectTo('/myjobberjobs')">My Jobs</a></li>
              <li><a style="cursor: pointer;" *ngIf="userType != 'jobber'" (click)="redirectTo('/myjobs')">My Jobs</a></li>
              <li><a style="cursor: pointer;" (click)="redirectTo('/wishlist')">My Favourites</a></li>
              <!-- <li><a style="cursor: pointer;">My Money</a></li> -->
              <!-- <li><a style="cursor: pointer;">Support</a></li> -->
              <li *ngIf="userType == 'jobber'" (click)="profileChange('/profile')"><a style="cursor: pointer;">Become a
                  Jobberator</a></li>
              <li *ngIf="userType == 'jobberator'" (click)="profileChange('/jobberprofile')"><a
                  style="cursor: pointer;">Become a Jobber</a></li>
              <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
      
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav home-margin-adjust" *ngIf="!loggedIn">
      <li ><a style="cursor: pointer;" (click)="redirectTo('/jobcategory-listing')">Find a Job</a></li>
        <!-- <li><a data-toggle="modal"  (click)="postaJob()">Post a Job</a></li> -->
        <!-- data-target="#myModal_loginnew" -->
        <li><a style="cursor: pointer;">How it Works</a></li>
        <!-- <li class="jobtitle"><a style="cursor: pointer;">Join Joblite</a></li> -->
        </ul>

    
        <ul class="nav navbar-nav navbar-right home-margin-adjust" *ngIf="!loggedIn">
            <li class="faico"><a style="cursor: pointer;"><i class="fa fa-envelope-o"></i></a></li>
            <div class="clearfix visible-sm visible-xs"></div>
            <li class="signup"><a style="cursor:pointer" (click)="changeDynamicLoginMessage()" id="mymodalsignupmain" data-toggle="modal" data-target="#login_main">Sign Up</a></li>
            <li class="signup displaynone"><a style="cursor:pointer" (click)="changeDynamicLoginMessage()" id="mymodalsignup" data-toggle="modal" data-target="#myModal_loginnew"></a></li>            
        </ul>

      

        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  
  </header>






  <section class="mainbanner">
    <div class="container"> 
   <div class="row">
     <div class="col-md-7">
       <div class="bann-text-blk">
        <img src="assets/images/banner-txt.svg"  onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="The Right People For The Right Job">
       </div>
       <div class="blow-txt">
         <h1>JOBLITE IS A COMMUNITY THAT CONNECTS SKILLS AND JOBS, FINDING THE RIGHT PEOPLE TO DO SPECIFIC TASKS IN THE EVERYDAY LIFE.</h1>
       </div>
       <div class="search-blk">
        <input type="text" id="search" placeholder="Search by job title" [(ngModel)]="searchName" class="form-control login-style" name="search" data-rule="minlen:4" data-msg="">         
        <button (click)="jobSearchPage(searchName)" type="button" class="search">
         Search
         </button>
       </div>
       <div class="discription">
         <ul>
            <li *ngFor="let item of categoryFirst; let i = index">
             <a class="lt-pointer" (click)="doGotoJobDetailsCategoryPage(item?.id)">
               <img src="{{ item.details[0].image_path }}"  onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>
              </a>
             <h4>{{ item.details[0].name }}</h4>
            </li>             
              <!-- <li><a style="cursor: pointer;"><img src="assets/images/description2.jpg" alt="description"/></a>
             <h4>DESCRIPTION</h4></li>
              <li><a style="cursor: pointer;"><img src="assets/images/description3.jpg" alt="description"/></a>
             <h4>DESCRIPTION</h4></li>
              <li><a style="cursor: pointer;"><img src="assets/images/description4.jpg" alt="description"/></a>
             <h4>DESCRIPTION</h4></li> -->
         </ul>
       </div>
     </div>
     <div class="col-md-5">
      <div class="owl-carousel">
             <div class="item">
              <img src="assets/images/login-bg.png" alt="description"/>
             </div>
              <div class="item">
              <img src="assets/images/join-bg.png" alt="description"/>
             </div>
               <div class="item">
              <img src="assets/images/register-bg.png" alt="description"/>
             </div>
 
             
           </div>
     </div>
   </div>
 </div>
 </section>




    <!-- /.Job Catagories -->
    <!-- <section class="jobcatagories">
    </section>

    <div class="clearfix"></div>
    <div class="text_c"><a routerLink="/jobcategory" class="bu_viewmore">View all Job Categories</a></div>
    <div class="clearfix"></div>     -->

    <section>
      <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="mainlist">
           <h2>MOST RECENT LISITNG</h2>
           <p>Joblite is a community that connects skills and jobs, finding the right people to do specific tasks in the everyday life.</p>
           <!-- <a style="cursor: pointer;" class="settingico"> <img src="assets/images/settings.svg" alt="description"/></a> -->
           <div class="col-lg-6 col-xs-12 cat_servicehead cat_sort" style="float: right !important;">
            <div class="cat_sort_head"> <h4>Sort by</h4> 
            
                       <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ bestJobsText }} <i class="fa fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('')">Recent jobs</a>
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('price')">Offer - high to low</a>
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('pricelow')">Offer - low to high</a>
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('rating')">Rating - high to low</a>
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('ratinglow')">Rating - low to high</a>
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('near')">Jobs near me</a>
                          <!-- <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('lowtohigh')">Rating low to high</a>
                          <a class="dropdown-item" style="cursor:pointer;" (click)="sortJob('hightolow')">Rating high to low</a> -->
                        </div>
    
   
 
                      </div>
              
               
                
            </div>
 
        </div>
         </div>
         </div>
       </div>
      </div>
     </section>


    <section *ngIf="jobList.length == 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text_c text_c_color">
  
              Sorry, No job around your selected location, please try another location, <a style="cursor: pointer;" (click)="locationChange()">
                <img src="assets/images/location_icon.png"  onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description" class="thumb-sm rounded-circle">Change Location</a>
            </div>           
           </div>
        </div>
      </div>
    </section>  
     
     
     <section *ngIf="jobList.length > 0">
      <div class="container">
        <div class="row">

          <div class="col-md-3" *ngFor="let index of jobList | slice:0:15;  index as i">
            <div class="card cardheight">
              <div (click)="doGotoJobDetailsPage(index,i)" class="card-header" data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false">
                <!-- <a style="cursor: pointer;"  data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ index?.jobpost_photos[0].image_path}}" alt="description"/> -->
                  <!-- <a style="cursor:pointer;"><img src="assets/images/chefhat.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>                   -->
                    <a style="cursor:pointer;">
                      <!-- <img *ngIf="index?.jobpost_photos.length > 0" src="{{ server_url }}{{ index?.jobpost_photos[0].image_path}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
                      <img src="{{ index?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/> 
                      <!-- <img *ngIf="index?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
                      <h5>{{ index?.job_title | titlecase}}</h5>
                  </a>
              </div>
              <div class="card-body">
                <div class="textlong">
                  <h2>{{ index?.job_id }}</h2>
                 </div>
                <div class="text-head">
                  <h5>{{ index?.job_desc | slice:0:30 | titlecase}}</h5>
                </div>
                <div class="countdiv">
                  <span> R{{index?.project_budget}}</span>
                </div>
                <!-- <div class="textlong text_c text_c_color">
                  *Service charge R {{ settingsbody.service_charge }} + Transaction charge {{ settingsbody.transaction_perc }}%  will be excluded
                 </div> -->
                 <!-- <div class="percent">
                  {{ index?.location}}
                </div> -->
                <div class="percent">
                  {{ index?.matchingperc}}% Job Match
                </div>
                <!-- <div class="texttoplong text_c_color">Job starts on : {{ index?.start_date | toIso | date: "MMMM d, y" }}</div>
                <div class="textbottomlong text_c_color">Job ends on : {{ index?.end_date | toIso | date: "MMMM d, y" }}</div> -->
  
                <div class="profilrate">
                  <div class="icon_user">
                    <img src="{{ server_url }}{{ index?.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>
                  </div>
                  <div class="rating">
                    <ul>
                      <li *ngFor="let item of createRange(index?.roundrating); let index = index"><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                      <li *ngFor="let item of createRange(5 - index?.roundrating); let index = index"><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                  <div class="locdiv" *ngIf="!loggedIn">
                  </div>
                  <div class="locdiv paddingtopten" *ngIf="loggedIn">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{index?.distance}}Km Away
                  </div>
                 
                  <div class="inperson" *ngIf="index?.work_type === 'inperson'">
                    <i class="fa fa-user" aria-hidden="true"></i> In Person
                  </div>
                  <div class="inperson" *ngIf="index?.work_type === 'online'">
                    <i class="fa fa-user" aria-hidden="true"></i> Remote
                  </div>                  
                </div>
            </div> 
            <div class="card-footer">
              <ul>
                <li *ngIf="index?.job_intimation[0]?.status != 'initiated'">
                  <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'close','','Home')"> 
                    <div class="ftrimg"><img src="assets/images/close-red.svg" alt="description"/> </div>
                  Not For Me
                  
                  </a>
                </li>
                <li *ngIf="index?.job_intimation[0]?.status == 'initiated'">
                  <a>
                  <div class="ftrimg">
                    <!-- <img src="assets/images/heart.svg" alt="description"/> -->
                    <i class="fa fa-check ticker_green ticker_green_liked heartsize"></i>
                  </div>
                  Applied
                  </a>
                </li>
                <li *ngIf="index?.job_intimation[0]?.status != 'initiated'">
                  <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'accept',index?.job_intimation[0]?.status,'Home')">  <div class="ftrimg"><img src="assets/images/check.svg" alt="description"/></div>
                  Lets Do It
                  </a>
                </li>
                <li *ngIf="index?.job_intimation[0]?.is_jobbers_favourite != 'favourite' && loggedIn" class="tooltip_icons ">
                  <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'like','','Home')">  <div class="ftrimg">
                    <!-- <img src="assets/images/heart_grey.svg" alt="description"/> -->
                    <i class="fa fa-heart heart_purple heartsize"></i>
                  </div>
                  Unfavourite
                  </a>
                </li>
                <li *ngIf="!loggedIn" class="tooltip_icons ">
                  <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'like','','Home')">  <div class="ftrimg">
                    <!-- <img src="assets/images/heart.svg" alt="description"/> -->
                    <i class="fa fa-heart heart_purple heartsize"></i>
                  </div>
                  Unfavourite
                  </a>
                </li>
                <li *ngIf="index?.job_intimation[0]?.is_jobbers_favourite == 'favourite' && loggedIn" class="tooltip_icons ">
                  <a style="cursor:pointer;" (click)="homeConfirmation(index.id,i,'like','','Home')">  <div class="ftrimg">
                    <!-- <img src="assets/images/heart.svg" alt="description"/> -->
                    <i class="fa fa-heart heart_purple heart_purple_liked heartsize"></i>
                  </div>
                  Favourite
                  </a>
                </li>                
              </ul>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section> 
    
    <section>
      <div class="container">
        <div class="row">
         <div class="col-md-12">
          <div class="text_c" style="cursor: pointer;" (click)="viewAllJobListing()">

            <a  class="bu_viewmore">View all Job Listing</a>
          </div>           
         </div>
        </div>
      </div>
    </section>

      
  <app-footer></app-footer>

  
  
  <div class="modal fade" id="login_main" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
         <button type="button" class="close" id="mainclose" data-dismiss="modal" aria-label="Close">
           <img src="assets/images/close.svg" alt="Chicago">
          </button>
          <div class="login-leftarea-div">
           <img src="assets/images/login-left.png" alt="Chicago">
          </div>
          <div class="login-right-area">
            <div class="username-div toppaddinglogin" *ngIf="dynamicLoginMessage != ''">
              <span class="message-block">{{ dynamicLoginMessage }}</span>
            </div>
            <div class="buttonwrap">
              <div class="login">
                <a (click)="gotoLogin()" style="cursor: pointer;" class="jointxt">LOGIN</a>
              </div>
              <div class="join">
                <a (click)="gotoSignup()" style="cursor: pointer;" class="jointxt">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  
      <!-- Modal -->
<div class="modal fade" id="myModal_loginnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">          
        <button type="button" #myDiv class="close" data-dismiss="modal" aria-label="Close"> 
          <img src="assets/images/close.svg" alt="Chicago">
        </button>
        <div class="login-leftarea-div" *ngIf="loginStep">
          <img style="height: 76% !important;" src="assets/images/login-bg.png" alt="Chicago">
        </div> 
        <div class="login-leftarea-div" *ngIf="signupStep1">
          <img style="height: 63% !important;" src="assets/images/join-bg.png" alt="Chicago">
        </div>    
        <div class="login-leftarea-div" *ngIf="signupStep2">
          <img style="height: 70% !important;" src="assets/images/register-bg.png" alt="Chicago">
        </div>  
        <div class="login-leftarea-div" *ngIf="verificationStep">
          <img src="assets/images/register-bg.png" alt="Chicago">
        </div> 
        <div class="login-leftarea-div" *ngIf="forgotStep1">
          <img src="assets/images/login-bg.png" alt="Chicago">
        </div> 
        <div class="login-leftarea-div" *ngIf="forgotStep2">
          <img src="assets/images/login-bg.png" alt="Chicago">
        </div> 


        <div class="login-right-area" *ngIf="forgotStep1">
          <div class="join">
            <h2>FORGOT PASSWORD</h2>
          </div>  
          <form [formGroup]="forgotform" (ngSubmit)="forgotPasswordStep2()">             
            <div class="text-action" [ngClass]="{'has-warning': errorMessage !== ''}">
                <input type="email" name="email" class="form-control text-style" id="email" placeholder="Enter email" formControlName="email" placeholder="Email">  
                <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <div class="next-div" style="margin-top: -25px">
              <button class="btn bu-signup" type="submit" [disabled]="!forgotform.valid">Submit</button>                
            </div>
            <p class="signup-link">Already have an account? <a style="cursor:pointer;position: relative;" (click)="gotoLoginNew()" class="jointxt">Login</a></p>          
          </form>                    
        </div>

        <div class="login-right-area" *ngIf="forgotStep2">
          <div class="join">
            <h2>CHANGE PASSWORD</h2>
          </div>  
          <div class="username-div toppadding">
            <span class="message-block">An email with OTP sent to {{ email }}</span>
          </div>
          <form [formGroup]="forgotpassform" (ngSubmit)="change_password()">             
            <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
              <div class="username-div">
                <input type="password" name="otp" class="form-control login-style" id="otp" placeholder="Enter OTP" data-rule="minlen:4" data-msg="" formControlName="otp">                
              </div>
              <div class="username-div">
                <input type="password" name="pass" class="form-control login-style" id="newpass" placeholder="Enter New Password" data-msg="" formControlName="password">                
              </div>
              <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <div class="next-div">
              <button class="btn bu-signup" type="submit" [disabled]="!forgotpassform.valid">Submit</button>                
            </div>               
          </form>                    
        </div>
        
        
        <div class="login-right-area" *ngIf="verificationStep">
          <div class="join">
            <a style="cursor: pointer;">VERIFICATION</a>
          </div>  
          <div class="username-div toppadding">
            <span class="message-block">An email with OTP sent to {{ email }}</span>
          </div>
          <form [formGroup]="otpform" (ngSubmit)="otp_verify()">             
            <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
              <div class="username-div">
                <img src="assets/images/user.svg" alt="Chicago">
                <input type="password" name="name" class="form-control login-style" id="otp" placeholder="Enter OTP" data-rule="minlen:4" data-msg="" formControlName="otp">                
              </div>
              <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <div class="next-div">
              <button class="btn bu-signup" type="submit" [disabled]="!otpform.valid">VERIFY</button>                
            </div>               
          </form>                    
        </div>
        
        <div class="login-right-area" *ngIf="loginStep">
          <div class="join">
            <h2>LOGIN</h2>
          </div>  
          <form [formGroup]="loginform" (ngSubmit)="login_step()">             
            <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
              <div class="username-div">
                <img src="assets/images/user.svg" alt="Chicago">
                <input type="text" name="name" class="form-control login-style" id="name" placeholder="User Name" data-rule="minlen:4" data-msg="" formControlName="name">                
              </div>
              <div class="password-div">
                <img src="assets/images/lock.svg" alt="Chicago">
                <input type="password" name="password" class="form-control login-style" id="password" placeholder="Password" data-rule="minlen:4" data-msg="" formControlName="password">                
              </div>
              <span class="help-block">{{ errorMessage }}</span>                
            </div>
            <p class="forgot-link"><a style="cursor:pointer;" (click)="forgotPasswordStep1()" class="jointxt">Forgot Password</a></p>              
            <div class="next-div">
              <button class="btn bu-signup" type="submit" [disabled]="!loginform.valid">Login</button>                
            </div>
            <div class="or-div">
              Or              
            </div>  
            <div class="btn1-ln" (click)="linkedinlogin()">
              <button type="button" class="ln">
                <img src="assets/images/linkedin_gray.svg" alt="Chicago">
              Continue with Linkedin
            </button>
            </div> 
            <div class="btn1-fb" (click)="signInWithFB()">
              <button type="button" class="fb">
                <img src="assets/images/fb.svg" alt="Chicago">
              Continue with Facebook
            </button>
            </div>
            <div class="btn1-google" (click)="signInWithGoogle()">
              <button type="button" class="google">
                <img src="assets/images/googleplus.svg" alt="Chicago">
              Continue with Google
            </button>
            </div>
            <p class="signup-link">Do not have an account? <a style="cursor:pointer;" (click)="gotoSignupNew()" class="jointxt">Register</a></p>              
          </form>                    
        </div>


        <div class="login-right-area" *ngIf="signupStep1">
          <div class="join">
            <h2>JOIN NOW</h2>
          </div>
          <form  [formGroup]="form" (ngSubmit)="signup_step1()">
            <div class="text-action">
              <input type="email" name="email" class="form-control text-style" id="email" placeholder="Create user name or enter email" formControlName="email" placeholder="Email">              
              <a style="cursor:pointer;" (click)="signup_step1()" data-toggle="modal" class="jointxt" *ngIf="form.valid"> <img src="assets/images/check.svg" alt="Chicago"></a>              
              <a style="cursor:pointer;" data-toggle="modal" class="jointxt" [disabled]="!form.valid" *ngIf="!form.valid">
                 <!-- <img src="assets/images/check.svg" alt="Chicago"> -->
              </a>               
              <div class="username-div" [ngClass]="{'has-warning': errorMessage !== ''}">
                <span class="help-block-new">{{ errorMessage }}</span>
              </div> 
             
              <div class="btn-email">
                <button type="button" class="email-btn" (click)="signup_step1()" *ngIf="form.valid">
                  <img src="assets/images/email.svg" alt="Chicago">
                Continue with Email
                </button>
                <button type="button" class="email-btn" (click)="notvalid()" *ngIf="!form.valid">
                  <img src="assets/images/email.svg" alt="Chicago">
                Continue with Email
                </button>                
              </div>
              <div class="or-div">
                Or              
              </div>
              <div class="btn-ln" (click)="linkedinlogin()">
                <button type="button" class="ln">
                  <img src="assets/images/linkedin_gray.svg" alt="Chicago">
                Continue with Linkedin
              </button>
              </div>  
              <div class="btn-fb" (click)="signInWithFB()">
                <button type="button" class="fb">
                  <img src="assets/images/fb.svg" alt="Chicago">
                Continue with Facebook
              </button>
              </div>
              <div class="btn-google" (click)="signInWithGoogle()">
                <button type="button" class="google">
                  <img src="assets/images/googleplus.svg" alt="Chicago">
                Continue with Google
              </button>
              </div>
              <p class="signup-link">Already have an account? <a style="cursor:pointer;position: relative;" (click)="gotoLoginNew()" class="jointxt">Login</a></p>
            </div>
          </form>
        </div>
        

          <div class="login-right-area register" *ngIf="signupStep2 && userData == ''">
            <form  [formGroup]="signup2form" (ngSubmit)="signup_step2()">            
            <div class="row">
              <div class="col-md-12 div-left emailtop">
                <span class="message-block">Email: {{ email }}</span>
              </div>
              <div class="col-md-6 div-left">
                <div class="username-div first-right">
                  <input type="text" id="first_name" name="first_name" class="form-control login-style" formControlName="first_name" placeholder="First Name">                  
                </div>
              </div>
              <div class="col-md-6 div-right">
                <div class="username-div first-left">
                  <input type="text" id="last_name" name="last_name" class="form-control login-style" formControlName="last_name" placeholder="Last Name	">                  
                </div>
              </div>
              <div class="col-md-12">
                <input type="text" formControlName="username" id="username" name="username" placeholder="Enter Your User Name" required="required"  class="form-control login-style">                
              </div>
              <div class="col-md-12">
                <input type="password" formControlName="password" id="password" name="password" placeholder="Enter Your Password" required="required"  class="form-control login-style">                
              </div>
              <div class="col-md-12">
                <div class="signuptxt">
                  Who You Are?
                </div>
                <div class="who-list">
                  <ul>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobberator" checked>                      
                      <label for="vehicle1">Jobberator</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobber">                      
                      <label for="vehicle1">Jobber</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="both">                      
                      <label for="vehicle1">Or Both</label>
                    </li>
                  </ul>
                  <input type="checkbox" class="form-check-input signup_checkform" id="exampleCheck1" formControlName="signup_checkform">
                  <label class="form-check-label" for="exampleCheck1">I agree with terms of use and privacy</label>                 
                  <div [ngClass]="{'has-warning': errorMessage !== ''}">
                    <span class="help-block">{{ errorMessage }}</span>
                  </div>                    
                  <div class="form-group text_c">
                    <button class="btn bu-signup-last" type="submit" [disabled]="!signup2form.valid">Create my account</button>
                  </div>                  
                </div>
              </div>
            </div> 
          </form>
          </div>  
          
          

          <div class="login-right-area register" *ngIf="signupStep2 && userData != ''">
            <form  [formGroup]="signup3form" (ngSubmit)="signup_step3()">            
            <div class="row">
              <div class="col-md-12">
                <div class="whotxt">
                  Who You Are?
                </div>
                <div class="who-list">
                  <ul>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobberator" checked>                      
                      <label for="vehicle1">Jobberator</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="jobber">                      
                      <label for="vehicle1">Jobber</label>
                    </li>
                    <li>
                      <input type="radio" name="optradio" formControlName="optradio" value="both">                      
                      <label for="vehicle1">Or Both</label>
                    </li>
                  </ul>
                  <input type="checkbox" class="form-check-input signup_checkform" id="exampleCheck1" formControlName="signup_checkform">
                  <label class="form-check-label" for="exampleCheck1">I agree with terms of use and privacy</label>                 
                  <div [ngClass]="{'has-warning': errorMessage !== ''}">
                    <span class="help-block">{{ errorMessage }}</span>
                  </div>                    
                  <div class="form-group text_c">
                    <button class="btn bu-signup-last" type="submit" [disabled]="!signup3form.valid">Create my account</button>
                  </div>                  
                </div>
              </div>
            </div> 
          </form>
          </div> 
          
          

      </div>
    </div>
  </div>
</div>


      <!-- Modal -->
      <div class="modal fade" id="myModal_linkedin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">          
              <button type="button" (click)="clearLinkedin()"  #myDiv class="close" data-dismiss="modal" aria-label="Close"> 
                <img src="assets/images/close.svg" alt="Chicago">
              </button>
  
              <div class="login-leftarea-div">
                <img style="height: 70% !important;" src="assets/images/register-bg.png" alt="Chicago">
              </div>  
              

              <div class="login-right-area register">
                <form  [formGroup]="signup3form" (ngSubmit)="linkedin_signup_step3()">            
                <div class="row">
                  <div class="col-md-12">
                    <div class="whotxt">
                      Who You Are?
                    </div>
                    <div class="who-list">
                      <ul>
                        <li>
                          <input type="radio" name="optradio" formControlName="optradio" value="jobberator" checked>                      
                          <label for="vehicle1">Jobberator</label>
                        </li>
                        <li>
                          <input type="radio" name="optradio" formControlName="optradio" value="jobber">                      
                          <label for="vehicle1">Jobber</label>
                        </li>
                        <li>
                          <input type="radio" name="optradio" formControlName="optradio" value="both">                      
                          <label for="vehicle1">Or Both</label>
                        </li>
                      </ul>
                      <input type="checkbox" class="form-check-input signup_checkform" id="exampleCheck1" formControlName="signup_checkform">
                      <label class="form-check-label" for="exampleCheck1">I agree with terms of use and privacy</label>                 
                      <div [ngClass]="{'has-warning': errorMessage !== ''}">
                        <span class="help-block">{{ errorMessage }}</span>
                      </div>                    
                      <div class="form-group text_c">
                        <button class="btn bu-signup-last" type="submit" [disabled]="!signup3form.valid">Create my account</button>
                      </div>                  
                    </div>
                  </div>
                </div> 
              </form>
              </div> 

            </div>
          </div>
        </div>
      </div>


<div class="modal-box">    
  <div class="modal fade" id="confirmationProfileJobberatorHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">You need to become jobber too</h3>
            <p class="description" id="confirmationProfileJobberatorHomeText">You need to become jobber too to apply for job</p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            </div>
        </div>          
      </div>
    </div>
  </div>
  </div>
 
<div class="modal-box">    
  <div class="modal fade" id="confirmationProfileHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-body">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <h3 class="title">Confirm to proceed</h3>
            <p class="description" id="confirmationProfileHomeText">You need to complete your profile to apply</p>

            <div class="btnmulti">
            <button type="button" class="btn warning" data-dismiss="modal">Close</button>
            <button (click)="homeProfileConfirmationClick()" type="button"  class="btn success">OK</button>              
            </div>
        </div>          
      </div>
    </div>
  </div>
  </div>

    <div class="modal-box">    
    <div class="modal fade" id="confirmationHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
              <div class="icon">
                  <i class="fa fa-graduation-cap"></i>
              </div>
              <h3 class="title">Confirm to proceed</h3>
              <p class="description" id="confirmationHomeText"></p>

              <div class="btnmulti">
              <button type="button" class="btn warning" data-dismiss="modal">Close</button>
              <button (click)="homeConfirmationClick()" type="button"  class="btn success">OK</button>              
              </div>
          </div>          
        </div>
      </div>
    </div>
    </div>




    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body userpp">
           <button #myDivPopUp type="button" class="close" data-dismiss="modal" aria-label="Close">
             <img src="assets/images/close.svg" alt="Chicago">
            </button>
            <div class="login-leftarea-div usertxt">
             <div class="card-header">
          <!-- <img src="assets/images/chefhat.jpg" alt="Chef Hat"/> -->
          <img src="{{ popUpJobDetails?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"/>
          <!-- <img *ngIf="popUpJobDetails?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';"/> -->
        </div>
            </div>
            <div class="login-right-area poptxt">
                   <div class="toptxtbox">
                    <div class="textlong">
                      <h2>{{ popUpJobDetails?.job_id }}</h2>
                     </div>
                     <div class="textlong">
                      <h3>{{ popUpJobDetails?.job_title | titlecase}}</h3>
                     </div>
                     <!-- <div class="textlong text_c text_c_color">
                      *Service charge R {{ settingsbody.service_charge }} + Transaction charge {{ settingsbody.transaction_perc }}%  will be excluded
                     </div> -->          
                      <!-- <div class="textlong text_c text_c_color">
                      *Service charge Inclusive
                     </div>            -->
                     <div class="toptxtdiv">
                      {{ popUpJobDetails?.matchingperc}}% JOB MATCH
                     </div> 
                     <div class="texttoplong text_c_color">Job starts on : {{ popUpJobDetails?.start_date | toIso | date: "MMMM d, y" }}</div>
                     <div class="textbottomlong text_c_color">Job ends on : {{ popUpJobDetails?.end_date | toIso | date: "MMMM d, y" }}</div>               
                   </div>
                    <div class="right-blk-count">
                         <div class="countdiv">
           <span> R{{popUpJobDetails?.project_budget}}</span>
           <div class="textlong text_c text_c_color" style="float: right;font-size: 13px;">
            *Service charge Inclusive
           </div>  
          </div>
                     </div>
                     <div class="pop-texttopmain">
                       <p>{{ popUpJobDetails?.job_desc }}</p>
                     </div>
              <div class="ratingandprofile">
                 <div class="profilrate">
            <div class="profilepic">
               <img src="assets/images/profile-pic.png" alt="description"/>
            </div>
            <div class="rating">
              <ul>
                <li *ngFor="let item of createRange(popUpJobDetails?.roundrating); let index = index"><i class="fa fa-star star-active" aria-hidden="true"></i></li>
                <li *ngFor="let item of createRange(5 - popUpJobDetails?.roundrating); let index = index"><i class="fa fa-star" aria-hidden="true"></i></li>
              </ul>
            </div>
            <div class="locdiv" *ngIf="!loggedIn">
            </div>
            <div class="locdiv" *ngIf="loggedIn">
              <i class="fa fa-map-marker" aria-hidden="true"></i> {{ popUpJobDetails?.distance }}Km Away
            </div>
            <div class="inperson" *ngIf="popUpJobDetails?.work_type === 'inperson'">
              <i class="fa fa-user" aria-hidden="true"></i> In Person
            </div>
            <div class="inperson" *ngIf="popUpJobDetails?.work_type === 'online'">
              <i class="fa fa-user" aria-hidden="true"></i> Remote
            </div>
          </div>
              </div>
             <div class="popbtm-links">
                <div class="card-footer">
          <ul>
            <li>
              <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'close','','Home')"> 
                <div class="ftrimg"><img src="assets/images/close-red.svg" alt="description"/> </div>
              </a>
            </li>
            <li *ngIf="popUpJobDetails?.job_intimation[0]?.status == 'initiated'">
              <a>
              <div class="ftrimg">
                <!-- <img src="assets/images/heart.svg" alt="description"/> -->
                <i class="fa fa-check ticker_green ticker_green_liked heartsize"></i>
              </div>
              </a>
            </li>
            <li *ngIf="popUpJobDetails?.job_intimation[0]?.status != 'initiated'">
              <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,i,'accept',popUpJobDetails?.job_intimation[0]?.status,'Home')">  <div class="ftrimg"><img src="assets/images/check.svg" alt="description"/></div>
              </a>
            </li>
            <!-- <li>
              <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'accept',popUpJobDetails?.job_intimation[0]?.status,'Home')">  <div class="ftrimg"><img src="assets/images/check.svg" alt="description"/></div>
                </a>
            </li> -->
            <!-- <li class="fltright">
              <a style="cursor: pointer;">  <div class="ftrimg"><img src="assets/images/heart.svg" alt="description"/></div>
           
             </a>
            </li> -->
            <li *ngIf="popUpJobDetails?.job_intimation[0]?.is_jobbers_favourite != 'favourite' && loggedIn" class="fltright tooltip_icons ">
              <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'like','','Home')">  <div class="ftrimg">
                <!-- <img src="assets/images/heart_grey.svg" alt="description"/> -->
                <i class="fa fa-heart heart_purple heartsize"></i>
              </div>
              Unfavourite
              </a>
            </li>
            <li *ngIf="!loggedIn" class="fltright tooltip_icons ">
              <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'like','','Home')">  <div class="ftrimg">
                <!-- <img src="assets/images/heart.svg" alt="description"/> -->
                <i class="fa fa-heart heart_purple heartsize"></i>
              </div>
              Unfavourite
               </a>
            </li>
            <li *ngIf="popUpJobDetails?.job_intimation[0]?.is_jobbers_favourite == 'favourite' && loggedIn" class="fltright tooltip_icons ">
              <a style="cursor:pointer;" (click)="homeConfirmation(popUpJobDetails.id,popUpi,'like','','Home')">  <div class="ftrimg">
                <!-- <img src="assets/images/heart.svg" alt="description"/> -->
                <i class="fa fa-heart heart_purple heart_purple_liked heartsize"></i>
              </div>
              Favourite
              </a>
            </li> 
          </ul>
        </div>
             </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

 
    <div class="modal fade" id="mapPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <button *ngIf="maplocation !=''" type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/close.svg" alt="Chicago"></button>
            <div class="login-leftarea-div">
             <img src="assets/images/location-left.jpg" alt="Chicago">
            </div>
            <div class="login-right-area">
              <div class="login">
                <form [formGroup]="formmap" class="form-group">
                  <div class="col-md-12 col-xs-12 m_height"
                  [ngClass]="{'has-warning': locErrorMessage !== ''}">
                    <label class="lab-txt-left"><span style="padding-right: 90px;font-size: 20px;">Choose your location</span></label>
                    <input id="pac-input" type="text" name="location" formControlName="location"
                        class="form-control wizardfeilds"
                        placeholder="Enter your location" />                                                            
                    <span class="required">*</span>
                    <span class="help-block">{{ locErrorMessage }}</span>
                    <label *ngIf="maplocation !=''" class="lab-txt-left"><span style="font-size: 16px;color: crimson;">Current location</span> : {{ maplocation }}</label>
  
                  </div>                 
                </form>
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  <script>
    // Carousel Auto-Cycle
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 6000
      })
    });
  
    </script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <script type="text/javascript">
    
    var timeOut;
    function scrollToTop() {
      if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
        window.scrollBy(0,-50);
        timeOut=setTimeout('scrollToTop()',10);
      }
      else clearTimeout(timeOut);
    }
    </script>
      
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
  