<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>

<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
	<div class="brdcrmb">
	  <ul>
		<li>
		  <a href="#">Home</a>
		</li>
		<li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		<li>My Jobs</li>
	  </ul>
	 </div>
	</div>
	</div>
  </div>
  </section>


<div class="clearfix"></div>
<section class="">
<div class="contentarea container br-btm">
	
<div class="" style="padding: 0px; margin: 0px;">
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
    
   <!-- new page start-->
		
		<div class="stepmain">
		

									  <div class="container">
										<div class="row">
										   <div class="col-md-6">       
										   &nbsp; 
										   </div>
											<div class="col-md-6">
											 <div class="tabarea-right">
											  <ul>
												<li><a href="#" (click)="redirectTo('/myjobberjobs');" class="active">Jobber</a></li>
												<li><a href="#" *ngIf="userType == 'both'" (click)="redirectTo('/myjobs');">Jobberator</a></li>
											  </ul>
											</div>
										   </div>
									
										</div>
									</div>										  
                      				
	<div class="clearfix"></div>	
		<!-- Bootstrap Tabs -->
	<ul id="tabs" class="nav nav-tabs jobberator">
		<!-- <li class="active"><a data-toggle="tab" href="#t1">JOB ADVERTS</a></li> -->
		<li class="active"><a data-toggle="tab" href="#t1" #t1>PENDING({{ jobsPendingLists.length }})</a></li>		
		<li><a data-toggle="tab" href="#t2" #t2>ACTIVE({{ jobsActiveLists.length }})</a></li>
		<li><a data-toggle="tab" href="#t3" #t3>COMPLETED({{ jobCompletedList.length }})</a></li>
		<!-- <li><a data-toggle="tab" href="#t4">FAVOURITES</a></li> -->
		<li><a data-toggle="tab" href="#t5" #t4>MY MONEY</a></li>
	</ul>
	<div class="tab-content jobberatortab">





		<div id="t1" class="tab-pane fade in active">




			<div class="row row-flex pad_t_30 tabcontent" >



				<div  class="col-md-4" *ngIf="jobsPendingLists.length == 0">
					No Jobs Available
				</div>
	

				
				<div class="col-md-4" *ngFor="let job of jobsPendingLists | keyvalue; index as i;">
					<div class="card card-active">
						<div class="card-header card-heade-height">
							<div class="activity-div">
								<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
									<i class="fas fa-list"></i>
									<span style="font-size: 13px;">ACTIVITY LOG</span>  
								</a>
							</div>
							<div class="invited-link" *ngIf="job.value.customers.status == 'jobberator_accepted' && job.value.customers.scopeincrease != '1'">
								<a class="colororange">JOBBERATOR ACCEPTED</a> 
							</div>
							<div class="invited-link" *ngIf="job.value.customers.status == 'jobberator_accepted' && job.value.customers.scopeincrease == '1'">
								<a class="colororange">SCOPE INCREASE</a> 
							</div>	
							<div class="invited-link" *ngIf="job.value.customers.status == 'jobber_accepted'">
								<a style="font-size: 13px;">JOBBER ACCEPTED</a> 
							</div>
							<div class="myjobsimgpadding">
								<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>  
								<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
							</div>
						</div>
						<div class="card-body">
							<div class="details-div">
								<ul>
									<li><h2>{{ job.value.job_id }}</h2><span *ngIf="job.value.customers.scopeincrease == '1'">Parent id : {{ job.value.parent_job_id }}</span></li>
									<li><h3>{{ job.value.job_title  | titlecase }}</h3></li>
									<!-- <li *ngIf="job.value.customers.scopeincrease != '1'">Your job application accepted</li> -->
									<li *ngIf="job.value.customers.scopeincrease == '1'" class="scopeincreasestyle">Requested scope increase</li>
									<!-- <li *ngIf="job.value.parent_id !== null && job.value.customers.scopeincrease == '2'">Jobberator might have changed task list or budget, do you want to <a style="cursor:pointer;color:#cd063f;font-weight: 900;" (click)="jobDetails(job.value.id)">review </a> before accepting?</li>	 -->
									<li *ngIf="job.value.parent_id !== null && job.value.customers.scopeincrease == '2'" class="scopeincreasestyle">Jobberator might have changed task list or budget, do you want to <a style="cursor:pointer;color:#cd063f;font-weight: 900;"  data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false" (click)="doGotoJobDetailsPagePopup(job,i)">review </a> before accepting?</li>	
									<li></li>								
									<!-- <li>Active until {{ job.value.plan_valid_till | toIso  |  date: "MMMM d, y" }}</li> -->
									<li class="texttoplong text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
									<li class="textbottomlong text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li>

									<li> {{ job.value.work_type }} <span
										class="rate">R {{ job.value.project_budget }}</span> </li>
								</ul>
							</div>
						</div> 
						<div class="card-footer">
							<ul>
								<li class="tooltip_icons" *ngIf="job.value.customers.status != 'started'">
									<a style="cursor:pointer;" (click)="confirmationPopup(job.value.id,job.value.customers_id,'jobber_rejected')">
										<i class="fa fa-times-circle"></i>
										<span class="tooltiptext">Reject</span>
									</a>
								</li>
								<li class="tooltip_icons " *ngIf="job.value.customers.status == 'jobberator_accepted'">
									<a style="cursor:pointer;" (click)="taskTo('/tasklist/'+job.value.id, job.value.customers.status)">
										<i class="fa  fa-file-text"></i>
										<span class="tooltiptext ">Task List</span>
									</a>
								</li>

								<li class="tooltip_icons " *ngIf="job.value.customers.status == 'started'">
									<a style="cursor:pointer;" (click)="redirectTo('/tasklist/'+job.value.id)">
										<i class="fa  fa-file-text"></i>
										<span class="tooltiptext ">Task List</span>
									</a>
								</li>
								

								<li class="tooltip_icons " *ngIf="job.value.customers.status == 'started'">
									<a style="cursor:pointer;" (click)="confirmationPopup(job.value.id,null,'started')">
										<i class="fa  fa-file-text blue2"></i>
										<span class="tooltiptext ">Task List</span>
									</a>
								</li>																
								<li class="tooltip_icons"  *ngIf="job.value.parent_id !== null && job.value.customers.scopeincrease == '2'">
									<a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal6" role="button" aria-haspopup="true" aria-expanded="false" (click)="doGotoJobDetailsPagePopup(job,i)">
										<i class="fa fa-check-circle"></i>
										<span *ngIf="job.value.customers.status == 'jobber_accepted'" class="tooltiptext ">Accepted</span>
										<span *ngIf="job.value.customers.status !== 'jobber_accepted'" class="tooltiptext ">Accept the job</span>
									</a>								
								</li>
								<li class="tooltip_icons"  *ngIf="job.value.customers.scopeincrease != '2'">
									<a style="cursor: pointer;" (click)="confirmationPopup(job.value.id,job.value.customers_id,'jobber_accepted',i)">
										<i class="fa fa-check-circle"></i>
										<span *ngIf="job.value.customers.status == 'jobber_accepted'" class="tooltiptext ">Accepted</span>
										<span *ngIf="job.value.customers.status !== 'jobber_accepted'" class="tooltiptext ">Accept the job</span>
									</a>								
								</li>								
	
							</ul>
						</div>
					  </div>
				</div>				




			</div>

		</div>






		<div id="t2" class="tab-pane fade">
			<div class="row row-flex pad_t_30 tabcontent" >
				<div  class="col-md-4" *ngIf="jobsActiveLists.length == 0">
					No Jobs Available
				</div>
				<div class="col-md-4" *ngFor="let job of jobsActiveLists | keyvalue">
					<div class="card card-active">
						<div class="card-header card-heade-height">
							<div class="activity-div">
								<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
									<i class="fas fa-list"></i>
									<span style="font-size: 13px;">ACTIVITY LOG</span>  
								</a>
							</div>
							<div class="invited-link" *ngIf="job.value.customers.status == 'jobberator_accepted'">
								<a style="font-size: 13px;">JOBBERATOR ACCEPTED</a> 
							</div>
							<div class="invited-link" *ngIf="job.value.customers.status == 'jobber_accepted'">
								<a style="font-size: 13px;">JOBBER ACCEPTED</a> 
							</div>
							<div class="invited-link" *ngIf="job.value.customers.status == 'started'">
								<a style="font-size: 13px;">JOBBERATOR STARTED</a> 
							</div>
							<div class="myjobsimgpadding">
								<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   
								<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
							</div>							
						</div>
						<div class="card-body">
							<div class="details-div">
								<ul>
									<li><h2>{{ job.value.job_id }}</h2></li>
									<li><h3>{{ job.value.job_title  | titlecase }}</h3></li>
									<!-- <li>Active until {{ job.value.plan_valid_till | toIso  |  date: "MMMM d, y" }}</li> -->
									<li class="texttoplong text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
									<li class="textbottomlong text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li>

									<li> {{ job.value.work_type }} <span
										class="rate">R {{ job.value.project_budget }}</span> </li>
								</ul>
							</div>
						</div> 
						<div class="card-footer">
							<ul>
								<li class="tooltip_icons" *ngIf="job.value.customers.status != 'started'">
									<a style="cursor:pointer;" (click)="confirmationPopup(job.value.id,job.value.customers_id,'jobber_rejected')">
										<i class="fa fa-times-circle"></i>
										<span class="tooltiptext">Reject</span>
									</a>
								</li>
								<li class="tooltip_icons " *ngIf="job.value.customers.status == 'started' || job.value.customers.status == 'jobber_accepted'">
									<a style="cursor:pointer;" (click)="taskTo('/tasklist/'+job.value.id, job.value.customers.status)">
										<i class="fa  fa-file-text"></i>
										<span class="tooltiptext ">Task List</span>
									</a>
								</li>									

							</ul>
						</div>
					  </div>
				</div>







			</div>
		</div>
		<div id="t3" class="tab-pane fade">

			<div  class="col-md-4" *ngIf="jobCompletedList.length == 0">
				No Jobs Available
			</div>

			<div class="col-md-4" *ngFor="let job of jobCompletedList | keyvalue">
				<div class="card card-active">
					<div class="card-header card-heade-height">
						<div class="activity-div">
							<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
								<i class="fas fa-list"></i>
								<span style="font-size: 13px;">ACTIVITY LOG</span>  
							</a>
						</div>
						<div class="invited-link">
							<a style="font-size: 13px;">{{job.value.job_status}}</a> 
						</div>
						<div class="myjobsimgpadding">
							<img  src="{{ job.value?.cat_image_path }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>    
							<!-- <img *ngIf="job.value?.jobpost_photos.length == 0" src="assets/images/Default_Image_Thumbnail.jpg" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="description"/>   -->
						</div>
					</div>
					<div class="card-body">
						<div class="details-div">
							<ul>
								<li><h2>{{ job.value.job_id }}</h2></li>
								<li><h3>{{ job.value.job_title  | titlecase }}</h3></li>
								<!-- <li>Active until {{ job.value.end_date  |  date: "MMMM d, y" }}</li> -->
								<!-- <li class="texttoplong text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
								<li class="textbottomlong text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li> -->

								<li> {{ job.value.work_type }} <span
									class="rate">R {{ job.value.project_budget }}</span> </li>
							</ul>
						</div>
					</div> 
					<div class="card-footer">
						<ul>
							<li class="tooltip_icons" *ngIf="job.value.rating?.length == 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalRating" (click)="rating(job.value.id,job.value.ratingjobber,job.value.job_title,job.value)"
								class="liimage">
								<!-- <i
									class="fa  fa-check"></i> -->
									<img src="assets/images/give_rating.png" alt="" />
									 <span class="tooltiptext">Rate your jobberator</span>
							</a></li>	
							
							<li class="tooltip_icons" *ngIf="job.value.rating?.length != 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalRatingEmpty" (click)="rating(job.value.id,job.value.ratingjobber,job.value.job_title,job.value)"
								class="liimage">
								<!-- <i
									class="fa  fa-check"></i> -->
									<img src="assets/images/view_rating.png" alt="" />
									 <span class="tooltiptext">View rating</span>
							</a></li>

							<li class="tooltip_icons"  *ngIf="job.value.tip?.length != 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalTip" (click)="viewtip(job.value.id, job.value.job_title, job.value)"
								class="liimage">
								<!-- <i
									class="fa  fa-check"></i> -->
									<img src="assets/images/get_tip.svg" alt="" />
									 <span class="tooltiptext">View your tip</span>
							</a></li>
							
							<li class="tooltip_icons" *ngIf="job.value.requestjobber?.length == 0 &&  job.value.rating?.length == 0"><a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalRequest" (click)="viewtip(job.value.id, job.value.job_title, job.value)"
								class="liimage">
								<!-- <i
									class="fa  fa-check"></i> -->
									<img src="assets/images/request_for_rating.png" alt="" />
									 <span class="tooltiptext">Request rating</span>
							</a></li>
							
							<li class="tooltip_icons" *ngIf="job.value.requestjobberator?.length != 0  && job.value.ratingjobber?.length == 0"><a style="cursor:pointer;" data-toggle="modal" 
								class="liimage">
								<!-- <i
									class="fa  fa-check"></i> -->
									<img src="assets/images/review_requested.svg" alt="" />
									 <span class="tooltiptext">Rating requested</span>
							</a></li>	
	
							<li class="tooltip_icons">
								<a style="cursor:pointer;" data-toggle="modal" 
								class="liimage" 
									(click)="redirectTo('/tasklist/'+job.value.id)">
									<!-- <i class="fa  fa-file-text"></i> -->
									<img src="assets/images/review_requested.svg" alt="" />
									<span class="tooltiptext ">Task List</span>
								</a>
							</li>					
						</ul>
					</div>
				  </div>
			</div>			



		</div>
			<div id="t4" class="tab-pane fade">


				<div  class="col-md-4" *ngIf="jobCatagoryList.length == 0">
					No Jobs Available
				</div>

				<div class="col-md-4" *ngFor="let job of jobCatagoryList | keyvalue">
					<div class="card card-active">
						<div class="card-header card-heade-height">
							<div class="activity-div">
								<a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal" (click)="jobHistory(job.value.id)">
									<i class="fas fa-list"></i>
									<span style="font-size: 13px;">ACTIVITY LOG</span>  
								</a>
							</div>
							<div class="invited-link" *ngIf="job.value.expired_status == 'expired'">
								<a style="font-size: 13px;">CLOSED</a> 
							</div>
							<div class="invited-link" *ngIf="job.value.expired_status == 'not_expired' && currentDate < job.value.advertise_show_datetime">
								<a style="font-size: 13px;">SCHEDULED</a> 
							</div>
							<div class="invited-link" *ngIf="job.value.expired_status == 'not_expired' && currentDate >= job.value.advertise_show_datetime">
								<a style="font-size: 13px;">ACTIVE</a> 
							</div>							
							
						</div>
						<div class="card-body">
							<div class="details-div">
								<ul>
									<li><h2>{{ job.value.job_id }}</h2></li>
									<li><h3>{{ job.value.job_title  | titlecase }}</h3></li>
									<li>Active until {{ job.value.end_date  |  date: "MMMM d, y" }}</li>
									<li class="texttoplong text_c_color">Job starts on : {{ job.value.start_date | toIso | date: "MMMM d, y" }}</li>
									<li class="textbottomlong text_c_color">Job ends on : {{ job.value.end_date | toIso | date: "MMMM d, y" }}</li>
									<li> {{ job.value.work_type }} <span
										class="rate">R {{ job.value.project_budget }}</span> </li>
								</ul>
							</div>
						</div> 
						<div class="card-footer">
						</div>
					  </div>
				</div>					
				
				


			</div>
			<div id="t5" class="tab-pane fade">
				<!-- <div style="color: #DE4566;display: inline-block; text-transform: uppercase; padding-top: 38px;">
					<p>Total money in: <span style="color: #290a70;">R {{ totalout }}</span></p>
					<p>Total money out: <span style="color: #290a70;">R 0</span></p>
				</div> -->
				<section class="infobr">
					<div class="container">
						  <section class="stepmain">
							<!-- <div class="summary">
								<h2>Summary</h2>
								<h3>Money In: R {{ totalout }}</h3>
								<h3>Money Out: R 0</h3>
							</div> -->
							<div class="new-search">
								<input type="text" placeholder="Search.." [value]="searchpay" [(ngModel)]="searchpay" (keyup)="onKeyUp($event)">
								<a href="#"><i class="fa fa-search"></i></a>
							</div>	
							<div  class="summary summary-one">
								<h3 >Money In: <span>R {{ totalout }}</span></h3>
								<i class="fa fa-arrow-left"></i>
							</div>
							   
							<div  class="summary summary-two">
								<h3 >Money Out: <span>R 0</span></h3>
								<i class="fa fa-arrow-right"></i>
							</div>
	   
						</section>
					</div>
				</section>				
				<div class="limiter">
					<div class="container-table100">
					  <div class="wrap-table100">
						<div class="table100">
						  <table class="maintable100">
							<thead>
							  <tr class="table100-head">
								<th class="column1">Job Id</th>
								<th class="column1">Reference</th>											  
								<th class="column2">Description</th>
								<th class="column3">Payment Id</th>
								<th class="column4">Money In</th>
								<th class="column5">Money Out</th>
								<th class="column6">Date</th>
								<th class="column7">Status</th>
							  </tr>
							</thead>
							<tbody>
								<tr *ngFor="let job of jobberMoneyList | keyvalue">
									<td class="column1">{{job.value.job_id}}</td>
									<td class="column1" *ngIf="job.value.type == 'deposite'">LITEJOB</td>
									<td class="column1" *ngIf="job.value.type !== 'deposite'">{{ job.value.type | uppercase }}</td>													
									<td class="column2" *ngIf="job.value.type == 'advert'">{{job.value.job.job_title}}</td>
									<td class="column2" *ngIf="job.value.type !== 'advert'">{{job.value.job.job_title}}</td>
									<td class="column3">{{job.value.payment_id}}</td>
									<td class="column4"><strong>R {{job.value.amount}}</strong></td>
									<td class="column5"><strong></strong></td>
									<td class="column6">{{job.value.created_at | date: "MMMM d, y"}}</td>
									<td class="column7" *ngIf="job.value.code == '000.100.110'"><a href="#"  class="succ">Success</a></td>
									<td class="column7" *ngIf="job.value.code !== '000.100.110'"><a href="#" class="pendig">Failed</a></td>													
								</tr>										   
							</tbody>
						  </table>
						</div>
					  </div>
					</div>
				  </div>



			</div>
		
	</div>
<!-- /Bootstrap Tabs -->
<!-- Bootstrap Accordion -->
<div class="panel-group newin"  id="accordion" role="tablist" aria-multiselectable="true"></div>
<!-- /Bootstrap Accordion -->
</div>
		
		


		</div>
   
    <!-- new page end-->
    </div>
</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="topdiv-stky modal-top">
						<h3>Activity Log</h3>
						<a *ngIf="notificationsList.length > 0" href="#" class="seeall">See All</a>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="noti-div" *ngIf="notificationsList.length == 0" style="padding: 20px 20px;">
						No activity
					</div>
					<div class="noti-div" *ngIf="notificationsList.length > 0">

						<ul>
							<li *ngFor="let item of notificationsList; let i = index">
								<a href="#">
									<div class="noti-pic">
										<img src="{{ item.profile_img }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" alt="">
									</div>
									<div class="notific-topic" (click)="doGotoJobDetailsPage(item.customer_jobpost_id)">
										<span class="comment-blk"><span class="blkname">{{ item.username }}</span> {{
											item.comment }} </span>
										<span class="date-time">{{ item.created_at | date: "MMMM d, y h:mm a" }}</span>
									</div>
								</a>
							</li>
						</ul>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="exampleModalRating" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		   <div class="modal-content">
			  <div class="modal-header jbr">
				 <h3>Rate your Jobberator</h3>
				 <button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
				 <img src="assets/images/close.svg" alt="Chicago">
				 </button>
			  </div>
			  <div class="modal-body ">
				 <div class="login-leftarea-div rating-area">
					<div class="heading">
					   <h2>Job Title : {{ popupJobName }} </h2>
					</div>
					<div class="star-rating">
					   <input type="radio" id="5-stars" name="rating" value="5" [checked]="ratingDoneCount == 5" (click)="ratingChange(5)"/>
					   <label for="5-stars" class="star">&#9733;</label>
					   <input type="radio" id="4-stars" name="rating" value="4" [checked]="ratingDoneCount == 4" (click)="ratingChange(4)"/>
					   <label for="4-stars" class="star">&#9733;</label>
					   <input type="radio" id="3-stars" name="rating" value="3" [checked]="ratingDoneCount == 3" (click)="ratingChange(3)"/>
					   <label for="3-stars" class="star">&#9733;</label>
					   <input type="radio" id="2-stars" name="rating" value="2" [checked]="ratingDoneCount == 2" (click)="ratingChange(2)"/>
					   <label for="2-stars" class="star">&#9733;</label>
					   <input type="radio" id="1-star" name="rating" value="1" [checked]="ratingDoneCount == 1" (click)="ratingChange(1)"/>
					   <label for="1-star" class="star">&#9733;</label>
					</div>
					<p style="color: red; float: left;" *ngIf="ratingEmpty">Please rate</p>
					<div class="rate-txt comm-top">
					   Comment
					</div>
					<div class="comment-area">
					   <textarea name="" id="" cols="75" rows="10" [value]="ratingcomment" [(ngModel)]="ratingcomment"></textarea>
					   <p style="color: red; float: left;" *ngIf="commentEmpty">Please comment</p>					   
					</div>

					<div class="review-sec" *ngIf="ratingcommentjobber != ''" style="display:none;">
					   <div class="sub-title">
						  <h2>Jobberator Review</h2>
					   </div>
					   <div class="review-inner">
						  <div class="review-thumb icon_user">
							 <img src="{{ jobberatorImg }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" >
						  </div>
						  <div class="review-meta">
							 <div class="review-head">
								<h2>{{ currentJob?.jobberator?.name }}  <span>{{ ratingcommentjobber.updated_at | date: "MMMM d, y h:mm a" }}</span></h2>
								{{ ratingcommentjobber.rating }}
								<div class="star-rating">
								   <input type="radio" id="rev-5-stars3" name="rating3" value="5" [checked]="ratingcommentjobber.rating == 5"/>
								   <label for="rev-5-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-4-stars3" name="rating3" value="4" [checked]="ratingcommentjobber.rating == 4"/>
								   <label for="rev-4-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-3-stars3" name="rating3" value="3" [checked]="ratingcommentjobber.rating == 3"/>
								   <label for="rev-3-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-2-stars3" name="rating3" value="2" [checked]="ratingcommentjobber.rating == 2"/>
								   <label for="rev-2-stars3" class="star">&#9733;</label>
								   <input type="radio" id="rev-1-stars3" name="rating3" value="1" [checked]="ratingcommentjobber.rating == 1"/>
								   <label for="rev-1-stars3" class="star">&#9733;</label>
								</div>
							 </div>
							 <div class="review-content">
								<p>{{ ratingcommentjobber.comment }}</p>
							 </div>
						  </div>
					   </div>
					</div>

					<div class="cancel-div">
					   <a style="cursor:pointer;" (click)="cancelrating()">Cancel</a>
					</div>
					<div class="submit-div">
					   <a style="cursor:pointer;" (click)="submitrating()">Submit</a>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>	



      <div class="modal fade" id="exampleModalRatingEmpty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		   <div class="modal-content">
			  <div class="modal-header jbr">
				 <h3>Ratings</h3>
				 <button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
				 <img src="assets/images/close.svg" alt="Chicago">
				 </button>
			  </div>
			  <div class="modal-body ">
				 <div class="login-leftarea-div rating-area">
					<div class="heading">
					   <h2>Job Title : {{ popupJobName }} </h2>
					</div>

					<div class="review-sec" *ngIf="ratingcomment != ''">
					   <div class="sub-title">
						  <h2>My Review</h2>
					   </div>
					   <div class="review-inner">
						  <div class="review-thumb icon_user">
							 <img src="{{ jobberatorImg }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" >
						  </div>
						  <div class="review-meta">
							 <div class="review-head">
								<h2>{{ currentJob?.jobberator?.name }} <span>{{ ratingcommentjobber.updated_at | date: "MMMM d, y h:mm a" }}</span></h2>
								<div class="star-rating">
								   <input type="radio" id="rev-5-stars1" name="rating1" value="5" [checked]="ratingDoneCount == 5"/>
								   <label for="rev-5-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-4-stars1" name="rating1" value="4" [checked]="ratingDoneCount == 4"/>
								   <label for="rev-4-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-3-stars1" name="rating1" value="3" [checked]="ratingDoneCount == 3"/>
								   <label for="rev-3-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-2-stars1" name="rating1" value="2" [checked]="ratingDoneCount == 2"/>
								   <label for="rev-2-stars1" class="star">&#9733;</label>
								   <input type="radio" id="rev-1-star1" name="rating1" value="1" [checked]="ratingDoneCount == 1"/>
								   <label for="rev-1-star1" class="star">&#9733;</label>
								</div>
							 </div>
							 <div class="review-content">
								<p>{{ ratingcomment }}</p>
							 </div>
						  </div>
					   </div>
					</div>

					
					<div class="review-sec" *ngIf="ratingcommentjobber != ''">
					   <div class="sub-title">
						  <h2>Jobberator Review</h2>
					   </div>
					   <div class="review-inner">
						  <div class="review-thumb icon_user">
							<img src="{{ jobberImg }}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" >
						  </div>
						  <div class="review-meta">
							 <div class="review-head">
								<h2>{{ currentJob?.customers?.customer?.name }} <span>{{ currentJob?.rating?.updated_at | date: "MMMM d, y h:mm a" }}</span></h2>
								<div class="star-rating">
								   <input type="radio" id="rev-5-stars2" name="rating2" value="5" [checked]="ratingcommentjobber.rating == 5"/>
								   <label for="rev-5-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-4-stars2" name="rating2" value="4" [checked]="ratingcommentjobber.rating == 4"/>
								   <label for="rev-4-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-3-stars2" name="rating2" value="3" [checked]="ratingcommentjobber.rating == 3"/>
								   <label for="rev-3-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-2-stars2" name="rating2" value="2" [checked]="ratingcommentjobber.rating == 2"/>
								   <label for="rev-2-stars2" class="star">&#9733;</label>
								   <input type="radio" id="rev-1-star2" name="rating2" value="1" [checked]="ratingcommentjobber.rating == 1"/>
								   <label for="rev-1-star2" class="star">&#9733;</label>
								</div>
							 </div>
							 <div class="review-content">
								<p>{{ ratingcommentjobber.comment }}</p>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="cancel-div">
					   <a style="cursor:pointer;" data-dismiss="modal">Close</a>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>	  



	  <!-- <div class="modal fade" id="exampleModalRatingEmpty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		  <div class="modal-content">
			<div class="modal-header jbr">
				<h3>Ratings</h3>
				<button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
			   <img src="assets/images/close.svg" alt="Chicago">
			  </button>
			</div>
			<div class="modal-body ">
			 
			  <div class="login-leftarea-div rating-area">

				<div class="popupjobtitle comm-top">				
					Job Title : {{ popupJobName }}
				</div>
				<p></p>


			<div class="rate-txt comm-top">
				<span style="padding-right: 5px;">Jobber</span>
				<span style="padding-right: 5px;">:</span> 
				<span style="padding-right: 5px;">{{ currentJob?.customers?.customer?.name }}</span>
			</div>
			<div class="rt-div">

				<div class="userrate">
					<ul>
					  <li>
						<div class="profileviv icon_user">
						 <img src="{{ jobberImg }}" alt="description"/>
						</div>
						<div class="jobcatlist">
							{{ ratingcomment }} 
							<p></p>
							<span class="datetxt"> {{ currentJob?.rating?.updated_at | date: "MMMM d, y h:mm a" }} </span>
						  <div class="ratejobs">
							<ul>
								<li *ngFor="let item of createRange(ratingDoneCount); let index = index">
									<i class="fa fa-star fa-star star-active" aria-hidden="true"></i>
								</li>	
								<li *ngFor="let item of createRange(ratingBlankCount); let index = index">
									<i class="fa fa-star fa-star" aria-hidden="true"></i>
								</li>												  
							</ul>
						 </div>
						</div>
						 
					  </li>
					</ul>
				</div>					
			</div>




				<div *ngIf="ratingcommentjobber != ''" class="rate-txt comm-top">
					<span style="padding-right: 5px;">Jobberator</span>
					<span style="padding-right: 5px;">:</span> 
					<span style="padding-right: 5px;">{{ currentJob?.jobberator?.name }}</span>
			   	</div>
				<div *ngIf="ratingcommentjobber != ''" class="rt-div">

					<div class="userrate">
						<ul>
						  <li>
							<div class="profileviv icon_user">
							 <img src="{{ jobberatorImg }}" alt="description"/>
							</div>
							<div class="jobcatlist">
								{{ ratingcommentjobber.comment }} 
								<p></p>
								<span class="datetxt"> {{ ratingcommentjobber.updated_at | date: "MMMM d, y h:mm a" }} </span>
							  <div class="ratejobs">
								<ul>
									<li *ngFor="let item of createRange(ratingcommentjobber.rating); let index = index">
										<i class="fa fa-star star-active" aria-hidden="true"></i>
									</li>	
									<li *ngFor="let item of createRange(ratingBlankCountJobber); let index = index">
										<i class="fa fa-star" aria-hidden="true"></i>
									</li>													  
								</ul>
							 </div>
							</div>
							 
						  </li>
						</ul>
					</div>					
				</div>				

			  </div>
			  
			</div>
			
		  </div>
		</div>
	  </div>	  -->
	  
	  

	<div class="modal fade" id="exampleModalTip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		   <div class="modal-content">
			  <div class="modal-header jbr">
				 <h3>Congratulations</h3>
				 <button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
				 <img src="assets/images/close.svg" alt="Chicago">
				 </button>
			  </div>
			  <div class="modal-body ">
				 <div class="congrats-popup">
					 <div class="congrats-badge">
					   <img src="assets/images/badge.png">
					 </div> 
					<div class="heading">
					   <h2>Congratulations</h2>
					   <h3>Jobberator have rewarded you a tip</h3>
						 <h3><b>R {{currentJob?.tip?.amount}}</b></h3>
					</div>
					 
				 </div>
			  </div>
		   </div>
		</div>
	 </div>


	  <!-- <div class="modal fade" id="exampleModalTip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		  <div class="modal-content">
			<div class="modal-header jbr">
				<h3>Tip details</h3>
				<button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
			   <img src="assets/images/close.svg" alt="Chicago">
			  </button>
			</div>
			<div class="modal-body ">
			 
			  <div class="tips-popup login-leftarea-div rating-area">

				<div class="heading">				
					<h2>Job Title : {{ popupJobName }}</h2>
				</div>
				<p></p>
				<div class="limiter">
					<div class="container-table100">
					  <div class="wrap-table100">
						<div class="table100">
						  <table>
							<thead>
							  <tr class="table100-head">
								<th class="column2">Payment Id</th>
								<th class="column4">Amount</th>
								<th class="column5">Date</th>
							  </tr>
							</thead>
							<tbody>
								<tr>
									<td class="column2">{{currentJob?.tip?.payment_id}}</td>
									<td class="column4"><strong>SAR {{currentJob?.tip?.amount}}</strong></td>
									<td class="column5">{{currentJob?.tip?.created_at | date: "MMMM d, y"}}</td>
								</tr>										   
							</tbody>
						  </table>
						</div>
					  </div>
					</div>
				  </div>				
				

			  </div>
			  
			</div>
			
		  </div>
		</div>
	  </div>	   -->


	  <div class="modal fade" id="exampleModalRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog ratediv-blk" role="document">
		  <div class="modal-content">
			<div class="modal-header jbr">
				<h3>Request rating</h3>
				<button type="button" class="close clz" data-dismiss="modal" aria-label="Close">
			   <img src="assets/images/close.svg" alt="Chicago">
			  </button>
			</div>
			<div class="modal-body ">
			 
			  <div class="tips-popup login-leftarea-div rating-area">

				<div class="heading">				
					<h2>Job Title : {{ popupJobName }}</h2>
				</div>
				<div class="sub-title">				
					<h3>Do you want to request rating from jobberator?</h3>
				</div>				
				<div class="cancel-div">
					<a style="cursor:pointer;" (click)="cancelrequest()">Cancel</a>
				</div>
				<div class="submit-div">
				<a style="cursor:pointer;" (click)="requestrating()">Submit</a>
				</div>				
				

			  </div>
			  
			</div>
			
		  </div>
		</div>
	  </div>




	  <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			
			<div class="modal-body userpp">
			 <button #myDivPopUp type="button" class="close" data-dismiss="modal" aria-label="Close">
			   <img src="assets/images/close.svg" alt="Chicago">
			  </button>
			  <div class="login-leftarea-div usertxt">
			   	<div class="card-header card-heade-height">
					<img src="assets/images/chefhat.jpg" alt="Chef Hat"/>
			  	</div>
			  </div>
			  <div class="login-right-area poptxt">
					 <div class="toptxtbox">
					   <div class="textlong">
						<h3>{{ popUpJobDetails?.value?.job_title | titlecase}}</h3>
					   </div>
					   <!-- <div class="toptxtdiv">
						{{ popUpJobDetails?.value?.matchingperc}}% JOB MATCH
					   </div>                 -->
					 </div>
					  <div class="right-blk-count">
						   <div class="countdiv">
			 <span> R{{popUpJobDetails?.value?.project_budget}}</span>
			 <div class="textlong text_c text_c_color" style="float: right;font-size: 13px;">
			  *Service charge Inclusive
			 </div>  
			</div>
					   </div>
					   <div class="pop-texttopmain">
						 <p>{{ popUpJobDetails?.value?.job_desc }}</p>
					   </div>
					   <div>
						<p style="color: #cd063f;font-weight: 900;padding-top: 25px;">Task List</p>
					  </div>
					   <div class="pop-texttopmain" *ngFor="let task of popUpJobDetails?.value?.jobpost_task | keyvalue; index as i;">
						<p>{{ task?.value?.task_name }}</p>
						<p style="font-size: 10px;">{{ task?.value?.task_desc }}</p>
					  </div>
					   
				<div class="ratingandprofile">
				   <div class="profilrate">
						<div class="profilepic">
							<img src="assets/images/profile-pic.png" alt="description"/>
						</div>
						<div class="rating">
							<ul>
							<li *ngFor="let item of createRange(popUpJobDetails?.value?.roundrating); let index = index"><i class="fa fa-star star-active" aria-hidden="true"></i></li>
							<li *ngFor="let item of createRange(5 - popUpJobDetails?.value?.roundrating); let index = index"><i class="fa fa-star" aria-hidden="true"></i></li>
							</ul>
						</div>
						<div class="locdiv">
							<i class="fa fa-map-marker" aria-hidden="true"></i> {{ popUpJobDetails?.value?.distance }}Km Away
						</div>
						<div class="inperson" *ngIf="popUpJobDetails?.value?.work_type === 'In-person'">
							<i class="fa fa-user" aria-hidden="true"></i> In Person
						</div>
						<div class="inperson" *ngIf="popUpJobDetails?.value?.work_type === 'Online'">
							<i class="fa fa-user" aria-hidden="true"></i> Remote
						</div>
					</div>
					<div class="profilrate text_c text_c_color">
						<b>Jobberator might have changed task list or budget. Please review it.</b> 
					</div>
				</div>
			   <div class="popbtm-links">
				  <div class="card-footer">
			<ul>
				<li *ngIf="popUpJobDetails?.value?.customers?.status != 'started'">
					<a style="cursor:pointer;" (click)="confirmationPopup(popUpJobDetails?.value?.id,popUpJobDetails?.value?.customers_id,'jobber_rejected')">
						<div class="ftrimg" #myDivPopUp data-dismiss="modal"><img src="assets/images/close-red.svg" alt="description"/> </div>
						<!-- <span class="tooltiptext">Reject</span> -->
					</a>
				</li>
				<li>
					<a style="cursor: pointer;" (click)="confirmationPopup(popUpJobDetails?.value?.id,popUpJobDetails?.value?.customers_id,'jobber_accepted',popUpi)">
						<div class="ftrimg" #myDivPopUp data-dismiss="modal"><img src="assets/images/check.svg" alt="description"/></div>
						<!-- <span *ngIf="popUpJobDetails?.value?.customers?.status == 'jobber_accepted'" class="tooltiptext ">Accepted</span>
						<span *ngIf="popUpJobDetails?.value?.customers?.status !== 'jobber_accepted'" class="tooltiptext ">Accept the job</span> -->
					</a>								
				</li>	
			</ul>
		  </div>
			   </div>
			  </div>
			</div>
			
		  </div>
		</div>
	  </div>


</section>
