<app-headerlogin (confirmationModal)="confirmationListener($event)"></app-headerlogin>
<p *ngIf="payment">
    <img width="1500" height="500" src="assets/images/progress-loading.gif" class="single-featured-thumb wp-post-image" alt="Progress-Loading" loading="lazy"> 
</p>