<app-headerlogin *ngIf="loggedIn"></app-headerlogin>
<app-headerlogout *ngIf="!loggedIn"></app-headerlogout>
<!-- <section class="mainbanner" style="padding: 100px 4% 3% 4%;">
  <div class="clearfix"></div>
</section>
<section>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>
</section> -->
<section class="breadcrumb">
	<div class="container">
	<div class="row">
	  <div class="col-md-12">
  
      <div class="brdcrmb">
        <ul>
        <li>
          <a href="#">Home</a>
        </li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
        <li>
                <a style="cursor:pointer;" (click)="redirectTo('/myjobberjobs')">My Jobs</a>
            </li>
        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
        <li>Job Details</li>
        </ul>
       </div>
	</div>
	</div>
  </div>
  </section>
<div class="clearfix"></div>
<section class="">
  <div class="contentarea container br-btm">
    <div class="" style="padding: 0px; margin: 0px;">
      <div class="row" style="margin-left: 0px; margin-right: 0px;" > 
        
        <!-- new page start-->
        
        <div class="stepmain"  >
          <div class="col-lg-7 col-xs-12">
           <h2 class="step_rtxt" >R {{data?.project_budget}}</h2>
           <h3>{{ data?.job_title }}</h3>
            <!-- <div class="profile">
              <ul>
                <li class="user"><img src="assets/images/image_upload.png"  alt=""/></li>
                <li class="username">{{ data?.customer.first_name + data?.customer.last_name}} <span class="divider">|</span> </li>
                <li> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="divider">|</span></li>
                <li class="reviews">(1k+ reviews)</li>
              </ul>
            </div> -->
            <div class="clearfix"></div>
            <div class="product-slider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active"> <img src="assets/images/slider_01.png"> </div>
                  <div class="item"> <img src="assets/images/slider_02.png"> </div>
                  <div class="item"> <img src="assets/images/slider_03.png"> </div>
                  <div class="item"> <img src="assets/images/slider_04.png"> </div>
                  <div class="item"> <img src="assets/images/slider_05.png"> </div>
                  <div class="item"> <img src="assets/images/slider_06.png"> </div>
           
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <div class="item active">
                      <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="assets/images/slider_01.png"></div>
                      <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="assets/images/slider_02.png"></div>
                      <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="assets/images/slider_03.png"></div>
                      <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="assets/images/slider_04.png"></div>
                      <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="assets/images/slider_05.png"></div>
                    </div>
                    <div class="item">
                      <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="assets/images/slider_06.png"></div>
               
                    </div>
                  </div>
                  <!-- /carousel-inner --> 
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div>
                <!-- /thumbcarousel --> 
                
              </div>
            </div>
            <div class="clearfix"></div>
                <div class="col-lg-12 col-xs-12  nopad" >
<div ></div>
<div >
	<!--<div >-->

      	     	<div class="jobdetialsicons col-xs-12 col-xs-12 visible-xs visible-sm">
			<ul>
				<li class="tooltip_icons accept" ><a href="#" ><i class="fa fa-check"></i>
				<span class="tooltiptext">Accepted</span>
				</a></li>
				<li class="tooltip_icons reject"><a href="#"><i class="fa fa-close"></i>
				<span class="tooltiptext ">Recjectes</span>
				</a></li>
				<li class="tooltip_icons heart"><a href="#"><i class="fa fa-heart"></i>
				<span class="tooltiptext">Liked</span>
				</a></li>
				<li class="tooltip_icons share"><a href="#"><i class="fa fa-share-alt"></i>
				<span class="tooltiptext">Share</span>
				</a></li>
				
			</ul>
		</div>	
     	<div class="clearfix"></div>
      	<div class="jobdetials_list visible-sm visible-xs">
          <table width="100%" border="0" style="color: #FFF;">
            <tr>
              <td>Job type</td>
              <td>Distance</td>
            </tr>
            <tr>
              <td><strong *ngIf="data?.work_type === 'inperson'">In Person (Work directly)</strong><strong *ngIf="data?.work_type === 'remote'">Remote (Work indirectly)</strong></td>
              <td><strong>3 Km</strong></td>
            </tr>
            <tr>
              
              <td colspan="2"></td>
            </tr>
            <tr>
              <td>Job Start date</td>
              <td>Job end date </td>
            </tr>
            
            <tr>
              <td><strong>{{ data?.start_date | date :'MMM d, y'}}</strong></td>
              <td><strong>{{ data?.end_date | date :'MMM d, y'}}</strong></td>
            </tr>
              <tr>
              
              <td colspan="2"></td>
            </tr>
            <tr>
              <td> Apply Until </td>
              <td> </td>
            </tr>
            <tr>
              <td><strong>24-05-2021</strong></td>
              <td> </td>
            </tr>
          </table>
	</div>
      	

      	
   
       	
       	</div>
        	<hr>
        </div>
            <hr>
            <div>
              <h4>Description</h4>
              <p>{{ data?.job_desc}}</p>
             </div>
            
            <div class="clearfix"></div>
            <hr>
                  	<div class="jobdetials_list jobcat ">
                      <h3>Job Category</h3>
                      <a href="#" *ngFor="let index of jobCatagory;  index as i">{{ index.name}}</a>
                      
                      <h3>Skills</h3>
                      <a href="#" *ngFor="let index of jobCatagory;  index as i">{{ index.name}}</a>
                      
                      <h3>Qualification</h3>
                      <a href="#" *ngFor="let index of jobCatagory;  index as i">{{ index.name}}</a>
      	
	</div>
            <div class="clearfix"></div>
            <hr>
            <div class="chklist">
              <h4>Tasks</h4>
              <div class="taskboxes">
                  <div *ngFor="let index of jobTask;  index as i">
                      <i class="fa fa-check" id="box-1" aria-hidden="true"> &nbsp;</i>

                      <label for="box-1" >{{index.task_name}}</label><br>
                  </div>
            </div>
            </div>
            <div class="clearfix"></div>
    
            
            <hr>
            
               	<div class="jobdetialsicons col-xs-12 col-xs-12 visible-xs visible-sm">
			<ul>
				<li class="tooltip_icons accept" ><a href="#" ><i class="fa fa-check"></i>
				<span class="tooltiptext">Accepted</span>
				</a></li>
				<li class="tooltip_icons reject"><a href="#"><i class="fa fa-close"></i>
				<span class="tooltiptext ">Recjectes</span>
				</a></li>
				<li class="tooltip_icons heart"><a href="#"><i class="fa fa-heart"></i>
				<span class="tooltiptext">Liked</span>
				</a></li>
				<li class="tooltip_icons share"><a href="#"><i class="fa fa-share-alt"></i>
				<span class="tooltiptext">Share</span>
				</a></li>
				
			</ul>
		</div>	
            <div class="clearfix"></div>
            <hr>
            <div class="reviewsmain">
              <h4>Reviews ({{ ratingdata.length }})</h4>
              <div class="reviews-wrap">
                <ul class="review-list reviews-package ">
                  <li class="review-item" data-impression-collected="true" *ngFor="let rating of ratingdata | keyvalue">
                    <div class="user-profile-image">
                      <label class="profile-pict" style="width: 32px; height: 32px; font-size: 1em;" for="profile_image_7215856523205">
                        <img src="{{rating.value.customer.profile_img}}" onError="this.onerror=null;this.src='assets/images/Default_Image_Thumbnail.jpg';" class="profile-pict-img" alt="nandophoto" >
                      </label>
                    </div>
                    <div class="reviewer-details">
                      <h5>{{ rating.value.customer.name }}</h5>
                      <small class="review-rating"><span class="fa fa-star checked">  </span></small> <strong>{{ rating.value.rating }}</strong></div>
                    <!-- <div class="reviewer-sub-details">
                      <div class="country"><img alt="1f1f3-1f1f1.png" data-src="https://fiverr-dev-res.cloudinary.com/general_assets/flags/1f1f3-1f1f1.png" class="lazy-image country-flag ls-is-cached lazyloaded" src="https://fiverr-dev-res.cloudinary.com/general_assets/flags/1f1f3-1f1f1.png">
                        <div class="country-name tbody-6">Netherlands</div>
                      </div>
                    </div> -->
                    <div class="review-description">
                      <p >{{ rating.value.comment }}</p>
                    </div>
                    <span class="summarize">
                    <time class="text-body-2">Published on {{ rating.value.updated_at | date: "MMMM d, y h:mm a" }}</time>
                    </span>
                  </li>

                </ul>
              </div>
              <div class="load-more-wrapper"><button>+ See More</button></div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xs-12 visible-lg visible-md" >
<div id="sticky-anchor"></div>
<div id="sticky">
	<!--<div >-->
		<div class="jobdetialsicons">
			<ul>
				<li (click)="homeConfirmation('accept',data.job_intimation[0]?.status)" class="tooltip_icons accept" ><a style="cursor:pointer;" ><i class="fa fa-check" [ngClass]="{'tick_green': data.job_intimation[0]?.status == 'initiated' && loggedIn}"></i>
				<span class="tooltiptext">Accepted</span>
				</a></li>
				<li  (click)="homeConfirmation('close','')" class="tooltip_icons reject"><a style="cursor:pointer;"><i class="fa fa-close"></i>
				<span class="tooltiptext ">Recjectes</span>
				</a></li>
				<li (click)="homeConfirmation('like','')" class="tooltip_icons heart"><a style="cursor:pointer;"><i class="fa fa-heart" [ngClass]="{'heart_purple_liked': data.job_intimation[0]?.is_jobbers_favourite == 'favourite' && loggedIn}"></i>
				<span class="tooltiptext">Liked</span>
				</a></li>
				<li class="tooltip_icons share"><a href="#"><i class="fa fa-share-alt"></i>
				<span class="tooltiptext">Share</span>
				</a></li>
			
			</ul>
		</div>	
      	
      	<div class="jobdetials_list">
      <table width="100%" border="0" style="color: #FFF;">
      	<tr>
      		<td>Job type</td>
      		<td>Distance</td>
      	</tr>
      	<tr>
          <td><strong *ngIf="data?.work_type === 'inperson'">In Person (Work directly)</strong><strong *ngIf="data?.work_type === 'remote'">Remote (Work indirectly)</strong></td>
      		<td><strong>3 Km</strong></td>
      	</tr>
      	<tr>
      		
      		<td colspan="2"></td>
      	</tr>
      	<tr>
      		<td>Job Start date</td>
      		<td>Job end date </td>
      	</tr>
      	
      	<tr>
          <td><strong>{{ data?.start_date | date :'MMM d, y'}}</strong></td>
          <td><strong>{{ data?.end_date | date :'MMM d, y'}}</strong></td>
      	</tr>
      		<tr>
      		
      		<td colspan="2"></td>
      	</tr>
      	<tr>
      		<td> Apply Until </td>
      		<td> </td>
      	</tr>
      	<tr>
      		<td><strong>24-05-2021</strong></td>
      		<td> </td>
      	</tr>
      </table>
	</div>
      	
   
       	</div>
        	
        </div>
      </div>
      
      <!-- new page end--> 
    </div>
  </div>
</section>

<div class="modal fade" id="confirmationHomePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm to proceed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <span id="confirmationHomeText"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="homeConfirmationClick()" type="button"  class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>